<div class="container">
  <div class="widget-header">
    <span class="widget-title">Historical Comparison</span>
    <div class="widget-button-bar">
      <button [disabled]="!viewWildfireCounts" (click)="viewWildfireCounts = !viewWildfireCounts" *ngIf="!viewWildfireCounts" class="button-selected" mat-flat-button ><img height="24" width="24" src="/assets/images/svg-icons/measure-blue.svg" alt="Hectares" class="button-icon" /><span class="button-label-selected">Hectares Burned</span></button>
      <button (click)="viewWildfireCounts = !viewWildfireCounts" *ngIf="viewWildfireCounts" class="button" mat-flat-button ><img height="24" width="24" src="/assets/images/svg-icons/measure-black.svg" alt="Hectares" class="button-icon" /><span class="button-label">Hectares Burned</span></button>
      <button (click)="viewWildfireCounts = !viewWildfireCounts" *ngIf="!viewWildfireCounts" class="button" mat-flat-button ><img height="24" width="24" src="/assets/images/svg-icons/wildfire-black.svg" alt="Wildfires" class="button-icon" /><span class="button-label">Wildfires</span></button>
      <button [disabled]="viewWildfireCounts" (click)="viewWildfireCounts = !viewWildfireCounts" *ngIf="viewWildfireCounts" class="button-selected" mat-flat-button ><img height="24" width="24" src="/assets/images/svg-icons/wildfire-blue.svg" alt="Wildfires" class="button-icon" /><span class="button-label-selected">Wildfires</span></button>
    </div>
  </div>
  <ng-template #loading><mat-spinner [diameter]="80" class="spinner-position"></mat-spinner></ng-template>
  <div class="content" *ngIf="startupComplete; else loading">
    <div class="content-title">{{viewWildfireCounts ? 'Total Wildfires' : 'Hectares Burned Each Year'}}</div>
    <div class="content-message">Totals for the year refers to wildfire activity between April 1, {{fireYear}}, and today's date.</div>
    <div class="content-chart">
      <ngx-charts-bar-vertical
        [animations]="true"
        [scheme]="colorScheme"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        [roundEdges]="true"
        [showGridLines]="true"
        [showDataLabel]="true"
        [results]="viewWildfireCounts ? wildfireTotals : hectareTotals">
      </ngx-charts-bar-vertical>
    </div>
  </div>
</div>
