@import "../../../../../styles/variables";
@import "notosans-fontface/scss/notosans-fontface";

@media (min-width: $desktop-md-min-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    padding: 24px;
    display: flex;
    width: auto;
    min-height: 640px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .widget-header {
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
    padding-bottom: 16px;
    display: flex;
  }

  .content-title {
    align-self: stretch;
    color: var(--grays-gray-2, #484848);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .content-message {
    display: none;
  }

  .content {
    height: 100%;
    width: 100%;
    min-height: 550px;
  }

  .content-chart {
    height: 100%;
    min-height: 550px;
    max-width: calc(100vw - 50px);
  }
}

@media (min-width: $desktop-sm-min-width) and (max-width: $desktop-sm-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    width: auto;
    max-width: 850px;
    min-height: 640px;
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .widget-header {
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
    padding-bottom: 16px;
    display: flex;
  }

  .content-title {
    align-self: stretch;
    color: var(--grays-gray-2, #484848);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .content-message {
    display: none;
  }

  .content {
    height: 100%;
    width: 100%;
    min-height: 550px;
  }

  .content-chart {
    height: 100%;
    min-height: 550px;
    max-width: calc(100vw - 50px);
  }
}

@media (max-width: $mobile-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    height: 640px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    background: #fff;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .widget-header {
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
    padding-bottom: 16px;
  }

  .content-title {
    align-self: stretch;
    color: var(--grays-gray-2, #484848);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .content-message {
    align-self: stretch;
    color: var(--Grey-1, #666);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
  }

  .content {
    height: 100%;
    width: 100%;
    max-height: 480px;
  }

  .content-chart {
    height: 100%;
    max-height: 480px;
    max-width: calc(100vw - 50px);
  }
}

.spinner-position {
  position: relative;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.widget-button-bar {
  margin-left: auto;
  display: flex;
}

.button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  margin-left: auto;
  &-selected {
    margin-right: 7px;
    margin-left: auto;
    border-radius: 20px;
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    color: #242424 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }
}

.button-label {
  position: relative;
  top: -3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.79px;
  &-selected {
    position: relative;
    top: -3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.79px;
    color: #242424 !important;
  }
}

.button-icon {
  position: relative;
  top: 2px;
  left: -6px;
}
