<div class="container">
    <div class="main-title"> Menu </div>
    <div class="frame">
        <div class="wildfire-list"> 
            <div class="title">
                <img src="/assets/images/svg-icons/carbon_list.svg" class="icon" >
                <span class="menu-text">Wildfire List</span>
            </div>
        </div>
        <div class="sub-frame">
            <div class="widget"> 
                <div>
                    <img src="/assets/images/svg-icons/union-blue.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Resources</span>
                </div>
            </div>
            <div class="widget"> 
                <div>
                    <img src="/assets/images/svg-icons/chat.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Contact Us</span>
                </div>
            </div>
        </div>
        <div class="sub-frame">
            <div class="widget"> 
                <div>
                    <img src="/assets/images/svg-icons/blog.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Blog</span>
                </div>
            </div>
            <div class="widget"> 
                <div>
                    <img src="/assets/images/svg-icons/facebook-blue.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Facebook</span>
                </div>
            </div>
        </div>
        <div class="sub-frame">
            <div class="widget"> 
                <div>
                    <img src="/assets/images/svg-icons/youtube.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">YouTube</span>
                </div>
            </div>
            <div class="widget"> 
                <div>
                    <img src="/assets/images/svg-icons/twitter-x.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Twitter</span>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="bottom-section">
        <div class="bottom-section-item">Disclaimer</div>
        <div class="bottom-section-item">Privacy</div>
        <div class="bottom-section-item">Copyright</div>
    </div>
</div>