<div class="container">
    <div class="main-title"> Menu </div>
    <div class="frame">
        <div class="wildfire-list">
            <div class="title" (click)="navigate('wildfire-list')">
                <img alt="icon" src="/assets/images/svg-icons/carbon_list.svg" class="icon" >
                <span class="menu-text">Wildfire List</span>
            </div>
        </div>
        <div class="sub-frame">
            <div class="widget" (click)="navigate('resources')">
                <div>
                    <img alt="icon" src="/assets/images/svg-icons/union-blue.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Resources</span>
                </div>
            </div>
            <div class="widget"  (click)="navigate('contact-us')">
                <div>
                    <img alt="icon" src="/assets/images/svg-icons/chat.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Contact Us</span>
                </div>
            </div>
        </div>
        <div class="sub-frame">
            <div class="widget"  (click)="navigate('blog')">
                <img alt="icon" class="external-link-icon" src="/assets/images/svg-icons/external-link-grey.svg">
                <div>
                    <img alt="icon" src="/assets/images/svg-icons/blog.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Blog</span>
                </div>
            </div>
            <div class="widget" (click)="navigate('facebook')">
                <img alt="icon" class="external-link-icon" src="/assets/images/svg-icons/external-link-grey.svg">
                <div>
                    <img alt="icon" src="/assets/images/svg-icons/facebook-blue.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">Facebook</span>
                </div>
            </div>
        </div>
        <div class="sub-frame">
            <div class="widget" (click)="navigate('youtube')">
                <img alt="icon" class="external-link-icon" src="/assets/images/svg-icons/external-link-grey.svg">
                <div>
                    <img alt="icon" src="/assets/images/svg-icons/youtube.svg" class="icon" >
                </div>
                <div>
                    <span class="menu-text">YouTube</span>
                </div>
            </div>
            <div class="widget" (click)="navigate('twitter')">
                <img alt="icon" class="external-link-icon" src="/assets/images/svg-icons/external-link-grey.svg">
                <div class="icon">
                    <img alt="icon" src="/assets/images/svg-icons/twitter-x.svg" class="twitter-icon">
                </div>
                <div>
                    <span class="menu-text">X (Formerly Twitter)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="bottom-section">
        <div class="bottom-section-item" onclick="window.open('https://www2.gov.bc.ca/gov/content/home/disclaimer', '_blank')">Disclaimer</div>
        <div class="bottom-section-item" onclick="window.open('https://www2.gov.bc.ca/gov/content/home/privacy', '_blank')">Privacy</div>
        <div class="bottom-section-item" onclick="window.open('https://www2.gov.bc.ca/gov/content/home/copyright', '_blank')">Copyright</div>
    </div>
    <div class="divider"></div>
    <div class="version-number">{{versionNumber}}</div>
</div>
