<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>

  <mat-button-toggle-group class="simple-toggle" [(ngModel)]="updateAttribute ? reportOfFire[updateAttribute] : localVal" #questionOptions="matButtonToggleGroup" vertical name="questionButtons" aria-label="Question Options">
    <mat-button-toggle value="yes" (change)="onValChange('yes')"><mat-icon>check</mat-icon>Yes</mat-button-toggle>
    <mat-button-toggle value="no" (change)="onValChange('no')"><mat-icon>close</mat-icon>No</mat-button-toggle>
    <mat-button-toggle *ngIf="allowIDontKnowButton" value="skip"><span class="question-mark">?</span>I'm not sure</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="rof-button-container" *ngIf="!isEditMode">
    <button class="rof-button" mat-flat-button (click)="previous()">Previous</button>
    <button *ngIf="!showProgress" [class]="'rof-button' + (!questionOptions.value ? '-disabled' : '-primary')" [disabled]="!questionOptions.value" mat-flat-button (click)="questionOptions.value === 'yes' ? next() : skip()">Continue</button>
    <button *ngIf="showProgress" [class]="'rof-button' + (!questionOptions.value ? '-disabled' : '-primary')" [disabled]="!questionOptions.value" mat-flat-button color="primary" (click)="processToNext()">Next<mat-icon [svgIcon]="!questionOptions.value? 'arrow-forward-disabled' : 'arrow-forward-enabled'" class="left-padding" style="width: 24px; height: 24px;"></mat-icon></button>
  </div>

  <div class="rof-button-container" *ngIf="isEditMode">
    <button class="rof-button" mat-flat-button (click)="backToReview()">Cancel</button>
    <button [class]="'rof-button' + (!isPageDirty ? '-disabled' : '-primary')" [disabled]="!isPageDirty" mat-flat-button (click)="backToReview()">Save</button>
  </div>

</div>
