<div class="page-content">
  <div class="rof-text-primary-header">{{ offLine && id === 'callback-page' ? offLineTitle : title}}</div>
  <div class="rof-text-secondary-header">{{ offLine && id === 'callback-page' ? offLineMessage : message }}</div>

  <mat-button-toggle-group class="rof-toggle-group simple-toggle" [(ngModel)]="updateAttribute ? reportOfFire[updateAttribute] : localVal" #questionOptions="matButtonToggleGroup" vertical name="questionButtons" aria-label="Question Options">
    <mat-button-toggle value="yes" (change)="onValChange('yes')"><mat-icon>check</mat-icon>Yes</mat-button-toggle>
    <mat-button-toggle value="no" (change)="onValChange('no')"><mat-icon>close</mat-icon>No</mat-button-toggle>
    <mat-button-toggle *ngIf="allowIDontKnowButton" value="Unknown" (change)="onValChange('Unknown')"><img class="question-mark" alt="question_mark" src="/assets/images/svg-icons/question-mark.svg">I'm not sure</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="rof-button-container" *ngIf="!isEditMode">
    <wfnews-button variant="secondary" size="large" label="Previous"
      (buttonClicked)="previous()"></wfnews-button>
    <wfnews-button variant="primary" size="large" [label]="getButtonText()"
      [disabled]="!questionOptions.value" iconPathEnd="/assets/images/svg-icons/arrow-forward-enabled.svg"
      (buttonClicked)="handleConfirmButtonClick()"></wfnews-button>
  </div>

  <div class="rof-button-container" *ngIf="isEditMode">
    <wfnews-button variant="secondary" size="large" label="Cancel"
      (buttonClicked)="backToReview()"></wfnews-button>
    <wfnews-button *ngIf="!twoPartsQuestions()" variant="primary" size="large" label="Save"
      [disabled]="!isPageDirty" (buttonClicked)="backToReview()"></wfnews-button>
    <wfnews-button *ngIf="twoPartsQuestions()" variant="primary" size="large" label="Next"
      [disabled]="!isPageDirty" iconPathEnd="/assets/images/svg-icons/arrow-forward-enabled.svg"
      (buttonClicked)="nextPart()"></wfnews-button>

  </div>

</div>
