<content-card-container class="other-sources-of-information-card">
  <div class="header">
    <span class="title">Other Sources of Information</span>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="content-title">Prepared BC</div>
      <div class="content-list">
        <span class="content-text">Prepared BC helps you prepare for emergencies so that you can respond better and
          recover faster.</span>
        <icon-list-item iconPath="/assets/images/download_circle.png" text="Wildfire Preparedness Guide"
          link="https://www2.gov.bc.ca/assets/download/2F048A731CC9463AB83E011FED0213A3"></icon-list-item>
        <icon-list-item iconPath="/assets/images/launch_circle.png" text="Website"
          link="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/guides-and-resources"></icon-list-item>
        <icon-list-item iconPath="/assets/images/facebook_circle.png" text="Facebook"
          link="https://www.facebook.com/PreparedBC/"></icon-list-item>
        <icon-list-item iconPath="/assets/images/x_circle.png" text="X (Formerly Twitter)"
          link="https://twitter.com/PreparedBC"></icon-list-item>
      </div>
    </div>
    <div class="content">
      <div class="content-title">Emergency Info BC</div>
      <div class="content-list">
        <span class="content-text">Emergency Info BC shares verified event information during emergencies, as well as
          official response and recovery resources.</span>
        <icon-list-item iconPath="/assets/images/launch_circle.png" text="Website"
          link="https://www.emergencyinfobc.gov.bc.ca/"></icon-list-item>
        <icon-list-item iconPath="/assets/images/x_circle.png" text="X (Formerly Twitter)"
          link="https://twitter.com/EmergencyInfoBC"></icon-list-item>
      </div>
    </div>
    <div class="content">
      <div class="content-title">BC Wildfire Service</div>
      <div class="content-list">
        <span class="content-text">Keep checking the app or visit us on Facebook and Twitter for updates about fire
          location.</span>
        <icon-list-item iconPath="/assets/images/facebook_circle.png" text="Facebook"
          link="https://www.facebook.com/BCForestFireInfo/"></icon-list-item>
        <icon-list-item iconPath="/assets/images/x_circle.png" text="X (Formerly Twitter)"
          link="https://twitter.com/bcgovfireinfo"></icon-list-item>
      </div>
    </div>
  </div>
</content-card-container>