:host { display: block; }

.related-topics-card {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      color: var(--Black-24, #242424);
      /* 22 SB */
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 33px; /* 150% */
    }
  
    .text {
      color: var(--Grey-5B, #5B5B5B);
      /* 16 Reg */
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}