<content-card-container class="related-topics-card">
  <div class="header">
    <span class="title">Related Topics</span>
    <span class="text">Links will open in your internet browser.</span>
  </div>
  <div class="buttons">
    <link-button [link]="" text="Current Evacuation Advisories" iconColor="#909090"></link-button>
    <link-button [link]="" text="Evacuee Guidance" iconColor="#909090"></link-button>
    <link-button [link]="" text="Local Government Systems in B.C." iconColor="#909090"></link-button>
    <link-button [link]="" text="B.C. Emergency Alerts" iconColor="#909090"></link-button>
  </div>

</content-card-container>

