<div class="title-panel">
  <div class="full-details-title">{{restrictionData?.name}}</div>
  <p class="info">An Area Restriction is a legal order that prohibits access to certain areas in order to limit the risk of fire,
    address a public safety concern or avoid interference with fire control.</p>
  <div class="button-row">
    <button (click)="navToMap()" mat-button class="map-button"><img height="20" width="20" class="tertiary-icon map-icon"
        src="/assets/images/svg-icons/map.svg" alt="Map" />View on Map</button>
    <button (click)="shareMobile()" mat-button class="map-button"><img class="tertiary-icon" height="20" width="20"
      src="/assets/images/svg-icons/share.svg"
      alt="Share" />Share</button>
  </div>
</div>
<hr>
<div class="info-container">
  <div class="info"><img height="20" width="20" class="icon" src="/assets/images/svg-icons/carbon_calendar.svg"
      alt="Calendar" />Issued on {{restrictionData?.issuedDate}}</div>
  <div class="info"><img height="20" width="20" class="icon" src="/assets/images/svg-icons/local_authority.svg"
      alt="Location Pin" />Issued by {{restrictionData?.fireCentre}}</div>
  <div class="info"><img height="20" width="20" class="icon" src="/assets/images/svg-icons/carbon_layers.svg"
      alt="Layers" />BC Wildfire Area Restrictions Layer</div>
</div>
<hr>
<div class="info-container" *ngIf="incident">
  <div class="full-details-secondary-title">Associated Wildfire</div>
  <div class="fire-info-container">
    <div class="wildfire-title">{{incident.incidentName}}<img height="20" width="20" class="wildfire-title-icon" (click)="addToWatchList(incident)"
      [src]="onWatchlist(incident) ? '/assets/images/svg-icons/bookmark-blue.svg' : '/assets/images/svg-icons/bookmark.svg'" alt="Calendar"/></div>
    <hr class="break">
    <div *ngIf="incident.fireOfNoteInd" class="wilfire-of-note-panel"><img height="20" width="20"
        class="wilfire-of-note-panel-icon" src="/assets/images/local_fire_department.png" alt="Fire Of Note" />Wildfire
      of Note</div>
    <div class="info"><span class="circle-icon {{incident.stageOfControlIcon}}"></span>{{incident.stageOfControlLabel}}</div>
    <div class="info"><img height="20" width="20" class="icon" src="/assets/images/svg-icons/location-pin.svg"
        alt="Location Pin" />{{restrictionData?.fireCentre}}</div>
    <div class="info"><img height="20" width="20" class="icon" src="/assets/images/svg-icons/carbon_calendar.svg"
        alt="Calendar" />Discovered on {{incident.discoveryDate}}<img height="20" width="20" class="arrow-button" (click)="navToIncident(incident)"
        alt="icon" src="/assets/images/svg-icons/forward-arrow-grey.svg"></div>
  </div>
</div>
<div class="info-container">
  <div class="full-details-secondary-title">Warning</div>
  <p class="info">When a Restricted Area Order, or area restriction, is established under section 11(2) of the Wildfire Act, a person
    must not remain in or enter the restricted area
    without the prior written authorization of an official designated for the purposes of the Wildfire Act, unless the
    person enters the area only in the course of:
    <ul>
      <li>Travelling to or from his or her residence</li>
      <li>Using a highway as defined in the Transportation Act</li>
      <li>Travelling through or entering the area as a person
        acting in an official capacity that is connected or
        involved in incident operations</li>
      <li>Travelling through or entering the area for a
        purpose approved by an official of supporting
        wildfire suppression activities.</li>
    </ul>
</div>
  <div class="links-relative">
    <link-button link="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/04031_01#section11"
      text="Wildfire Act" iconColor="#909090"></link-button>
  </div>
<br> 
<hr>
<div class="info-container">
  <div class="full-details-secondary-title">Related Topics</div>
  <p class="info">Links will open in your internet browser.</p>
</div>
<div class="links">
  <div class="links-relative">
    <p>Current Area Restrictions<img (click)="navToCurrentRestrictions()" class="link-icon" src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
  </div>
  <div class="links-relative">
    <p>Recreational Sites and Trail Closures<img (click)="navToRecClosures()" class="link-icon" src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
  </div>
  <div class="links-relative">
    <p>BC Parks Closures<img (click)="navToParksClosures()" class="link-icon" src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
  </div>
</div>
<div class="bulletin">
  <p>Open the information bulletin for more details</p>
  <button (click)="navToBulletinUrl()">Go to<img height="20" width="20" class="bulletin-link-icon" src="/assets/images/svg-icons/fluent_open.svg" alt="Launch" /></button>
</div>
<div class="spacer"></div>
