@import '../../../../../../../styles/variables';

  ::ng-deep .collection-notice-wrapper .mat-dialog-container{
    padding:0
  }

  ::ng-deep .mat-dialog-container .collection-notice-dialog {
    font-size: 15px !important;
    padding: 0 !important;
    font-family: BCSans,Noto Sans,Verdana,Arial,sans-serif !important;
    min-width: 450px ;

    h1:not(.not-dialog-title-bar) {
      background-color: $colour-header-background;
      color: $colour-white;
      padding: 16px;
      cursor: pointer;
      margin: 0;
      font-weight: normal;
      display: flex;
      font-family: BCSans,Noto Sans,Verdana,Arial,sans-serif;

      .spinner-header{
        margin-left: 16px;
        color: $colour-white;

        .mat-progress-spinner circle, .mat-spinner circle {
          stroke: $colour-white;
        }
      }
    }

    .mat-dialog-actions {
      margin: 0;
      background-color: #F2F2F2;
      border-top: solid 1px $colour-light-grey;
      padding: 16px;
    }

    .desktop .mat-dialog-content.no-scroll {
      overflow-y: hidden;
    }

    .mat-dialog-content {
      padding: 16px;
      margin: 0;
    }
  }

  .cdk-overlay-container.mobile .cdk-overlay-pane {
    width: unset !important; //mobile dialog unset width

    .mat-dialog-container {
      min-width: unset !important;

      .mobile {
        max-width: 100% !important;
        border-radius: 0 !important;
        min-width: unset !important;
        height: calc(var(--vh, 1vh) * 100 - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 54px) !important;
        width: calc(var(--vw, 1vw) * 100 - env(safe-area-inset-left) - env(safe-area-inset-right)) !important;
      }

      h1 {
        padding: 8px;
      }

      .mat-dialog-actions {
        bottom: 0;
        max-height: 68px;
        max-width: 100%;
      }

      .mat-dialog-content {
        max-height: unset;
        overflow-y: auto !important;
        height: calc(var(--vh, 1vh) * 100 - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 135px);
        width: calc(var(--vw, 1vw) * 100 - env(safe-area-inset-left) - env(safe-area-inset-right) - 2 * 16px);
      }
    }

  }

  .collection-notice-dialog{
    .mat-dialog-container{
      padding: 0
    }
    .collection-notice-text{
      line-height: 26px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      img{
        height: 120px;
        object-fit: cover;
      }
    }

    .collection-checkbox{
      flex: 1;
      text-align: left;

      .mat-checkbox-inner-container{
        background-color: $colour-white;
      }
    }
    .title-style{
      font:500 20px/32px Roboto,Helvetica Neue,sans-serif;
    }

  }




