.banner {
  padding: 10px;
  display: flex;
  font-size: 16px;

  span {
    padding-left: 8px;
    text-align: left;
    line-height: 24px;
  }
}

.card {
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  padding: 10px;
  display: flex;

  span {
    padding-left: 8px;
    text-align: left;
    line-height: 24px;
  }
}

.red {
  background-color: #fdf0f3;
  color: #b42e45;
}

.yellow {
  background-color: #fff9e5;
  color: #dfa512;
}
