:host {
  display: block;
}

.text-card {
  .content-text {
    /* 16 Reg */
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
      sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

