<div class="header" #headerElement>
  <div class="heading">Layer Data Sources</div>
  <div class="subtext">
    BC Wildfire Service does not own or control all map data. If you have questions about how data is displayed on the
    map, check the list below to see which agency controls and manages that map layer.
  </div>
</div>
<div class="sections">
  <div class="section">
    <div class="subheading">
      Wildfires
    </div>
    <link-button text="Active and Out Wildfires" subtext="BC Wildfire Service" link="https://catalogue.data.gov.bc.ca/dataset/fire-locations-current"></link-button>
    <link-button text="Fire Perimeters" subtext="BC Wildfire Service" link="https://catalogue.data.gov.bc.ca/dataset/fire-perimeters-current"></link-button>
    <link-button text="Fire Centres" subtext="BC Wildfire Service" link="https://catalogue.data.gov.bc.ca/dataset/bc-wildfire-fire-centres"></link-button>
  </div>

  <div class="section">
    <div class="subheading">
      Alerts
    </div>
    <link-button text="Evacuation Orders and Alerts" subtext="GeoBC Branch" link="https://catalogue.data.gov.bc.ca/dataset/evacuation-orders-and-alerts"></link-button>
    <link-button text="Area Restrictions" subtext="BC Wildfire Service" link="https://catalogue.data.gov.bc.ca/dataset/bc-wildfire-area-restrictions"></link-button>
    <link-button text="Fire Bans and Prohibitions" subtext="BC Wildfire Service" link="https://catalogue.data.gov.bc.ca/dataset/british-columbia-wildfire-bans-and-prohibitions"></link-button>
    <link-button text="Fire Danger Ratings" subtext="BC Wildfire Service" link="https://catalogue.data.gov.bc.ca/dataset/bc-wildfire-danger-rating"></link-button>
  </div>

  <div class="section">
    <div class="subheading">
      Environment
    </div>
    <link-button text="Smoke Forecast" subtext="Fire Smoke Canada" link="https://firesmoke.ca/"></link-button>
    <link-button text="Current Weather" subtext="Environment Canada" link="https://weather.gc.ca/canada_e.html"></link-button>
    <link-button text="Current Precipitation Radar" subtext="Environment Canada" link="https://www.canada.ca/en/environment-climate-change/services/weather-general-tools-resources/radar-overview/about.html"></link-button>
    <link-button text="Precipitation Forecast, Hourly" subtext="Environment Canada" link="https://eccc-msc.github.io/open-data/msc-geomet/readme_en/"></link-button>
    <link-button text="Active Weather Stations" subtext="BC Wildfire Service" link="https://catalogue.data.gov.bc.ca/dataset/bc-wildfire-service-weather-stations"></link-button>
  </div>

  <div class="section">
    <div class="subheading">
      Routes and Access
    </div>
    <link-button text="Road Events" subtext="Drive BC" link="https://catalogue.data.gov.bc.ca/dataset/open511-drivebc-api"></link-button>
    <link-button text="Closed Recreation Sites" subtext="Recreation Sites and Trails BC" link="https://catalogue.data.gov.bc.ca/dataset/recreation-sites-reserves-and-interpretive-forests-details-and-closures"></link-button>
    <link-button text="Protected Lands Access Restrictions" subtext="BC Parks" link="https://catalogue.data.gov.bc.ca/dataset/protected-lands-access-restrictions"></link-button>
  </div>

  <div class="section">
    <div class="subheading">
      Local Authorities
    </div>
    <link-button text="Indian Reserve" subtext="GeoBC Branch" link="https://catalogue.data.gov.bc.ca/dataset/indian-reserves-administrative-boundaries"></link-button>
    <link-button text="First Nations Treaty Land" subtext="MIRR, Treaty Relations" link="https://catalogue.data.gov.bc.ca/dataset/first-nations-treaty-lands"></link-button>
    <link-button text="Municipalities" subtext="Ministry of Municipal Affairs" link="https://catalogue.data.gov.bc.ca/dataset/municipalities-legally-defined-administrative-areas-of-bc"></link-button>
    <link-button text="Regional Districts" subtext="Ministry of Municipal Affairs" link="https://catalogue.data.gov.bc.ca/dataset/regional-districts-legally-defined-administrative-areas-of-bc"></link-button>
  </div>
</div>