<div class="header" #headerElement>
  <div class="heading">Layer Data Sources</div>
  <div class="subtext">
    BC Wildfire Service does not own or control all map data. If you have questions about how data is displayed on the
    map, check the list below to see which agency controls and manages that map layer.
  </div>
</div>
<div class="sections">
  <div class="section">
    <div class="subheading">
      Wildfires
    </div>
    <link-button text="Active and Out Wildfires" subtext="BC Wildfire Service"></link-button>
    <link-button text="Fire Perimeters" subtext="BC Wildfire Service"></link-button>
    <link-button text="Fire Centres" subtext="BC Wildfire Service"></link-button>
  </div>

  <div class="section">
    <div class="subheading">
      Alerts
    </div>
    <link-button text="Evacuation Orders and Alerts" subtext="BC Wildfire Service"></link-button>
    <link-button text="Area Restrictions" subtext="BC Wildfire Service"></link-button>
    <link-button text="Fire Bans and Prohibitions" subtext="BC Wildfire Service"></link-button>
    <link-button text="Fire Danger Ratings" subtext="BC Wildfire Service"></link-button>
  </div>

  <div class="section">
    <div class="subheading">
      Environment
    </div>
    <link-button text="Smoke Forecast" subtext="Fire Smoke Canada"></link-button>
    <link-button text="Current Weather" subtext="BC Wildfire Service"></link-button>
    <link-button text="Current Precipitation Radar" subtext="Environment Canada"></link-button>
    <link-button text="Precipitation Forecast, Hourly" subtext="Environment Canada"></link-button>
    <link-button text="Active Weather Stations" subtext="BC Wildfire Service"></link-button>
  </div>

  <div class="section">
    <div class="subheading">
      Routes and Access
    </div>
    <link-button text="Road Events" subtext="Drive BC"></link-button>
    <link-button text="Closed Recreation Sites" subtext="Recreation Sites and Trails BC"></link-button>
    <link-button text="Protected Lands Access Restrictions" subtext="BC Parks"></link-button>
    <link-button text="Forest Service Roads" subtext="South Coast Regional Operations"></link-button>
    <link-button text="Active Weather Stations" subtext="BC Wildfire Service"></link-button>
  </div>

  <div class="section">
    <div class="subheading">
      Local Authorities
    </div>
    <link-button text="Indian Reserve" subtext="GeoBC Branch"></link-button>
    <link-button text="First Nations Treaty Land" subtext="GeoBC Branch"></link-button>
    <link-button text="Municipalities" subtext="GeoBC Branch"></link-button>
    <link-button text="Regional Districts" subtext="GeoBC Branch"></link-button>
  </div>
</div>