@import '../../../../styles/variables';

.warning-submit-button {
  background-color: orange !important;
}
.error-dialog-container{
  padding: 10px;
}

::ng-deep .mat-dialog-container {
  font-size: 0.9rem;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-width: 450px;

  .radio-error{
    color: $colour-errors;
    .mat-radio-outer-circle {
      border-color: $colour-errors;
    }
    p {
      font-size: 75%;
      margin: 0px;
    }
  }
  mat-radio-group.ng-invalid{
    color: $colour-errors;
    .mat-radio-outer-circle {
      border-color: $colour-errors;
    }
  }
  h2 {
    background-color: $colour-toolbar-background;
    padding: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: 0;
    font-size: 1rem;

    .mat-card-title {
      margin-bottom: 0px;
      font-size: 0.8rem;
    }

    &::ng-deep .mat-card-header-text {
      margin: 0rem 1rem;
    }
  }

  h2.error{
    background-color: $colour-errors;
    color: $colour-white;
  }

  ::ng-deep .mat-dialog-actions button:last-child{
    margin-right: 0.5rem;
  }

  ::ng-deep .mat-dialog-actions{
    margin: 0;
    background-color: rgb(238, 238, 238);
  }

  ::ng-deep .mat-dialog-content.no-scroll {
    overflow-y: hidden;
  }

  ::ng-deep .mat-dialog-content {
    padding: 0 0.5rem;
    margin: 0;

    ::ng-deep .form-flex{
      padding-top: 10px;
      .flex-spacer-25 {
        flex-grow: 0.25;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }

      .flex-spacer-10 {
        flex-grow: 0.10;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }

      .field{
        margin: 0 5px;

        .field-label{
          padding-left: 0;
        }
      }
    }

    ::ng-deep mat-expansion-panel {
      .diary-entry-header {
        background-color: #dddddd;
        height: 3rem !important;
        margin-right: 0px !important;
        padding-left: 0.1rem!important;
        border-radius: 0;

        .mat-expansion-panel-header-title{
          margin-right: 5px !important;
          align-items: center;
        }

        mat-panel-description.mat-expansion-panel-header-description{
          margin-right: 0px !important;
          align-items: center;
          justify-content: flex-end;
          font-size: 0.9rem;
          color: $colour-black;

          .label{
            color:$colour-medium-grey;
          }

          .mat-icon{
            vertical-align: middle;
          }
        }
      }
    }
  }

}

.mat-radio-button{
    margin: 5px 0;
}

