@import "../wildfire-preview/wildfire-preview.component.scss";

.identify-subtitle {
    color: var(--grays-gray-2, #484848);
    font-family: Noto sans, BCSans, Open Sans, Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.408px;
}