<div class="dialog-container">
  <h1 mat-mdc-dialog-title>Edit Map Title</h1>
  <div class="dialog-content" mat-dialog-content>
    <mat-form-field class="item-full-width" floatLabel="always">
      <mat-label class="label">Title</mat-label>
      <input matInput #input maxlength="150" type="text" placeholder="Title" [(ngModel)]="data.attachment.attachmentTitle" [value]="data.attachment.attachmentTitle" required>
      <mat-hint align="end">{{input.value?.length || 0}}/150</mat-hint>
    </mat-form-field>
  </div>
  <div class="dialog-actions" mat-dialog-actions>
    <wfnews-button variant="primary" label="Save" (buttonClicked)="save()"
      [disabled]="data.attachment.attachmentTitle === null || data.attachment.attachmentTitle === ''"></wfnews-button>
    <wfnews-button variant="secondary" label="Cancel" (buttonClicked)="cancel()"></wfnews-button>
  </div>
</div>
