div {
    padding:10;
    margin-left: 10px;
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
    box-sizing: border-box;
}
p.title {
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

p.wildfire-count {
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
}

i.material-icons-outlined {
    height: 24px;
    width: 24px;
    color: #0056a5;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.map-layers {
    display: flex;
    justify-content: center;
}

.map-layer-item {
    padding: 10px 50px ;
}