<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>
<div> 
    <p class="title">Active Wildfires Map</p>
    <p class="wildfire-count"><i class="material-icons-outlined">local_fire_department</i> {{activeFireCount}} Active Wildfires</p>
</div>

<div class = "map-layers">
    <div class = "map-layer-item">Evacuation Orders and Alers</div>
    <div class = "map-layer-item">Evacuation Orders and Alers</div>
    <div class = "map-layer-item">Evacuation Orders and Alers</div>
    <div class = "map-layer-item">Evacuation Orders and Alers</div>
    <div class = "map-layer-item">Evacuation Orders and Alers</div>
    <div class = "map-layer-item">Evacuation Orders and Alers</div>
    <div class = "map-layer-item">Evacuation Orders and Alers</div>

</div>

<div>

</div>