<content-card-container class="fires-card">
  <span class="title">Category 2 Open Fires</span>
  <img src="assets/images/Category 2 Size.svg" alt="Open Fire"/>
  <span class="text">This category refers to fires, other than a campfire, that burn:
    <ul>
      <li>Material in one pile not exceeding 2 metres in height and 3 metres in width</li>
      <li>Material concurrently in 2 piles each not exceeding 2 metres in height and 3 metres in width</li>
      <li>Stubble or grass over an area that does not exceed 0.2 hectares</li>
    </ul>
  </span>
</content-card-container>