@import "../../../styles/variables";

::ng-deep .smk-panel .smk-header {
    margin-bottom: 0;
}

.near-me-loader {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    mat-spinner {
        margin: auto;
    }

    .loading-message {
        display: flex;
        justify-content: center;
    }
}

.near-me-content {
    display: flex;
    flex-direction: column;

    ::ng-deep mat-nav-list {
        near-me-item-container > div {
            border-top: 1px solid #c4c4c4;
        }

        near-me-item.weather {
            & > div {
                border-top: 1px solid #c4c4c4;
            }

            .mat-list-item .content-column .title {
                font-weight: normal;
                
                em {
                    font-weight: bold;
                    font-style: normal;
                }
            }
        }
    }

    .no-results {
        border-top: 1px solid #c4c4c4;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        text-align: center;
        color: $colour-light-grey;
    }
}
