.image-panel {
  display: flex;
  padding: 1rem;
  width: 650px;
  margin: 0 1rem;

  .image-container {
    width: 60%;
    height: 250px;

    img {
      width: calc(100% - 15px);
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .info-panel {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    padding: 5px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .row {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .action {
      padding: 5px 0;
      mat-icon {
        cursor: pointer;
        font-size: 20px;
      }
    }

    .checkbox-label {
      padding-left: 4px;
    }

    .divider {
      border-bottom: 1px solid #cccccc;
    }
  }
}
