.image-panel {
  display: flex;
  padding: 0 1rem;
  width: 650px;
  margin: 0 1rem;

  .image-container {
    width: 60%;
    height: 250px;

    img {
      max-width: 350px;
      height: inherit;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .info-panel {
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
    padding: 5px;
    width: 40%;

    .row {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .action {
      padding: 5px 0;
      mat-icon {
        cursor: pointer;
        font-size: 20px
      }
    }

    .checkbox-label{
      padding-left: 6px;
    }

    .divider {
      border-bottom: 1px solid #cccccc;
    }
  }
}
