<div class="image-panel">
  <div class="image-container">
    <mat-spinner style="margin-left: 130px; margin-top: 100px;" *ngIf="!loaded" [diameter]="50"></mat-spinner>
    <img *ngIf="loaded" [src]="imageSrc" alt="gallery image" />
  </div>
  <div class="info-panel">
    <div class="row">Image Title: <strong>{{attachment.attachmentTitle}}</strong></div>
    <div class="row">File Name: <strong>{{attachment.fileName}}</strong></div>
    <div class="row">Uploaded On: <strong>{{convertToDate(attachment.uploadedTimestamp)}}</strong></div>
    <div class="divider action"></div>
    <div class="action">
      <mat-radio-button [checked]="isPrimary" (change)="changePrimary()">Set as Primary Image</mat-radio-button>
    </div>
    <div class="action">
      <mat-icon (click)="edit()">edit</mat-icon> Edit Image Title
    </div>
    <div class="action">
      <mat-checkbox [checked]="commsSuitable" (change)="includeInGallery()"><span class="checkbox-label">Include in Public Gallery</span></mat-checkbox>
    </div>
  </div>
</div>
