@import '../../../../styles/variables';

@media print {
  :host {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  }
  app-root {
    display: block;
    width: 100%;
    height: 100%;
  }
}

:host {
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
}

.header-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.header-container.mobile {
  display: block;
}
.header-container.desktop{
  background: #F5F7FA;
  .title{
    font-weight: 600 !important;
    font-size: 26px !important;
    font-style: normal !important;
    color: #1C1C1C !important;
  }
}
.header-container > * {
  flex: 1 1 350px;
}

.map-container {
  width: 100%;
  flex: 1;
  max-width: 50%;
  min-height: 400px !important;
}

.map-container-mobile {
  width: 100%;
  min-height: 200px !important;
}

@media screen and (max-width: 808px) {
  .map-container {
    max-width: 808px !important;
  }
}

.incident-details.desktop{
  flex:1;
  max-width: 50%;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.incident-details {
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  padding: 24px;
  padding-bottom: 0px;
  .header {
    text-align: right;
    display: flex;
    flex-flow: row-reverse;
    .button {
      cursor: pointer;
    }
  }
  .title-bar {
    .title {
      font-size: 1.6rem;
      line-height: 39px;
      color: #003366;
      display: flex;
      flex-direction: row;
      .fire-icon-container {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 8px;
        margin-left: 8px;
        .fire-icon {
          width: 14.4px;
          height: 18px;
          color: #ffffff;
        }
      }
    }
    .subtitle {
      text-decoration: underline;
      color: #1a5a96;
      font-size: 1rem;
    }
  }
  .nav-button {
    padding-top: 7px;
  }
  .info-panel {
    padding-top: 7px;
    font-size: 1rem;
    display: inline-grid;
    gap: 6px;
    .info-panel-row{
      display: flex;
    }
    .info-panel-button-row{
      padding-top: 26px;
    }
    .icon{
      padding-right: 16px;
    }
    .label {
      color: #484848;
    }
  }
  .divider {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .gutter {
    padding-top: 7px;
  }
  .icon-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .resource-icon {
      color: #003366;
      font-size: 1rem;
      padding-left: 7px;
      padding-right: 7px;
      text-align: center;
      .image-size {
        width: 50px;
        height: 50px;
      }
      .image-label {
        max-width: 100px;
      }
    }
  }
  .evac-list {
    display: flex;
    flex-direction: row;
    color: black;
    padding-top: 7px;
    .label {
      text-decoration: underline;
      cursor: pointer;
    }
    .issued-by {
      padding: 4px;
      font-size: 12px;
      font-style: italic;
      color: gray;
      text-decoration: none;
    }
  }
  .alert {
    color: #dfa512 !important;
  }
  .order {
    color: #b42e45 !important;
  }
  h4 {
    color: #003366;
  }
  .header-content {
    padding-top: 16px;
    color: #6e6e6e;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    // .item{
    //   margin-right: 26px;
    // }

    // .item:last-child {
    //   margin-right: 0;
    // }
    .divider {
      border-bottom: 1px lightgray solid;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .mobile-button {
      border-radius: 5px;
      border: 1px solid #6e6e6e;
      background-color: #fdfdfd;
      color: #333333;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      width: 40dvw;
      height: 48px;

      &.fixed-width {
        width: 170px;
      }
    }
  }
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  padding-top: 8px;

  .mobile-button {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 5px;
    border: 1px solid var(--grays-gray-6, #c4c4c4);
    background: #fff;
    height: 52px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &.fixed-width {
      width: 170px;
    }
  }
}

.mobile-label {
  color: #6e6e6e;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: $mobile-max-width) {
  .header-container {
    padding: 0px !important;
  }
  .title {
    color: black !important;
  }
}

.mobile-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  position: sticky !important;
  top: 0;
  background-color: white;
  z-index: 9999;
}

:host ::ng-deep .mat-mdc-tab-header {
  top: -1px;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky; /* macOS/iOS Safari */
  background-color: #f3f6f9;
  @media (max-width: $mobile-max-width) {
    background-color: white !important;
    top: 50px;
  }
}

.icon-contact {
  position: relative;
  top: 3px;
  height: 17px;
  width: 17px;
}

.contact-buttons {
  padding-top: 8px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  .mobile-buttons {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 5px;
    border: 1px solid var(--grays-gray-6, #c4c4c4);
    background: #fff;
    height: 40px;
  }

  .mobile-buttons.on-watchlist {
    /* Add your additional styling for the button when onWatchlist is true */
    /* For example, change background color or add a border */
    background: var(--blues-blue-11, #f5f6f9);
    font-weight: 500;
    color: #10294e;
    /* Add any other styles as needed */
  }
}

.evac-cards{
  display: flex;
  align-items: flex-start;
  gap: var(--16, 16px);
  margin-top: 12px;
  margin-bottom: 10px;
  .order-count {
    width: 90%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 6px 8px;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: 4px;
    color: var(--reds-red-2, #98273b);
    border: 1px solid var(--reds-red-7, #f4d1d1);
    background: var(--reds-red-7, #fef1f2);
  
    .icon {
      padding-right: 8px !important;
      height: 20px;
      width: 20px;
      top: 3px;
      vertical-align: bottom;
    }
  
    @media screen and (min-width: 450px) {
      width: auto;
      white-space: nowrap;
      text-align: center;
    }
  }
  
  .alert-count {
    width: 90%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 6px 8px;
    align-items: center;
    align-content: center;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
    border-radius: 4px;
    color: #7c5d11;
    border: 1px solid var(--yellows-yellow-6, #f3d999);
    background: var(--yellows-yellow-6, #fcf3d4);
  
    .icon {
      padding-right: 8px !important;
      height: 20px;
      width: 20px;
      top: 3px;
      vertical-align: bottom;
    }
  
    @media screen and (min-width: 450px) {
      width: auto;
      white-space: nowrap;
      text-align: center;
    }
  }
  
  .evac{
    padding: 8px 16px !important;
  }

}

.fire-of-note {
  width: 160px;
  color: var(--reds-red-1, #852a2d);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 6px 8px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  border: 1px solid #AA1D3E;
  margin-bottom: 24px;
  .fire-icon {
    padding-right: 8px;
    vertical-align: bottom;
  }
}

.circle-icon {
  margin-left: 3px;
  margin-right: 18px;
  border-radius: 50%;
  width: 18px;
  height: 18px;

  &.HOLDING {
    background-color: #ffff00;
    border: 1px solid black;
  }

  &.OUT_CNTRL {
    background-color: #ff0000;
    border: 1px solid black;
  }

  &.UNDR_CNTRL {
    background-color: #98e600;
    border: 1px solid black;
  }

  &.OUT {
    background-color: #5c6671;
    border: 1px solid black;
  }
}

.desktop-buttons{
  display: flex;
  width: 132px;
  padding: 6px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #888;
  background: #F5F7FA;
  font-size: 16px;
  font-weight: 500;
  color: #242424;
  text-align: center;
}

.contact-buttons.desktop{
  gap: 24px;
}

.back-button{
  color:#666666;
  padding-bottom: 24px;
  img{
    vertical-align: bottom;
  }
  span{
    padding-left: 9px;
  }
}

.back-button:hover {
  cursor: pointer;
}

.bookmark-icon{
  padding-left: 8px;
}

hr {
  background-color: #ddd;
  height: 1px;
  border: 0;
  margin: 24px 0px 24px 0px;
}

.single-button{
  display: flex;
  width: 240px;
  padding: 6px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid #888;
  background: #F5F7FA;
  .single-button-icon{
    vertical-align: bottom;
    padding-right: 8px;
  }
}