<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
				namespace="ca.bc.gov.nrs.wfone.notification.push.persistence.v1.dao.mybatis.mapper.NotificationPushItemMapper">

				<!--
					A select, not an insert: MyBatis needs a select to read a RETURNING result set.
					The guids that come back are the recipients to send to.
				-->
				<select id="insertPushItems" resultType="java.lang.String">

								INSERT INTO NOTIFICATION_PUSH_ITEM
								( NOTIFICATION_PUSH_ITEM_GUID,
								NOTIFICATION_GUID,
								PUSH_TIMESTAMP,
								ITEM_EXPIRY_TIMESTAMP,
								ITEM_IDENTIFIER,
								REVISION_COUNT,
								CREATE_USER,
								CREATE_TIMESTAMP,
								UPDATE_USER,
								UPDATE_TIMESTAMP )
								VALUES
								<foreach item="item" collection="items" separator=",">
								(uuid_generate_v1(),
								#{item.notificationGuid, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
								#{item.pushTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
								#{item.itemExpiryTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
								#{item.itemIdentifier, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
								1,
								COALESCE ( #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN} , current_user),
								current_timestamp,
								COALESCE ( #{userId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN} , current_user),
								current_timestamp)
								</foreach>
								ON CONFLICT (NOTIFICATION_GUID, ITEM_IDENTIFIER) DO NOTHING
								RETURNING NOTIFICATION_GUID

				</select>

				<!-- Without this, the push item row blocks the retry and the recipient gets nothing. -->
				<delete id="deletePushItems">

								DELETE FROM NOTIFICATION_PUSH_ITEM
								WHERE ITEM_IDENTIFIER = #{itemIdentifier, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
								AND NOTIFICATION_GUID IN
								<foreach item="notificationGuid" index="index" collection="notificationGuids"
												open="(" separator="," close=")">#{notificationGuid}
								</foreach>

				</delete>


</mapper>
