.wfml-info-content {
    /* width: 300px; */
}
.wfml-info-title {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: #cccccc;
}
.wfml-info-line {
    width: 100%;
}

.wfml-info-line:nth-child( 2n) {
    background-color: #f4f4f4;
}

.wfml-info-name {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    width: 9em;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wfml-info-value {
    display: inline-block;
    vertical-align: top;
    /* width: 24em; */
    font-weight: bold;
    padding-left: 4px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.wfml-info-action {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.wfml-feature-set {
    display: flex;    
    height: 20em;
}

.wfml-feature-list {
    flex-basis: 33%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hide;
    cursor: default;
    margin-right: 2px;
    padding-right: 2px;
    border-right: 1px solid black;
}

.wfml-feature-title {
    font-size: 10px;
    font-weight: bold;
    padding: 2px 0;
    border-radius: 2px;
}

.wfml-feature-title:hover {
    background-color: #eee;
}

.wfml-picked-feature, .wfml-picked-feature:hover {
    background-color: #cccccc;
}

.wfml-feature-panel {
    flex-basis: 66%;
    flex-shrink: 0;
    /* display: flex; */
    /* flex-direction: column; */
    overflow-y: auto;
    overflow-x: hide;
}

.wfml-control {
    height: 30px;
    width: 30px;
    border: 2px solid #bbbbbb;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.wfml-control:hover {
    background-color: #f4f4f4;
}

.wfml-control-active {
    background-color: #d0e1f5 !important;
}

.wfml-control-zoom-box {
    background-image: url('img/zoom-box.svg');
}

.wfml-control-zoom-full {
    background-image: url('img/zoom-full.svg');
}

.wfml-control-zoom-location {
    background-image: url('img/zoom-location.svg');
}

.wfml-control-coordinatedisplay {
    width: 160px;
    height: 36px;
    background-color: white;
    padding: 4px 6px;
    border-radius: 2px;
    border: 2px solid #bbbbbb;
    text-align: left;
    user-select: none;
}

.tool-map-active-selectpoint {
    cursor: crosshair;
}

.tool-map-active-measure {
    cursor: crosshair;
}


/*===========================================================*/

.wfml-toolbar {
    z-index: 1000;
}

.wfml-toolbar-main {
    position: absolute;
    top: 10px;
    left: 70px;
}

.wfml-toolbar-main .wfml-tool {
    margin-right: 2px;
}

.wfml-toolbar-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wfml-toolbar-right .wfml-tool {
    margin-left: 2px;
}

.wfml-tool {
    height: 30px;
    width: 30px;
    border: 2px solid #bbbbbb;
    border-radius: 2px;
    background-color: #fff;
    background-clip: padding-box;
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.wfml-tool:hover {
    background-color: #f4f4f4;
}

.wfml-tool-zoom-full {
    background-image: url('img/zoom-full.png');
}

.leaflet-container.leaflet-control-boxzoom-active {
    cursor: crosshair !important;
}

.wfml-tool-measure {
    background-image: url('img/measure.svg');
}

.wfml-tool-measure-text-copy {
    border: 0;
}

.wfml-tool-measure-panel {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 250px;
    height: 54px;
    background-color: white;
    border-radius: 2px;
    border: 2px solid #bbbbbb;
    padding: 4px 6px;
    text-align: right;
    user-select: none;
    z-index: 1000;
    display: none;
}

.wfml-tool-measure-measures {
    display: inline-block;
}

.wfml-tool-measure-btns {
    display: inline-block;
    margin-left: 10px;
}

.wfml-tool-measure-text {
    border: none;
}

.wfml-tool-measure-btn {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.wfml-tool-measure-selectmid {
    background-image: url('img/measure-select-point-mid.svg');
}

.wfml-tool-measure-selectend {
    background-image: url('img/measure-select-point-end.svg');
}

.wfml-tool-legend {
    background-image: url('img/legend.svg');
}

.wfml-legend-title {
    font-weight: bold;
}

.wfml-legend {
    padding: 0px 4px;
}

.wfml-legend-image {}

.wfml-legend-label {
    display: inline-block;
    margin-left: 5px;
    white-space: normal;
    width: 150px;
    vertical-align: top;
}

/*===========================================================*/

.wfml-tool-layerlist {
    background-image: url('img/layer-list.svg');
    background-size: cover;
}

.wfml-layerlist-toolbar {
    height: 22px;
    background-color: #eeeeee;
    text-align: right;
    padding-right: 20px;
    display: flex;
}
.wfml-layerlist-tool {
    height: 18px;
    width: 18px;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}
.wfml-layerlist-filterbar {
    background-color: #eeeeee;
    padding: 0 6px;
    border-radius: 6px;
    margin-bottom: 4px;
    display: flex;
}
.wfml-layerlist-filterbar-hidden {
    display: none;
}

.wfml-layerlist-filter-label {
    flex-grow: 1;
}

.wfml-layerlist-filter-input {
    border-radius: 6px;
    margin-left: 4px;
    margin-right: 10px;
    width: calc( 100% - 55px );
}
.wfml-layerlist-filter-clear {
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.wfml-layerlist-filter-clear:after {
    content: "x";
}
.wfml-layerlist-filter-visible-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 3px;
    vertical-align: top;
    background-image: url('img/layer-on.png');
}
.wfml-layerlist-tool-filter {
    background-image: url('img/layer-filter.png');  
}
.wfml-layerlist-tool-legend {
    background-image: url('img/legend.png');
}
.wfml-layerlist-tool-hide {
    background-image: url('img/layer-hide.png');  
}
.wfml-layerlist-tool-refresh {
    background-image: url('img/refresh.png');  
}

.wfml-layerlist {
    padding: 0px 4px;
}

.wfml-layerlist.wfml-layerlist-disabled {
    background-color: #ccc;
    color: #888;
    pointer-events: none;
}

.wfml-layerlist-folder {
    font-weight: bold;
    margin: 2px 0px;
}
.wfml-layerlist-layer {
    padding-left: 16px;
    font-weight: normal;
}
.wfml-layerlist-item:hover {
    background-color: #eeeeee;
}
.wfml-layerlist-folder-container {
    padding-left: 16px;
}
.wfml-layerlist-item:hover + .wfml-layerlist-folder-container {
    xborder-left: #dddddd solid 3px;
    background-color: #f8f8f8;
}
.wfml-layerlist-title {
    display: inline-block;
    white-space: normal;
    user-select: none;
}
.wfml-layerlist-expand {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/arrow-down.png');
    margin-right: 4px;
    vertical-align: top;
    cursor: pointer;
}
.wfml-layerlist-close {
    background-image: url('img/arrow-right.png');
}
.wfml-layerlist-state {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    margin-top: 2px;
    vertical-align: top;
    cursor: pointer;
}
.wfml-layerlist-vis-on .wfml-layerlist-state {
    background-image: url('img/layer-on.png');
}
.wfml-layerlist-vis-off .wfml-layerlist-state {
    background-image: url('img/layer-off.png');
}
.wfml-layerlist-vis-mixed .wfml-layerlist-state {
    background-image: url('img/layer-mixed.png');
}
.wfml-layerlist-scale-out {
    font-style: italic;
    opacity: 0.5;
}

.wfml-layerlist-disabled {
    opacity: 0.5;
}

.wfml-layerlist-disabled > .wfml-layerlist-title {
    font-style: normal;
    text-decoration: line-through;
    text-decoration-color: red;
}

.wfml-layerlist-legend {
    border: 1px solid #cccccc;
    margin-left: 16px;
}

.wfml-quick-filter {
    margin: 0 5px;
}

.wfml-layerlist-quick-filter-bar {
    margin-top: 2px;
}

.wfml-layerlist-quick-filter-bar.wfml-layerlist-disabled {
    color: #888;
    pointer-events: none;
}

.wfml-quick-filter div {
    display: inline-block;
}

.wfml-quick-filter .wfml-layerlist-vis {
    background-color: #fff;
    margin-right: 2px;
}

.wfml-layerlist-quick-filter-bar.wfml-layerlist-disabled .wfml-quick-filter .wfml-layerlist-vis {
    background-color: #ccc;
}

/*===========================================================*/

.wfml-tool-basemap {
    background-image: url('img/basemap.svg');
}

.wfml-basemaps {
    display: flex;
    flex-direction: column;
}

.wfml-basemap-entry {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-align: center;
}
.wfml-basemap-entry:hover, .wfml-basemap-entry.wfml-basemap-current:hover {
    background-color: #cccccc;
}
.wfml-basemap-entry.wfml-basemap-current {
    background-color: #d0e1f5;
}

.wfml-basemap-title {
    font-weight: bold;
}
.wfml-basemap-thumbnail {
    width: 100%;
    height: 64px;
    background-repeat: no-repeat;
    background-position: top left;
    border: 1px solid black;
    border-radius: 4px;
}

/*===========================================================*/
.wfml-tool-selectpoint {
    background-image: url('img/select-point.svg');
}

.wfml-tool-selectpoint-panel {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 150px;
    height: 18px;
    background-color: white;
    border-radius: 2px;
    border: 2px solid #bbbbbb;
    padding: 4px 6px;
    text-align: left;
    user-select: none;
    z-index: 1000;
    display: none;
}

.wfml-tool-selectpoint-text {
    border: none;
    width: 100%;
}

.wfml-tool-selectpoint-text:focus {
    outline: none;
}

/*===========================================================*/

.wfml-tool-identify {
    background-image: url('img/identify.png');
}

.tool-map-active-identify {
    cursor: default;
}


/*===========================================================*/

.wfml-sidebar {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    bottom: 60px;
    border: 2px solid #bbbbbb;
    border-radius: 2px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.wfml-sidebar.wfml-sidebar-hidden {
    display: none;
}

.wfml-sidebar-top {
    min-height: 0;
    flex-shrink: 0;
    background-color: #eeeeee;

    border-bottom: 1px solid #bbbbbb;
}

.wfml-sidebar-bottom {
    min-height: 0;
    flex-grow: 1;
    background-color: white;
    overflow: scroll;
    overflow-x: auto;
}

.wfml-sidebar-header {
    height: 23px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wfml-sidebar-left-tools {
    margin: 3px;
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;    
}

.wfml-sidebar-left-tools div {
    margin-right: 2px;
}

.wfml-sidebar-right-tools {
    margin: 3px;
    flex-grow: 1;
    flex-basis: 50%;
    text-align: right;
}

.wfml-sidebar-close {
    width: 16px;
    height: 16px;
    background: url('img/close.png') no-repeat center;
    cursor: pointer;
    display: inline-block;
}

.wfml-sidebar-content {
    min-height: 0;
}


/*===========================================================*/

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-spinner {
    background: url("img/spinner-40.gif") no-repeat center;
    background-color: white;
    opacity: 0.8;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}


/* control positioning */

.leaflet-center {
    position: relative !important;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leaflet-center .leaflet-control {
    bottom: 0;
}


.leaflet-container input {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-control-container .leaflet-control-bottomcenter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Minimap */

.leaflet-control-minimap {
    border: solid rgba(255, 255, 255, 1.0) 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 3px;
    background: #f8f8f9;
    /* transition: all .1s;*/
}

.leaflet-control-minimap a {
    background-color: rgba(255, 255, 255, 1.0);
    background-repeat: no-repeat;
    z-index: 99999;
    /* transition: all .1s; */
}

.leaflet-control-minimap a.minimized-bottomright {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 0px;
}

.leaflet-control-minimap a.minimized-topleft {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 0px;
}

.leaflet-control-minimap a.minimized-bottomleft {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    border-radius: 0px;
}

.leaflet-control-minimap a.minimized-topright {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 0px;
}

.leaflet-control-minimap-toggle-display {
    background-image: url("img/minimap-toggle.svg");
    background-size: cover;
    position: absolute;
    border-radius: 3px 0px 0px 0px;
}

.leaflet-oldie .leaflet-control-minimap-toggle-display {
    background-image: url("img/minimap-toggle.svg");
}

.leaflet-control-minimap-toggle-display-bottomright {
    bottom: 0;
    right: 0;
}

.leaflet-control-minimap-toggle-display-topleft {
    top: 0;
    left: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.leaflet-control-minimap-toggle-display-bottomleft {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.leaflet-control-minimap-toggle-display-topright {
    top: 0;
    right: 0;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

@keyframes fade {
    from {
        opacity: 0.25;
    }
}

.wfml-find-icon {
    /* background-color: red;     */
}

.wfml-find-icon .wfml-find-trans {
    position: absolute;
    transform: translate(15px,15px) rotate(-45deg);
}

.wfml-find-icon .wfml-find-animation {
    position: absolute;
    animation:spin 4s linear infinite;
}

@keyframes spin { 
    0% {
        transform: translate(15px,15px) rotate(-45deg);
    }
    100% { 
        transform: translate(15px,15px) rotate(315deg);
    } 
}

.wfml-find-icon .wfml-find-lens {
    position: absolute;
    left: -10px;
    top: -10px;

    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 20px;
}

.wfml-find-icon .wfml-find-handle {
    position: absolute;
    left: -1px;
    top: 10px;

    width: 2px;
    height: 8px;
    background-color: black;    
}

.wfml-find-icon .wfml-find-lens.wfml-find-shadow {
    position: absolute;
    left: -11px;
    top: -11px;

    width: 14px;
    height: 14px;
    border: 4px solid white;
    border-radius: 22px;
}

.wfml-find-icon .wfml-find-handle.wfml-find-shadow {
    position: absolute;
    left: -2px;
    top: 9px;

    width: 4px;
    height: 10px;
    background-color: white;    
}

.wfml-time-mode-hidden {
    display: none;
}

.wfml-time-interval-value {
    width: 5em;
    text-align: right;
}

.wfml-time-historical-time {
    width: 5ex;
}

.wfml-time-historical-start,.wfml-time-historical-end  {
    white-space: nowrap;
}


.wfml-tool-time {
    background-image: url("img/time.svg");
    background-size: cover;
}

.wfml-layerlist-live .wfml-layerlist-title:before, .wfml-layerlist-historical .wfml-layerlist-title:before {
    display: inline-block;
    margin-right: 0.5ex;
    position: relative;
    top: 1px;
    margin-right: 0.5ex;
    position: relative;
    top: 1px;
}

.wfml-layerlist-live .wfml-layerlist-title:before {
    content: url("img/present.svg");
}
.wfml-layerlist-historical .wfml-layerlist-title:before {
    content: url("img/history.svg");
}

/* Horrible hacks to make the inputs line up in a pretty way */
.wfml-time-range-present input, .wfml-time-range-present select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align:bottom;
  height: 1.25rem;
}

.wfml-time-interval-unit option {
  vertical-align:top;
}

.wfml-time-interval-value {
  padding-top: 0.25em;
  display:inline-block;
}

.wfml-time-interval-unit {
  padding-top: 0.075em;
  display:inline-block;
}

.wfml-time-range {
    padding: 0.3rem;
}

.wfml-time-historical-date, .wfml-time-interval-value {
      margin-right:1ex;
}

.wfml-time-mode {
    margin-bottom: 0.3rem;
}

.wfml-time-mode span+span {
    margin-left: 1em;
}

.wfml-time-range input:invalid {
    outline: 1px auto red;
}

.wfml-time-validity {
    color: red;
    background-color: lightyellow;
    border: 1px solid red;
    padding: 1ex;
    margin-top: 1ex;
}

.wfml-time-validity:empty {
    display: none;
}

.wfml-time-validity .wfml-time-message:before {
    content:'⚠️'
}
