.idea
*.iml
buildArchive/*
.DS_Store
node_modules/
**/.settings/org.eclipse.buildship.core.prefs
**/.project
docker/base-openjdk18-openshift/contrib/.npmrc
docker/base-openjdk18-openshift/contrib/settings.xml
.settings
.project
.classpath
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.72.0/windows_amd64/terraform-provider-aws_v3.72.0_x5.exe
