mat-tab-group {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif !important;
}

:host ::ng-deep .mat-tab-label {
  color: #003366 !important;
  font-weight: 400;
  font-size: 1rem;
}

:host ::ng-deep .mat-ink-bar {
  background-color: #003366 !important;
}

:host ::ng-deep .mat-tab-label-active {
    font-weight: 700 !important
}


::ng-deep .wildfires-tabs{

    padding-top: 1rem;
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif !important;
    .mat-tab-group {
      font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif !important;
    }
    .mat-tab-labels{
        padding-bottom: 1rem;
    }
    .mat-tab-header{
     border-bottom: none;
    }
    .mat-tab-label.mat-tab-label-active {
        border-radius: 40px;
        background-color:#1a5a96;
        color:white !important;
        opacity: 1;
        font-weight: 700;
    }
    .mat-tab-label{
        opacity: 1;
        color: #1a5a96;
        height: 36px;
        font-size: 15px;
        border-style: solid;
        border-radius: 40px;
        border-width: 1px;
        margin-left: 24px
    }
    .mat-ink-bar{
        background-color: white !important
    }
    .mat-tab-body-content{
        overflow: hidden
    }
}

.wildfire-list-toggle-title{
    border-top: 1px solid #dddddd;
    padding: 1rem;
    font-size: 15px;
}

.wildfire-checkboxs{
    font-size: 15px;
    padding: 1rem;
    .mat-checkbox {
        margin-right: 1rem;
    }
    border-bottom: 1px solid #dddddd;
}

.mat-raised-button {
    box-shadow: none;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;


    .list-view-button{
        margin-left:10px;
        border: 1px solid grey;
        border-radius: 2px;
    }

    .show-toggle {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .wildfires-note-toggle{
            padding: 0px 10px;
        }
    }
}

section {
    border: 2px solid #e9eff5;

    h1 {
        background-color: #e9eff5;
        font-size: 13px;
        font-weight: normal;
        padding: 10px 20px;
        margin: 0;
        letter-spacing: 2px;
    }

    article {
        font-size: 15px;
        padding: 5px 20px;

        a:link {
            color: #1A5A96
          }

          a:visited{
              color: #1A5A96
          }

          a:hover{
              text-decoration: none;
          }

        h2 {
            font-size: 15px;
            padding: 0;
            margin: 0;
            display: flex;

            &.orange {
                color: #b85000;

                &::before {
                    background-color: #e69138;
                    transform: rotate(45deg);
                }
            }

            &.black {
                color: #000000;

                .fire-icon-container {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color:#AA1D3E ;
                    margin-right: 8px;

                    .fire-icon{
                        width:14.4px;
                        height:18px;
                        color: #FFFFFF;
                    }
                }

                &::before {
                    width: 0;
                    content:none;
                    background-color: #000000
                }
            }

            &.red {
                color: #aa0d0d;

                &::before {
                    background-color: #FF0000;
                    border-radius: 50%;
                    border: 1px solid black;
                }
            }

            &.yellow {
                color: #6c4a00;

                &::before {
                    background-color: #ffff00;
                    border-radius: 50%;
                    border: 1px solid black;
                }
            }

            &.green {
                color: #207148 ;

                &::before {
                    background-color: #98E600;
                    border-radius: 50%;
                    border: 1px solid black;
                }
            }

            &.grey {
                color: #5c6671;

                &::before {
                    background-color: #999999;
                    border-radius: 50%;
                    border: 1px solid black;
                }
            }

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                margin-right: 10px
            }
        }
        .paragraph-format{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.incident-item{
    border-bottom: 1px solid #dddddd;
    padding-left: 1rem;
    &:hover {
      background-color: #f3f5f6;
      cursor: pointer;
    }
    .item-header{
        font-size: 1.2rem;
        font-weight: 400;
        color: #003366;
        padding: 10px 0px;
    }
    .item-row {
      display: flex;
      margin-right: 20px;
      .item-title{
        color:#036;
        font-size: 1rem;
        width: 100%;
      }
      .item-content{
        width: 100%;
        font-size:15px;
        font-weight: 400;
      }
    }
    .tags{
        padding: 1rem 0;
        .wildifire-of-note-tag{
            padding: 5px 10px;
            width: fit-content;
            border-radius: 40px;
            color: #FFF;
            background-color: #AA1D3E;
            border: 1px solid;
            margin-right: 0.5rem;
            font-size: 15px;
        }
        .stage-of-control-status-indicator{
            padding: 5px 10px;
            width: fit-content;
            border-radius: 40px;
            font-size: 15px;

            &.HOLDING{
                color: #6C4A00;
                border: 1px solid #ffd966;
            }
            &.OUT_CNTRL{
                color: #E00000;
                border: 1px solid #aa0d0d;
            }
            &.UNDR_CNTRL{
                color: #507800;
                border: 1px solid #6aa84f
            }
            &.OUT{
                color: #5C6671;
                border: 1px solid #5c6671;
            }
        }
    }
}

.circle-icon{
    display:inline-block;
    width:16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -4px;
    &.HOLDING{
        background-color: #ffd966;
        border-radius: 50%;
    }
    &.OUT_CNTRL{
        background-color: #aa0d0d;
        border-radius: 50%;
    }
    &.UNDR_CNTRL{
        background-color: #6aa84f;
        border-radius: 50%;
    }
    &.OUT{
        background-color: #5c6671;
        border-radius: 50%;
    }
}

.showing-summary{
    padding-left: 1rem;
    font-size: 15px;
    font-weight: 400;
}

.paging-control{
    text-align: center;
    .mat-icon{
        vertical-align: middle;
    }

    &.FIRST {
        color:grey;
        pointer-events: none !important
    }

    &.LAST {
        color:grey;
        pointer-events: none !important
    }
}

.paging-control:hover{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

::ng-deep .mat-progress-bar-fill {
  background-color: white;
}


::ng-deep .mat-progress-bar-fill::after {
  background-color: #1a5a9684;
}

::ng-deep .mat-progress-bar-buffer {
  background: white;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
  height: 2px !important;
  margin-left: -16px;
  width: calc(100% + 16px) !important;
}

::ng-deep .animated-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #00000069;
  background-color: #355992;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.65);
  transition: all 1s;
}
