::ng-deep .wildfires-tabs{
    .mat-tab-header{
     border-bottom: none;   
    }
    .mat-tab-label.mat-tab-label-active {
        border-radius: 40px;
        background-color:#1a5a96;
        color:white !important;
        opacity: 1;
        font-weight: 700;
    }
    .mat-tab-label{
        opacity: 1;
        color: #1a5a96;
        height: 36px;
    }
    .mat-ink-bar{
        background-color: white !important
    }
}

.mat-raised-button {
    box-shadow: none;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;

    
    .list-view-button{
        margin-left:10px;
        border: 1px solid grey;
        border-radius: 2px;
    }

    .show-toggle {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .wildfires-note-toggle{
            padding: 0px 10px;
        }
    }
}

section {
    border: 2px solid #e9eff5;

    h1 {
        background-color: #e9eff5;
        font-size: 13px;
        font-weight: normal;
        padding: 10px 20px;
        margin: 0;
        letter-spacing: 2px;
    }

    article {
        font-size: 15px;
        padding: 5px 20px;

        a:link {
            color: #1A5A96
          }
  
          a:visited{
              color: #1A5A96
          }
  
          a:hover{
              text-decoration: none;
          }

        h2 {
            font-size: 15px;
            padding: 0;
            margin: 0;
            display: flex;

            &.orange {
                color: #b85000;

                &::before {
                    background-color: #e69138;
                    transform: rotate(45deg);
                }
            }

            &.black {
                color: #000000;

                .fire-icon-container {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color:#AA1D3E ;
                    margin-right: 8px;

                    .fire-icon{
                        width:14.4px; 
                        height:18px;
                        color: #FFFFFF;
                    }
                }

                &::before {
                    width: 0;
                    content:none;
                    background-color: #000000
                }
            }

            &.red {
                color: #aa0d0d;

                &::before {
                    background-color: #aa0d0d;
                    border-radius: 50%;
                }
            }

            &.yellow {
                color: #6c4a00;

                &::before {
                    background-color: #ffd966;
                    border-radius: 50%;
                }
            }

            &.green {
                color: #6aa84f;

                &::before {
                    background-color: #207148;
                    border-radius: 50%;
                }
            }

            &.grey {
                color: #5c6671;

                &::before {
                    background-color: #5c6671;
                    border-radius: 50%;
                }
            }
            
            &::before {
                content: '';
                width: 20px;
                height: 20px;
                margin-right: 10px
            }
        }
        .paragraph-format{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}