<mat-tab-group mat-align-tabs="center" [(selectedIndex)]="tabIndex" (selectedTabChange)="onTabChanged($event);">
        <mat-tab label="Legend">
            <div class="panel-header">Wildfire Stages of Control</div>

            <section>
                <h1>LEGEND & DEFINITIONS</h1>
                <article>
                    <p class="paragraph-format">
                        The BC Wildfire Service uses stages of control to report on wildfire progress.
                    </p>
                </article>
                <article>
                    <h2 class="black">
                        <div class="fire-icon-container">
                          <img class="icon" height="24" width="24" src="/assets/images/local_fire_department.png" alt="local_fire_department">
                        </div>
                        Wildfire of Note
                    </h2>
                    <p class="paragraph-format">
                        A wildfire that is highly visible or poses a potential threat to public safety.
                    </p>
                </article>
                <article>
                    <h2 class="red">Out of Control</h2>
                    <p class="paragraph-format">
                        A wildfire that is continuing to spread and is not responding to suppression efforts.
                    </p>
                </article>
                <article>
                    <h2 class="yellow">Being Held</h2>
                    <p class="paragraph-format">
                        A  wildfire that is not likely to spread beyond predetermined boundaries under current conditions.
                    </p>
                </article>
                <article>
                    <h2 class="green">Under Control</h2>
                    <p class="paragraph-format">
                        A wildfire that will not spread any further due to suppression efforts.
                    </p>
                </article>
                <article>
                    <h2 class="grey">Out</h2>
                    <p class="paragraph-format">
                        A wildfire that is extinguished.  Suppression efforts are complete.
                    </p>
                </article>
            </section>
            <section>
                <h1>MORE INFORMATION</h1>
                <article>
                    <p>
                        <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/management-strategies/stages-of-control" target="_blank" rel="noopener">Wildfire Stages of Control</a>
                    </p>
                    <p>
                        <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/plan-prepare-stay-informed" target="_blank" rel="noopener">Plan, Prepare, Stay Informed</a>
                    </p>
                </article>
            </section>
        </mat-tab>
    <mat-tab label="Wildfires List">
        <div class="wildfire-list-toggle-title" style="display:flex">
            <div style="width: 80%">Choose Wildfires to display</div>
            <div>{{collection? collection.totalRowCount: 0}} Results</div>
        </div>
        <div class="wildfire-checkboxs">
            <mat-checkbox aria-label="active" (change)="stageOfControlChanges($event)" [(ngModel)]="activeWildfiresInd">Active Wildfires</mat-checkbox>
            <mat-checkbox aria-label="out" (change)="stageOfControlChanges($event)" [(ngModel)]="outWildfiresInd">Out Wildfires</mat-checkbox>
            <mat-checkbox aria-label="new" (change)="stageOfControlChanges($event)" [(ngModel)]="newFires">New Wildfires</mat-checkbox>
            <mat-checkbox aria-label="fire-of-note" (change)="stageOfControlChanges($event)" [(ngModel)]="wildfiresOfNoteInd">Wildfires of Note</mat-checkbox>
        </div>
        <div *ngIf="loading">
          <mat-spinner style="margin: auto;" *ngIf="!loaded" [diameter]="50"></mat-spinner>
        </div>
        <div *ngIf="!loading">
          <div *ngIf="collectionData">
            <div class = "incident-item" *ngFor="let incident of collectionData" (click)="openPreview(incident)" (mouseenter)="onPanelMouseEnter(incident)" (mouseleave)="onPanelMouseExit(incident)">
              <mat-progress-bar [id]="incident.incidentName" mode="determinate" [value]="progressValues.get(incident.incidentName)"></mat-progress-bar>
              <div class="item-header" style="color: #1a5a96">{{incident.incidentName}}
                <span #el style="cursor: pointer;" (click)="onWatchlist(incident) ? removeFromWatchlist(incident) : addToWatchlist(incident)" (click)="onClickBookmark($event)">
                    <mat-icon style="color:#1A5A96; vertical-align: middle;">{{onWatchlist(incident) ? 'bookmark' : 'bookmark_border'}}</mat-icon>
                </span>
                </div>
                <div class="item-row">
                    <span class="item-title">Last Updated: </span>
                    <span class="item-content">{{convertToDateWithDayOfWeek(incident.newsCreatedTimestamp)}}</span>
                </div>
                <div class="item-row">
                    <span class="item-title">Fire Centre: </span>
                    <span class="item-content">{{convertToFireCentreDescription(incident.fireCentreName || incident.fireCentre || incident.fireCentreCode)}}</span>
                </div>
                <div class="item-row">
                    <span class="item-title">Distance from My Location: </span>
                    <span class="item-content">{{calculateDistance(Number(incident.latitude), Number(incident.longitude))}} km</span>
                </div>
                <div class="tags">
                    <span *ngIf="incident.fireOfNoteInd" class="wildifire-of-note-tag">
                        <span class='material-icons-outlined fire-icon' style="vertical-align:middle">local_fire_department</span>
                        Wildfire of Note
                    </span>
                    <span class="stage-of-control-status-indicator {{incident.stageOfControlCode}}">
                        <span class="circle-icon {{incident.stageOfControlCode}}"></span>
                        {{convertToStageOfControlDescription(incident.stageOfControlCode)}}
                    </span>
                </div>
            </div>
        </div>
        <div class="bottom-summary flex-y-fixed">
          <div class="showing-summary" style="flex: 75%;">{{summaryString}}</div>
          <span class="paging-control {{isFirstPage}}" (click)="onPageChange(-1)"><mat-icon>chevron_left</mat-icon>Back</span>
          <span class="paging-control {{isLastPage}}" (click)="onPageChange(0)">Next<mat-icon>chevron_right</mat-icon></span>
        </div>
      </div>
    </mat-tab>

</mat-tab-group>
<ng-template #listIdentifyContainer></ng-template>
