<div class="side-panel-container">
    <div class="side-panel-title-section">
        <div class="side-panel-link-button side-panel-link-button-left" *ngIf="showBackButton">
            <button mat-button (click)="titleBackClicked()" matTooltip="Go Back" [matTooltipShowDelay]="TOOLTIP_DELAY"><mat-icon>arrow_back</mat-icon></button>
        </div>

        <h3 class="side-panel-title">{{titleText}}</h3>

        <div [ngClass]="getTitleIconClasses()" *ngIf="linkIcon !== undefined">
            <button mat-button (click)="titleLinkClicked()" [matTooltip]="linkTitle" [matTooltipShowDelay]="TOOLTIP_DELAY"><mat-icon>{{linkIcon}}</mat-icon></button>
        </div>
    </div>
    <wf1-location-toolbar [location]="selectedLocation" (locationSelect)="locationSelected($event)"></wf1-location-toolbar>
    <div class="side-panel-with-toolbar-content">
        <div class="interior-panel">
            <ng-content></ng-content>
        </div>
    </div>
</div>
