<content-card-container class="at-the-reception-centre-card">
  <div class="header">
    <span class="title">At the Reception Centre</span>
    <span class="text">When you arrive at a reception centre, there will be Emergency Support Service responders who will assess your needs.</span>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="content-title">What support will be available?</div>
      <div class="content-list">
        <icon-list-item iconPath="/assets/images/svg-icons/information.svg" text="Information about the emergency"></icon-list-item>
        <icon-list-item iconPath="/assets/images/svg-icons/supplies.svg" text="Referrals for food, clothing and shelter suppliers"></icon-list-item>
        <icon-list-item iconPath="/assets/images/svg-icons/family.svg" text="Help with finding and re-uniting with family"></icon-list-item>
        <icon-list-item iconPath="/assets/images/svg-icons/advice.svg" text="Advice on recovery"></icon-list-item>
        <span class="content-text">Intake can take time and you may need to wait in line, dress for the weather if possible.</span>
      </div>
    </div>

    <div class="content">
      <div class="content-title">Evacuee Registration and Assistance</div>
      <div class="content-list">
        <span class="content-text">If you have access to a mobile phone, you can register in advance to help speed up the process at a reception centre by visiting the Evacuee Registration and Assistance web page.</span>
        <wfnews-button class="max-width-310" [componentStyle]="defaultSlimButtonStyle" label="Evacuee Registration and Assistance" (buttonClicked)="directToLink()"></wfnews-button>
      </div>
    </div>
  </div>
</content-card-container>

