<div class="legend-panel">
  <div class="legend-panel-title">Closed Recreational Sites</div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Closed Recreational Site" class="legend-accordion-icon" src="/assets/images/svg-icons/closed-rec-site-legend.svg" >
          Closed Recreational Site
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">BC Recreational Sites and Trails sites that are currently closed. Some closures may not be caused by Wildfire activities.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

