.contact-us-core {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  .content-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .content-text {
      color: var(--Grey-5B, #5b5b5b);

      /* 16 Reg */
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }

  .button-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
}

.max-width-164 {
  max-width: 164px;
}