<div class="dialog-container">
  <h1 mat-dialog-title>Edit Map Title</h1>
  <div class="dialog-content" mat-dialog-content>
    <input class="ng-hide" id="input-file-id" multiple type="file" />
    <label for="input-file-id" class="md-button md-raised md-primary">Browse</label>
    <mat-form-field class="item-full-width" appearance="standard" floatLabel="always">
      <mat-label class="label">Title</mat-label>
      <input matInput type="text" placeholder="Title" [(ngModel)]="data.attachment.attachmentTitle" [value]="data.attachment.attachmentTitle" required>
    </mat-form-field>
  </div>
  <div class="dialog-actions" mat-dialog-actions>
  	<button mat-raised-button color="primary" [mat-dialog-close]="true">Save</button>
	  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  </div>
</div>
