.error-dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;

  h1 {
    color: #ff4545;
    font-size: large;
    text-align: center;
  }
}
