<wf-application id="main-app" class="wfnews-application"
    [ngClass]="'orientation-' + orientation"
    [config]="applicationConfig"
    [(state)]="applicationState"
>
<div #topAnchor class="top"></div>
<div *ngIf="redirectToPublicMobile() && isIncidentsPage(); else mainPage">
  <router-outlet></router-outlet>
</div>
<ng-template #mainPage>
    <div class="header-wrapper">
      <wf-header class="hide" [config]="applicationConfig" [(state)]="applicationState" [useAppLogo]="false"
        [useSystemAndUser]="isAdminPage()" [useSupportLink]="isAdminPage()" [useMenu]="true"
        [useLogoutButton]="isAdminPage()" (bcLogoClick)="navigateToBcWebsite()" (logoutClick)="logOutCurrentUser()"
        (supportLinkClick)="navigateToBcSupport()"></wf-header>

      <div *ngIf="!isAdminPage()" class="header-row">
        <div>
          <button mat-button [matMenuTriggerFor]="menu"
            class="disclaimer-dropdown">{{disclaimerText()}}<mat-icon>expand_more</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openLink('Disclaimer')">
              Disclaimer
            </button>
            <button mat-menu-item (click)="openLink('Privacy')">
              Privacy
            </button>
            <button mat-menu-item (click)="openLink('Copyright')">
              Copyright
            </button>
          </mat-menu>
        </div>
      </div>
    </div>

    <wf-menu-bar
      id="menu-bar"
      class="hide"
      [menuItems]="appMenu"
      [config]="applicationConfig"
      [(state)]="applicationState"
    ></wf-menu-bar>
    <router-outlet></router-outlet>
    <div class="mobile-navigation-bar" id="mobile-navigation-bar">
        <ul>
          <li (click)="setActive('dashboard')">
            <img alt="dashboard" *ngIf="router.url === '/dashboard'; else dashboardOther" src="/assets/images/svg-icons/dashboard-highlight.svg" width="41" height="29" >
            <ng-template #dashboardOther>
              <img alt="dashboard" src="/assets/images/svg-icons/dashboard.svg" width="41" height="29" >
            </ng-template>
            <span [class]="router.url === '/dashboard' ? 'text-active' : ''">Dashboard</span>
          </li>
          <li (click)="setActive('map')">
            <img alt="map" *ngIf="router.url === '/map'; else mapOther" src="/assets/images/svg-icons/map-nav-highlight.svg" width="41" height="29" >
            <ng-template #mapOther>
              <img alt="map" src="/assets/images/svg-icons/map-nav.svg" width="41" height="29" >
            </ng-template>
            <span [class]="router.url === '/map' ? 'text-active' : ''">Map</span>
          </li>
          <li (click)="setActive('saved')">
            <img alt="saved" *ngIf="router.url === '/saved'; else savedOther" src="/assets/images/svg-icons/saved-highlight.svg" width="41" height="29" >
            <ng-template #savedOther>
              <img alt="saved" src="/assets/images/svg-icons/saved.svg" width="41" height="29" >
            </ng-template>
            <span [class]="router.url === '/saved' ? 'text-active' : ''">Saved</span>
          </li>
          <li (click)="setActive('reportOfFire')">
            <img alt="report" *ngIf="router.url === '/reportOfFire'; else reportOfFireOther" src="/assets/images/svg-icons/rof-nav-highlight.svg" width="41" height="29" >
            <ng-template #reportOfFireOther>
              <img alt="report" src="/assets/images/svg-icons/rof-nav.svg" width="41" height="29" >
            </ng-template>
            <span [class]="router.url === '/reportOfFire' ? 'text-active' : ''">Report</span>
          </li>
          <li (click)="setActive('more')">
            <img alt="more" *ngIf="router.url === '/more'; else moreOther" src="/assets/images/svg-icons/more-highlight.svg" width="41" height="29" >
            <ng-template #moreOther>
              <img alt="more" src="/assets/images/svg-icons/more.svg" width="41" height="29" >
            </ng-template>
            <span [class]="router.url === '/more' ? 'text-active' : ''">More</span>
          </li>
        </ul>
    </div>
</ng-template>
</wf-application>
