::ng-deep .wfnews-application {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	height: 100%;
}

.header-row {
	height: 130px;
}

.main-row {
	height: calc(100% - 130px);
	max-height: calc(100% - 130px);
	flex-flow: row nowrap;
	position: relative;
}

.sidebar-column {
	height: 100%;
	min-width: 330px;
	width: 330px;
	z-index: 999;
}

.map-column {
	flex: 1;
	height: 100%;
	&.fill{
		width: 100vw;
	}
}

.closed {
	width: 0 !important;
	min-width: 0;
	flex: 0 0 1em;
	visibility: hidden;
}

.unauthorized {
	padding: 50px;
}

.login {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	font-size: 5em;
	margin: 50px;
}

.wf-router-container {
	max-width: 440px;
	width: 100%;
    height: 100%;
}

.wf1-toolbar-spacer {
  flex: 1 1 auto;
}

// toolip style customization
::ng-deep .mdc-tooltip__surface {
  color: #000023 !important;
  background-color: #F8F8F8 !important;
  -moz-box-shadow: 2px 2px 11px #666;
  -webkit-box-shadow: 2px 2px 11px #666;
}

.incident-form {
  display: flex;
  flex-wrap: wrap;
  .size-quarter {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: .5rem 1rem;
  }

  .size-third {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: .5rem 1rem;
  }

  .size-half {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: .5rem 1rem;
  }

  .size-two-thirds {
    flex: 0 0 66.67%;
    box-sizing: border-box;
    padding: .5rem 1rem;
  }

  .size-full {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: .25rem 1rem 0;
  }

  .location-controls {
    display: flex;

    mat-form-field {
      flex: 1 1 auto;
      padding-right: 1rem;
    }

    .location-buttons {
      display: flex;

      button.mat-mdc-button {
        flex: 0 0 2rem;
        min-width: 2rem;
        width: 2rem;
        min-height: 2rem;
        height: 2rem;
        padding: 0;

        mat-icon {
          min-width: 2rem;
          width: 2rem;
          min-height: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .radio-checkbox-group {
    position: relative;

    mat-label {
      position: absolute;
      top: 0;
      left: 1rem;
      font-size: x-small;
    }

    mat-radio-group,
    .checkbox-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-bottom: .5rem;
      mat-radio-button,
      mat-checkbox {
        box-sizing: border-box;
        padding-top: 1rem;
        padding-right: 1rem;
      }

      .short-label {
        flex: 0 0 6rem;
        max-width: 6rem;
      }

      .long-label {
        flex: 0 0 7rem;
        max-width: 7rem;
      }
    }
  }

  .submit-controls {
    display: flex;
    justify-content: flex-end;
    // padding-right: 5rem;
    .flex-spacer {
      flex: 1 1 auto;
    }
  }
}


.pm-panel {
  padding: 15px;
  margin-top: calc(50vh - 100px);
  .upper-half {
      border-bottom: 1px solid #dddddd;
      display: flex;
      .pm-log{
          width: 15% ;
      }
      .app-title {
          padding-left: 10px;
          width: 80%;
          h4{
              margin:0 !important;
          }
      }
  }
  .bottom-half {
      padding-top: 1rem;
  }
  .download-button {
      background-color: #1A5A96;
      border: solid 1px #1A5A96;
      color: #FFFFFF;
      padding: 8px 16px;
      border-radius: 4px;
  }
}

::ng-deep .app-logo-and-title {
  flex-grow: 1;
  justify-content: initial !important;
  display: flex;
  align-items: flex-end;

  .mat-headline-6 {
      font-size: 1.4rem;
      color: white;
      white-space: nowrap;
      margin-left: 0.4rem;
      margin-bottom: 0.575rem;
  }
}

::ng-deep .menu {
  display: none !important;
}

::ng-deep .system-and-user-info {
  display: flex !important;
}

.mobile-navigation-bar {
  display: none;
}

@media screen and (max-width: 768px) {
  ::ng-deep .menu {
    display: none !important;
    margin-left: auto;
  }
  ::ng-deep .wfnews-application {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .mobile-navigation-bar{
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    z-index: 1000000;
    width: 100%;
    background-color: #FCFCFC;
    height: 70px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
    padding-top: 8px;
    padding-bottom: 12px;
    display: block;
  }

  .mobile-navigation-bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 8px;
    margin: 0;
  }

  .mobile-navigation-bar li {
    mat-icon{
      padding: 4px 6px;
    }
    text-align: center;
    color: #242424;
    font-family: 'Noto Sans', Arial, 'sans serif';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    display: grid;
  }

  .icon{
    height: 24px;
    width: 24px;
    padding: 5px 10px;
  }

  .active {
    color: white;
    fill: white;
    background-color: #123262;; /* Set the background color to blue for active items */
    border-radius: 8.832px;
  }

  .hide {
    display: none;
  }
}

@media print {
  wf-menu-bar{
    display: none !important;
  }
  wf-footer{
    display: none !important;
  }
}

.header-row {
  position: fixed;
  top: 35px;
  right: 40px;

  .disclaimer-dropdown{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 36px;
    color: var(--blues-bcws-blue-6, #F5F6F9);
    font-family: "BC Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
