@import "../full-details.component.scss";

.image-size-cat1-cat2 {
    margin-bottom: 12px;
    max-width: 148px;
}

.image-size-cat3 {
    margin-bottom: 12px;
    max-width: 148px;
    margin-left: 12px;    
}

