
//Dont comment this out, its to make sure it doesnt spazz out on certain ios devices
::ng-deep .twitter-timeline {
  width: 100vw !important;
}

.twitter-timeline-container{
  //margin: 0 auto !important; 
  //padding-top: 10px;
  //max-width: 500px;
}


.latest-news-page-header {
  font-size: 8vh;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Impact;
  font-weight: bold;
  color: white;
  background-color: #1da1f2;
  border-bottom: 2px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}


