<div class="legend-panel">
  <div class="legend-panel-title">Smoke Forecast</div>
  <div class="legend-layer-description">
    These numbers indicate how much fine particulate matter from smoke is in the air, with higher numbers meaning more smoke.
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="1 - 10 µg/m³" class="legend-accordion-icon" src="/assets/images/svg-icons/10ug-legend.svg" >
      1 - 10 µg/m³
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="10 - 28 µg/m³" class="legend-accordion-icon" src="/assets/images/svg-icons/28ug-legend.svg" >
      10 - 28 µg/m³
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="28 - 60 µg/m³" class="legend-accordion-icon" src="/assets/images/svg-icons/60ug-legend.svg" >
      28 - 60 µg/m³
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="60 - 120 µg/m³" class="legend-accordion-icon" src="/assets/images/svg-icons/120ug-legend.svg" >
      60 - 120 µg/m³
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="120 - 250 µg/m³" class="legend-accordion-icon" src="/assets/images/svg-icons/250ug-legend.svg" >
      120 - 250 µg/m³
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="250+ µg/m³" class="legend-accordion-icon" src="/assets/images/svg-icons/250+ug-legend.svg" >
      250+ µg/m³
    </div>
  </div>
  <div class="spacer"></div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          How is smoke measured
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">The unit of measure for smoke is "micrograms of PM2.5 per cubic meter (µg/m³)" at ground level. PM2.5 poses the highest risk to health from smoke, and the Canadian Council of Ministers of the Environment (CCME) has set the following standards for exposure to this carcinogen:</p>
      <ul class="legend-accordion-content">
        <li>27 µg/m³ (daily average),</li>
        <li>8.8 µg/m³ (annual mean).</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>

