<div class="legend-panel">
  <div class="legend-panel-title">Smoke Forecast</div>
  <div class="legend-layer-description">
    These numbers indicate how much fine particulate matter from smoke is in the air, with higher numbers meaning more
    smoke. Data provided by Environment and Climate Change Canada (ECCC).
  </div>
  <div class="smoke-gradient-container-horizontal">
    <div class="gradient-header">
      <span class="gradient-title">PM2.5 (µg/m³)</span>
    </div>
    <div class="gradient-bar-horizontal"></div>
    <div class="gradient-labels-horizontal">
      <div class="label-item">
        <span class="tick-mark"></span>
        <span class="label-text">1</span>
      </div>
      <div class="label-item">
        <span class="tick-mark"></span>
        <span class="label-text">10</span>
      </div>
      <div class="label-item">
        <span class="tick-mark"></span>
        <span class="label-text">25</span>
      </div>
      <div class="label-item">
        <span class="tick-mark"></span>
        <span class="label-text">50</span>
      </div>
      <div class="label-item">
        <span class="tick-mark"></span>
        <span class="label-text">100</span>
      </div>
      <div class="label-item">
        <span class="tick-mark"></span>
        <span class="label-text">250+</span>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          How is smoke measured
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">The unit of measure for smoke is "micrograms of PM2.5 per cubic meter (µg/m³)"
        at ground level. PM2.5 poses the highest risk to health from smoke, and the Canadian Council of Ministers of the
        Environment (CCME) has set the following standards for exposure to this carcinogen:</p>
      <ul class="legend-accordion-content">
        <li>27 µg/m³ (daily average),</li>
        <li>8.8 µg/m³ (annual mean).</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>