<div>
    <div class="draggable-panel" *ngIf="showPanel && incidentRefs && incidentRefs.length > 1">
        <div class="panel-container" >
            <div class="draggable-panel-title">
                {{incidentRefs.length}} Results <mat-icon svgIcon="cancel" (click)="closePanel()"></mat-icon>
            </div>
            <div *ngIf="filteredWildfires && filteredWildfires.length">
                <div class="criteria-title">Wildfires</div>
                <div *ngFor="let wildfire of filteredWildfires" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(wildfire)">
                        <div class="left-content">
                            <img *ngIf="wildfire.layerId === 'active-wildfires-fire-of-note'" class="incident-icon" height="24" width="24" src="/assets/images/local_fire_department.png"/>
                            <span class="circle-icon {{wildfire.layerId === 'fire-perimeters' ? convertFirePerimeterFireStatus(wildfire.properties.FIRE_STATUS) : wildfire.layerId }}"></span>
                            {{displayWildfireName(wildfire)}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredFirePerimeters && filteredFirePerimeters.length">
                <div class="criteria-title">Fire Perimeters</div>
                <div *ngFor="let firePerimeter of filteredFirePerimeters" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(firePerimeter)">
                        <div class="left-content">
                        {{firePerimeter.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredEvacs && filteredEvacs.length">
                <div class="criteria-title">Evacuations</div>
                <div *ngFor="let evac of filteredEvacs" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(evac)">
                        <div class="left-content">
                            <img *ngIf="evac.properties.ORDER_ALERT_STATUS === 'Alert'" class="incident-icon" height="20" width="20" src="/assets/images/svg-icons/evacuation-alert.svg" alt="Order">
                            <img *ngIf="evac.properties.ORDER_ALERT_STATUS === 'Order'" class="incident-icon" height="20" width="20" src="/assets/images/svg-icons/evacuation-order.svg" alt="Order">

                        Evacuation {{evac.properties.ORDER_ALERT_STATUS}} for {{evac.properties.ORDER_ALERT_NAME}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredAreaRestrictions && filteredAreaRestrictions.length">
                <div class="criteria-title">Area Restrictions</div>
                <div *ngFor="let areaRestriction of filteredAreaRestrictions" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(areaRestriction)">
                        <div class="left-content">
                            <mat-icon class="incident-icon" svgIcon="area-restriction" alt="Area Restrictions"></mat-icon>
                        {{areaRestriction.properties.NAME}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredBansAndProhibitions && filteredBansAndProhibitions.length">
                <div class="criteria-title">Fire Bans and Prohibitions</div>
                <div *ngFor="let ban of filteredBansAndProhibitions" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(ban)">
                        <div class="left-content">
                            <mat-icon class="incident-icon" svgIcon="ban" alt="Ban"></mat-icon>
                        Fire Ban on {{ban.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredDangerRatings && filteredDangerRatings.length">
                <div class="criteria-title">Fire Danger Rating</div>
                <div *ngFor="let danger of filteredDangerRatings" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(danger)">
                        <div class="left-content">
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'Extreme'">
                                <mat-icon class="incident-icon" svgIcon="fire-danger-extreme" alt="Fire Danger"></mat-icon>
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'High'">
                                <mat-icon class="incident-icon" svgIcon="fire-danger-high" alt="Fire Danger"></mat-icon>
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'Moderate'">
                                <mat-icon class="incident-icon" svgIcon="fire-danger-moderate" alt="Fire Danger"></mat-icon>
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'Low'">
                                <mat-icon class="incident-icon" svgIcon="fire-danger-low" alt="Fire Danger"></mat-icon>
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'Very Low'">
                                <mat-icon class="incident-icon" svgIcon="fire-danger-very-low" alt="Fire Danger"></mat-icon>
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredRoadEvents && filteredRoadEvents.length">
                <div class="criteria-title">Road Events</div>
                <div *ngFor="let event of filteredRoadEvents" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(event)">
                        <div class="left-content">
                            <mat-icon class="incident-icon" svgIcon="road-event" alt="Ban"></mat-icon>
                            {{event.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredClosedRecreationSites && filteredClosedRecreationSites.length">
                <div class="criteria-title">Closed Recreation Sites</div>
                <div *ngFor="let closedRecreationSite of filteredClosedRecreationSites" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(closedRecreationSite)">
                        <div class="left-content">
                            <mat-icon class="incident-icon" svgIcon="closed-recreation-site" alt="closed-recreation-site"></mat-icon>
                            {{closedRecreationSite.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredForestServiceRoads && filteredForestServiceRoads.length">
                <div class="criteria-title">Forest Service Roads</div>
                <div *ngFor="let forestServiceRoad of filteredForestServiceRoads" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(forestServiceRoad)">
                        <div class="left-content">
                            {{forestServiceRoad.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredProtectedLandsAccessRestrictions && filteredProtectedLandsAccessRestrictions.length">
                <div class="criteria-title">Protected Lands Access Restrictions</div>
                <div *ngFor="let protectedLandsAccessRestriction of filteredProtectedLandsAccessRestrictions" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(protectedLandsAccessRestriction)">
                        <div class="left-content">
                            {{protectedLandsAccessRestriction.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredRegionalDistricts && filteredRegionalDistricts.length">
                <div class="criteria-title">Regional Districts</div>
                <div *ngFor="let regionalDistrict of filteredRegionalDistricts" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(regionalDistrict)">
                        <div class="left-content">
                            <mat-icon class="incident-icon" svgIcon="regional-districts" alt="regional-districts"></mat-icon>
                            {{regionalDistrict.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredMunicipalities && filteredMunicipalities.length">
                <div class="criteria-title">Municipalities</div>
                <div *ngFor="let municipality of filteredMunicipalities" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(municipality)">
                        <div class="left-content">
                            <mat-icon class="incident-icon" svgIcon="regional-districts" alt="municipalities"></mat-icon>
                            {{municipality.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredFirstNationsTreatyLand && filteredFirstNationsTreatyLand.length">
                <div class="criteria-title">First Nations Treaty Land</div>
                <div *ngFor="let firstNationsTreatyLand of filteredFirstNationsTreatyLand" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(firstNationsTreatyLand)">
                        <div class="left-content">
                            <mat-icon class="incident-icon" svgIcon="brown-square" alt="first-nations-treaty-land"></mat-icon>
                            {{firstNationsTreatyLand.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredIndianReserve && filteredIndianReserve.length">
                <div class="criteria-title">Indian Reserve</div>
                <div *ngFor="let indianReserve of filteredIndianReserve" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(indianReserve)">
                        <div class="left-content">
                            <mat-icon class="incident-icon" svgIcon="indian-reserve" alt="indian-reserve"></mat-icon>
                            {{indianReserve.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div  class="draggable-panel" *ngIf="showPanel && identifyItem && identifyIncident">
        <div class="panel-container" >
            <div class="draggable-panel-title">
                <mat-icon svgIcon="back-icon-panel" *ngIf="allowBackToIncidentsPanel" (click) = "backToIdentifyPanel()"></mat-icon>
                <mat-icon  *ngIf="!allowBackToIncidentsPanel"></mat-icon>

                <span class="preview-title">
                    <ng-container *ngIf="identifyItem.layerId === 'active-wildfires-fire-of-note'; else fireIcon">
                        <img class="incident-icon" height="24" width="24" src="/assets/images/local_fire_department.png"/>
                    </ng-container>
                    <ng-template #fireIcon>
                        <mat-icon class="incident-icon" svgIcon='report'></mat-icon>
                    </ng-template>
                    {{displayItemTitle(identifyItem)}} 
                </span>
                <mat-icon svgIcon="cancel" (click)="closePanel()"></mat-icon>
            </div>
            <div class="identify-card">
                <div class="identify-card-title" *ngIf="identifyIncident">{{identifyIncident.incidentName}}</div>
                <div class="identify-card-item">
                    <img height="20" width="20" src="/assets/images/svg-icons/location-pin.svg" class="incident-icon" >
                    {{identifyIncident.fireCentreName}}
                </div>
                <div class="identify-card-item">
                    <mat-icon class="incident-icon" svgIcon='calendar'></mat-icon>
                    Discovered on {{convertTimeStamp(identifyIncident.discoveryDate)}}
                </div>
                <div class="identify-card-item">
                    <span class="circle-icon {{getStageOfControlIcon(identifyIncident.stageOfControlCode)}}"></span>
                    {{getStageOfControlLabel(identifyIncident.stageOfControlCode)}}
                </div>
                <div class="identify-card-description" style="padding:0;" *ngIf="identifyItem.layerId === 'active-wildfires-fire-of-note'">
                    This wildfire is highly visible or poses a potential threat to public safety.
                </div>
                <div class="identify-card-description">
                    {{getDescription(identifyIncident.stageOfControlCode)}}
                </div>
            </div>
            <div class="button-row">
                <button mat-flat-button class="mobile-button" (click)="zoomIn()" >
                    <mat-icon class="incident-icon" svgIcon='zoom-in'></mat-icon>
                    Zoom to
                </button>
                <button mat-flat-button class="mobile-button-primary" (click)="enterFullDetail()">
                    Full Details
                </button>
            </div>
        </div>
    </div>

    <div  class="draggable-panel" *ngIf="showPanel && identifyItem && identifyItem.layerId === 'evacuation-orders-and-alerts-wms' ">
        <div class="panel-container" >
            <div class="draggable-panel-title">
                <mat-icon svgIcon="back-icon-panel" *ngIf="allowBackToIncidentsPanel" (click) = "backToIdentifyPanel()"></mat-icon>
                <mat-icon  *ngIf="!allowBackToIncidentsPanel"></mat-icon>

                <span class="preview-title">
                    <span *ngIf="identifyItem.properties.ORDER_ALERT_STATUS === 'Alert'" class="preview-title">
                        <img class="incident-icon" height="24" width="24" src="/assets/images/svg-icons/evacuation-alert.svg" alt="Alert">
                        Evacuation Alert
                    </span>
                    <span *ngIf="identifyItem.properties.ORDER_ALERT_STATUS === 'Order'" class="preview-title">
                        <img class="incident-icon" height="24" width="24" src="/assets/images/svg-icons/evacuation-order.svg" alt="Order">
                        Evacuation Order
                    </span>
                </span>
                <mat-icon svgIcon="cancel" (click)="closePanel()"></mat-icon>
            </div>
            <div class="identify-card">
                <div class="identify-card-title" *ngIf="identifyItem.properties.EVENT_NAME">{{displayEvacTitle(identifyItem)}}</div>
                <div class="identify-card-item">
                    <mat-icon class="incident-icon" svgIcon='calendar'></mat-icon>
                    Issued on {{convertIrregularTimeStamp(identifyItem.properties.DATE_MODIFIED)}} PST
                </div>
                <div class="identify-card-item">
                    <mat-icon class="incident-icon" svgIcon='agency'></mat-icon>
                    Issued by {{identifyItem.properties.ISSUING_AGENCY}}
                </div>
                <div class="identify-card-description" *ngIf="identifyItem.properties.ORDER_ALERT_STATUS === 'Alert'">
                    An evacuation alert is a warning about a potential threat to life and/or property. It is intended to give you time to be ready for a possible evacuation.
                </div>
                <div class="identify-card-description" *ngIf="identifyItem.properties.ORDER_ALERT_STATUS === 'Order'">
                    People in this area are at risk and should leave the area immediately. Failing to leave puts you and others at risk.
                </div>
            </div>
            <div class="button-row">
                <button mat-flat-button class="mobile-button" (click)="zoomIn()" >
                    <mat-icon class="incident-icon" svgIcon='zoom-in'></mat-icon>
                    Zoom to
                </button>
                <button mat-flat-button class="mobile-button-primary" (click)="enterFullDetail()">
                    Full Details
                </button>
            </div>
        </div>
    </div>
<!-- preview panel: area-restrictions, bans-and-prohibitions, closed recreation sites, drive-bc-active-events-->
    <div  class="draggable-panel" *ngIf="shareableLayers()">
        <div class="panel-container" >
            <div class="draggable-panel-title">
                <mat-icon svgIcon="back-icon-panel" *ngIf="allowBackToIncidentsPanel" (click) = "backToIdentifyPanel()"></mat-icon>
                <mat-icon  *ngIf="!allowBackToIncidentsPanel"></mat-icon>

                <span class="preview-title" *ngIf="identifyItem.layerId === 'area-restrictions'">
                    <mat-icon class="incident-icon" svgIcon="area-restriction" alt="Area Restrictions"></mat-icon>
                    Area Restrictions
                </span>
                <span class="preview-title" *ngIf="identifyItem.layerId.includes('bans-and-prohibitions')">
                    <mat-icon class="incident-icon" svgIcon="ban" alt="Ban"></mat-icon>
                    Fire Bans
                </span>

                <span class="preview-title" *ngIf="identifyItem.layerId === 'closed-recreation-sites'">
                    <mat-icon class="incident-icon" svgIcon="carbon-layer" alt="closed-recreation-site"></mat-icon>
                    Closed Recreational Sites
                </span>
                <span class="preview-title" *ngIf="identifyItem.layerId === 'drive-bc-active-events'">
                    <mat-icon class="incident-icon" svgIcon="road-event" alt="road-event"></mat-icon>
                    Road Events
                </span>

                <mat-icon svgIcon="cancel" (click)="closePanel()"></mat-icon>
            </div>
            <div class="identify-card">
                <div class="identify-card-title" *ngIf="identifyItem.layerId === 'area-restrictions'">{{identifyItem.properties.NAME}}</div>
                <div class="identify-card-title" *ngIf="identifyItem.layerId.includes('bans-and-prohibitions')">Fire Ban on {{identifyItem.title}}</div>
                <div class="identify-card-title" *ngIf="identifyItem.layerId === 'closed-recreation-sites'">{{identifyItem.properties.PROJECT_NAME}}</div>
                <div class="identify-card-title" *ngIf="identifyItem.layerId === 'drive-bc-active-events'">{{identifyItem.title}}</div>


                <div *ngIf="identifyItem.layerId === 'drive-bc-active-events'" class="identify-card-item">
                    {{identifyItem.properties.SEVERITY[0].toUpperCase() + identifyItem.properties.SEVERITY.slice(1).toLowerCase()}} Severity
                </div>
                <div class="identify-card-item">
                    <img *ngIf="identifyItem.layerId !== 'drive-bc-active-events'" height="20" width="20" src="/assets/images/svg-icons/location-pin.svg" class="incident-icon" >
                    <mat-icon *ngIf="identifyItem.layerId === 'drive-bc-active-events'" class="incident-icon" svgIcon='agency'></mat-icon>
                    <span *ngIf="identifyItem.layerId === 'area-restrictions' || identifyItem.layerId.includes('bans-and-prohibitions')">{{identifyItem.properties.FIRE_CENTRE_NAME ? identifyItem.properties.FIRE_CENTRE_NAME + ' Fire Centre' : null}}</span>
                    <span *ngIf="identifyItem.layerId === 'closed-recreation-sites'">{{identifyItem.properties.RECREATION_DISTRICT_NAME}}</span>
                    <span *ngIf="identifyItem.layerId === 'drive-bc-active-events'">{{identifyItem.properties.AREA}}</span>
                    
                </div>
                <div class="identify-card-item">
                    <mat-icon class="incident-icon" svgIcon='calendar'></mat-icon>
                    <span *ngIf="identifyItem.layerId === 'area-restrictions' || identifyItem.layerId.includes('bans-and-prohibitions')">Issued on {{convertIrregularTimeStamp(identifyItem.properties.ACCESS_STATUS_EFFECTIVE_DATE)}}</span>
                    <span *ngIf="identifyItem.layerId === 'closed-recreation-sites'">Closed on {{convertTimeStamp(identifyItem.properties.CLOSURE_DATE)}}</span>
                    <span *ngIf="identifyItem.layerId === 'drive-bc-active-events'">Created on {{convertTimeStamp(identifyItem.properties.CREATED_TIME)}}</span>

                </div>
                <div class="identify-card-description">
                    <span *ngIf="identifyItem.layerId === 'area-restrictions'">Access to this area is prohibited in order to limit the risk of a fire, to address a public safety concern or to avoid interference with fire control.</span>
                    <span *ngIf="identifyItem.layerId.includes('bans-and-prohibitions')">Decisions on when and where to implement fire bans and restrictions are made by B.C.’s regional fire centres.</span>
                    <span *ngIf="identifyItem.layerId === 'closed-recreation-sites'">The Recreation Site/Trail is closed due to an active wildfire in the area. Find further information at www.bcwildfire.ca</span>
                    <span *ngIf="identifyItem.layerId === 'drive-bc-active-events'">{{identifyItem.properties.DESCRIPTION}}</span>

                </div>
            </div>
            <div class="button-row">
                <button mat-flat-button class="mobile-button" (click)="zoomIn()" >
                    <mat-icon class="incident-icon" svgIcon='zoom-in'></mat-icon>
                    Zoom to
                </button>
                <button mat-flat-button class="mobile-button-primary" (click)="enterFullDetail()" *ngIf="identifyItem.layerId === 'area-restrictions' || identifyItem.layerId.includes('bans-and-prohibitions')">
                    Full Details
                </button>
            </div>
        </div>
    </div>

    <div  class="draggable-panel" *ngIf="showPanel && identifyItem && identifyItem.layerId === 'danger-rating' ">
        <div class="panel-container" >
            <div class="draggable-panel-title">
                <mat-icon svgIcon="back-icon-panel" *ngIf="allowBackToIncidentsPanel" (click) = "backToIdentifyPanel()"></mat-icon>
                <mat-icon  *ngIf="!allowBackToIncidentsPanel"></mat-icon>

                <span class="preview-title">
                    <mat-icon class="incident-icon" svgIcon="carbon-gauge" alt="Danger Rating"></mat-icon>
                    Wildfire Danger Rating
                </span>
                <mat-icon svgIcon="cancel" (click)="closePanel()"></mat-icon>
            </div>
            <div class="identify-card">
                <div class="identify-card-title" *ngIf="identifyItem.properties.DANGER_RATING_DESC">{{identifyItem.properties.DANGER_RATING_DESC}} Fire Danger</div>
                <div class="identify-card-description">
                    {{displayDangerRatingDes(identifyItem.properties.DANGER_RATING_DESC)}}
                </div>
            </div>
            <div class="button-row">
                <button mat-flat-button class="mobile-button" (click)="zoomIn()" >
                    <mat-icon class="incident-icon" svgIcon='zoom-in'></mat-icon>
                    Zoom to
                </button>
                <button mat-flat-button class="mobile-button-primary" (click)="enterFullDetail()">
                    Full Details
                </button>
            </div>
        </div>
    </div>
    
</div>