.draggable-panel {
    background-color: #ffffff;
    height: 50vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: grab;
    border-top: 1px solid #ccc;
    z-index: 100000000 !important;
    border-radius: 20px;
}
