.panel {
  background-color: white !important;
  padding: 24px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  
  .content-panel {
    max-width: calc(100vw - 48px);

    .resource-detail {
      color: var(--grays-gray-1, var(--Black-1, #242424));
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      flex: 1 0 0;
      display: flex;
      padding: 8px 16px;
      align-items: center;
      align-content: center;
      gap: 8px;
      align-self: stretch;
      flex-wrap: wrap;
      border-radius: 4px;
      border: 1px solid var(--grays-gray-7, #dedede);
      background: var(--grays-gray-10, #f5f5f5);
    }
  }

  .content-panel-stack {
    h1 {
      color: var(--Black-1, #242424);
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 33px;
      margin-top: 32px;
    }

    h4 {
      color: var(--Black-2, #484848);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      flex: 1 0 0;
    }

    .icon {
      position: relative;
      width: 24px;
      height: 24px;
      top: 3px !important;
      margin-right: 8px;
    }

    .update-date {
      color: #5b5b5b;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      .icon {
        position: relative;
        width: 20px;
        height: 20px;
        top: 3px !important;
        margin-right: 6px;
      }
    }

    hr {
      border: 0;
      clear: both;
      display: flex;
      width: 98%;
      background-color: #ddd;
      height: 1px;
      margin-left: 2.5px !important;
    }

    .description {
      color: var(--Grey-6---666, #666);
      align-self: stretch;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 24px;
    }

    .resource-panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1 0 0;

      .image-size {
        display: flex;
        width: 32.001px;
        height: 32px;
        padding: 2px;
        margin-right: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--Medium-Blue, #146fb4);
      }

      .subtitle {
        display: flex;
        color: var(--Black-1, #242424);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 8px;
      }

      .contents {
        color: var(--Grey-6---666, #666);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
        margin-left: 48px;
        position: relative;
        bottom: 5px;
      }
    }
  }
}

.learn-more {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid var(--grays-gray-6, #c4c4c4);
  white-space: nowrap;
  width: 100%;
  height: 40px;
  margin-top: 8px;
  bottom: 17px;

  .icon {
    position: relative;
    width: 24px;
    height: 24px;
    color: black;
    top: 2px !important;
  }

  .button-text {
    position: relative;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    bottom: 3px;

    @media screen and (max-width: 365px) {
      font-size: 14px;
    }
  }
}

.overview {
  color: var(--Black-2, #484848) !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  word-wrap: break-word;
}

.overview img {
  width: 100%;
  height: auto;
}
