.header-row {
  display: flex;
  margin: 0;
}

.table-search-header {
  background-color: white !important;
  border-top: none !important;
  display: block !important;
  padding-left: 20px;
  padding-bottom: 16px;
  padding-top: 6px;
  border-bottom: 1px solid #dedede;

  .label {
    font-size: 15px;
  }
}

.input-clear-button {
  position: relative;
  background-color: transparent;
  border: none;
  top: 5px;
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  mat-icon {
    transform: translateX(-5px);
  }
}

.rounded-select {
  border-radius: 20px !important;
}

.search-input {
  border-radius: 20px !important;
  border: 1px solid #a7a9ac !important;
  padding: 0 5px;
  height: 35px;
  line-height: 35px;
  font-family: "Noto Sans", BCSans, "Open Sans", Verdana, Arial, sans-serif;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.filter-button {
  margin-right: 7px;
  border: 1px solid #c4c4c4;
  background-color: white !important;
  height: 36px;
  width: 36px;
  box-shadow: none;
  &-selected {
    margin-right: 7px;
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    height: 36px;
    width: 36px;
    box-shadow: none !important;
  }
}

.search-and-filters {
  flex: 0 !important;
  display: flex;
  flex-flow: row wrap;
}

.mdc-button__label {
  margin-left: 1px !important;
  margin-top: 3px !important;
}

.mat-mdc-input-element {
  background-color: transparent;
  border: none !important;
  padding: 0 5px;
  border-radius: 20px;
  height: 35px;
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.search-icon {
  position: relative !important;
  top: 5px;
}

.panel-card-container {
}

.panel-card {
  border-bottom: 1px solid #dedede;
}

.card-header {
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-top: 24px;
}

.card-item {
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  color: #484848;
  padding-bottom: 2px;
  padding-left: 30px;
}

.card-icon {
  margin-right: 7px;
}

.padding {
  padding-bottom: 24px;
}

.status-card {
  &-order {
    width: 194px;
    height: 30px;
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    margin-left: 30px;
    margin-bottom: 8px;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #98273b;
    background: #fef1f2;
  }

  &-alert {
    width: 194px;
    height: 30px;
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
    margin-left: 30px;
    margin-bottom: 8px;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    background: #fcf3d4;
    color: #7c5d11;
  }
}

.status-icon {
  position: relative;
  top: 5px;
}

.spinner-position {
  position: relative;
  left: 50vw;
  top: 20px;
}
