<div class="table-search-header flex-y-fixed">
  <div class="search-and-filters">
      <div class="field search-input">
        <mat-icon class="search-icon" matSuffix>search</mat-icon>
        <input matInput class="search-input" aria-label="Search" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="searchByText()">
        <button mat-mdc-button matSuffix mat-mdc-icon-button class="input-clear-button" *ngIf="searchText" aria-label="Clear" (click)="searchText=undefined; searchByText(); $event.stopPropagation()" matTooltip="Clear">
          <span class="button-wrapper"><mat-icon>close</mat-icon></span>
        </button>
      </div>
      <button mat-fab matTooltip="Filter by Location" [class]="'filter-button' + (locationData ? '-selected' : '')" aria-label="By Location" (click)="openLocationFilter()">
        <span class="button-wrapper"><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/location-button.svg'" alt="location button" height="24" width="24" /></span>
      </button>
  </div>
</div>
<div *ngIf="searchingComplete; else loading">
<div *ngFor="let item of dataSource.data" class="panel-card-container">
  <div class="panel-card" (click)="navToFullDetails(item)">
    <div class="card-header">{{item.name}}</div>
    <div [class]="'status-card-' + (item.status === 'Order' ? 'order' : 'alert')">
      <img class="status-icon icon" *ngIf="item.status === 'Order'" height="20" width="20" src="/assets/images/svg-icons/evacuation-order.svg" alt="Order">
      <img class="status-icon icon" *ngIf="item.status === 'Alert'" height="20" width="20" src="/assets/images/svg-icons/evacuation-alert.svg" alt="Alert">
      {{item.status}}
    </div>
    <div class="card-item"><img class="card-icon image-size" [src]="'../../../assets/images/svg-icons/calendar-pin.svg'" alt="Issued On Icon" height="16" width="16" />Issued On {{item.issuedOn}}</div>
    <div class="card-item"><img class="card-icon image-size" [src]="'../../../assets/images/svg-icons/location-pin.svg'" alt="Fire Centre Icon" height="16" width="16" />Issued By {{item.agency}}</div>
    <div class="padding"></div>
  </div>
</div>
<div class="padding"></div>
<div class="padding"></div>
</div>
<div *ngIf="dataSource.data.length === 0" style="padding-left: 24px;">No records to display</div>
<ng-template #loading><mat-spinner [diameter]="40" class="spinner-position"></mat-spinner></ng-template>
