.header-row{
    display: flex;
    margin: 0;
}

.table-search-header{
  background-color: white !important;
  border-top: none !important;
  display: block !important;
  padding-left: 10px;
  .label{
      font-size: 15px;
  }
}

.search-input {
  border-radius: 20px !important;
}

.stage-of-control{
    margin-left: auto;
    height: 50%;
    margin-top: auto;
}

.my-location-button{
  border: 1px solid #a7a9ac;
  border-radius: 5px;
  width: 100%;
  .mat-mdc-raised-button {
    box-shadow: none;
    width: 100%;
    padding: 0;
  }
  .mat-icon {
    color: #a7a9ac;
    margin-right: 10px !important;
  }
  button span {
    white-space: nowrap;
  }
}


p.results-count {
    text-align: right;
    margin-right: 2%;
    font-size: 18px;
}

p.dashboard-title{
    font-size: 24px;
    margin-bottom: .5%;
}

p.active-incidents, p.datetime{
    display: inline-block;
}

p.datetime{
    float: right;
    vertical-align:center;
}

tr{
    font-weight: normal;
}

.table-wrapper{
    border: none;
}

table{
    border: 1;
    width: 96%;
}

td {
    padding-top:.5%;
    padding-bottom:.5%;
    padding-right:.5%;
    padding-left:.5%;
    width: 25%;
  }

table tr:nth-child(even) td{
    background-color: white;
}

.block{
    width:15%;
    display: inline-block;
}

.input-clear-button{
    margin-bottom: 8px;
    margin-left: 278px;
    position: absolute;
    line-height: 24px;
    height: 24px;
    width: 24px;
    font-size: 15px;
    border-radius: 20%;
    background-color: #f2f2f2;
    border: none;
    .button-wrapper{
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        line-height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    mat-icon{
        transform: translateX(-5px);
    }
}

.cell-button {
  width: 100% !important;
  border: 1px solid #C4C4C4;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.filter-checkbox-group {
    margin-top: 13px !important;
    flex-basis: auto !important;
    width: auto !important;
    .mat-label{
        font-size: 15px;
    }

    .checkbox-group {
        display: flex;

        .mat-mdc-checkbox {
            border: none;
        }
    }
}

.rounded-select {
  border-radius: 20px !important;
}

.checkbox-label {
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  margin-left: 3px;
}

.filter-button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  &-selected {
    margin-right: 7px;
    border-radius: 20px;
    border: 2px solid #38598A !important;
    background-color: #E9F0F8 !important;
    color: #242424 !important;
  }
}

.search-and-filters {
  flex: 0 !important;
  display: flex;
  flex-flow: row wrap;
}

.mat-column-name {
    width: 25%;
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 16px !important;
    letter-spacing: -0.02em !important;
    text-align: left !important;
}

.mat-column-status {
    width: 10%;
}

.mat-column-issuedOn {
    width: 10%;
}


.mat-column-agency {
    width: 20%;
}

.mat-column-distance {
  width: 10%;
}

.mat-column-details {
  width: 10%;
}

.mat-column-viewMap {
    width: 10%;
}

.status-icon {
  position: relative !important;
  top: 4px;
}

.status-label {
  margin-left: 5px;
}

.cell-label {
  position: relative;
  top: -7px;
}

.right-align {
  margin-left: auto !important;
}

.spinner-position {
  position: relative;
  left: 50vw;
  top: 20px;
}
