
<div class="table-search-header flex-y-fixed">
    <div class="search-and-filters">
        <div class="field search-input">
            <input matInput class="search-input" aria-label="Search" placeholder="     Search" [(ngModel)]="searchText" (ngModelChange)="search()">
            <button mat-mdc-button matSuffix mat-mdc-icon-button class="input-clear-button" *ngIf="searchText"
                    aria-label="Clear" (click)="searchText=undefined; search(); $event.stopPropagation()"
                    matTooltip="Clear">
                    <span class="button-wrapper">
                        <mat-icon>close</mat-icon>
                    </span>
            </button>
        </div>
    </div>
    <button mat-flat-button matTooltip="Filter by Location" class="filter-button"
        aria-label="By Location" (click)="searchByLocation(); $event.stopPropagation()">
        <span class="button-wrapper">Filter by Location</span>
    </button>
</div>
<div class="stage-of-control-checkbox-group">
  <section class="checkbox-group">
    <mat-checkbox [(ngModel)]="order" [checked]="order" (change)="search()"><span class="checkbox-label">Orders</span></mat-checkbox>
    <mat-checkbox [(ngModel)]="alert" [checked]="alert" (change)="search()"><span class="checkbox-label">Alerts</span></mat-checkbox>
  </section>
</div>
<p class ="results-count" >{{dataSource ? dataSource.data.length : 0}} Results</p>
<div *ngIf="dataSource && dataSource.data.length > 0; else loading">
    <table mat-table [dataSource]="dataSource" aria-label="Evacuation Orders and Alerts Table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Evacuation Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="issuedOn">
        <th mat-header-cell *matHeaderCellDef> Issued On </th>
        <td mat-cell *matCellDef="let element"> {{element.issuedOn}} </td>
      </ng-container>
      <ng-container matColumnDef="agency">
        <th mat-header-cell *matHeaderCellDef> Issuing Agency </th>
        <td mat-cell *matCellDef="let element"> {{element.agency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>
<ng-template #loading><mat-spinner [diameter]="40"></mat-spinner></ng-template>
