# Local .terraform directories
**/.terraform/*
**/.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# Terragrunt cache
**/*.terragrunt*

# .vscode files
*.vscode
*.vscode.*

# Crash log files
crash.log

#local test files
**/dev-copy

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# Intellij
.idea
*.iml
**/.DS_Store*

server/wfss-pointid-api/wfss-pointid-api-rest-client/target
server/wfss-pointid-api/wfss-pointid-api-rest-endpoints/target
server/wfss-pointid-api/wfss-pointid-api-rest-wfnews-client/target
server/wfss-pointid-api/wfss-pointid-api-rest-fireweather-client/target
server/wfss-pointid-api/wfss-pointid-api-rest-fireweather-common/target
server/wfss-pointid-api/wfss-pointid-api-rest-wfnews-common/target
server/wfss-pointid-api/wfss-pointid-swagger-java-client/target
client/wfnews-war/src/main/angular/.npmrc
