<div class="event-info">
  <div class="header">
    <div class="title-bar">
      <span class="title">Placeholder</span>
    </div>
  </div>
 
  <div class="content">
    <div class="wildfire-info">
      <icon-list-item slim="true" iconPath="/assets/images/svg-icons/authorities.svg" text="Issued by Placeholder"></icon-list-item>
      <icon-list-item slim="true" iconPath="/assets/images/svg-icons/location-pin.svg" text="Placeholder"></icon-list-item>
      <icon-list-item slim="true" iconPath="/assets/images/svg-icons/calendar.svg" text="Issued on Placeholder"></icon-list-item>
    </div>
    <circle-icon-button iconPath="/assets/images/svg-icons/forward-arrow-grey.svg" [componentStyle]="circleButtonStyle" (buttonClicked)="viewDetails()"></circle-icon-button>
  </div>
</div>