.incident-panel {
	&__form {
		&__group {
			//margin-bottom: 2rem;
		}
	}
}

.form-container {
  margin: 0 0.5rem;

  &--inline {
    display: flex;
    flex-direction: row;

    .wf-submit-row {
      margin-left: 1rem;
      padding-bottom: 1rem;
    }
  }

  &--inline &__form {
    flex: 1;
  }

  .wf-submit-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.form-compound {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  margin: 0 -0.5rem;

  &--column &__molecule {
    flex: unset;
    width: 100%;
  }

  .atom_width_30_percent {
    width: 30%;
    margin-right:25px;
  }

  .atom_width_40_percent {
    width: 40%;
    margin-right:25px;
  }

  .atom_width_50_percent {
    width: 50%;
    margin-right:25px;
  }

  .molecule-wrapper-small {
    flex-basis: 20rem;
  }

  .molecule-wrapper-margin-left {
    margin-left: 0.5rem;
  }

  &__molecule {

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    margin: 0.5rem;
    min-height: 5rem;

    &--row {
      flex-direction: row;
    }

    &--action {
      flex: unset;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    &__atom {
      width: calc( 100% - 4px );
      min-width: 250px;

      &__quark {
        width: 100%;
      }

      .date-picker-input {
        display: flex;

        button {
          min-width: 0;
        }

        .mat-button {
          line-height: 0px;
        }

        .mat-icon {
          height: 18px;
          width: 18px;
        }

        .material-icons {
          font-size: 20px;
        }
      }
    }

    &__atom-small {
      width: calc( 100% - 4px );
      min-width: 25px;

      &__quark {
        width: 100%;
      }

      .date-picker-input {
        display: flex;

        button {
          min-width: 0;
        }
      }
    }

  }

}

.date-picker-input .mat-button {
  line-height: 0px;
}

.date-picker-input .mat-icon {
  height: 20px;
  width: 20px;
}

.date-picker-input .material-icons {
  font-size: 20px;
}

.list-container {
  width: 100%;
  margin-bottom: 2rem;
  box-sizing: border-box;

  .form-compound {
    margin: 0 0 2rem 0;

    &__molecule {
      min-height: 0;
    }
  }
}

.add-button {
  align-self: flex-end;
}

.delete-button {
  align-self: center;
}

.wf-form-section {
  padding-top: 1rem;

  .mat-radio-button,
  .mat-checkbox {
    margin-right: 0.5rem;
  }

  &__lable-container {
    margin-top: 0.85rem;
    position: relative;
    padding-top: 0.25rem;
  }


  &__bottom {
    display: block;
  }

}

.wf-submit-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 0;

  button {
    margin-left: 1rem;
  }
}

.flex-1 {
  flex: 1;
}

.comments-container {
  border-top: 1rem solid rgba(0, 0, 0, 0.13);
  display: block;
  padding: 0 1rem 1rem;
}

.update-info-container {
  border-top: 1rem solid rgba(0, 0, 0, 0.13);
  display: block;
  padding: 0 1rem 1rem;
}

wfim-fuel-array.form-compound__molecule{
  margin: 0px;
}

.incident-panel {
  &__form {
    &__group {
      margin-bottom: 2rem;
    }
  }

  &__footer {
    display: flex;
    margin: 5rem 0;

    &__details {
      flex: 2;
    }

    &__sign-off {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      button{
        margin: 1.5rem 1rem 1rem 1rem;
      }
    }
  }

  &__last-update-info {
    margin-top: 1.5rem;
  }

}

:host ::ng-deep {
  .form-compound  {
    &__molecule {
      min-height: initial !important;
      margin: 0 0.5rem !important;
    }
  }

  .wf-form-section {
    padding: 0 !important;
    margin: 0 !important;
  }
}

:host ::ng-deep .label-subtext {
  font-weight: 300;
}

:host ::ng-deep .form-field-small-bottom-margin {

  .mat-form-field-wrapper {
    padding-bottom: 0em;
    margin-bottom: 0.3em;
  }

  .mat-form-field-underline {
    bottom: 0em;
  }

}

:host ::ng-deep .form-field-small-bottom-margin-subtext {
  font-style: italic;
  font-size: small;
}

:host ::ng-deep .mat-form-field-infix-no-border-top {
  padding: 0.5em 0;
  border-top: 0em solid transparent;
}

:host ::ng-deep .mat-checkbox-layout-wrap {

  .mat-checkbox-layout {
    white-space: normal !important;
  }

}
