<base-error-panel [componentValidationState]="validationState"></base-error-panel>
<div class="incident-panel">
    <h1 class="incident-panel__title">{{panelName}}</h1>
    <div class="incident-panel__form">
        <form class="form-container" [formGroup]="formGroup">

          <div class="form-compound form-container__form ">

            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom" >
                <mat-label>Estimated Fire Cost from WFCST ($)</mat-label>
                <input matInput formControlName="estimatedCostWFCST" type="text" mask="separator.2" thousandSeparator="">
                <mat-icon matSuffix matTooltip="The costs in this cell are being pulled from the Wildfire Costing application and show the estimated cost of this fire." [matTooltipShowDelay]="TOOLTIP_DELAY">info</mat-icon>
              </mat-form-field>
            </div>
<!--            <div class="form-compound__molecule">-->
<!--              <mat-form-field class="form-compound__molecule__atom" >-->
<!--                <mat-label>Total Fire Cost ($)</mat-label>-->
<!--                <input matInput formControlName="actualCostOfControl" type="text" currencyMask [options]="{align:'left'}">-->
<!--                <mat-icon matSuffix matTooltip="Please enter the final total cost of the fire in this cell. Reports from CAS, AMS and Payroll can be used to determine final cost." [matTooltipShowDelay]="TOOLTIP_DELAY">info</mat-icon>-->
<!--                <mat-error *ngIf="formGroup.get('actualCostOfControl').hasError('min')">Value must be a positive number.</mat-error>-->
<!--                <mat-error *ngIf="formGroup.get('actualCostOfControl').hasError('pattern')">Value must be a positive number with maximum 2 decimal precision.</mat-error>-->
<!--                <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.actualCostOfControl')">{{error.displayMessage}}</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->
            <div class="form-compound__molecule">
            </div>
            <div class="form-compound__molecule">
            </div>

          </div>

          <div class="form-compound form-container__form ">

            <div class="form-compound__molecule">
              <div class="form-compound__molecule__atom mat-form-field mat-form-field-appearance-legacy">
                <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'claimExpectedInd')" [checked]="formGroup.get('claimExpectedInd').value" [disabled]="formGroup.get('claimExpectedInd').disabled"> Claim Expected </mat-checkbox>
              </div>
            </div>

          </div>


          <div class="wf-submit-row">
                <div class="flex-1"></div>
                <button mat-raised-button color="primary" [disabled]="!formGroup?.valid || formGroup.pristine" type="submit"
                        (click)="onSubmit()">Save
                </button>
            </div>
        </form>
    </div>
</div>

