<base-error-panel [componentValidationState]="validationState"></base-error-panel>
<div class="incident-panel">
    <h1 class="incident-panel__title">{{panelName}}</h1>
    <div class="incident-panel__form">
        <form class="form-container" [formGroup]="formGroup">

          <div class="form-compound form-container__form ">
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Fire Rank (initial)</mat-label>
                <mat-select formControlName="fireRankCode">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('FIRE_RANK_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
                <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.fireRankCode')">{{error.displayMessage}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom form-field-small-bottom-margin">
                <mat-label>Size (ha)</mat-label>
                <input matInput formControlName="fireSizeHectares" type="number">

                <mat-error *ngIf="formGroup.get('fireSizeHectares').hasError('min')">Value must be a positive number.</mat-error>
                <mat-error *ngIf="formGroup.get('fireSizeHectares').hasError('pattern')">Value must be a positive number with maximum 3 decimal precision.</mat-error>
                <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.fireSizeHectares')">{{error.displayMessage}}</mat-error>
              </mat-form-field>
              <div class="form-field-small-bottom-margin-subtext">last updated {{formGroup.get('fireSizeLastUpdatedTimestampDisplay').value}}</div>

            </div>
          </div>
          <div [hidden]="isLoading()">
            <h3>{{sectionLabelFuels}}</h3>
            <mat-error *ngFor="let error of getValidationErrorsForPath('forestFuelInventory.reported')">{{error.displayMessage}}</mat-error>
            <wfim-fuel-array class="form-compound__molecule" [form]="formGroup" [arrayId]="reportedFuelId"
                            [arrayLabel]="reportedFuelLabel" [arrayLabelSubText]="reportedFuelLabelSubText"
                            [topLevelSelection]="getCodeOptions('FOREST_FUEL_CATEGORY_CODE')">
            </wfim-fuel-array>


            <mat-error *ngFor="let error of getValidationErrorsForPath('forestFuelInventory.adjacent')">{{error.displayMessage}}</mat-error>
            <wfim-fuel-array class="form-compound__molecule" [form]="formGroup" [arrayId]="adjacentFuelId"
                            [arrayLabel]="adjacentFuelLabel" [arrayLabelSubText]="adjacentFuelLabelSubText"
                            [topLevelSelection]="getCodeOptions('FOREST_FUEL_CATEGORY_CODE')">
            </wfim-fuel-array>
          </div>
          <h3>{{sectionLabelInitialOnsiteWeather}}</h3>

          <div class="form-compound form-container__form ">
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Representative Wx Station</mat-label>
                  <mat-select formControlName="stationCode">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('WEATHER_STATION_POINT_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('preferredWeatherStation.stationCode')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Wind Speed (km/h)</mat-label>
                  <input matInput formControlName="windSpeedKilometersPerHour" type="number">
                  <mat-error *ngIf="formGroup.get('windSpeedKilometersPerHour').hasError('min')">Value must be a positive number.</mat-error>
                  <mat-error *ngIf="formGroup.get('windSpeedKilometersPerHour').hasError('pattern')">Value must be a positive number with maximum 2 decimal precision.</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Wind Direction</mat-label>
                  <mat-select formControlName="windDirectionCode">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('DIRECTION_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>

          <h3>{{sectionLabelTopography}}</h3>
          <div class="form-compound form-container__form ">
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Slope</mat-label>
                <mat-select formControlName="slopeRatingCode">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('SLOPE_RATING_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
                <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.slopeRatingCode')">{{error.displayMessage}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Slope Position</mat-label>
                <mat-select formControlName="slopePositionCode">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('SLOPE_POSITION_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
                <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.slopePositionCode')">{{error.displayMessage}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Aspect</mat-label>
                <mat-select formControlName="aspectDirectionCode">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('DIRECTION_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
                <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.aspectDirectionCode')">{{error.displayMessage}}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-compound form-container__form ">
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Elevation (m)</mat-label>
                <input matInput formControlName="incidentLocationPointElevationMeters" type="number" >
                <mat-error *ngFor="let error of getValidationErrorsForPath('incidentLocation.incidentLocationPointElevationMeters')">{{error.displayMessage}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
            </div>
            <div class="form-compound__molecule">
            </div>
          </div>


          <div class="wf-submit-row">
                <div class="flex-1"></div>
                <button mat-raised-button color="primary" [disabled]="!formGroup?.valid || formGroup.pristine" type="submit"
                        (click)="onSubmit()">Save
                </button>
            </div>
        </form>
    </div>
</div>

