<base-error-panel [componentValidationState]="validationState"></base-error-panel>
<div class="incident-panel">
    <h1 class="incident-panel__title">{{panelName}}</h1>

  <div class="incident-panel__form">
        <form class="form-container" [formGroup]="formGroup">
            <div class="form-compound form-container__form ">
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Land Status</mat-label>
                  <mat-select formControlName="landOwnershipClassCode">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('LAND_OWNERSHIP_CLASS_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                    <mat-error *ngFor="let error of getValidationErrorsForPath('managingLandAuthority.landOwnershipClassCode')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Land Manager Agency</mat-label>
                  <mat-select formControlName="partyName">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('LAND_MANAGER_PARTIES')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('managingLandAuthority.managingParty.partyName')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Land Manager Name</mat-label>
                  <input matInput formControlName="landManagerName" type="text">
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Land Manager Phone</mat-label>
                  <input matInput formControlName="landManagerPhoneNumber" type="text" mask="(000) 000-0000">
                  <mat-error *ngIf="formGroup.get('landManagerPhoneNumber').hasError('pattern')">Value must be a valid phone number.</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-compound form-container__form ">
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Land Manager Notes</mat-label>
                  <textarea matInput cdkAutosizeMaxRows="10" cdkTextareaAutosize="true" formControlName="landManagerComment" ></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="form-compound form-container__form ">
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Land Owner Name</mat-label>
                  <input matInput formControlName="landOwnerName" type="text">
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Land Owner Phone</mat-label>
                  <input matInput formControlName="landOwnerPhoneNumber" type="text" mask="(000) 000-0000" >
                  <mat-error *ngIf="formGroup.get('landManagerPhoneNumber').hasError('pattern')">Value must be a valid phone number.</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Land Owner Address</mat-label>
                  <input matInput formControlName="landOwnerAddress" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="form-compound form-container__form ">
              <div class="form-compound__molecule">
                <div class="form-compound__molecule__atom mat-form-field mat-form-field-appearance-legacy">
                  <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'costSharingAgreementInd')" [checked]="formGroup.get('costSharingAgreementInd').value" [disabled]="formGroup.get('costSharingAgreementInd').disabled"> In Area of Wildfire Response Agreement </mat-checkbox>
                </div>
              </div>
              <div class="form-compound__molecule">
                <div class="form-compound__molecule__atom mat-form-field mat-form-field-appearance-legacy">
                  <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'rehabilitationPlanRequiredInd')" [checked]="formGroup.get('rehabilitationPlanRequiredInd').value" [disabled]="formGroup.get('rehabilitationPlanRequiredInd').disabled"> Rehabilitation</mat-checkbox>
                </div>
              </div>
              <div class="form-compound__molecule">
              </div>
            </div>

            <div class="wf-submit-row">
                <div class="flex-1"></div>
                <button mat-raised-button color="primary" [disabled]="!formGroup?.valid || formGroup.pristine" type="submit"
                        (click)="onSubmit()">Save
                </button>
            </div>
        </form>
    </div>
</div>

