<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>
  <div class="divider"></div>
  <div *ngIf="reportOfFirePages">
    <div *ngFor="let page of reportOfFirePages">
      <div *ngIf="page.id !== 'disclaimer-page' && page.id !== 'call-page' && !(page.id === 'location-page' && isOffLine)">
        <div class="rof-text-review-header" >
          {{page.title}}
        </div>
        <div *ngIf = "page.id !== 'location-page'">
          <div class="item">
            <div *ngIf="page.id === 'comments-page'">
              <div class="item-content" >
                <div class="text">Note</div>
                <div class="edit-icon">
                  <mat-icon svgIcon="edit" (click)="edit(page.id)"></mat-icon>
                </div>
              </div>
              <div class="divider"></div>
              <div class="text">{{selectedAnswer(page)? selectedAnswer(page) : 'Skipped'}}</div>

            </div>

            <div class="item-content" *ngIf="page.id !== 'comments-page'">
              <div class="text">{{selectedAnswer(page)? selectedAnswer(page) : 'Skipped'}}</div>
              <div class="edit-icon">
                <mat-icon svgIcon="edit" (click)="edit(page.id)"></mat-icon>
              </div>
            </div>
            <div *ngIf = "page.id === 'photo-page' && reportOfFire.image1" class="images">
              <div *ngIf = "reportOfFire.image1 !== undefined && reportOfFire.image1.webPath !== undefined"><img alt="icon" class="image" [src]="reportOfFire.image1.webPath"></div>
              <div *ngIf = "reportOfFire.image1 !== undefined && reportOfFire.image1.dataUrl !== undefined"><img alt="icon" class="image" [src]="reportOfFire.image1.dataUrl"></div>
              <div *ngIf = "reportOfFire.image2 !== undefined && reportOfFire.image2.webPath !== undefined"><img alt="icon" class="image" [src]="reportOfFire.image2.webPath"></div>
              <div *ngIf = "reportOfFire.image2 !== undefined && reportOfFire.image2.dataUrl !== undefined"><img alt="icon" class="image" [src]="reportOfFire.image2.dataUrl"></div>
              <div *ngIf = "reportOfFire.image3 !== undefined && reportOfFire.image3.webPath !== undefined"><img alt="icon" class="image" [src]="reportOfFire.image3.webPath"></div>
              <div *ngIf = "reportOfFire.image3 !== undefined && reportOfFire.image3.dataUrl !== undefined"><img alt="icon" class="image" [src]="reportOfFire.image3.dataUrl"></div>
            </div>
          </div>
          <div *ngIf="twoPartsQuestions(page)" class="item">
            <div class="item-content">
              <div class="text">{{selectedAnswerPart2(page)? selectedAnswerPart2(page) : 'Skipped'}}</div>
              <div class="edit-icon">
                <mat-icon svgIcon="edit" (click)="edit(page.id,true)"></mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf = "page.id === 'location-page' && !isOffLine" style="position: relative;">
          <button (click)="edit(page.id)" class="edit-button">
            <mat-icon svgIcon="edit"></mat-icon>
            Edit
          </button>
          <div *ngIf="!isOffLine" id="map" class="map-container">
        </div>
      </div>
    </div>
  </div>

  <div class="submit-button-row">
	  <button mat-flat-button class="action-button" (click)="submitRof()">Submit Report
      <mat-icon svgIcon="send"></mat-icon>
    </button>
  </div>
</div>
