<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>
  <div class="divider"></div>

  <div *ngIf="reportOfFirePages">
    <div *ngFor="let page of reportOfFirePages">
      <div class="rof-text-review-header">
        {{page.title}}
      </div>
      <div class="item">
        <div class="item-content">
          <div class="text">{{selectedAnswer(page)}}</div>
          <div class="edit-icon">
            <mat-icon svgIcon="edit" (click)="edit()"></mat-icon>
          </div>
        </div>
      </div>
      <div class="item" *ngIf="twoPartsQuestions(page)">
        <div class="item-content">
          <div class="text">{{selectedAnswerPart2(page)}}</div>
          <div class="edit-icon">
            <mat-icon svgIcon="edit" (click)="edit()"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  {{ parseJson() }}

  <div>
	  <button mat-flat-button class="rof-button-primary" (click)="next()">Submit</button>
  </div>
</div>
