<div class="page-content">
  <div class="rof-text-title">{{ title }}</div>
  <img alt="Report of Fire Banner" [src]="imageUrl"  class="rof-image"/>
  <div class="rof-text-secondary-header">
    <div *ngIf="!offLine">
      <div class="subtitle">
        {{subtitle}}
      </div>
      <p *ngFor="let message of messages">
        {{ message }}    
      </p>
    </div>
    <div *ngIf="offLine">
      <div class="subtitle">
        {{offLineSubtitle}}
      </div>
      <p *ngFor="let message of offLineMessages">
        {{ message }}    
      </p>
    </div>
  </div>
  <div *ngIf="!closeButton" class="rof-button-container" id="title-container">
      <button mat-flat-button class="rof-button" style="background-color: #FFF" (click)="openCallPage()"><mat-icon svgIcon="phone" style="width: 24px; height: 24px;"></mat-icon>Call</button>
      <button mat-flat-button class="rof-button-primary" (click)="triggerLocationServiceCheck()"><mat-icon svgIcon="arrow-forward-enabled" class="left-padding" style="width: 24px; height: 24px;"></mat-icon>Start</button>
  </div>
  <div *ngIf="closeButton" class="rof-button-container" style="position: fixed; justify-content: center; margin-top: 55px;">
    <button mat-flat-button class="rof-button" (click)="close()">Close</button>
  </div>
</div>
