<div class="page-content">
  <div class="rof-text-title">{{ title }}</div>
  <img alt="Report of Fire Banner" [src]="imageUrl"  class="rof-image"/>
  <div class="rof-text-secondary-header">
    <div *ngIf="!offLine">
      <div class="subtitle">
        {{subtitle}}
      </div>
      <p *ngFor="let message of messages">
        {{ message }}    
      </p>
    </div>
    <div *ngIf="offLine">
      <div class="subtitle">
        {{offLineSubtitle}}
      </div>
      <p *ngFor="let message of offLineMessages">
        {{ message }}    
      </p>
    </div>
  </div>
  <div *ngIf="!closeButton" class="rof-button-container" id="title-container">
      <wfnews-button variant="secondary" size="large" label="Call" iconPath="/assets/images/svg-icons/phone.svg"
        (buttonClicked)="openCallPage()"></wfnews-button>
      <wfnews-button variant="primary" size="large" label="Start" iconPathEnd="/assets/images/svg-icons/arrow-forward-enabled.svg"
        (buttonClicked)="startReport()"></wfnews-button>
  </div>
  <div *ngIf="closeButton" class="rof-button-container" style="position: fixed; justify-content: center; margin-top: 55px;">
    <wfnews-button variant="secondary" size="large" label="Close"
      (buttonClicked)="close()"></wfnews-button>
  </div>
</div>
