@import "../report-of-fire.component.scss";

.page-content {
  padding: 0 48px;
}
.rof-button-container {
  width: calc(100% - 96px);
  max-width: 750px;
}

@media (min-width: 1024px) {
  .rof-image {
    height: 23vh;
  }
}
