
<div class="legend-panel">
  <div class="legend-panel-title">Wildfires</div>
  <mat-accordion multi>
    <mat-expansion-panel *ngIf="checkLayerVisible('active-wildfires-fire-of-note')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Fire of Note" class="legend-accordion-icon" src="/assets/images/svg-icons/fire-note.svg" >
          Wildfire of Note
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A wildfire that is highly visible or poses a potential threat to public safety.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('active-wildfires-out-of-control')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Out of Control" class="legend-accordion-icon" src="/assets/images/svg-icons/out-of-control.svg" >
          Out of Control
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A wildfire that is spreading or it is anticipated to spread beyond the current perimeter, or control line.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('active-wildfires-holding')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Being Held" class="legend-accordion-icon" src="/assets/images/svg-icons/being-held.svg" >
          Being Held
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A wildfire that is projected, based on fuel and weather conditions and resource availability, to remain within the current perimeter, control line or boundary.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('active-wildfires-under-control')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Under Control" class="legend-accordion-icon" src="/assets/images/svg-icons/under-control.svg" >
          Under Control
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A wildfire that is not projected to spread beyond the current perimeter.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('active-wildfires-out')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Declared Out" class="legend-accordion-icon" src="/assets/images/svg-icons/out-fire.svg" >
          Declared Out
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">The wildfire has been extinguished or winter conditions are present, and the wildfire will not spread.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('fire-perimeters')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Fire Perimeter" class="legend-accordion-icon" src="/assets/images/svg-icons/fire-perimetre-legend.svg" >
          Fire Perimeter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">The outside edge or boundary of a fire or burned area. Fire Perimeters should be treated as estimates only, as fires are dynamic and circumstances may change quickly.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
