.content{
    padding: 24px;
    .title{
        color: #242424;
        font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    p{
        color: #6E6E6E;
        font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .button-group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // gap: 16px;
        // align-self: stretch;
        button {
            border-radius: 5px;
            padding: 8px;

        }
    }

    .btn-block{
        flex-grow: 1;
        margin: 5px;
        height: 38px;
        width: calc(80vw - 48px);
        border-radius: 5px;
        border: 1px solid #C7C7C7;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .primary{
        color: #FFF;
        background: #123262;
    }

    .delete{
        color: #FFF;
        background: #B93237;
    }

    .secondary{
        color: #000;
        background: #F5F5F5;
    }
}
