@import "../../../../styles/variables";

@media screen, print {
  :host {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  }

  .panel {
    background-color: white;
    padding: 22px;
    .header-row {
      display: flex;
      flex-direction: row;
      height: 35px;
      .header-button-container {
        margin-left: auto;
        color: #0e5fa9;
        font-size: 15px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        .button {
          color: #0e5fa9;
          margin-top: 5px;
          padding-right: 7px;
          font-size: 22px;
          cursor: pointer;
        }
        .icon {
          position: relative;
          top: 5px;
          height: 20px;
          padding-right: 10px;
          .facebook {
            color: #3b5998;
          }
          .twitter {
            color: #1da1f2;
          }
        }
      }
    }
    h4 {
      margin-top: 0px;
      font-size: 1.87rem;
      color: black;
      font-weight: 700;
    }
    .content-panel {
      padding-top: 30px;
      border-bottom: 1px lightgray solid;
      h1 {
        font-size: 1.6rem;
        font-weight: 400;
        color: #003366;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: 700;
      }
      .content-panel-stack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
      .content-panel-stack > * {
        flex: 1 1 350px;
      }
      .content-panel-body {
        font-size: 1rem;
        font-weight: 400px;
        padding-bottom: 0.67rem;
      }
      .content-panel-subtitle {
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 0.67rem;
        color: #003366;
      }
      .content-panel-link {
        font-size: 1rem;
        font-weight: 400px;
        padding-bottom: 0.67rem;
        color: #003366;
        text-decoration: underline;
      }
      .file-pdf-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --%3E%3Cpath fill='%231A5A96' d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48zm250.2-143.7c-12.2-12-47-8.7-64.4-6.5-17.2-10.5-28.7-25-36.8-46.3 3.9-16.1 10.1-40.6 5.4-56-4.2-26.2-37.8-23.6-42.6-5.9-4.4 16.1-.4 38.5 7 67.1-10 23.9-24.9 56-35.4 74.4-20 10.3-47 26.2-51 46.2-3.3 15.8 26 55.2 76.1-31.2 22.4-7.4 46.8-16.5 68.4-20.1 18.9 10.2 41 17 55.8 17 25.5 0 28-28.2 17.5-38.7zm-198.1 77.8c5.1-13.7 24.5-29.5 30.4-35-19 30.3-30.4 35.7-30.4 35zm81.6-190.6c7.4 0 6.7 32.1 1.8 40.8-4.4-13.9-4.3-40.8-1.8-40.8zm-24.4 136.6c9.7-16.9 18-37 24.7-54.7 8.3 15.1 18.9 27.2 30.1 35.5-20.8 4.3-38.9 13.1-54.8 19.2zm131.6-5s-5 6-37.3-7.8c35.1-2.6 40.9 5.4 37.3 7.8z'/%3E%3C/svg%3E");
        background-size: 100%;
        width: 48px;
        height: 64px;
        margin-right: 3%;
        cursor: pointer;
        background-repeat: no-repeat;
      }
      .document-title {
        font-size: 1rem;
        font-weight: 700;
      }
      .document-date {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: $desktop-sm-min-width) and (max-width: 1023px) {
  .panel {
    padding: 15px;
    .content-panel {
      .content-panel-stack {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px 16px;
      }
    }
  }
}

::ng-deep .mdc-snackbar__surface{
  background-color: transparent !important;
}
