<div class="close-button" (click)="onClose()">
    <mat-icon>close</mat-icon>
</div>

<wf1-filter-sidebar-panel
  titleText="Incident List"
  [linkIcon]="canOpenIncidentScreen() ? 'launch' : ''"
  (linkClick)="openIncidentScreen()"
  [recordCount]="incidents.length"
  [filters]="filterOptions"
  [componentId]="componentId"
>

  <span *ngIf="formattedIncidents.length ==0">No records found.</span>

  <wf1-list-container [loading]="loading">
    <cdk-virtual-scroll-viewport itemSize="73" minBufferPx="1700" maxBufferPx="2500">
      <div *cdkVirtualFor="let incident of formattedIncidents; templateCacheSize: 0" >
        <wf1-list-item [config]="incident" mapElement="map" (itemSelect)="viewIncidentDetails(incident)"></wf1-list-item>
      </div>
    </cdk-virtual-scroll-viewport>
  </wf1-list-container>
</wf1-filter-sidebar-panel>
