<content-card-container class="stage-of-control-card">
  <div class="header">
    <span class="title">Stage of Control</span>
  </div>
  <div class="content-container">
    <div class="content" *ngIf="isFireOfNote">
      <div class="content-title">
        <img class="icon" src="assets/images/local_fire_department.png" alt="Wildfire of Note">
        Wildfire of Note
      </div>
      <div class="content-list">
        <span class="content-text">This incident is creating an increased level of interest.</span>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        <img class="icon" [src]="getIcon()" alt="Stage of Control">
        {{ getLabel() }}
      </div>
      <div class="content-list">
        <span class="content-text">{{ getDescription() }}</span>
      </div>
    </div>
  </div>
</content-card-container>