/**
 Colour Variables
 */
$opacity-grey: rgba(0, 0, 0, 0.09);
$opacity-light-grey: rgba(0, 0, 0, 0.06);
$opacity-dark-grey: rgba(0, 0, 0, 0.54);
$colour-dark-grey: #263238;
$colour-blue-grey: #37474f;
$colour-medium-grey: #7d7d7d;
$colour-light-grey: #c6c8cb;
$colour-lighter-grey: rgba(242, 242, 242, 1);
$colour-toolbar-grey: #bdbdbd;
$colour-yellow: #e69f00;
$colour-light-yellow: #f9ca81;
$colour-black: #14171A;
$colour-red: #B00020;
$colour-green: #009e73;
$colour-light-green: #4B7902;
$colour-blue: #0000ff;
$colour-white: #ffffff;
$colour-orange: #e69f00;
$colour-dark-red: #D9001B;

$colour-incident-default: $colour-dark-grey;
$colour-incident-out: $colour-light-grey;
$colour-incident-being-held: $colour-yellow;
$colour-incident-not-set: $colour-black;
$colour-incident-out-of-control: $colour-red;
$colour-incident-under-control: $colour-green;
$colour-incident-interface: $colour-red;
$colour-incident-non-interface: $colour-green;

$colour-rof-default: $colour-dark-grey;
$colour-rof-draft: $colour-light-grey;
$colour-rof-general: $colour-blue;
$colour-rof-interface: $colour-red;
$colour-rof-campfire: $colour-yellow;
$colour-rof-cigarette: $colour-black;

$colour-sidebar-title: $colour-white;
$colour-sidebar-title-background: $colour-medium-grey;
$colour-sidebar-toolbar: $colour-black;
$colour-sidebar-toolbar-background: $colour-toolbar-grey;
$colour-sidebar-filter: $colour-dark-grey;
$colour-sidebar-filter-background: $colour-white;

$colour-errors: #f44336;
$colour-warnings: orange;

$colour-toolbar-background:rgb(255, 255, 255);

$colour-header-background:rgba(0, 51, 102, 1);

$colour-sidenav-background:rgba(242, 242, 242, 1);

$colour-sidenav-content-background:rgba(242, 242, 242, 1);

$colour-topnav-background:rgba(85, 85, 85, 1);

/**
 Spacing Variables
 */

// Other measurements
$wf1-app-header-mobile-height: 72px;
$wf1-app-map-mobile-height: calc(calc(var(--vh, 1vh) * 100) - (4rem));
$wf1-loading-screen-height: calc(calc(var(--vh, 1vh) * 100) - (6rem));

// Standard measurements
$wf1-app-header-height: 6rem;
$wf1-toolbar-height: 3rem;
$wf1-sidebar-title-height: 2.75rem;
$wf1-filter-toolbar-content-height: 12.5rem;
$wf1-filter-toolbar-total-height: $wf1-toolbar-height + $wf1-filter-toolbar-content-height;

// Side panel related measurements for sidebar interfaces
$wf1-total-app-header-height: $wf1-app-header-height + $wf1-toolbar-height;
$wf1-header-plus-toolbar-total-height: $wf1-sidebar-title-height + $wf1-toolbar-height;
$wf1-header-plus-toolbar-and-filter-total-height: $wf1-header-plus-toolbar-total-height + $wf1-toolbar-height;
$wf1-header-plus-toolbar-and-filter-content-total-height: $wf1-header-plus-toolbar-total-height + $wf1-toolbar-height + $wf1-filter-toolbar-content-height;
$wf1-app-map-panel-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-app-header-mobile-height});
$wf1-app-side-panel-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-total-app-header-height + $wf1-sidebar-title-height});
$wf1-app-side-panel-with-toolbar-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-total-app-header-height + $wf1-header-plus-toolbar-total-height});
// TODO: Fix filter styling issue that requires .1rem to be added to below variables to hide vertical scrollbar.
$wf1-app-side-panel-with-toolbar-and-filter-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-total-app-header-height + $wf1-header-plus-toolbar-and-filter-total-height + .1rem});
$wf1-app-side-panel-with-toolbar-and-filter-content-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-total-app-header-height + $wf1-header-plus-toolbar-and-filter-content-total-height + .1rem});

// Main panel related measurements for full screen interfaces. (No top-level toolbar)
$wf1-app-main-panel-container-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-app-header-height});
$wf1-app-main-panel-tab-panel-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-app-header-height + $wf1-toolbar-height});
// TODO: Fix filter styling issue that requires .1rem to be added to below variables to hide vertical scrollbar.
$wf1-app-main-panel-table-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-total-app-header-height + $wf1-toolbar-height + .1rem});
$wf1-app-main-panel-table-with-filter-content-height: calc(calc(var(--vh, 1vh) * 100) - #{$wf1-total-app-header-height + $wf1-toolbar-height + $wf1-filter-toolbar-content-height + .1rem});

$grid-breakpoints: (
        xxs: 365px,
        xs: 450px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1060px
);

$max-component-width: 35rem;
$wf1-app-mobile-outer-padding:10px;

$wf1-public-app-header-height: auto;
$wf1-public-app-header-img-height:40px;

$wf1-border-radius:5px;
$wf1-outer-margin:12px;
$wf1-paginator-height:40px;

$font-family-main: 'Helvetica-Light', 'Helvetica Light', 'Helvetica';
$font-family-emphasis: 'Helvetica';
$font-weight: 200;
$font-style: normal;
$font-size: 15px;


$font-family-emphasis: 'Helvetica';
$font-weight-emphasis-more: 600;
$font-weight-emphasis: 400;
$font-style-emphasis: normal;
$font-size-emphasis: 17px;

$colour-button: #AAAAAA;
$colour-button-hover:rgba(206,206,206,0.8);
$colour-button-primary:#144A89;
$colour-button-primary-hover:rgba(20,74,137,0.8);
$colour-active-tab: $colour-white;
$colour-inactive-tab: $colour-lighter-grey;
