<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>
  <div>
    <mat-label>Note</mat-label>
  </div>
  <mat-form-field  class="text-container">
    <textarea matInput #commentText rows="3" style="height: calc(100vh - 400px);"
      [(ngModel)]="reportOfFire[updateAttribute]">
    </textarea>
    <mat-hint align="end">{{commentText.value.length}}/120</mat-hint>
  </mat-form-field>

  <div class="rof-button-container">
    <button class="rof-button" mat-flat-button (click)="previous()">Previous</button>
	  <button class="rof-button-primary" mat-flat-button (click)="next()"><mat-icon class="left-padding">visibility</mat-icon>Review</button>
  </div>
</div>
