<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>
  <div>
    <mat-label>Note</mat-label>
  </div>
  <mat-form-field class="text-container">
    <textarea matInput class="text-area" #commentText [(ngModel)]="reportOfFire[updateAttribute]" [maxLength]="maxLength" (ngModelChange)="onTextAreaChange()" (focus)="enterTextArea()" (blur)="exitTextArea()"></textarea>
    <!-- <div class="comment-divider"></div> -->
    <div class="word-count">{{commentText.value.length}}/500</div>
  </mat-form-field >


  <div class="rof-button-container" *ngIf="!isEditMode">
    <button class="rof-button" mat-flat-button (click)="previous()">Previous</button>
	  <button class="rof-button-primary" mat-flat-button (click)="next()">
      Next
      <mat-icon svgIcon="arrow-forward-enabled" class="left-padding" style="width: 24px; height: 24px;"></mat-icon>
    </button>
  </div>

  <div class="rof-button-container" *ngIf="isEditMode">
    <button class="rof-button" mat-flat-button (click)="backToReview()">Cancel</button>
	  <button [class]="'rof-button' + (!isPageDirty ? '-disabled' : '-primary')" [disabled]="!isPageDirty" mat-flat-button (click)="backToReview()">Save</button>
  </div>
</div>
