@import '../report-of-fire.component.scss';

.text-container {
  margin: 20px 0px;
  width: calc(100vw - 60px);
  // height: calc(100vh - 440px);
  background-color: #F5F5F5 !important;
  border-radius: 3px;
}