<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>
  <div>
    <mat-label>Note</mat-label>
  </div>
  <mat-form-field  class="text-container">
    <textarea matInput #commentText rows="3" style="height: calc(100vh - 400px);" [maxLength]="maxLength"
      [(ngModel)]="reportOfFire[updateAttribute]" (ngModelChange)="onTextAreaChange()">
    </textarea>
    <mat-hint align="end">{{commentText.value.length}}/500</mat-hint>
  </mat-form-field>

  <div class="rof-button-container" *ngIf="!isEditMode">
    <button class="rof-button" mat-flat-button (click)="previous()">Previous</button>
	  <button class="rof-button-primary-review" mat-flat-button (click)="next()"><mat-icon class="review-icon">visibility</mat-icon>Review</button>
  </div>

  <div class="rof-button-container" *ngIf="isEditMode">
    <button class="rof-button" mat-flat-button (click)="backToReview()">Cancel</button>
	  <button [class]="'rof-button' + (!isPageDirty ? '-disabled' : '-primary')" [disabled]="!isPageDirty" mat-flat-button (click)="backToReview()">Save</button>
  </div>
</div>
