@import '../report-of-fire.component.scss';

.text-container{
  margin: 20px 0px;
  background-color: #F5F5F5 !important;
  width: calc(100vw - 60px);
  height: calc(100dvh - 400px);
  border-radius: 3px;
  min-height: 200px;
  max-width: 790px;
  @media all and (min-width: 768px) and (orientation:portrait) {
    height: calc(100dvh - 440px);
  }
  @media all and (min-width: 1024px) and (orientation:landscape) {
    height: calc(100dvh - 440px);
  }
  .text-area{
    width: 100%;
    border: none;
    background-color: #F5F5F5 !important;
    height: calc(100vh - 500px);
    min-height: 100px;
  }
  .comment-divider {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
  }
  .word-count{
    margin-top: 10px;
    text-align: end;
  }
}

.review-icon {
  padding-right: 12px !important; 
  margin-right: -4px;
}


@media screen and (max-width: 380px) {
  .review-icon {
    padding-right: 12px !important; 
    margin-right: -4px;
    transform: translate(-15px);
    
  }
}