<div class="location-toolbar">
    <mat-form-field aria-label="Selected Location" class="selected-location">
        <input matInput placeholder="Selected location (lat, long)" [formControl]="selectedLocation">
        <mat-error *ngIf="selectedLocation.hasError('required')">Coordinates are required</mat-error>
        <mat-error *ngIf="selectedLocation.hasError('invalidGeom')">Coordinates are invalid</mat-error>
    </mat-form-field>

    <div class="location-toolbar-buttons">
        <button mat-button class="location-section-header-button"
            [matTooltipShowDelay]="TOOLTIP_DELAY"
            matTooltip="Zoom To Selected Location"
            aria-label="Zoom To Selected Location"
            [disabled]="!hasSelectedLocation"
            (click)="zoomToSelectedLocation()"
        >
            <mat-icon>place</mat-icon>
        </button>

        <button mat-button class="location-section-header-button"
            [matTooltipShowDelay]="TOOLTIP_DELAY"
            matTooltip="Set Location From Map"
            aria-label="Set Location From Map"
            [disabled]="!isPointSelectedOnMap"
            (click)="setAnchorFromMap()"
        >
            <mat-icon>map</mat-icon>
        </button>

        <button mat-button class="location-section-header-button"
            [matTooltipShowDelay]="TOOLTIP_DELAY"
            matTooltip="Clear Search Fields"
            aria-label="Clear Point ID Search Fields"
            [disabled]="!hasSelectedLocation"
            (click)="clearSelectedLocation()"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>
