
<div class="table-search-header flex-y-fixed">
    <div class="search-and-filters">
        <div class="field search-input">
        </div>
        <mat-checkbox [checked]="category1" (change)="search()"><span class="checkbox-label">Category 1 (Campfires)</span></mat-checkbox>
        <mat-checkbox [checked]="category2" (change)="search()"><span class="checkbox-label">Category 2</span></mat-checkbox>
        <mat-checkbox [checked]="category3" (change)="search()"><span class="checkbox-label">Category 3</span></mat-checkbox>
    </div>
</div>
<p class ="results-count" >{{dataSource ? dataSource.data.length : 0}} Results</p>
<div *ngIf="dataSource && dataSource.data.length > 0; else loading">
    <table mat-table [dataSource]="dataSource" aria-label="Bans and Restrictions Table">

      <ng-container matColumnDef="fireCentre">
        <th mat-header-cell *matHeaderCellDef> Fire Centre </th>
        <td mat-cell *matCellDef="let element"> {{element.fireCentre}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> {{element.details}} </td>
      </ng-container>
      <ng-container matColumnDef="issuedOn">
        <th mat-header-cell *matHeaderCellDef> Issued On </th>
        <td mat-cell *matCellDef="let element"> {{element.issuedOn}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>
<ng-template #loading><mat-spinner [diameter]="40"></mat-spinner></ng-template>
