<ng-container *ngIf="loading">
    <div class="near-me-loader">
        <mat-spinner [diameter]="25"></mat-spinner>
        <div class="loading-message">Checking station</div>
    </div>
</ng-container>

<ng-container *ngIf="!loading">
    <div class="weather-detail-content wf-weather-station-feature">
        <div class="button-bar">
            <button class="wildfire-button"
                [disabled]="!hasCurrentCondition"
                (click)="showHistory()" 
            >History<mat-icon>arrow_forward</mat-icon></button>
        </div>        
    
        <div class="station">Weather Station: <span class="name">{{ weatherStation.stationName }}</span></div>

        <div *ngIf="!hasCurrentCondition" class="information">
            No conditions available.
        </div>
        <div class="station"> <span class="name">Hourly Indices</span></div>
       
            <div class="condition-metrics" *ngIf="hasCurrentCondition">
                <div class="metric">
                    <span class="label">Temperature</span>
                    <span class="value">{{ currentCondition.temp }}<span class="unit">&deg;C</span></span>
                </div>
                <div class="metric">
                    <span class="label">Relative Humidity</span>
                    <span class="value">{{ currentCondition.relativeHumidity }}<span class="unit">%</span></span>
                </div>
                <div class="metric">
                    <span class="label">Wind Speed</span>
                    <span class="value">{{ currentCondition.windSpeed }}<span class="unit">km/h</span></span>
                </div>
                <div class="metric">
                    <span class="label">Wind Direction</span>
                    <span class="value">{{ currentCondition.windDirection }}<span class="unit">&deg;</span></span>
                </div>
                <div class="metric">
                    <span class="label">Precipitation</span>
                    <span class="value">{{ currentCondition.precipitation }}<span class="unit">mm</span></span>
                </div>
                <div class="metric">
                    <span class="label">Fine Fuel Moisture Code</span>
                    <span class="value">{{ currentCondition.fineFuelMoistureCode }}</span>
                </div>
                <div class="metric">
                    <span class="label">Initial Spread Index</span>
                    <span class="value">{{ currentCondition.initialSpreadIndex }}</span>
                </div>
                <!-- <div class="metric">BUI:
                            <span class="value">{{ currentCondition.BUI }}</span>
                            <span class="unit"></span>
                        </div> -->
                <div class="metric">
                    <span class="label">Fire Weather Index</span>
                    <span class="value">{{ currentCondition.fireWeatherIndex }}</span>
                </div>
                <div class="metric">
                    <span class="label">Recorded</span>
                    <span class="value">{{ currentConditionTime() }}</span>
                </div>
            </div>


  

    <div class="station"> <span class="name">Daily Indices</span></div>
                        <div class="condition-metrics" *ngIf="dailyConditition">
                            <div class="metric">
                                <span class="label">Date</span>
                                <span class="value"> {{ readableDate(dailyConditition.day) }}</span>
                            </div>
                            <div class="metric">
                                <span class="label">Temperature</span>
                                <span class="value">{{ dailyConditition.temp }}<span class="unit">&deg;C</span></span>
                            </div>
                            <div class="metric">
                                <span class="label">Relative Humidity</span>
                                <span class="value">{{ dailyConditition.relativeHumidity }}<span class="unit">%</span></span>
                            </div>
                            <div class="metric">
                                <span class="label">Wind Speed</span>
                                <span class="value">{{ dailyConditition.windSpeed }}<span class="unit">km/h</span></span>
                            </div>
                            <div class="metric">
                                <span class="label">Wind Direction</span>
                                <span class="value">{{ dailyConditition.windDirection }}<span class="unit">&deg;</span></span>
                            </div>
                            <div class="metric">
                                <span class="label">Precipitation</span>
                                <span class="value">{{ dailyConditition.precipitation }}<span class="unit">mm</span></span>
                            </div>
                            <div class="metric">
                                <span class="label">Fine Fuel Moisture Code</span>
                                <span class="value">{{ dailyConditition.fineFuelMoistureCode }}</span>
                            </div>
                            <div class="metric">
                                <span class="label">Initial Spread Index</span>
                                <span class="value">{{ dailyConditition.initialSpreadIndex }}</span>
                            </div>
                            <div class="metric">
                                <span class="label">Fire Weather Index</span>
                                <span class="value">{{ dailyConditition.fireWeatherIndex }}</span>
                            </div>
                            <div class="metric">
                                <span class="label">Drought Code</span>
                                <span class="value">{{ dailyConditition.droughtCode }}</span>
                             </div>
                            <div class="metric">
                                <span class="label">Build Up Index</span>
                                <span class="value">{{ dailyConditition.buildupIndex }}</span>
                            </div>
                            <div class="metric">
                                <span class="label">Duff Moisture Code</span>
                                <span class="value">{{ dailyConditition.duffMoistureCode }}</span>
                            </div>
                        </div>
        <div class="footer">
            <div class="right">
                <mat-icon class="help-icon" matTooltip="Help" (click)="showHelp()">help</mat-icon>
            </div>
        </div>
    </div>
</ng-container>
