<div class="panel-header">Bans and Prohibitions</div>
<section>
    <h1>LEGEND & DEFINITIONS</h1>
    <article>
        <h2 class="yellow">Bans and Prohibitions</h2>
        <h3>Category 3 Open Fires</h3>
        <div class="list-rows paragraph-format">
          <ul>
            <li>Any fire larger than 2 metres high and 3 metres wide</li>
            <li>3 or more concurrently burning piles each no larger than 2 metres high and 3 metres wide</li>
            <li>1 or more burning windrows</li>
            <li>Stubble or grass burning over an area greater than 0.2 hectares</li>
          </ul>
          <img class="image-size" src="../../../assets/images/Category 3 Image.svg" alt="Category 3" />
        </div>
        <h3>Category 2 Open Fires</h3>
        <div class="list-rows paragraph-format">
          <ul>
            <li>1 to 2 concurrently burning piles each no larger than 2 metres high and 3 metres wide</li>
            <li>Stubble or grass burning over an area greater than 0.2 hectares</li>
          </ul>
          <img class="image-size" src="../../../assets/images/Category 2 Size.svg" alt="Category 2" />
        </div>
        <h3>Category 1 Campfires</h3>
        <div class="list-rows paragraph-format">
          <ul>
            <li>Any fire smaller than 0.5 metres high by 0.5 metres wide</li>
          </ul>
          <img class="image-size" src="../../../assets/images/CampFireSize.svg" alt="Campfire Size" />
        </div>
    </article>
</section>
<section>
    <h1>MORE INFORMATION</h1>
    <article>
        <p><a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/fire-bans-and-restrictions" target="_blank" rel="noopener">Current Fire Bans and Restrictions</a></p>
        <p><a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/fire-bans-and-restrictions/forest-use-restrictions" target="_blank" rel="noopener">Learn more about Forest Use Restrictions</a></p>
        <p><a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/fire-bans-and-restrictions/open-burning" target="_blank" rel="noopener">Learn more about Open Burning</a></p>
    </article>
</section>
