.image-size {
  max-width: 100px;
  margin-left: auto;
}

.list-rows {
  display: flex;

  ul {
    margin-top: -10px;
  }
}


section {
    border: 2px solid #e9eff5;

    h1 {
        background-color: #e9eff5;
        font-size: 13px;
        font-weight: normal;
        padding: 10px 20px;
        margin: 0;
        letter-spacing: 2px;
    }

    h3 {
      font-size: 15px;
      font-weight: 700;
      color: #003366
    }

    article {
        font-size: 15px;
        padding: 10px 20px;

        a:link {
          color: #1A5A96
        }

        a:visited{
            color: #1A5A96
        }

        a:hover{
            text-decoration: none;
        }


        h2 {
            font-size: 15px;
            padding: 0;
            margin: 0;
            display: flex;

            &.yellow {
              color: #7D7700;
              &::before {
                background-color: #FFFF78;
                border: 1px solid black;
              }
            }

            &.orange {
                color: #ef9c00;

                &::before {
                    background-color: #ef9c00
                }
            }

            &.red {
                color: #cf2a27;

                &::before {
                    background-color: #cf2a27;
                }
            }

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                margin-right: 10px
            }
        }
    }
}
