.unset-line-height-option{
  line-height: unset !important;
}

.wfone-public-mobile-advisories {
  overflow: hidden;
  .advisories-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 12px;
  }
  .toggle-part{
    line-height: 45px;
  }
  .toggle {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 45px;
    height: unset;
  }
  ::ng-deep .mat-list-base{
    padding: 0;
  }

  ::ng-deep .near-me-content {
    .header{
      display:none;
    }
  }
}
