.title-row {
  height: 24px;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-weight: 500;
  color: #333333;
  text-align: left;
  line-height: 24px;
  padding-left: 5px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.date-row {
  height: 24px;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  color: #6e6e6e;
  text-align: left;
  line-height: 24px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.gallery-panel {
  height: 250px;
  width: 400px;
}

.img-responsive {
  height: 250px;
  width: 400px;
  object-fit: cover;
}
