<div class="legend-panel">
  <div class="legend-panel-title">Evacuation Notices</div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Evacuation Alert" class="legend-accordion-icon" src="/assets/images/svg-icons/evac-alert-legend.svg" >
          Evacuation Alert
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A wildfire in this area has the potential to pose an imminent risk, and so people should be ready to leave at a moment’s notice.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Evacuation Order" class="legend-accordion-icon" src="/assets/images/svg-icons/evac-order-legend.svg" >
          Evacuation Order
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A wildfire poses an imminent risk to a community. When the order is released, residents should evacuate immediately.</p>
      <p class="legend-accordion-content">Local municipalities, regional districts, Indigenous and First Nation communities and the RCMP implement and enforce Evacuation Alerts and Orders.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

