<div class="legend-panel">
  <div class="legend-panel-title">Evacuation Notices</div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Evacuation Alert" class="legend-accordion-icon" src="/assets/images/svg-icons/evac-alert-legend.svg" >
          Evacuation Alert
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">An Evacuation Alert is a warning about a potential threat to life and/or property. It is intended to give you time to be ready for a possible evacuation. Residents will be given as much advance notice as possible prior to evacuation, however, you may receive limited notice due to changing conditions.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Evacuation Order" class="legend-accordion-icon" src="/assets/images/svg-icons/evac-order-legend.svg" >
          Evacuation Order
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">You are at risk. Leave the area immediately. You are encouraged to register all family members at the nearest reception centre so emergency responders know you are safe.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

