<ng-container class="incident-form">
  <mat-card class="info-card news-form-card">
    <fieldset class="field-set">
      <legend style="display: none">Tombstone Details Card</legend>
      <div class="news-form">
        <div class="field size-quarter">
          <div class="label">Discovery Date</div>
          <div><strong>{{incident.discoveryDate}}</strong></div>
        </div>
        <div class="field size-quarter">
          <div class="label">Fire Centre</div>
          <div><strong>{{incident.fireCentreOrgUnitName}}</strong></div>
        </div>
        <div class="field size-quarter">
          <div class="label">Stage of Control</div>
          <div><strong>{{incident.incidentData ? convertToStageOfControlDescription(incident.incidentData.incidentSituation.stageOfControlCode) : ''}}</strong></div>
        </div>
        <div class="field size-quarter">
          <div class="label">Response Type</div>
          <div><strong style="text-transform: capitalize;">{{incident.incidentData && incident.incidentData.responseTypeCode ? incident.incidentData.responseTypeCode.toLowerCase() : ''}}</strong></div>
        </div>
      </div>
    </fieldset>
  </mat-card>
</ng-container>
