@import '../../../styles/variables';
@import "notosans-fontface/scss/notosans-fontface";

:host {
  font-family: 'Noto Sans', Arial, 'sans serif';
}

.rof{
  height: 100vh; 
  background-color: white !important;
}

.mobile-header{
  display: flex;
  justify-content: space-between;
  padding:13px 32px 0 20px;
  align-items: center;
  position: sticky !important;
  top:0;
  background-color: white;
  z-index:9999;
  font-weight: 600;
  font-size: 18px;
  .skip{
    color:#7A7A7A;
  }
}


@media (max-width: 768px) {
  .header-container {
    padding: 0px !important;
  }
  .title{
    color:black !important
  }
}

@media (max-height: 700px) {
  .rof-text-primary-header{
    font-size: 3.85vh !important;
    margin: 10px 0px !important;
  }

  .rof-text-secondary-header{
      font-size: 2.2vh !important;
  }
}

.wrapper {
  position: fixed;
  bottom: 0px;
  margin: 0px 0px 0px 20px;
  width: calc(100% - 20px);
}

.ProgressBar {
  margin: 0 auto;
  padding: 0em 0 1em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.ProgressBar-step {
  width: 80%;
  .ProgressBar-icon {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
    max-width: 100%;
    z-index: 10;
    position: relative;
    transition: all .25s ease-out;
  }
}

.rof-image {
  text-align: center;
  width: 100%;
  height: 30vh;
  display: block;
}

.rof-button-container {
  justify-content: space-between;
  gap: 12px;
  display: flex;
  padding: 8px 0px;
  align-items: center;
  width: calc(100% - 64px);
  bottom: 3em;
  position: fixed;
  .rof-button {
    padding:0 32px;
    height: 43px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #F5F5F5;
    border: solid 1px #B0B0B0;;
    &-primary {
      padding:0 32px;
      height: 43px;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: white;
      background-color: #123262;
      flex-direction: row-reverse;
      &-review{
        padding:0 32px;
        height: 43px;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: white;
        background-color: #123262;
        flex-direction: none;;
      }

    }
    &-disabled {
      padding:0 32px;
      height: 43px;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      flex-direction: row-reverse;
      color: rgba(0, 0, 0)

    }
  }
  .flow-buttons{
    padding-bottom: 500px !important;
  }
}

.rof-complex-group {
  flex-flow: wrap;
  display: flex;
  overflow-y: auto;
  max-height: 525px;
  gap: 24px;
  .flex-button {
    width: calc(50vw - 30px);
    height: 81px;
    margin-bottom: 0px !important;
    background-color: #F1F1F1;
    @media (max-height: 700px){
      height: 9vh;
      font-size: 2.2vh !important;
    }
  }
  .mat-flat-button {
    border: none;
    border-radius: 8px;
    background: #f1f1f1;
    height: 81px;
    @media (max-height: 700px){
      height: 9vh;
    }
    padding: 0;
    margin: 0;
    font: inherit;
    outline: none;
    width: calc(100vw - 40px);
    cursor: pointer;
    color: #000 !important;
    text-align: center !important;
    font-size: 19px !important;
    @media (max-height: 700px){
      font-size: 2.2vh;
    }
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
    letter-spacing: -0.38px !important;
  }
}

.left-padding {
  padding-left: 10px;
}

.rof-toggle-group {
  margin: 20px 0;
  border: none;
  .mat-icon {
    color: #548ADB;
    margin-right: 8px;
  }
  .mat-button-toggle{
    margin-bottom: 24px;
    border: none;
    border-radius: 8px;
    height: 81px;
    @media (max-height: 700px){
      height: 9vh !important;
    }
  }
  .mat-button-toggle-appearance-standard {
    padding-top: 3px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #f1f1f1;
  }
  .mat-button-toggle-checked {
    background-color: #DFE5EE !important;
    border-radius: 8px;
    border: 3px solid #4169A4;
  }
  .mat-button-toggle-button {
    border-radius: 8px;
  }
}

::ng-deep.mat-button-toggle-button {
   height: 81px !important;
   @media (max-height: 700px) {
    height: 8.5vh !important;
   }
}

::ng-deep.mat-button-toggle-label-content {
  line-height: 20px !important;
  color: #000;
  text-align: center;
  font-size: 19px;
  @media (max-height: 700px){
    font-size: 2.2vh;
  }
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.38px;
  // margin-top: 16px;
}

.rof-text {
  color: #000000;
  &-title {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
    margin: 32px;
  }
  &-primary-header {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.56px;
    margin: 20px 0px;
  }
  &-secondary-header {
    color: #565656;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-bottom: 24px;
  }
  &-body {
    font-size: 17px;
    color: #242424;
    margin: 20px 0px;
    .selected {
      font-weight: 500;
    }
    .mat-mdc-checkbox{
      span{
        color: #242424;
        font-family: 'Noto Sans', Arial, 'sans serif';
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
  &-subheader {
    font-size: 16px;
    color: #484644;
    margin: 20px;
  }
  &-subheader-black {
    font-size: 17px;
    font-weight: 600;
    color:#242424;
    margin: 20px 0px;
  }
  &-review-header {
    color: #000;
    font-family: "BC Sans", "Noto Sans", Arial, "sans serif";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-top: 24px;
  }
}

.panel-wrapper {
  height: calc(100vh - 125px);
}

.page-content{
  padding: 0 32px;
  font-family: 'Noto Sans', Arial, 'sans serif';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  .rof-text-title{
    font-size: 32px;
    font-weight: 600;
  }
}

.divider{
  border-top: 1px solid #ccc;
  width: 100%;
}

.question-mark{
  vertical-align: baseline;
  color:#548ADB;
  margin-right: 8px;
}
