<div class="rof" [style]="currentPage.instance.id === 'review-page' ? 'height: unset' : ''">
  <div class="mobile-header">
    <span class="mobile-header-button"><span (click)="exit()"><mat-icon style="transform: translatey(5px);">chevron_left</mat-icon>{{exitText()}}</span></span>
    <span class="mobile-header-button"><span *ngIf="allowSkip" (click)="skip()" class="skip">Skip</span></span>
  </div>
  <div #dynamic class="page-container">
  </div>
  <div class="wrapper" *ngIf="showProgress">
    <ol class="ProgressBar">
      <li class="ProgressBar-step" *ngFor="let step of progressSteps; let i = index;">
        <svg class="ProgressBar-icon" [style]="i === currentStep-1 ? 'background-color: #123262' : ''"></svg>
      </li>
    </ol>
  </div>
</div>
