<near-me-item [ngClass]="{ 'expanded': expanded }" (click)="viewOnMap(nearMeItem)">
    <div class="icon">
        <mat-icon aria-hidden="false" svgIcon="{{CONSTANTS.MAT_ICON_CUSTOM_EXCLAMATION_CIRCLE}}" style="color: red"></mat-icon>
    </div>

    <div class="icon-info">
        {{ nearMeItem.dateActive }}
    </div>

    <div class="title">
        <a *ngIf="nearMeItem.url" (click)="openUrl(nearMeItem.url)" class="external-link">{{nearMeItem.evacuationName}}</a>
        <span *ngIf="!nearMeItem.url" class="bolder">{{nearMeItem.evacuationName}}</span>
        <span class="new-marker" *ngIf="nearMeItem.notified">New</span>
    </div>

    <div class="details">
        <div class="detail">
            <span class="label">Agency: </span>
            <span class="value">{{ nearMeItem.agency }}</span>
        </div>
        <div class="detail">
            <span class="label">Status: </span>
            <span class="value">{{ nearMeItem.evacuationStatus }}</span>
        </div>
    </div>

    <div class="action-info">
        <span *ngIf="nearMeItem.distanceKm">{{ nearMeItem.distanceKm }} km</span>
    </div>

    <div class="action">
        <mat-icon *ngIf="showMapInline && expanded">expand_less</mat-icon>
        <mat-icon *ngIf="showMapInline && !expanded">expand_more</mat-icon>
        <mat-icon *ngIf="!showMapInline" (click)="viewOnMap(nearMeItem)">place</mat-icon>
    </div>
</near-me-item>

<div class="map" *ngIf="expanded">
    <wf-map-container [mapConfig]="getMapConfig() | async" (mapInitialized)="initMap($event)"></wf-map-container>
</div>
