<div class="dialog-container">
    <h1 mat-dialog-title>Add Video</h1>
    <div class="dialog-content" mat-dialog-content>
      <mat-form-field class="item-full-width" appearance="standard" floatLabel="always">
        <mat-label class="label">Video Title (150 character limit)</mat-label>
        <input matInput type="text" placeholder="Title" [(ngModel)]="title" [value]="title" required>
      </mat-form-field>
      <mat-form-field class="item-full-width" appearance="standard" floatLabel="always">
        <mat-label class="label">Video URL</mat-label>
        <input matInput #input maxlength="150" type="text" placeholder="URL" [(ngModel)]="url" [value]="url" required>
        <mat-hint align="end">{{input.value?.length || 0}}/150</mat-hint>
      </mat-form-field>
    </div>
    <div class="dialog-actions" mat-dialog-actions>
        <button mat-raised-button color="primary" [mat-dialog-close]="returnResult()" [disabled]="url === null || title === null">Save</button>
        <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    </div>
  </div>
