@import "../report-of-fire.component.scss";

.input-style {
  margin: 10px 0px;
  width: 100%;
}

.input-label {
  color: #484644;
}

.mat-form-field-appearance-outline {
  background-color: #f1f1f1;
  height: 60px;
  border-radius: 7px;
}

::ng-deep.mat-mdc-text-field-wrapper {
  margin: 0px !important;
}

::ng-deep .mdc-notched-outline {
  opacity: 0;
}

.review-icon {
  padding-right: 12px !important;
  margin-right: -4px;
}

@media screen and (max-width: 380px) {
  .review-icon {
    padding-right: 12px !important;
    margin-right: -4px;
    transform: translate(-15px);
  }
}