@import "../report-of-fire.component.scss";

.input-style {
  margin: 10px 0px;
  width: 100%;
}

.input-label {
  color: #484644;
}

.mat-form-field-appearance-outline {
  background-color: #f1f1f1;
  height: 60px;
  border-radius: 7px;
}

::ng-deep.mat-mdc-text-field-wrapper {
  margin: 0px !important;
}

::ng-deep .mdc-notched-outline {
  opacity: 0;
}
