<div class="page-content">
  <div class="rof-text-primary-header">{{ offLine? offLineTitle: title }}</div>
  <div class="rof-text-secondary-header">{{ offLine? offLineMessage: message }}</div>

  <mat-label class="input-label">Name*</mat-label>
  <mat-form-field appearance="outline" class="input-style">
    <input matInput type="text" [(ngModel)]="reportOfFire.fullName">
  </mat-form-field>
  <mat-label class="input-label">Phone Number*</mat-label>
  <mat-form-field appearance="outline" class="input-style">
    <input matInput mask="(000) 000-0000" [(ngModel)]="reportOfFire.phoneNumber">
  </mat-form-field>

  <div class="rof-button-container" *ngIf="!isEditMode">
    <wfnews-button variant="secondary" size="large" label="Previous"
      (buttonClicked)="reportOfFire.consentToCall = 'no'; previous();"></wfnews-button>
    <wfnews-button variant="primary" size="large" label="Next" [disabled]="!isFormValid"
      iconPathEnd="/assets/images/svg-icons/arrow-forward-enabled.svg"
      (buttonClicked)="reportOfFire.consentToCall = 'yes'; nextPage();"></wfnews-button>
  </div>

  <div class="rof-button-container" *ngIf="isEditMode">
    <wfnews-button variant="secondary" size="large" label="Cancel"
      (buttonClicked)="backToReview();"></wfnews-button>
    <wfnews-button variant="primary" size="large" label="Save" [disabled]="!isFormValid"
      (buttonClicked)="reportOfFire.consentToCall = 'yes'; backToReview();"></wfnews-button>
  </div>
</div>
