@import '../report-of-fire.component.scss';

.input-style {
  margin: 10px 20px;
  width: calc(100vw - 40px);
}

.mat-form-field-appearance-outline {
  background-color: #f1f1f1;
  height: 60px;
  border-radius: 7px;
}

::ng-deep.mat-mdc-text-field-wrapper
 {
  margin: 0px !important;
}
