<div>
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>

  <mat-form-field style="margin: 20px; width: calc(100vw - 40px);">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="reportOfFire.fullName">
  </mat-form-field>
  <mat-form-field style="margin: 20px; width: calc(100vw - 40px);">
    <mat-label>Phone Number</mat-label>
    <input matInput mask="(000) 000-0000" [(ngModel)]="reportOfFire.phoneNumber">
  </mat-form-field>

  <div class="rof-button-container">
    <button class="rof-button" mat-flat-button (click)="reportOfFire.consentToCall = false; previous();">Previous</button>
	  <button class="rof-button-primary" mat-flat-button (click)="reportOfFire.consentToCall = true; next();">Continue</button>
  </div>
</div>
