<div class="info-container">
        <div class="full-details-secondary-title">Other Sources of Information</div>
        <h4>Prepared BC</h4>
        <p class="info">Prepared BC helps you prepare for emergencies so that you can respond better and recover faster.
        </p>
        <h4>At the Reception Centre</h4>
        <p class="info"><img class="info-icon" (click)="wildfirePreparedness()" src="/assets/images/download_circle.png"
                        alt="download_white" />Wildfire
                Preparedness Guide</p>
        <p class="info"><img class="info-icon" (click)="preparedBC()" src="/assets/images/launch_circle.png"
                        alt="launch_white" />Website
        </p>
        <p class="info"><img class="info-icon" (click)="preparedBCFacebook()" src="/assets/images/facebook_circle.png"
                        alt="facebook_white" />Facebook</p>
        <p class="info"><img class="info-icon" (click)="preparedBCTwitter()" src="/assets/images/twitter_circle.png"
                        alt="twitter_white" />Twitter</p>
        <h4>Emergency Info BC</h4>
        <p class="info">Emergency Info BC shares verified event information during emergencies, as well as official
                response
                and recovery resources.</p>
        <p class="info"><img class="info-icon" (click)="embcWebsite()" src="/assets/images/launch_circle.png"
                        alt="launch_white" />Website</p>
        <p class="info"><img class="info-icon" (click)="embcTwitter()" src="/assets/images/twitter_circle.png"
                        alt="twitter_white" />Twitter</p>
        <h4>BC Wildfire Service</h4>
        <p class="info">Keep checking the app or visit us on Facebook and Twitter for wildfire updates.</p>
        <p class="info"><img class="info-icon" (click)="bcwsFacebook()" src="/assets/images/facebook_circle.png"
                        alt="facebook_white" />Facebook</p>
        <p class="info"><img class="info-icon" (click)="bcwsTwitter()" src="/assets/images/twitter_circle.png"
                        alt="twitter_white" />Twitter</p>
</div>
<hr>
<div class="info-container">
        <div class="resource-title">Related Topics</div>
        <p>Links will open in your internet browser.</p>
        <div class="links">
                <div class="links-relative">
                        <p>Current Evacuation Advisories<img (click)="embcWebsite()" class="link-icon"
                                        src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
                </div>
                <div class="links-relative">
                        <p>Evacuee Guidance<img (click)="evacGuidance()" class="link-icon"
                                        src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
                </div>
                <div class="links-relative">
                        <p>Local Government Systems in B.C.<img (click)="localGov()" class="link-icon"
                                        src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
                </div>
                <div class="links-relative">
                        <p>B.C. Emergency Alerts<img (click)="emergencyAlerts()" class="link-icon"
                                        src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
                </div>
        </div>
</div>