<div class="info-container">
        <div class="full-details-secondary-title">Other Sources of Information</div>
        <h4>Prepared BC</h4>
        <p class="info">Prepared BC helps you prepare for emergencies so that you can respond better and recover faster.
        </p>
        <h4>At the Reception Centre</h4>
        <p class="info-click" (click)="openLink('wildfirePreparednessUrl')" ><img class="info-icon" src="/assets/images/download_circle.png"
                        alt="download_white" />Wildfire
                Preparedness Guide</p>
        <p class="info-click" (click)="openLink('preparedBCUrl')"><img class="info-icon" src="/assets/images/launch_circle.png"
                        alt="launch_white" />Website
        </p>
        <p class="info-click" (click)="openLink('preparedBCFacebook')"><img class="info-icon" src="/assets/images/facebook_circle.png"
                        alt="facebook_white" />Facebook</p>
        <p class="info-click" (click)="openLink('preparedBCTwitter')"><img class="info-icon" src="/assets/images/twitter_circle.png"
                        alt="twitter_white" />Twitter</p>
        <h4>Emergency Info BC</h4>
        <p class="info">Emergency Info BC shares verified event information during emergencies, as well as official
                response
                and recovery resources.</p>
        <p class="info-click" (click)="openLink('embcUrl')"><img class="info-icon" src="/assets/images/launch_circle.png"
                        alt="launch_white" />Website</p>
        <p class="info-click" (click)="openLink('embcTwitter')"><img class="info-icon" src="/assets/images/twitter_circle.png"
                        alt="twitter_white" />Twitter</p>
        <h4>BC Wildfire Service</h4>
        <p class="info">Keep checking the app or visit us on Facebook and Twitter for wildfire updates.</p>
        <p class="info-click" (click)="bcwsFacebook()"><img class="info-icon" src="/assets/images/facebook_circle.png"
                        alt="facebook_white" />Facebook</p>
        <p class="info-click" (click)="bcwsTwitter()"><img class="info-icon" src="/assets/images/twitter_circle.png"
                        alt="twitter_white" />Twitter</p>
</div>
<hr>
<div class="info-container">
        <div class="resource-title">Related Topics</div>
        <p>Links will open in your internet browser.</p>
        <div class="links">
                <div class="links-relative" (click)="openLink('embcUrl')">
                        <p>Current Evacuation Advisories<img class="link-icon"
                                        src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
                </div>
                <div class="links-relative" (click)="openLink('evacGuidanceUrl')">
                        <p>Evacuee Guidance<img class="link-icon"
                                        src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
                </div>
                <div class="links-relative" (click)="openLink('localGovUrl')">
                        <p>Local Government Systems in B.C.<img class="link-icon"
                                        src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
                </div>
                <div class="links-relative" (click)="openLink('emergencyAlertUrl')">
                        <p>B.C. Emergency Alerts<img class="link-icon"
                                        src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
                </div>
        </div>
</div>