<content-card-container class="fires-card">
  <span class="title">Category 3 Open Fires</span>
  <img class="image" src="assets/images/Category 3 Image.svg" alt="Large Open Fire"/>
  <span class="text">This category means an open fire that burns:
    <ul>
      <li>Material concurrently in 3 or more piles each not exceeding 2 metres in height and 3 metres in width</li>
      <li>Material in one or more piles each exceeding 2 metres in height or 3 metres in width</li>
      <li>One or more windrows, none of which exceed 200 metres in length or 15 metres in width</li>
      <li>Stubble or grass over an area exceeding 0.2 hectares</li>
    </ul>
  </span>
</content-card-container>