<div class="advisory-section" [ngStyle]="style ? {'background': style.backgroundColor, 'border-color': style.outerBorderColor} : null">

  <div class="top">
    <img class="logo" [src]="logoPath" alt="logo" />
  </div>

  <hr [ngStyle]="style ? {'background': style.dividerColor} : null" />

  <div class="bottom">

    <div class="content-container">
      <div class="icon-container" [ngStyle]="style ? {'background': style.iconCircleColor} : null">
        <img class="icon" [src]="iconPath" alt="icon" />
      </div>
  
      <div class="message-container">
        <span class="title">{{ title }}</span>
        <span class="message">{{ message }}</span>
      </div>
    </div>

    <div class="button-container">
      <icon-button [iconPath]="button.iconPath" [label]="button.label" [style]="button.style"
        [clickHandler]="button.clickHandler()"></icon-button>
    </div>
  </div>

</div>