<div class="image-panel">
  <div class="image-container">
    <iframe [src]="getSafeUrl(video.externalUri)" style="width: calc(100% - 15px); height: 100%; border: 0; border-radius: 10px;" allowfullscreen>
    </iframe>
  </div>
  <div class="info-panel">
    <div class="row">Video Title: <strong>{{video.externalUriDisplayLabel}}</strong></div>
    <div class="row">Date Uploaded: <strong>{{convertToDate(video.createdTimestamp)}}</strong></div>
    <div class="divider action"></div>
    <div class="action">
      <mat-icon (click)="edit()">edit</mat-icon> Edit Video Details
    </div>
    <div class="action">
      <mat-icon (click)="remove()">delete</mat-icon> Remove Video
    </div>
    <div class="action">
      <mat-radio-button [checked]="isPrimary" (change)="changePrimary()">Set as Primary Video</mat-radio-button>
    </div>
  </div>

</div>