@import "../../../styles/variables";

:host {
  display: block;
  font-family: $font-family-main;
  font-size: 0.8rem;

  .snackbar {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    .icon {
      background-image: url("../../../assets/images/logo/BC-Wildfire-Icon.png");
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: center;
      flex-shrink: 0;

      width: 40px;
      height: 40px;
    }

    .content {
      flex-grow: 1;
      margin-left: 10px;
    }

    .close {
      position: relative;
      right: -10px;
      top: -10px;
    }
  }
}

::ng-deep .cdk-overlay-container {
  margin-top: 45px
}
