#mobile-navigation-bar {
  display: none;
}

.title-panel {
  display: flex;
  padding: 24px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  .full-details-title {
    color: var(--Black-1, #242424);
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    /* 150% */
    letter-spacing: 0.35px;
  }

  .info {
    color: var(--Grey-6---666, #666);
    display: flex !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 8px;
  }
}

.map-button {
  width: 100%;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  flex: 1 0 0;
  border: 1px solid grey !important;
  color: #000;
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;

  ::ng-deep .mdc-button__label {
    bottom: 3px;
  }
}

.link-button {
  width: 100%;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  flex: 1 0 0;
  border: 1px solid grey !important;
  color: #000;
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 16px;

  ::ng-deep .mdc-button__label {
    bottom: 3px;
  }
}

.link-button-no-icon {
  width: 100%;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  flex: 1 0 0;
  border: 1px solid grey !important;
  color: #000;
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-bottom: 16px;
}

.info-container {
  display: flex;
  padding: 24px 24px 10px 24px;
  flex-direction: column;
  align-self: stretch;
}

.info {
  color: var(--Grey-6---666, #666);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0px 0px 24px 0px;
  display: flex !important;
}

.incident-info {
  color: var(--Grey-6---666, #666);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0px 0px 16px 0px;
  display: flex !important;
}

.full-details-header {
  height: 25px;
  width: 95%;
  position: absolute;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  z-index: 1000 !important;
  background-color: white;

  &-left-button {
    position: relative;
    top: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }

  &-right-button {
    position: relative;
    top: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
}

.wildfire-title {
  color: var(--Black-1, #242424);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;

  &-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
  }
}

.fire-info-container {
  position: relative;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--grays-gray-7, #dedede);
  background: var(--White, #fdfdfd);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.07);

  .break {
    border: 0;
    clear: both;
    display: flex;
    width: 99%;
    background-color: #ddd;
    height: 1px;
    margin-left: 0px !important;
    margin-bottom: 16px;
  }

  .info {
    color: var(--Grey-6---666, #666);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 4px;
  }
}

h4 {
  color: var(--Black-2, #484848);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px 0px 16px 0px;
}

.full-details-tertiary-title {
  color: var(--Black-2, #484848);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px 0px 16px 0px;
}

.wilfire-of-note-panel {
  width: 50%;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid var(--reds-red-8, #fbe3e3);
  background: var(--reds-red-7, #fef1f2);
  color: #98273b;

  &-icon {
    position: relative;
    margin-right: 8px;
    height: 20px;
    width: 20px;
  }
}

.full-details-name {
  color: var(--Black-1, #242424);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.35px;
}

.full-details-secondary-title {
  position: relative;
  color: var(--Black-1, #242424);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  margin: 0px 0px 16px 0px;
}

.restriction-info {
  display: flex;
  padding: 0px 24px 32px 24px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.map-container-mobile {
  width: 100%;
  min-height: 200px !important;
}

.links {
  position: relative;
  padding-bottom: 120px;

  p {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--grays-gray-7, #dedede);
    background: var(--blues-blue-11, #f5f6f9);
  }

  &-relative {
    position: relative;
    cursor: pointer;
  }
}

.circle-icon {
  &.active-wildfires-holding {
    display: inline-block;
    background-color: #ffff00;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 4px;
  }

  &.active-wildfires-out-of-control {
    display: inline-block;
    background-color: #ff0000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 4px;
  }

  &.active-wildfires-under-control {
    display: inline-block;
    background-color: #98e600;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 4px;
  }

  &.bcws-activefires-publicview-inactive {
    display: inline-block;
    background-color: #5c6671;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 4px;
  }
}

hr {
  background-color: #ddd;
  height: 1px;
  border: 0;
  margin: 0px 20px 0px 20px;
}

.arrow-button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  padding: 6px;
  border-radius: 64px;
  background: var(--Grey-2-EEE, #eee);
  cursor: pointer;
}

.icon {
  position: relative;
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

.tertiary-icon {
  position: relative;
  margin-right: 8px;
  height: 24px;
  width: 24px;
  top: 5px;
}

.bulletin {
  display: flex;
  width: 85 dvw;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 94px;
  border-radius: 8px;
  border: 1px solid var(--grays-gray-8, #e4e4e4);
  background: #fff;
  z-index: 1000;
  /* Card Shadow */
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);

  p {
    color: var(--blues-blue-2, #036);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 146.667% */
    letter-spacing: -0.408px;
  }

  button {
    position: relative;
    display: flex;
    padding: 8px 14px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: var(--blues-blue-2, #036);
    width: 100px;
    color: white;
    cursor: pointer;
  }

  &-link-icon {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.spacer {
  position: relative !important;
  height: 60px !important;
  width: 100% !important;
}

.link-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.info-container-section-title {
  color: var(--Black-2, #484848);
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 16px;
}

.panel-button {
  width: 100%;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border: 1px solid grey !important;

  color: #000;
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  // height: 40px;
}

.image-size {
  margin-top: 16px;
  max-width: 148px;
}

li {
  color: #5b5b5b;
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contents{
  padding-top: 45px;
}
