.container {
  height: calc(100vh - 300px)
}

.headers{
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  height: 100px;
}

.field{
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 0;
    padding: 20px;
    .toggle-bar{
        display: inline-flex;
        width: max-content;
        span{
            vertical-align: bottom;
            padding-right: 8px;
        }
    }
}

mat-label{
    font-size: 15px;
    font-weight: 400;
    padding: 5px 1.5px;
}

select{
    border: 1px solid #dddddd;
    padding: 0 5px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #1a5a96 ;
}


.mat-expansion-panel{
    box-shadow: none;
    margin-top: 16px;
}

.mat-expansion-panel-header{
    background-color: #f1f1f3 !important; 
    &:hover{
        background-color: #f1f1f3;
      }
    mat-panel-title{
        font-size: 20px;
        font-weight: 400;
        color: #1c5a97;
    }
}

::ng-deep .mat-expansion-panel-content{
    padding-top: 10px;
    .mat-expansion-panel-body{
        padding: 0 !important;
        .panel-header{
            display: none;
        }
        .current-orders{
            display: none;
        }
    }

}

.contents{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  .panel-title{
    font-size: 25px;
    font-weight: 400;
    padding: 10px 0;
  }
  .left-panels{
    width: 50%;
    margin-left: 20px;
    height: auto;
  }
  .notice-list{
      width: 45%;
      border-radius: 5px;
      height: auto;
      mat-expansion-panel{
        border: 1px solid #dddddd;
      }
      .notice-item{
          .item-header{
              font-size: 18px;
              font-weight: 700;
              color: black !important;
              text-decoration: underline;
              padding: 10px 20px 5px;
              width: fit-content;
          }

          .label {
              color:#D20000;
              font-size: 0.87rem;
              font-weight: 400;
              display: inline-flex;
              padding-left: 15px;
          }
      }

      .item-row {
          display: flex;
          font-weight: 700;
          padding: 5px 20px;
          width: 100%;
          .item-title{
            font-size: 1rem;
            width: 100%;
            max-width: 135px;
          }
          .item-content{
            width: 100%;
            font-size:15px;
            font-weight: 400;
          }
      }
  }
}

.contents> * {
  flex: 1 1 307px;
  margin: 8px;
}

.mini-map {
  height: 300px;
}

.exp-panel {
  height: 200px;
  padding: 7px 7px;
  background: white;
  border-radius: 0px;
}

::ng-deep .mat-content {
  flex-direction: column !important;
}

@media (max-width: 820px) {
  .contents> * {
    flex: 1 1 100%;
    margin: 8px;
  }
}
