.dialog-form {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .title-row.form-row {
    background-color: rgba(200, 230, 255, .60);
    padding: .5rem 1rem 0;
  }

  .form-row {
    display: flex;
    justify-content: stretch;
    padding: 0 1rem;

    .field,
    .field .mat-form-field {
      width: 100%;

      span {
        font-size: medium;
      }
    }
  }

  .mat-dialog-content {
    margin: 0px;
    padding: 0.5rem;
    min-height: 4rem;
  }

  .mat-radio-button {
    padding-right: .5rem;
  }

  .date-picker-input {
    display: flex;
  }

  .dialog-controls {
    align-self: flex-end;
    padding: .5rem 1rem 1rem;
  }
}
