@import '../variables';

.wf1-filters {
  .mat-tab-label.mat-tab-label-active {
    background-color: $opacity-grey;
  }

  .filter-tab {
    &__header {
      display: flex;
      flex-flow: column;
    }

    &__body {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 2rem;
      grid-template-columns: 1fr 2rem;

      .filter-tab__body__options {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: -1;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }

      .filter-tab__body__icon {
        justify-self: end;
        align-self: start;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: -1;

        -ms-grid-column-align: end;
        -ms-grid-row-align: start;
        -ms-grid-column: 2;
        -ms-grid-row: 1;
      }
    }

    &__header {
      padding: 0 .5rem;
      box-sizing: border-box;
      height: $wf1-toolbar-height;
      width: 100%;
      justify-content: center;

      &__title,
      &__subtitle {
        font-size: small;
      }

      &__subtitle {
        color: $colour-red;
      }
    }

    &__body {
      box-sizing: border-box;
      padding: 1rem 2rem;
      height: $wf1-filter-toolbar-content-height;

      &__clear,
      .wf1-application-icon.wf1-icon-size-toolbar {
        cursor: pointer;
        align-self: flex-end;
        width: 1.2rem;
        height: 1.8rem;
      }

      &__options{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: fit-content;

        .date-picker-input{

          .mat-form-field-infix{
            display: flex;
            width: fit-content;
          }

          button {
            min-width: 0;
          }

          .mat-button {
            line-height: 0;
          }

          .mat-icon {
            height: 1rem;
            width: 1rem;
          }

          .material-icons {
            font-size: 1.2rem;
          }
        }
      }

    }
  }

  // Hide tab content
  .mat-tab-group {
    &--hidden .filter-tab__body {
      display: none;
    }

    &--hidden {
      .mat-tab-body,
      .mat-tab-body-wrapper {
        display: none;
      }
    }

    .mat-tab-label {
      box-sizing: border-box;
      padding: 0;
      min-width: 1rem;
      flex: 1 1 auto;

      &-content {
        height: 100%;
        width: 100%;
      }
    }

    .filter-tab__body__options{
      width: fit-content;

      .date-picker-input{

        .mat-form-field-infix{
          display: flex;
          width: fit-content;
        }

        button {
          min-width: 0;
        }

        .mat-button {
          line-height: 0;
        }

        .mat-icon {
          height: 1rem;
          width: 1rem;
        }

        .material-icons {
          font-size: 1.2rem;
        }
      }

      mat-checkbox {
        display: block;
      }
    }

    .mat-tab-label:hover {
      background-color: $colour-toolbar-grey;
    }
  }
}
