<content-card-container class="fire-size-card">
  <div class="header">
    <span class="title">Fire Size</span>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="content-title"><img class="icon" src="assets/images/svg-icons/carbon_ruler.svg" alt="ruler">
        {{ fireSize?.toLocaleString() }} Hectares </div>
      <div class="content-list">
        <span class="content-text">{{ description }}</span>
      </div>
    </div>
  </div>
</content-card-container>