<base-wrapper [errorState]="errorState" [toolbarIsVisible]="true" [backRoute]="backRoute" [backRouteLabel]="backRouteLabel" [title]="title">
    <div class="page-width-container wfone-public-mobile-notifications standard-content" [ngClass]="elevation">
        <div class="title-bar-wrapper" *ngIf="!getIsMobileRes()">
            <div class="title-bar">
                <div class="left">
                    <button *ngIf="getIsMobileRes() && backRoute" type="button" name="back button" (click)="navigateToBackRoute()" class="nav-menu-button">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="middle">
                    <div *ngIf="title" class="title">{{title}}</div>
                    <div *ngIf="summaryString" class="summary">{{summaryString}}</div>
                </div>
            </div>
        </div>
        <div class="notification-detail-block">
          <div>
            <mat-form-field>
              <mat-label style="color: #657786;">Name</mat-label>
              <input matInput #nameLabel #accessFocusPoint id="accessFocusPoint" (focus)="textFocus(true)" (blur)="textFocus(false)"
                style="color: black;"
                [value]="nameLabelText">
            </mat-form-field>
          </div>
          <div style="display:flex; flex-direction:column; ">
            <span style="color:#657786;">Notifications types</span>
            <mat-checkbox style="color: black;" #evacCheck>Active Fires + Evacuation Orders</mat-checkbox>
            <mat-checkbox style="color: black;" #banCheck> Bans & Prohibitions + Area Restrictions</mat-checkbox>
          </div>
          <div style="display:flex; flex-direction:column; ">
            <span style="color: #657786;"> Location </span>
            <wf-map-container [mapConfig]="mapConfig" (mapInitialized)="initMap($event)"></wf-map-container>
            <span style="color: #657786;font-size: small;">Hint: You can move the location to desired destination</span>
          </div>
          <div>
            <span style="color: #657786;"> Radius </span>
            <mat-slider
              [displayWith]="formatLabel"
              (input)="updateRadius($event)"
              tickInterval="1000"
              value={{radiusValue}}
              min="25"
              max="100"
              step="25"></mat-slider>
              <span style="color: black;">{{radiusValue}} km</span>
          </div>
          <div class="saveButton">
            <button (click)="saveLocation()" class="addButton" [disabled]="enableSave ? '' : 'disabled'">
                Save
            </button>
          </div>
        </div>
    </div>
</base-wrapper>
