<div class="identify-panel-wrapper">
    <div class="identify-panel" *ngIf="showPanel && currentIncidentRefs && currentIncidentRefs.length >= 1">
        <div class="panel-container" >
            <div *ngIf="currentIncidentRefs && currentIncidentRefs.length == 1" class="identify-panel-title">
                {{currentIncidentRefs.length}} Result <mat-icon svgIcon="cancel" (click)="closePanel()"></mat-icon>
            </div>
            <div *ngIf="currentIncidentRefs && currentIncidentRefs.length != 1" class="identify-panel-title">
                {{currentIncidentRefs.length}} Results <mat-icon svgIcon="cancel" (click)="closePanel()"></mat-icon>
            </div>
            <div *ngIf="filteredWildfires && filteredWildfires.length">
                <div class="criteria-title">Wildfires</div>
                <div *ngFor="let wildfire of filteredWildfires" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(wildfire)">
                        <div class="left-content">
                            <img alt="icon" *ngIf="wildfire.layerId === 'active-wildfires-fire-of-note'" class="incident-icon-title" src="/assets/images/local_fire_department.png"/>
                            <div class="wildfire-icon"><span class="circle-icon {{wildfire.layerId === 'fire-perimeters' ? convertFirePerimeterFireStatus(wildfire.properties.FIRE_STATUS) : wildfire.layerId }} list"></span></div>
                            {{displayWildfireName(wildfire)}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredFirePerimeters && filteredFirePerimeters.length">
                <div class="criteria-title">Fire Perimeters</div>
                <div *ngFor="let firePerimeter of filteredFirePerimeters" class="widget-card">
                    <div class="widget-row" (click)="openPreviewPanel(firePerimeter)">
                        <div class="left-content">
                        {{firePerimeter.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredEvacs && filteredEvacs.length">
                <div class="criteria-title">Evacuations</div>
                <div *ngFor="let evac of filteredEvacs" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(evac)">
                        <div class="left-content">
                            <img *ngIf="evac.properties.ORDER_ALERT_STATUS === 'Alert'" class="incident-icon-title" src="/assets/images/svg-icons/evacuation-alert.svg" alt="Order">
                            <img *ngIf="evac.properties.ORDER_ALERT_STATUS === 'Order'" class="incident-icon-title" src="/assets/images/svg-icons/evacuation-order.svg" alt="Order">
                        Evacuation {{evac.properties.ORDER_ALERT_STATUS}} for {{evac.properties.EVENT_NAME}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredAreaRestrictions && filteredAreaRestrictions.length">
                <div class="criteria-title">Area Restrictions</div>
                <div *ngFor="let areaRestriction of filteredAreaRestrictions" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(areaRestriction)">
                        <div class="left-content">
                            <img class="incident-icon-title" src="/assets/images/svg-icons/area-restriction.svg" alt="Area Restrictions">
                        {{parseAreaRestriction(areaRestriction.properties.NAME)}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredBansAndProhibitions && filteredBansAndProhibitions.length">
                <div class="criteria-title">Fire Bans and Prohibitions</div>
                <div *ngFor="let ban of filteredBansAndProhibitions" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(ban)">
                        <div class="left-content">
                            <img class="incident-icon-title" src="/assets/images/svg-icons/ban.svg" alt="Ban">
                        Fire Ban on {{ban.title}} Open Fires
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredDangerRatings && filteredDangerRatings.length">
                <div class="criteria-title">Fire Danger Rating</div>
                <div *ngFor="let danger of filteredDangerRatings" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(danger)">
                        <div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'Extreme'" class="left-content">
                                <img class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-extreme.svg" alt="Fire Danger">
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'High'" class="left-content">
                                <img class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-high.svg" alt="Fire Danger">
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'Moderate'" class="left-content">
                                <img class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-moderate.svg" alt="Fire Danger">
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'Low'" class="left-content">
                                <img class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-low.svg" alt="Fire Danger">
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                            <div *ngIf = "danger.properties.DANGER_RATING_DESC === 'Very Low'" class="left-content">
                                <img class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-very-low.svg" alt="Fire Danger">
                                {{danger.properties.DANGER_RATING_DESC}} Fire Danger
                            </div>
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredRoadEvents && filteredRoadEvents.length">
                <div class="criteria-title">Road Events</div>
                <div *ngFor="let event of filteredRoadEvents" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(event)">
                        <div class="left-content">
                            <img class="incident-icon-title" src="/assets/images/svg-icons/ban.svg" alt="ban">
                            {{event.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredClosedRecreationSites && filteredClosedRecreationSites.length">
                <div class="criteria-title">Closed Recreation Sites</div>
                <div *ngFor="let closedRecreationSite of filteredClosedRecreationSites" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(closedRecreationSite)">
                        <div class="left-content">
                            <img class="incident-icon-title" src="/assets/images/svg-icons/closed-recreation-site.svg" alt="closed-recreation-site">
                            {{closedRecreationSite.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredForestServiceRoads && filteredForestServiceRoads.length">
                <div class="criteria-title">Forest Service Roads</div>
                <div *ngFor="let forestServiceRoad of filteredForestServiceRoads" class="widget-card">
                    <div class="widget-row">
                        <div class="left-content">
                            {{forestServiceRoad.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredProtectedLandsAccessRestrictions && filteredProtectedLandsAccessRestrictions.length">
                <div class="criteria-title">Protected Lands Access Restrictions</div>
                <div *ngFor="let protectedLandsAccessRestriction of filteredProtectedLandsAccessRestrictions" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(protectedLandsAccessRestriction)">
                        <div class="left-content">
                            {{protectedLandsAccessRestriction.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredRegionalDistricts && filteredRegionalDistricts.length">
                <div class="criteria-title">Regional Districts</div>
                <div *ngFor="let regionalDistrict of filteredRegionalDistricts" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(regionalDistrict)">
                        <div class="left-content">
                            <img class="incident-icon-title" src="/assets/images/svg-icons/regional-districts.svg" alt="regional-districts">
                            {{regionalDistrict.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredMunicipalities && filteredMunicipalities.length">
                <div class="criteria-title">Municipalities</div>
                <div *ngFor="let municipality of filteredMunicipalities" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(municipality)">
                        <div class="left-content">
                            <img class="incident-icon-title" src="/assets/images/svg-icons/regional-districts.svg" alt="municipalities">
                            {{municipality.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredFirstNationsTreatyLand && filteredFirstNationsTreatyLand.length">
                <div class="criteria-title">First Nations Treaty Land</div>
                <div *ngFor="let firstNationsTreatyLand of filteredFirstNationsTreatyLand" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(firstNationsTreatyLand)">
                        <div class="left-content">
                            <img class="incident-icon-title" src="/assets/images/svg-icons/brown-square.svg" alt="first-nations-treaty-land">
                            {{firstNationsTreatyLand.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="filteredIndianReserve && filteredIndianReserve.length">
                <div class="criteria-title">Indian Reserve</div>
                <div *ngFor="let indianReserve of filteredIndianReserve" class="widget-card">
                    <div class="widget-row" (click)="enterPreview(indianReserve)">
                        <div class="left-content">
                            <img class="incident-icon-title" src="/assets/images/svg-icons/indian-reserve.svg" alt="indian-reserve">
                            {{indianReserve.title}}
                        </div>
                        <div class="right-content">
                            <mat-icon svgIcon='arrow'></mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="weatherStations?.length">
              <div class="criteria-title">Active Weather Stations</div>
              <div *ngFor="let station of weatherStations" class="widget-card">
                  <div class="widget-row" (click)="enterPreview(station)">
                      <div class="left-content">
                          <img class="incident-icon-title" src="/assets/images/svg-icons/carbon_partly-cloudy.svg" alt="nearby weather station">
                          {{station.title}}
                      </div>
                      <div class="right-content">
                          <mat-icon svgIcon='arrow'></mat-icon>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <ng-template #weatherPanelContainer></ng-template>
        <ng-template #areaRestrictionPanelContainer></ng-template>
        <ng-template #fireBanPanelContainer></ng-template>
        <ng-template #dangerRatingPanelContainer></ng-template>
        <ng-template #protectedLandPanelContainer></ng-template>
        <ng-template #wildfirePanelContainer></ng-template>
        <ng-template #evacuationsPanelContainer></ng-template>
        <ng-template #roadEventsPanelContainer></ng-template>
        <ng-template #localAuthoritiesPanelContainer></ng-template>
        <ng-template #closedRecSitesPanelContainer></ng-template>
    </div>
</div>
