<div class="dialog-container">
  <h1 mat-dialog-title>Upload Image</h1>
  <div class="dialog-content" mat-dialog-content>
    <input #pdfInput hidden="true" type="file" onclick="this.value=null" (change)="pdfInputChange($event)" accept="image/*"/>
    <button mat-flat-button color="primary" (click)="pdfInput.click()">Browse</button>
    <mat-form-field class="item-full-width" appearance="standard" floatLabel="always">
      <mat-label class="label">Title</mat-label>
      <input matInput #input maxlength="150" type="text" placeholder="Title" [(ngModel)]="title" [value]="title" required>
      <mat-hint align="end">{{input.value?.length || 0}}/150</mat-hint>
    </mat-form-field>
  </div>
  <div class="dialog-actions" mat-dialog-actions>
  	<button mat-raised-button color="primary" [mat-dialog-close]="returnResult()" (disabled)="file === null">Save</button>
	  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  </div>
</div>
