.blinking-rof-icon {
    animation: fade 0.5s infinite alternate;
}

.rof-tooltip {
    width: 275px;
    padding: 0px 1px 0px 1px !important;
    background-color: white;
    opacity: 1 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.rof-tooltip .wfml-info-title {
    color: blue;
}
.rof-icon {
    
}
.rof-blinking {
    animation: fade 0.5s infinite alternate;
}
.rof-img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 0px;
}
.rof-label {
    padding: 0px 1px 0px 1px !important;
    background-color: #cccccc;
    font-weight: bold;
    opacity: 1 !important;
    width: 50px;
    height: 16px;
    text-align: center;
}
.rof-label-unack {
    padding: 0px 1px 0px 1px !important;
    background-color: #fafa9f;
    font-weight: bold;
    opacity: 1 !important;
    width: 50px;
    height: 16px;
    text-align: center;
    z-index: 3000;
}
.rof-cluster-unack {
	background-clip: padding-box;
    z-index: 3000 !important;
}
.rof-cluster-unack div {
	width: 24px;
	height: 24px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
    border: yellow solid 8px;
	border-radius: 19px;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;

    background-color: #4b4bff;
    color: white;
    z-index: 3000;
}
.rof-cluster-unack span {
	line-height: 24px;
}

.rof-cluster {
	background-clip: padding-box;
    z-index: 2999 !important;
}
.rof-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;

    background-color: #4b4bff;
    color: white;
}
.rof-cluster span {
	line-height: 30px;
}

.incident-tooltip {
    width: 275px;
    padding: 0px 1px 0px 1px !important;
    background-color: white;
    opacity: 1 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.incident-tooltip .wfml-info-title {
    background-color: #fabf4f;
}
.incident-icon {
    
}
.incident-img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 0px;
}
.incident-label {
    padding: 0px 2px 0px 2px !important;
    background-color: #fabf4f;
    font-weight: bold;
    opacity: 1 !important;
    width: 50px;
    height: 16px;
    text-align: center;
    white-space: nowrap;
    display: inline;
}
.incident-cluster {
	background-clip: padding-box;
}
.incident-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;

    background-color: #fabf4f;
    color: black;
}
.incident-cluster span {
	line-height: 30px;
}
