:host { display: block; }

.icon-list-item {
  display: flex;
  gap: 16px;

  .icon {
    width: 24px;
    height: 24px;
    align-self: center;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  .text {
    color: var(--Grey-5B, #5B5B5B);

    /* 16 Reg */
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    word-break: break-word;
  }
}