
.rof-tooltip {
    width: 275px;
    padding: 0px 1px 0px 1px !important;
    background-color: white;
    opacity: 1 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.rof-tooltip .wfml-info-title {
    color: blue;
}

.rof-blinking {
    animation: fade 0.5s infinite alternate;
}

.rof-label {
    padding: 0px 1px 0px 1px !important;
    background-color: #cccccc;
    font-weight: bold;
    opacity: 1 !important;
    width: 50px;
    height: 16px;
    text-align: center;
}

.rof-unack .rof-label {
    background-color: #fafa9f;
    /* z-index: 3000; */
}



.rof-cluster-unack {
	background-clip: padding-box;
    /* z-index: 3000 !important; */
}
.rof-cluster-unack div {
	width: 24px;
	height: 24px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
    border: yellow solid 8px;
	border-radius: 19px;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;

    background-color: #4b4bff;
    color: white;
    z-index: 3000;
}
.rof-cluster-unack span {
	line-height: 24px;
}

.rof-cluster {
	background-clip: padding-box;
    /* z-index: 2999 !important; */
}
.rof-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;

    background-color: #4b4bff;
    color: white;
}
.rof-cluster span {
	line-height: 30px;
}

.rof-icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.rof-icon-draft {
    background-image: url( 'rof_draft.png' );
}

.rof-icon-campfire-cancelled {
    background-image: url( 'rof_campfire_cancel.png' );
}

.rof-icon-campfire-assigned {
    background-image: url( 'rof_campfire_assign.png' );
}

.rof-icon-campfire {
    background-image: url( 'rof_campfire.png' );
}

.rof-icon-cigarette-cancelled {
    background-image: url( 'rof_cigarette_cancel.png' );
}

.rof-icon-cigarette-assigned {
    background-image: url( 'rof_cigarette_assign.png' );
}

.rof-icon-cigarette {
    background-image: url( 'rof_cigarette.png' );
}

.rof-icon-general-cancelled {
    background-image: url( 'rof_general_cancel.png' );
}

.rof-icon-general-assigned {
    background-image: url( 'rof_general_assign.png' );
}

.rof-icon-general {
    background-image: url( 'rof_general.png' );
}

.rof-icon-interface-cancelled {
    background-image: url( 'rof_interface_cancel.png' );
}

.rof-icon-interface-assigned {
    background-image: url( 'rof_interface_assign.png' );
}

.rof-icon-interface {
    background-image: url( 'rof_interface.png' );
}

.rof-icon-regular-cancelled {
    background-image: url( 'rof_general_cancel.png' );
}

.rof-icon-regular-assigned {
    background-image: url( 'rof_general_assign.png' );
}

.rof-icon-regular {
    background-image: url( 'rof_general.png' );
}




.incident-tooltip {
    width: 275px;
    padding: 0px 1px 0px 1px !important;
    background-color: white;
    opacity: 1 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.incident-tooltip .wfml-info-title {
    background-color: #fabf4f;
}

.incident-icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;   
    margin-left: 15px;
}

.incident-icon-red {
    background-image: url( 'incident-red.png' );
}

.incident-icon-green {
    background-image: url( 'incident-green.png' );
}

/* .incident-img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 0px;
} */
.incident-label {
    padding: 0px 2px 0px 2px !important;
    background-color: #fabf4f;
    font-weight: bold;
    opacity: 1 !important;
    width: 50px;
    height: 16px;
    text-align: center;
    white-space: nowrap;
    display: inline;
}
.incident-cluster {
	background-clip: padding-box;
}
.incident-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;

    background-color: #fabf4f;
    color: black;
}
.incident-cluster span {
	line-height: 30px;
}



.wfim-cluster span {
    position: absolute;    
    left: 0;
    top: 0;

    display: block;
	width: 40px;
	height: 40px;
    color: white;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 40px;
    text-align: center;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000, -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000;
    font-weight: bold;
}

.wfim-cluster .rof-cluster {
    position: absolute;    
    left: 0;
    top: 0;

	width: 30px;
	height: 30px;
    margin: 5px;
	border-radius: 15px;
    background-color: #4b4bff;
}

.wfim-cluster .rof-cluster-unack {
	width: 22px;
	height: 22px;
    border: yellow solid 4px;
}

.wfim-cluster .incident-cluster {
    position: absolute;    
    left: 0;
    top: 0;

	width: 30px;
	height: 30px;
    margin: 5px;
    border-radius: 2px;
    background-color: #fabf4f;
}



.wfim-fire-resource {
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}

.wfim-fire-resource.wfim-fire-resource-status-active {
    background-color: #FFFF00
}

.wfim-fire-resource.wfim-fire-resource-status-lost {
    background-color: #ff0000
}

.wfim-fire-resource.wfim-fire-resource-status-station {
    background-color: #FFFFFF
}

.wfim-fire-resource.wfim-fire-resource-status-ground {
    background-color: #808080
}

.wfim-fire-resource-labels {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: absolute;
    bottom: 14px;
    left: -100%;
    font-size: 11px;
    line-height: 8px;
    pointer-events: none;
}

.wfim-fire-resource-labels span {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 2px;
    background-color: #000000;
    color: #ffffff;
    width: fit-content;
    margin-top: 2px;
    pointer-events: auto;
    white-space: nowrap;
}

.wfim-fire-resource-labels .wfim-fire-resource-status-active {
    background-color: #FFFF00;
    color: #000000;
}

.wfim-fire-resource-labels .wfim-fire-resource-status-lost {
    background-color: #ff0000;
    color: #000000;
}

.wfim-fire-resource-labels .wfim-fire-resource-status-station {
    background-color: #000000;
    color: #ffffff;
}

.wfim-fire-resource-labels .wfim-fire-resource-status-ground {
    background-color: #808080;
    color: #ffffff;
}

.wfim-fire-resource-labels .wfim-fire-resource-alert-red {
    color: #ff0000;
    font-weight: bold;
}

.wfim-fire-resource-labels .wfim-fire-resource-alert-yellow {
    color: #ffff00;
    font-weight: bold;
}

.wfim-fire-resource-labels .wfim-fire-resource-alert-blue {
    color: #80B4FF;
    font-weight: bold;
}

.wfim-fire-resource-labels .wfim-fire-resource-alert-green {
    color: #00ff00;
    font-weight: bold;
}

.wfim-fire-resource-arrow {
    background: url( "direction-arrow.png" ) no-repeat center;
    width: 320px;
    height: 34px;
    margin-left:-155px;
    margin-top:-12px;
}

.wfim-resource-track {
    border-radius: 6px;
    border: 1px solid #000000;
    background-color: #ffff00;
}