<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.nrs.wfnews.persistence.v1.dao.mybatis.mapper.PublishedIncidentMapper">
	<resultMap id="PublishedIncidentDtoMap" type="ca.bc.gov.nrs.wfnews.persistence.v1.dto.PublishedIncidentDto">
	<id property="publishedIncidentDetailGuid" column="PUBLISHED_INCIDENT_DETAIL_GUID" javaType="java.lang.String" jdbcType="BINARY" />
		<result property="incidentGuid" column="INCIDENT_GUID" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="incidentNumberLabel" column="INCIDENT_NUMBER_LABEL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="newsCreatedTimestamp" column="NEWS_CREATED_TIMESTAMP" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="stageOfControlCode" column="STAGE_OF_CONTROL_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="fireCentreCode" column="FIRE_CENTRE_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="fireCentreName" column="FIRE_CENTRE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="fireYear" column="FIRE_YEAR" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="generalIncidentCauseCatId" column="GENERAL_INCIDENT_CAUSE_CAT_ID" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="newsPublicationStatusCode" column="NEWS_PUBLICATION_STATUS_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="discoveryDate" column="DISCOVERY_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="declaredOutDate" column="DECLARED_OUT_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="fireZoneUnitIdentifier" column="FIRE_ZONE_ORG_UNIT_IDENTIFIER" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="fireOfNoteInd" column="FIRE_OF_NOTE_IND" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="wasFireOfNoteInd" column="WAS_FIRE_OF_NOTE_IND" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="incidentName" column="INCIDENT_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="incidentLocation" column="INCIDENT_LOCATION" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="incidentOverview" column="INCIDENT_OVERVIEW" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="traditionalTerritoryDetail" column="TRADITIONAL_TERRITORY_DETAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="incidentSizeType" column="INCIDENT_SIZE_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="incidentSizeEstimatedHa" column="INCIDENT_SIZE_ESTIMATED_HA" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="incidentSizeMappedHa" column="INCIDENT_SIZE_MAPPED_HA" javaType="java.lang.Double" jdbcType="NUMERIC" />
		<result property="incidentSizeDetail" column="INCIDENT_SIZE_DETAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="incidentCauseDetail" column="INCIDENT_CAUSE_DETAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="contactOrgUnitIdentifer" column="CONTACT_ORG_UNIT_IDENTIFIER" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="contactPhoneNumber" column="CONTACT_PHONE_NUMBER" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="contactEmailAddress" column="CONTACT_EMAIL_ADDRESS" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="resourceDetail" column="RESOURCE_DETAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="wildfireCrewResourcesInd" column="WILDFIRE_CREW_RESOURCES_IND" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="wildfireCrewResourcesDetail" column="WILDFIRE_CREW_RESOURCES_DETAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="wildfireAviationResourceInd" column="WILDFIRE_AVIATION_RESOURCE_IND" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="wildfireAviationResourceDetail" column="WILDFIRE_AVIATION_RSRC_DETAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="heavyEquipmentResourcesInd" column="HEAVY_EQUIPMENT_RESOURCES_IND" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="heavyEquipmentResourcesDetail" column="HEAVY_EQUIPMENT_RESOURCES_DTL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="incidentMgmtCrewRsrcInd" column="INCIDENT_MGMNT_CREW_RSRC_IND" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="incidentMgmtCrewRsrcDetail" column="INCIDENT_MGMNT_CREW_RSRC_DTL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="structureProtectionRsrcInd" column="STRUCTURE_PROTECTION_RSRC_IND" javaType="java.lang.Boolean" jdbcType="VARCHAR" />
		<result property="structureProtectionRsrcDetail" column="STRUCTURE_PROTECTION_RSRC_DTL" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="crewResourceCount" column="WILDFIRE_CREW_RESOURCES_COUNT" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="aviationResourceCount" column="WILDFIRE_aviation_RSRC_COUNT" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="heavyEquipmentResourceCount" column="HEAVY_EQUIPMENT_RSRC_COUNT" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="incidentManagementResourceCount" column="INCIDENT_MGMNT_crew_RSRC_COUNT" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="structureProtectionResourceCount" column="STRUCTURE_PROTECTION_RSRC_CNT" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="publishedTimestamp" column="PUBLISHED_TIMESTAMP" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="publishedUserTypeCode" column="PUBLISHED_USER_TYPE_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="publishedUserGuid" column="PUBLISHED_USER_GUID" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="publishedUserUserId" column="PUBLISHED_USER_USERID" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="publishedUserName" column="PUBLISHED_USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="lastUpdatedTimestamp" column="LAST_UPDATED_TIMESTAMP" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="revisionCount" column="REVISION_COUNT" javaType="java.lang.Long" jdbcType="NUMERIC" />
		<result property="createUser" column="CREATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="updateUser" column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="updateDate" column="UPDATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="latitude" column="LATITUDE" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="longitude" column="LONGITUDE" javaType="java.lang.String" jdbcType="VARCHAR" /> 
		<result property="fireCentreCode" column="FIRE_CENTRE_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="fireYear" column="FIRE_YEAR" javaType="java.lang.Integer" jdbcType="NUMERIC" />
		<result property="responseTypeCode" column="RESPONSE_TYPE_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result property="responseTypeDetail" column="RESPONSE_TYPE_DETAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="distanceCalcSrid">3005</sql> <!-- NAD83 / BC Albers -->
	<sql id="latLonSrid">4326</sql> <!-- WGS84 -->
	
	<insert id="insert">
	<selectKey keyProperty="publishedIncidentDetailGuid" resultType="java.lang.String" order="BEFORE"> 
			SELECT GEN_RANDOM_UUID();
		</selectKey>
		
		INSERT INTO WFNEWS.PUBLISHED_INCIDENT_DETAIL  
			( PUBLISHED_INCIDENT_DETAIL_GUID,
				INCIDENT_GUID,
				INCIDENT_NUMBER_LABEL,
				NEWS_CREATED_TIMESTAMP,
				STAGE_OF_CONTROL_CODE,
				GENERAL_INCIDENT_CAUSE_CAT_ID,
				NEWS_PUBLICATION_STATUS_CODE,
				DISCOVERY_DATE,
				DECLARED_OUT_DATE,
				FIRE_CENTRE_CODE,
				FIRE_CENTRE_NAME,
				FIRE_YEAR,
				FIRE_ZONE_ORG_UNIT_IDENTIFIER,
				FIRE_OF_NOTE_IND,
				WAS_FIRE_OF_NOTE_IND,
				INCIDENT_NAME,
				INCIDENT_LOCATION,
				INCIDENT_OVERVIEW,
				TRADITIONAL_TERRITORY_DETAIL,
				INCIDENT_SIZE_TYPE,
				INCIDENT_SIZE_ESTIMATED_HA,
				INCIDENT_SIZE_MAPPED_HA,
				INCIDENT_SIZE_DETAIL,
				INCIDENT_CAUSE_DETAIL,
				CONTACT_ORG_UNIT_IDENTIFIER,
				CONTACT_PHONE_NUMBER,
				CONTACT_EMAIL_ADDRESS,
				RESOURCE_DETAIL,
				WILDFIRE_CREW_RESOURCES_IND,
				WILDFIRE_CREW_RESOURCES_DETAIL,
				WILDFIRE_AVIATION_RESOURCE_IND,
				WILDFIRE_AVIATION_RSRC_DETAIL,
				HEAVY_EQUIPMENT_RESOURCES_IND,
				HEAVY_EQUIPMENT_RESOURCES_DTL,
				INCIDENT_MGMNT_CREW_RSRC_IND,
				INCIDENT_MGMNT_CREW_RSRC_DTL,
				STRUCTURE_PROTECTION_RSRC_IND,
				STRUCTURE_PROTECTION_RSRC_DTL,
				WILDFIRE_CREW_RESOURCES_COUNT,
				WILDFIRE_aviation_RSRC_COUNT,
				HEAVY_EQUIPMENT_RSRC_COUNT,
				INCIDENT_MGMNT_crew_RSRC_COUNT,
				STRUCTURE_PROTECTION_RSRC_CNT,
				RESPONSE_TYPE_CODE,
				RESPONSE_TYPE_DETAIL,
				PUBLISHED_TIMESTAMP,
				PUBLISHED_USER_TYPE_CODE,
				PUBLISHED_USER_GUID,
				PUBLISHED_USER_USERID,
				PUBLISHED_USER_NAME,
				LAST_UPDATED_TIMESTAMP,
				LATITUDE,
				LONGITUDE,
				REVISION_COUNT,
				CREATE_USER,
				CREATE_DATE,
				UPDATE_USER,
				UPDATE_DATE
				)
		VALUES
			  (#{publishedIncidentDetailGuid, javaType=java.lang.String, jdbcType=BINARY, mode=IN},
			  	#{dto.incidentGuid, javaType=java.lang.String, jdbcType=BINARY, mode=IN},
			  	#{dto.incidentNumberLabel, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.newsCreatedTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
					#{dto.stageOfControlCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.generalIncidentCauseCatId, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.newsPublicationStatusCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.discoveryDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
					#{dto.declaredOutDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
					#{dto.fireCentreCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.fireCentreName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.fireZoneUnitIdentifier, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.fireOfNoteInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
					#{dto.wasFireOfNoteInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
					#{dto.incidentName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.incidentLocation, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.incidentOverview, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.traditionalTerritoryDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.incidentSizeType, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.incidentSizeEstimatedHa, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
					#{dto.incidentSizeMappedHa, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
					#{dto.incidentSizeDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.incidentCauseDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.contactOrgUnitIdentifer, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.contactPhoneNumber, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.contactEmailAddress, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.resourceDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.wildfireCrewResourcesInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
					#{dto.wildfireCrewResourcesDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.wildfireAviationResourceInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
					#{dto.wildfireAviationResourceDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.heavyEquipmentResourcesInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
					#{dto.heavyEquipmentResourcesDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.incidentMgmtCrewRsrcInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
					#{dto.incidentMgmtCrewRsrcDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.structureProtectionRsrcInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
					#{dto.structureProtectionRsrcDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.crewResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.aviationResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.heavyEquipmentResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.incidentManagementResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.structureProtectionResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
					#{dto.responseTypeCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.responseTypeDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.publishedTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
					#{dto.publishedUserTypeCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.publishedUserGuid, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.publishedUserUserId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.publishedUserName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.lastUpdatedTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
					#{dto.latitude, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.longitude, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.revisionCount, javaType=java.lang.Long, jdbcType=NUMERIC, mode=IN},
					#{dto.createUser, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.createDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
					#{dto.updateUser, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
					#{dto.updateDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}) 
	</insert> 
	
	<update id="update">
	
	UPDATE WFNEWS.PUBLISHED_INCIDENT_DETAIL
		   SET PUBLISHED_INCIDENT_DETAIL_GUID = #{publishedIncidentDetailGuid, javaType=java.lang.String, jdbcType=BINARY, mode=IN},
				INCIDENT_GUID = 			  	#{dto.incidentGuid, javaType=java.lang.String, jdbcType=BINARY, mode=IN},
				INCIDENT_NUMBER_LABEL = 		#{dto.incidentNumberLabel, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},	
				NEWS_CREATED_TIMESTAMP =				#{dto.newsCreatedTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
				STAGE_OF_CONTROL_CODE =				#{dto.stageOfControlCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				GENERAL_INCIDENT_CAUSE_CAT_ID =				#{dto.generalIncidentCauseCatId, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				NEWS_PUBLICATION_STATUS_CODE =				#{dto.newsPublicationStatusCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				DISCOVERY_DATE =				#{dto.discoveryDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
				DECLARED_OUT_DATE =				#{dto.declaredOutDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
				FIRE_CENTRE_CODE = 		#{dto.fireCentreCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				FIRE_CENTRE_NAME = 		#{dto.fireCentreName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				FIRE_YEAR = #{dto.fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				FIRE_ZONE_ORG_UNIT_IDENTIFIER =				#{dto.fireZoneUnitIdentifier, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				FIRE_OF_NOTE_IND =				#{dto.fireOfNoteInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
				WAS_FIRE_OF_NOTE_IND =				#{dto.wasFireOfNoteInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
				INCIDENT_NAME =				#{dto.incidentName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				INCIDENT_LOCATION =				#{dto.incidentLocation, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				INCIDENT_OVERVIEW =				#{dto.incidentOverview, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				TRADITIONAL_TERRITORY_DETAIL =				#{dto.traditionalTerritoryDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				INCIDENT_SIZE_TYPE = 				#{dto.incidentSizeType, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				INCIDENT_SIZE_ESTIMATED_HA =				#{dto.incidentSizeEstimatedHa, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
				INCIDENT_SIZE_MAPPED_HA =				#{dto.incidentSizeMappedHa, javaType=java.lang.Double, jdbcType=NUMERIC, mode=IN},
				INCIDENT_SIZE_DETAIL =				#{dto.incidentSizeDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				INCIDENT_CAUSE_DETAIL =				#{dto.incidentCauseDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				CONTACT_ORG_UNIT_IDENTIFIER =				#{dto.contactOrgUnitIdentifer, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				CONTACT_PHONE_NUMBER =				#{dto.contactPhoneNumber, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				CONTACT_EMAIL_ADDRESS =				#{dto.contactEmailAddress, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				RESOURCE_DETAIL =				#{dto.resourceDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				WILDFIRE_CREW_RESOURCES_IND =				#{dto.wildfireCrewResourcesInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
				WILDFIRE_CREW_RESOURCES_DETAIL =				#{dto.wildfireCrewResourcesDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				WILDFIRE_AVIATION_RESOURCE_IND =				#{dto.wildfireAviationResourceInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
				WILDFIRE_AVIATION_RSRC_DETAIL =				#{dto.wildfireAviationResourceDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				HEAVY_EQUIPMENT_RESOURCES_IND =				#{dto.heavyEquipmentResourcesInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
				HEAVY_EQUIPMENT_RESOURCES_DTL =				#{dto.heavyEquipmentResourcesDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				INCIDENT_MGMNT_CREW_RSRC_IND =				#{dto.incidentMgmtCrewRsrcInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
				INCIDENT_MGMNT_CREW_RSRC_DTL =				#{dto.incidentMgmtCrewRsrcDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				STRUCTURE_PROTECTION_RSRC_IND =				#{dto.structureProtectionRsrcInd, javaType=java.lang.Boolean, jdbcType=VARCHAR, mode=IN},
				STRUCTURE_PROTECTION_RSRC_DTL =				#{dto.structureProtectionRsrcDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				WILDFIRE_CREW_RESOURCES_COUNT =       #{dto.crewResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				WILDFIRE_aviation_RSRC_COUNT =        #{dto.aviationResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				HEAVY_EQUIPMENT_RSRC_COUNT =          #{dto.heavyEquipmentResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				INCIDENT_MGMNT_crew_RSRC_COUNT =      #{dto.incidentManagementResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				STRUCTURE_PROTECTION_RSRC_CNT =       #{dto.structureProtectionResourceCount, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN},
				RESPONSE_TYPE_CODE =                  #{dto.responseTypeCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				RESPONSE_TYPE_DETAIL =                #{dto.responseTypeDetail, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				PUBLISHED_TIMESTAMP =				          #{dto.publishedTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
				PUBLISHED_USER_TYPE_CODE =			    	#{dto.publishedUserTypeCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				PUBLISHED_USER_GUID =				#{dto.publishedUserGuid, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				PUBLISHED_USER_USERID =				#{dto.publishedUserUserId, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				PUBLISHED_USER_NAME =				#{dto.publishedUserName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				LATITUDE =				#{dto.latitude, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				LONGITUDE =				#{dto.longitude, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				LAST_UPDATED_TIMESTAMP =				#{dto.lastUpdatedTimestamp, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
				REVISION_COUNT =				REVISION_COUNT + 1,
				CREATE_USER =				#{dto.createUser, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				CREATE_DATE =				#{dto.createDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN},
				UPDATE_USER =				#{dto.updateUser, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN},
				UPDATE_DATE =				#{dto.updateDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
		 WHERE PUBLISHED_INCIDENT_DETAIL_GUID = #{publishedIncidentDetailGuid, javaType=java.lang.String, jdbcType=BINARY, mode=IN}
	</update>

	<select id="fetch" resultMap="PublishedIncidentDtoMap"> 
		SELECT *
		  FROM WFNEWS.PUBLISHED_INCIDENT_DETAIL
		 WHERE (PUBLISHED_INCIDENT_DETAIL_GUID = #{publishedIncidentDetailGuid}
	  	  OR INCIDENT_NUMBER_LABEL = #{publishedIncidentDetailGuid}
				OR INCIDENT_NAME = #{publishedIncidentDetailGuid})
		<if test="fireYear != null">
			 AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}
		</if>
		 LIMIT 1
	</select>
	
	<select id="fetchForIncidentGuid" resultMap="PublishedIncidentDtoMap"> 
		SELECT *
		  FROM WFNEWS.PUBLISHED_INCIDENT_DETAIL
		  WHERE INCIDENT_GUID = #{incidentGuid}
	</select>
	
	<delete id="flush">
		DELETE FROM WFNEWS.PUBLISHED_INCIDENT_DETAIL 
	</delete> 
	
	<delete id="delete">
		DELETE FROM WFNEWS.PUBLISHED_INCIDENT_DETAIL 
		WHERE PUBLISHED_INCIDENT_DETAIL_GUID = #{publishedIncidentDetailGuid, javaType=java.lang.String, jdbcType=BINARY, mode=IN}
	</delete> 
	
	<select id="select" resultMap="PublishedIncidentDtoMap">
		SELECT 
			PUBLISHED_INCIDENT_DETAIL_GUID,
			INCIDENT_GUID,
			INCIDENT_NUMBER_LABEL,
			NEWS_CREATED_TIMESTAMP,
			STAGE_OF_CONTROL_CODE,
			FIRE_CENTRE_CODE,
			FIRE_CENTRE_NAME,
			FIRE_YEAR,
			GENERAL_INCIDENT_CAUSE_CAT_ID,
			NEWS_PUBLICATION_STATUS_CODE,
			DISCOVERY_DATE,
			DECLARED_OUT_DATE,
			FIRE_OF_NOTE_IND,
			INCIDENT_NAME,
			INCIDENT_LOCATION,
			TRADITIONAL_TERRITORY_DETAIL,
			INCIDENT_SIZE_ESTIMATED_HA,
			INCIDENT_SIZE_MAPPED_HA,
			INCIDENT_SIZE_DETAIL,
			INCIDENT_CAUSE_DETAIL,
			WILDFIRE_CREW_RESOURCES_IND,
			WILDFIRE_AVIATION_RESOURCE_IND,
			HEAVY_EQUIPMENT_RESOURCES_IND,
			INCIDENT_MGMNT_CREW_RSRC_IND,
			STRUCTURE_PROTECTION_RSRC_IND,
			WILDFIRE_CREW_RESOURCES_COUNT,
			WILDFIRE_aviation_RSRC_COUNT,
			HEAVY_EQUIPMENT_RSRC_COUNT,
			INCIDENT_MGMNT_crew_RSRC_COUNT,
			STRUCTURE_PROTECTION_RSRC_CNT,
			PUBLISHED_TIMESTAMP,
			LAST_UPDATED_TIMESTAMP,
			CREATE_DATE,
			UPDATE_DATE,
			LATITUDE,
			LONGITUDE,
			RESPONSE_TYPE_CODE,
			RESPONSE_TYPE_DETAIL
		FROM WFNEWS.PUBLISHED_INCIDENT_DETAIL
		WHERE stage_of_control_code IS NOT NULL
		  <if test="stageOfControlList != null &amp;&amp; !stageOfControlList.isEmpty() &amp;&amp; stageOfControlList.contains('OUT')">
		      AND (stage_of_control_code = 'OUT' AND fire_year = #{currentFireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN})
					<if test="stageOfControlList != null &amp;&amp; !stageOfControlList.isEmpty() &amp;&amp; stageOfControlList.size() &gt; 1">
						OR stage_of_control_code IN
					<foreach item="soc" collection="stageOfControlList" separator="," open="(" close=")">
						<if test="soc != 'OUT'">
							#{soc}
						</if>
					</foreach>
				</if>
		  </if>
			<if test="stageOfControlList != null &amp;&amp; !stageOfControlList.isEmpty() &amp;&amp; !stageOfControlList.contains('OUT')">
					AND stage_of_control_code IN
				<foreach item="soc" collection="stageOfControlList" separator="," open="(" close=")">
					#{soc}
				</foreach>
			</if>
			<if test="xmin != null &amp;&amp; ymin != null &amp;&amp; xmax != null &amp;&amp; ymax != null">
				AND geometry &amp;&amp; ST_MakeEnvelope (#{xmin, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{ymin, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{xmax, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{ymax, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, <include refid="latLonSrid"/>)
			</if>
			<if test="latitude != null &amp;&amp; longitude != null &amp;&amp; radius != null">
				AND ST_DWithin(ST_Transform(geometry, <include refid="distanceCalcSrid"/>), ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{latitude, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}), <include refid="latLonSrid"/>), <include refid="distanceCalcSrid"/>), #{radius, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN})
			</if>
			<if test="newFires == true">  
				AND DISCOVERY_DATE BETWEEN NOW() - INTERVAL '24 HOURS' AND NOW()
			</if>
			<if test="fireOfNote == true">  
				AND fire_of_note_ind = 'Y'
			</if>
			<if test="fireOfNote == false">  
				AND fire_of_note_ind = 'N'
			</if>
			<if test="fireCentreCode != null &amp;&amp; fireCentreCode != ''">  
				AND fire_centre_code = #{fireCentreCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
			</if>
			<if test="fireCentreName != null &amp;&amp; fireCentreName != ''">  
				AND fire_centre_name = #{fireCentreName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
			</if>
			<if test="fromCreateDate != null">
				AND CREATE_DATE &gt;= #{fromCreateDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
			</if>
			<if test="toCreateDate != null">
				AND CREATE_DATE &lt;= #{toCreateDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
			</if>
			<if test="fromDiscoveryDate != null">
				AND DISCOVERY_DATE &gt;= #{fromDiscoveryDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
			</if>
			<if test="toDiscoveryDate != null">
				AND DISCOVERY_DATE &lt;= #{toDiscoveryDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
			</if>
			<if test="searchText!=null &amp;&amp; searchText.length>0">
				AND UPPER(CONCAT(incident_location, '', CONCAT(fire_centre_code, '', CONCAT(incident_number_label, '', incident_name))))
				LIKE '%'||UPPER(#{searchText})||'%' 
			</if>
			<if test="orderBy!=null and orderBy.length>0">
				ORDER BY
				<foreach collection="orderBy" item="order" index="index">
					<choose>
						<when test="order == 'incidentNumberLabel'">incident_number_label</when>
						<when test="order == 'fireOfNoteInd'">fire_of_note_ind</when>
						<when test="order == 'incidentLocation'">incident_location</when>
						<when test="order == 'incidentName'">incident_name</when>
						<when test="order == 'fireCentreCode'">fire_centre_code</when>
						<when test="order == 'fireCentreName'">fire_centre_name</when>
						<when test="order == 'stageOfControlCode'">stage_of_control_code</when>
						<when test="order == 'lastUpdatedTimestamp'">last_updated_timestamp</when>
						<when test="order == 'discoveryDate'">discovery_date</when>
						<when test="order == 'createDate'">create_date</when>
						<when test="order == 'ASC' &amp;&amp; index &lt; orderBy.length - 1"> ASC,</when>
						<when test="order == 'ASC' &amp;&amp; index == orderBy.length - 1"> ASC</when>
						<when test="order == 'DESC' &amp;&amp; index &lt; orderBy.length - 1"> DESC,</when>
						<when test="order == 'DESC' &amp;&amp; index == orderBy.length - 1"> DESC</when>
					</choose>
				</foreach>
			</if>
			<if test="offset != null and pageRowCount != null">
				OFFSET #{offset, javaType=java.lang.Integer, jdbcType=INTEGER, mode=IN} ROWS
				FETCH NEXT #{pageRowCount, javaType=java.lang.Integer, jdbcType=INTEGER, mode=IN} ROWS ONLY
			</if>
	</select>
	
	<select id="selectCount" resultType="int">
		SELECT COUNT(*)
		FROM WFNEWS.PUBLISHED_INCIDENT_DETAIL
		WHERE stage_of_control_code IS NOT NULL
		  <if test="stageOfControlList != null &amp;&amp; !stageOfControlList.isEmpty()">
			  <if test="stageOfControlList.contains('OUT')">
				  AND (stage_of_control_code = 'OUT' AND fire_year = #{currentFireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}
				  <if test="stageOfControlList.size() &gt; 1">
					  OR stage_of_control_code IN
					  <foreach item="soc" collection="stageOfControlList" separator="," open="(" close=")">
						  <if test="soc != 'OUT'">
							  #{soc}
						  </if>
					  </foreach>
				  </if>)
			  </if>
			  <if test="!stageOfControlList.contains('OUT')">
				  AND stage_of_control_code IN
				  <foreach item="soc" collection="stageOfControlList" separator="," open="(" close=")">
					  #{soc}
				  </foreach>
			  </if>
		  </if>
		  <if test="xmin != null &amp;&amp; ymin != null &amp;&amp; xmax != null &amp;&amp; ymax != null">
			  AND geometry &amp;&amp; ST_MakeEnvelope(#{xmin, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, 
													 #{ymin, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, 
													 #{xmax, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, 
													 #{ymax, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, 
													 <include refid="latLonSrid"/>)
		  </if>
		  <if test="latitude != null &amp;&amp; longitude != null &amp;&amp; radius != null">
			  AND ST_DWithin(ST_Transform(geometry, <include refid="distanceCalcSrid"/>), 
							 ST_Transform(ST_SetSRID(ST_MakePoint(#{longitude, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, 
																  #{latitude, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}), 
													  <include refid="latLonSrid"/>), 
										  <include refid="distanceCalcSrid"/>), 
							 #{radius, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN})
		  </if>
		  <if test="newFires == true">  
			  AND DISCOVERY_DATE BETWEEN NOW() - INTERVAL '24 HOURS' AND NOW()
		  </if>
		  <if test="fireOfNote == true">  
			  AND fire_of_note_ind = 'Y'
		  </if>
		  <if test="fireOfNote == false">  
			  AND fire_of_note_ind = 'N'
		  </if>
		  <if test="fireCentreCode != null &amp;&amp; fireCentreCode != ''">  
			  AND fire_centre_code = #{fireCentreCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
		  </if>
		  <if test="fireCentreName != null &amp;&amp; fireCentreName != ''">  
			  AND fire_centre_name = #{fireCentreName, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
		  </if>
		  <if test="fromCreateDate != null">
			  AND CREATE_DATE &gt;= #{fromCreateDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
		  </if>
		  <if test="toCreateDate != null">
			  AND CREATE_DATE &lt;= #{toCreateDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
		  </if>
		  <if test="fromDiscoveryDate != null">
			  AND DISCOVERY_DATE &gt;= #{fromDiscoveryDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
		  </if>
		  <if test="toDiscoveryDate != null">
			  AND DISCOVERY_DATE &lt;= #{toDiscoveryDate, javaType=java.util.Date, jdbcType=TIMESTAMP, mode=IN}
		  </if>
		  <if test="searchText != null &amp;&amp; searchText.length &gt; 0">
			  AND UPPER(CONCAT(incident_location, '', CONCAT(fire_centre_code, '', CONCAT(incident_number_label, '', incident_name))))
			  LIKE '%' || UPPER(#{searchText}) || '%' 
		  </if>
	</select>
	

	<select id="selectAsJson" resultType="string">
              SELECT jsonb_build_object('type', 'FeatureCollection', 'features', jsonb_agg(features.feature)) AS fc
  		FROM (SELECT JSONB_BUILD_OBJECT(
            'type', 'Feature',
            'geometry',   ST_AsGeoJSON(t.geometry, options => 1)::JSONB,
            'properties', TO_JSONB(t.*) - 'geometry'
           ) AS feature
		          FROM (SELECT f.incident_number_label, f.incident_name, f.fire_year, f.geometry FROM wfnews.published_incident_detail AS f
		         WHERE stage_of_control_code = #{stageOfControlCode, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
		<if test="stageOfControlCode == 'OUT'">
		           AND fire_year = #{currentFireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}
		</if>
		<if test="stageOfControlCode != 'OUT'">
		           AND fire_of_note_ind = 'N'
		</if>
		           AND geometry &amp;&amp; ST_MakeEnvelope (#{xmin, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{ymin, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{xmax, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{ymax, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, <include refid="latLonSrid"/>)) t
		  ) features
	</select>

	<select id="selectFireOfNoteAsJson" resultType="string">
              SELECT jsonb_build_object('type', 'FeatureCollection', 'features', jsonb_agg(features.feature)) AS fc
  		FROM (SELECT JSONB_BUILD_OBJECT(
            'type', 'Feature',
            'geometry',   ST_AsGeoJSON(t.geometry, options => 1)::JSONB,
            'properties', TO_JSONB(t.*) - 'geometry'
           ) AS feature
		          FROM (SELECT f.incident_number_label, f.incident_name, f.fire_year, f.geometry FROM wfnews.published_incident_detail AS f
		         WHERE stage_of_control_code != 'OUT'
		           AND fire_of_note_ind = 'Y'
		           AND geometry &amp;&amp; ST_MakeEnvelope (#{xmin, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{ymin, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{xmax, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, #{ymax, javaType=java.lang.Double, jdbcType=DOUBLE, mode=IN}, <include refid="latLonSrid"/>)) t
		  ) features
	</select>
	
</mapper>
