<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.nrs.wfnews.persistence.v1.dao.mybatis.mapper.StatisticsMapper">
  <resultMap id="StatisticsDtoMap" type="ca.bc.gov.nrs.wfnews.persistence.v1.dto.StatisticsDto">
    <result property="activeOutOfControlFires"        column="activeOutOfControlFires"        javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeOutOfControlFiresOfNote"  column="activeOutOfControlFiresOfNote"  javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeBeingHeldFires"           column="activeBeingHeldFires"           javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeBeingHeldFiresOfNote"     column="activeBeingHeldFiresOfNote"     javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeUnderControlFires"        column="activeUnderControlFires"        javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeUnderControlFiresOfNote"  column="activeUnderControlFiresOfNote"  javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="outFires"                       column="outFires"                       javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeNaturalCausedFires"       column="activeNaturalCausedFires"       javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeHumanCausedFires"         column="activeHumanCausedFires"         javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeUnknownCausedFires"       column="activeUnknownCausedFires"       javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="extinguishedNaturalCausedFires" column="extinguishedNaturalCausedFires" javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="extinguishedHumanCausedFires"   column="extinguishedHumanCausedFires"   javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="extinguishedUnknownCausedFires" column="extinguishedUnknownCausedFires" javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="hectaresBurned"                 column="hectaresBurned"                 javaType="java.lang.Long"    jdbcType="NUMERIC" />
    <result property="newFires24Hours"                column="newFires24Hours"                javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="outFires24Hours"                column="outFires24Hours"                javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="outFires7Days"                  column="outFires7Days"                  javaType="java.lang.Integer" jdbcType="NUMERIC" />
	</resultMap>
  <select id="fetch" resultMap="StatisticsDtoMap"> 
  SELECT * FROM (
    SELECT
      'Cariboo Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date > now() - interval '24 hours') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Cariboo%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires
    UNION
    SELECT
      'Coastal Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date > now() - interval '24 hours') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Coastal%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires
    UNION
    SELECT
      'Kamloops Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date > now() - interval '24 hours') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Kamloops%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires
    UNION
    SELECT
      'Northwest Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date > now() - interval '24 hours') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Northwest%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires
    UNION
    SELECT
      'Prince George Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date > now() - interval '24 hours') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Prince George%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires
    UNION
    SELECT
      'Southeast Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date > now() - interval '24 hours') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name LIKE '%Southeast%' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND last_updated_timestamp > now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires
  ) stats
  <if test="fireCentre != null">
    WHERE fire_centre_name = #{fireCentre, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
  </if>
	</select>
</mapper>
