<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.bc.gov.nrs.wfnews.persistence.v1.dao.mybatis.mapper.StatisticsMapper">
  <resultMap id="StatisticsDtoMap" type="ca.bc.gov.nrs.wfnews.persistence.v1.dto.StatisticsDto">
    <id     property="fireCentre"                     column="fire_centre_name"               javaType="java.lang.String"  jdbcType="VARCHAR" />
    <result property="activeOutOfControlFires"        column="activeOutOfControlFires"        javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeOutOfControlFiresOfNote"  column="activeOutOfControlFiresOfNote"  javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeBeingHeldFires"           column="activeBeingHeldFires"           javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeBeingHeldFiresOfNote"     column="activeBeingHeldFiresOfNote"     javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeUnderControlFires"        column="activeUnderControlFires"        javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeUnderControlFiresOfNote"  column="activeUnderControlFiresOfNote"  javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="outFires"                       column="outFires"                       javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeNaturalCausedFires"       column="activeNaturalCausedFires"       javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeHumanCausedFires"         column="activeHumanCausedFires"         javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="activeUnknownCausedFires"       column="activeUnknownCausedFires"       javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="extinguishedNaturalCausedFires" column="extinguishedNaturalCausedFires" javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="extinguishedHumanCausedFires"   column="extinguishedHumanCausedFires"   javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="extinguishedUnknownCausedFires" column="extinguishedUnknownCausedFires" javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="hectaresBurned"                 column="hectaresBurned"                 javaType="java.lang.Long"    jdbcType="NUMERIC" />
    <result property="newFires24Hours"                column="newFires24Hours"                javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="outFires24Hours"                column="outFires24Hours"                javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="outFires7Days"                  column="outFires7Days"                  javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="hectaresBurned20YearAvg"        column="hectaresBurned20YearAvg"        javaType="java.lang.Integer" jdbcType="NUMERIC" />
    <result property="incidentCount20YearAvg"         column="incidentCount20YearAvg"         javaType="java.lang.Integer" jdbcType="NUMERIC" />
	</resultMap>
  <select id="fetch" resultMap="StatisticsDtoMap"> 
  SELECT * FROM (
    <if test="fireCentre == null || fireCentre == 'Cariboo Fire Centre'">
    SELECT
      'Cariboo Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date &gt; now() - interval '24 hours') AS newFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS outFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS outFires7Days,
      (SELECT (SUM(incident_size_estimated_ha) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned20YearAvg,
      (SELECT (COUNT(*) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Cariboo Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS incidentCount20YearAvg
    </if>
    <if test="fireCentre == null">
      UNION
    </if>
    <if test="fireCentre == null || fireCentre == 'Coastal Fire Centre'">
    SELECT
      'Coastal Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date &gt; now() - interval '24 hours') AS newFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS outFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS outFires7Days,
      (SELECT (SUM(incident_size_estimated_ha) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned20YearAvg,
      (SELECT (COUNT(*) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Coastal Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS incidentCount20YearAvg
    </if>
    <if test="fireCentre == null">
      UNION
    </if>
    <if test="fireCentre == null || fireCentre == 'Kamloops Fire Centre'">
    SELECT
      'Kamloops Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date &gt; now() - interval '24 hours') AS newFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS outFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS outFires7Days,
      (SELECT (SUM(incident_size_estimated_ha) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned20YearAvg,
      (SELECT (COUNT(*) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Kamloops Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS incidentCount20YearAvg
    </if>
    <if test="fireCentre == null">
      UNION
    </if>
    <if test="fireCentre == null || fireCentre == 'Northwest Fire Centre'">
    SELECT
      'Northwest Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date &gt; now() - interval '24 hours') AS newFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS outFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS outFires7Days,
      (SELECT (SUM(incident_size_estimated_ha) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned20YearAvg,
      (SELECT (COUNT(*) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Northwest Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS incidentCount20YearAvg
    </if>
    <if test="fireCentre == null">
      UNION
    </if>
    <if test="fireCentre == null || fireCentre == 'Prince George Fire Centre'">
    SELECT
      'Prince George Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date &gt; now() - interval '24 hours') AS newFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS outFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS outFires7Days,
      (SELECT (SUM(incident_size_estimated_ha) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned20YearAvg,
      (SELECT (COUNT(*) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Prince George Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS incidentCount20YearAvg
    </if>
    <if test="fireCentre == null">
      UNION
    </if>
    <if test="fireCentre == null || fireCentre == 'Southeast Fire Centre'">
    SELECT
      'Southeast Fire Centre' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,  
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date &gt; now() - interval '24 hours') AS newFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS outFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS outFires7Days,
      (SELECT (SUM(incident_size_estimated_ha) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned20YearAvg,
      (SELECT (COUNT(*) / 20) FROM wfnews.published_incident_detail WHERE fire_centre_name = 'Southeast Fire Centre' AND fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS incidentCount20YearAvg
    </if>
    <if test="fireCentre == null">
      UNION
    </if>
    <if test="fireCentre == null || fireCentre == 'BC'">
    SELECT
      'BC' AS fire_centre_name,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'N') AS activeOutOfControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT_CNTRL' AND fire_of_note_ind = 'Y') AS activeOutOfControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'N') AS activeBeingHeldFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'HOLDING' AND fire_of_note_ind = 'Y') AS activeBeingHeldFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'N') AS activeUnderControlFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'UNDR_CNTRL' AND fire_of_note_ind = 'Y') AS activeUnderControlFiresOfNote,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND stage_of_control_code = 'OUT') AS outFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code != 'OUT') AS activeNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code != 'OUT') AS activeHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code != 'OUT') AS activeUnknownCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 2 AND stage_of_control_code = 'OUT') AS extinguishedNaturalCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 1 AND stage_of_control_code = 'OUT') AS extinguishedHumanCausedFires,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND general_incident_cause_cat_id = 3 AND stage_of_control_code = 'OUT') AS extinguishedUnknownCausedFires,
      (SELECT SUM(incident_size_estimated_ha) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND discovery_date &gt; now() - interval '24 hours') AS newFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '24 hours' AND stage_of_control_code = 'OUT') AS outFires24Hours,
      (SELECT COUNT(*) FROM wfnews.published_incident_detail WHERE fire_year = #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} AND declared_out_date &gt; now() - interval '168 hours' AND stage_of_control_code = 'OUT') AS outFires7Days,
      (SELECT (SUM(incident_size_estimated_ha) / 20) FROM wfnews.published_incident_detail WHERE fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS hectaresBurned20YearAvg,
      (SELECT (COUNT(*) / 20) FROM wfnews.published_incident_detail WHERE fire_year BETWEEN (#{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN} - 20) AND #{fireYear, javaType=java.lang.Integer, jdbcType=NUMERIC, mode=IN}) AS incidentCount20YearAvg
    </if>
  ) stats
  <if test="fireCentre != null">
    WHERE fire_centre_name = #{fireCentre, javaType=java.lang.String, jdbcType=VARCHAR, mode=IN}
  </if>
	</select>
</mapper>
