@import '../../../styles/variables';
:host {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
}

@media print{
  :host {
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
    width: 100%;
    height: 100%;
  }
  app-root { display: block; }
  body, html, .forPrint {
    width: 100% !important;
    height: auto !important;
  }

  ::ng-deep .mat-tab-body-content {
    height: auto !important;
    overflow: hidden !important;
  }

  ::ng-deep .mat-tab-body.mat-tab-body-active {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: auto !important;
  }

  ::ng-deep .qr-code {
    display: block;
  }

  ::ng-deep .show-print {
    display: block !important;
  }
  ::ng-deep .no-print {
    display: none !important;
  }
}

::ng-deep .show-print {
  display: none !important;
}

::ng-deep .qr-code {
  display: none;
}

:host ::ng-deep .mat-tab-group {
  background: #f3f6f9;
}

:host ::ng-deep .mat-tab-label {
  color: #003366;
}

:host ::ng-deep .mat-ink-bar {
  background-color: #003366 !important;
  height: 4px !important;
}

:host ::ng-deep .mat-tab-label-active {
  font-weight: 700 !important
}


.page {
  background-color: #f2f2f2;
}

.page-container {
  max-width: 1185px;
  margin: auto;
  background-color: white;
}

:host ::ng-deep .mat-tab-header {
  top: -1px;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky; /* macOS/iOS Safari */
  background-color: #f3f6f9;
}
