<div *ngIf="!isLoading && !loadingFailed" class="page forPrint" >
  <div class="page-container">
    <div>
      <incident-header-panel [incident]="incident" [evacOrders]="evacOrders" [extent]="extent"></incident-header-panel>
    </div>
    <div>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Overview">
          <incident-info-panel [incident]="incident" [evacOrders]="evacOrders" [areaRestrictions]="areaRestrictions"></incident-info-panel>
        </mat-tab>
        <mat-tab label="Details">
          <incident-overview-panel [incident]="incident"></incident-overview-panel>
        </mat-tab>
        <mat-tab label="Gallery">
          <ng-template matTabContent>
            <incident-gallery-panel [incident]="incident" [showImageWarning]="showImageWarning"></incident-gallery-panel>
          </ng-template>
        </mat-tab>
        <mat-tab label="Maps">
          <incident-maps-panel [incident]="incident" [showMapsWarning]="showMapsWarning"></incident-maps-panel>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div *ngIf="!isLoading && loadingFailed" class="page-container">
  failed to load...
</div>
<div *ngIf="isLoading">
  <mat-spinner style="margin: auto;" *ngIf="!loaded" [diameter]="50"></mat-spinner>
</div>
