@import "../../../styles/variables";

:host {
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
}

@media print {
  :host {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    width: 100%;
    height: 100%;
  }

  app-root {
    display: block;
  }

  body,
  html,
  .forPrint {
    width: 100% !important;
    height: auto !important;
  }

  ::ng-deep .mat-mdc-tab-body-content {
    height: auto !important;
    overflow: hidden !important;
  }

  ::ng-deep .mat-mdc-tab-body.mat-tab-body-active {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: auto !important;
  }

  ::ng-deep .qr-code {
    display: block;
  }

  ::ng-deep .show-print {
    display: block !important;
  }

  ::ng-deep .no-print {
    display: none !important;
  }
}

::ng-deep .show-print {
  display: none !important;
}

::ng-deep .qr-code {
  display: none;
}

:host
  ::ng-deep
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab {
  background: var(--blues-blue-11, #f5f6f9);
  width: 10px;
}

:host ::ng-deep .mat-mdc-tab-group {
  background: #f3f6f9;

  @media (max-width: $mobile-max-width) {
    background: white !important;
  }
}

:host ::ng-deep .mat-mdc-tab {
  min-width: 75px;
  color: #003366;

  @media (max-width: $mobile-max-width) {
    color: #242424 !important;
  }
}

:host ::ng-deep .mat-ink-bar {
  background-color: #003366 !important;
  height: 4px !important;

  @media (max-width: $mobile-max-width) {
    background-color: #242424 !important;
  }
}

:host ::ng-deep .mdc-tab--active {
  font-weight: 700 !important;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--Medium-Blue, #146fb4);
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.page {
  background-color: #f2f2f2;
}

.page-container {
  margin: auto;
  background-color: white;
}

:host ::ng-deep .mat-mdc-tab-header {
  top: -1px;
  z-index: 9999999999999;
  position: sticky;
  position: -webkit-sticky;
  /* macOS/iOS Safari */
  background-color: #f3f6f9;

  @media (max-width: $mobile-max-width) {
    width: 100% !important;
    bottom: 0px !important;
  }
}

:host ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: var(--Black-2, #484848) !important;
  opacity: 0.6;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  display: none;
}

.content-panel-stack {
  margin-bottom: 32px;
  padding: 0px 24px;

  h1 {
    color: var(--Black-1, #242424);
    align-self: stretch;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
  }

  .contact-info {
    color: var(--Black-2, #484848);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 10px;
    display: flex;
    word-break: break-all;
  }

  .contact-buttons {
    padding-top: 16px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    word-break: break-all;

    .mobile-buttons {
      display: flex;
      padding: 8px 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      border-radius: 5px;
      border: 1px solid var(--grays-gray-6, #c4c4c4);
      background: #fff;
      height: 40px;
    }

    ::ng-deep .mdc-button__label {
      bottom: 5px;

      @media screen and (max-width: 350px) {
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }

  .icon {
    padding-right: 16px;
    position: relative;
    top: 5px;
  }

  .icon-bottom {
    padding-right: 16px;
    position: relative;
    bottom: 2px;
    height: 24px;
    width: 24px;
  }

  .icon-contact {
    position: relative;
    top: 7px;
    height: 24px;
    width: 24px;
  }
}