<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<bean id="bootstrapPropertiesFactory"
		class="ca.bc.gov.webade.spring.bootstrap.BootstrapPropertiesFactory">
	</bean>

	<bean id="appConfigProperties" factory-bean="bootstrapPropertiesFactory"
		factory-method="getApplicationProperties">
		<constructor-arg value="WFNEWS" />
		<constructor-arg value="app-config" />
	</bean>

	<bean id="applicationProperties"
		  class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="localOverride" value="true" />
		<property name="propertiesArray">
			<list>
				<ref bean="appConfigProperties" />
			</list>
		</property>
		<property name="locations">
			<list>
				<value>classpath:static.properties</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="applicationProperties" />
	</bean>
	
	<bean id="applicationContextProvider" class="ca.bc.gov.nrs.wfim.util.ApplicationContextProvider"></bean>
	
</beans>
