<div class="legend-panel">
  <div class="legend-panel-title">Map</div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Fire Centre" class="legend-accordion-icon" src="/assets/images/svg-icons/fire-centre-legend.svg" >
          Fire Centre
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">The province is divided into six regional fire centres. Each fire centre is responsible for wildfire management within its boundaries.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

