@import "src/styles/variables";

:host {
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  height: 100%;
  background-color: white;
}

.fire-icon {
  color: #fcba19;
  border-radius: 50%;
  margin-right: 8px;
}

.container {
  height: calc(100dvh - 125px) !important;
  overflow: hidden;
}

.bottom {
  flex-shrink: 1;
  height: 100%;
  display: flex;
  flex-direction: row;

  .details {
    flex-shrink: 0;
    min-width: 400px;
    width: 320px;
    overflow: auto;
    height: 100%;
    transition: 0.5s;
  }

  .map {
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    .map-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    .identify-panel {
      position: relative;
      z-index: 1000000;
      background-color: white;
      height: 100%;
      width: 50vw;
      max-width: 600px;
      display: none;
      overflow-y: auto;
      border: 1px solid #dddddd;
    }
  }

  @media (min-width: $desktop-sm-min-width) {
    .layers-container {
      position: relative;
      margin-top: 60px;
      margin-left: 8px;
      .layer-buttons {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
        gap: 12px;
        border: none;
        padding-right: 40px;
      }
    }
  }

  @media (max-width: $mobile-max-width) {
    .layers-container {
      margin-top: 24px;
      margin-left: 8px;

      .layer-buttons {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
        gap: 12px;
        border: none;
        padding-right: 40px;
      }
    }

    .search-row {
      display: none;
    }
  }
}

//mat-input focused color
::ng-deep
  .mat-mdc-form-field-appearance-outline.mat-mdc-focused
  .mat-mdc-form-field-outline-thick {
  border-right: none;
}

.mat-accordion .mat-expansion-panel {
  margin-bottom: 8px;
  box-shadow: none !important;
}

.mat-accordion
  mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header,
.mat-accordion
  mat-expansion-panel.mat-expansion-panel-spacing
  .mat-expansion-panel-header {
  border-bottom: none;
}

mat-expansion-panel-header {
  background-color: white;
}

mat-panel-title {
  font-size: 15px;
  font-weight: 700;
  color: #1c5a97;
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
  color: #1c5a97;
}

::ng-deep .mat-expansion-indicator {
  margin-right: 10px;
}

::ng-deep .paragraph-format {
  font-size: 15px;
  line-height: 1.5;
}

::ng-deep .panel-header {
  font-size: 20px;
  font-weight: 400;
  color: #1c5a97;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: white;
}

@media screen and (max-width: 1300px) {
  .shrink {
    font-size: 0.6rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .hide {
    display: none !important;
  }
}

.location-icon {
  padding-right: 5px;
}

.mobile-wildfire-count {
  display: none;
  transition: 0.5s;
  opacity: 0;
}

.draggable-panel {
  display: none;
  bottom: 0;
}

@media screen and (max-width: $mobile-max-width) {
  ::ng-deep .footer {
    display: none !important;
  }

  ::ng-deep .smk-sidepanel {
    display: none !important;
  }

  ::ng-deep .menu-bar {
    display: none !important;
    // hidden until we have a style settled for menu bar
  }

  .search-row {
    display: none;
  }

  ::ng-deep .sticky-widget {
    position: fixed;
    bottom: 100px !important;
    right: 10px !important;
    display: flex;
    transition: 0.5s;
    z-index: 10000000 !important;
    flex-direction: column;
  }

  .identify-panel {
    display: none !important;
  }

  .title {
    display: none !important;
  }

  .container {
    height: calc(
      100dvh - env(safe-area-inset-bottom, 20px) - env(safe-area-inset-top, 20px)
    ) !important;
    overflow: hidden;
  }

  .mobile-wildfire-count {
    display: flex;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.381);
    width: 100%;
    height: 25px;
    color: white;
    z-index: 999999;
    position: relative;
    opacity: 1;
    transition: 0.5s;

    .fire-icon {
      margin: auto !important;
    }
  }

  ::ng-deep .smk-toolbar {
    @media screen and (max-width: $mobile-max-width) {
      display: none !important;
    }
    top: 22px !important;
  }

  ::ng-deep .smk-actionbar {
    @media screen and (max-width: $mobile-max-width) {
      display: none !important; // Hiding this but included style to match other buttons we need to show
      right: 13px !important;
      top: 120px !important;
      box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
      border-radius: 20px !important;
    }
    top: 22px !important;
  }

  ::ng-deep .smk-sidepanel {
    top: calc(var(--toolbar-height) + 32px) !important;
    left: 4px !important;
    width: calc(100vw - 65px) !important;
    z-index: 20 !important;
  }

  .map-layers {
    padding: 0px !important;
    .item {
      margin: 0px !important;
      transition: 0.5s;
      .icon {
        padding: 0px !important;
      }
    }
  }

  .search-location {
    min-width: 10px !important;
    transition: 0.5s;
    width: 100%;
  }

  .my-location-button {
    display: none !important;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    border-radius: 100px;
    transition: 0.5s;
  }

  .identify-panel {
    width: 100% !important;
  }

  .bottom {
    height: 100%;

    .details {
      width: 100%;
      overflow: auto;
      height: calc(100% - 196px);
      display: none;
    }

    .map {
      // was height: calc(100% - 10vh) !important;
      // NEVER use calc with 2 % or vh values as it will never work properly accross any other screen.
      // One value must always be a fixed value!
      // additionally, this is a vh calc, not a height%, otherwise heights will be different across
      // devices
      height: calc(
        100dvh - env(safe-area-inset-bottom, 90px) - env(
            safe-area-inset-top,
            90px
          ) - $nav-bar-height
      ) !important;

      .identify-panel {
        height: 100% !important;
        width: 100% !important;
        display: none;
      }
    }
  }

  .divider {
    height: 2px !important;
    span {
      display: none !important;
    }
  }

  .draggable-panel {
    display: block;
    position: fixed;
    top: 80vh;
    background-color: white;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 999999;
    border: 1px solid gray;
    box-shadow: 0 0 4px #000000ad;
    height: 100%;
    width: 100%;

    .grab-container {
      position: sticky;
      top: 0px;
      background-color: white;
      height: 15px;
      width: 100%;
      z-index: 10;
      padding-top: 5px;
      padding-bottom: 15px;
      border-radius: 20px;

      .drag-grabber {
        height: 4px;
        width: 100px;
        background: #00000085;
        margin: auto;
        margin-top: 15px;
        border-radius: 70px;
        cursor: grab;
      }
    }

    .panel-container {
      font-weight: 600;
      padding: 10px;
      overflow: auto;
      height: 90%;
      border-radius: 20px;

      .draggable-panel-title {
        font-size: 18px;
        color: #242424;
        padding: 20px 10px;
        border-bottom: 1px solid #dedede;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .criteria-title {
        font-size: 18px;
        color: #242424;
        padding: 20px 10px;
      }

      .widget-card {
        padding: 8px;
      }

      .widget-row {
        display: flex;
        padding: 12px;
        align-items: center;
        border-radius: 8px;
        background: #f2f2f6;
        justify-content: space-between;
      }

      .left-content {
        display: flex;
        align-items: center;
      }

      .incident-icon {
        margin-right: 12px;
      }

      .circle-icon {
        &.active-wildfires-holding {
          background-color: #ffff00;
          border: 1px solid black;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          margin-right: 12px;
        }
        &.active-wildfires-out-of-control {
          background-color: #ff0000;
          border: 1px solid black;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          margin-right: 12px;
        }
        &.active-wildfires-under-control {
          background-color: #98e600;
          border: 1px solid black;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          margin-right: 12px;
        }
        &.active-wildfires-out {
          background-color: #5c6671;
          border: 1px solid black;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          margin-right: 12px;
        }
      }
    }
  }

  .panel-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .panel-container::-webkit-scrollbar-track {
    background: white;
  }

  .panel-container::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
    border-radius: 16px;
    border: 1px solid #7d7d7d;
  }
}

.drawer-section-divider {
  background-color: #dedede;
  height: 1px;
  border: none;
  margin-top: 24px;
  margin-bottom: 24px;
}

.all-layers-btn {
  position: fixed;
  right: 20px;
  margin-top: 12px;
  z-index: 1000;
}

.legend-btn {
  position: fixed;
  right: 20px;
  margin-top: 62px;
  z-index: 1000;
}

.drawer-footer {
  margin-bottom: calc(24px + env(safe-area-inset-bottom, 20px));
  direction: rtl;

  button {
    color: #242424;
    background-color: white;
    text-align: center;

    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 1px solid var(--Grey-2, #a7a7a7);

    /* Body 1 */
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

.search-fab {
  bottom: 137px !important;
}

.bottom-77 {
  bottom: 77px !important;
}

.search-row {
  display: flex;
  position: absolute;
  left: -20px;
  top: 12px;
  z-index: 1000;

  .search-bar {
    padding: 0 30px;
    padding-right: 16px;
    position: relative;
    display: flex;
    align-items: center;

    input {
      margin-top: 0 !important;
      display: flex;
      width: 185px;
      min-width: unset !important;
      align-items: flex-end;
      gap: 12px;
      flex-shrink: 0;
      height: 30px;
      border-radius: 20px;
      background: #fff;
      box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
      border: 1px solid #c4c4c4;
      &::placeholder {
        color: #767676;
        font-size: 1rem;
      }
    }

    .input-clear-button {
      margin-right: auto;
      line-height: 20px;
      font-size: 10px;
      color: #999999;
      right: 15px;
      position: absolute;
    }
  }

  .firecentre-filter {
    display: flex;
    padding-left: 10px;
  }
}

.button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  margin-left: auto;
  height: 34px !important;
  box-shadow:
    0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.button-label {
  position: relative;
  top: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  white-space: nowrap;
}

.button-icon {
  position: relative;
}

::ng-deep
  .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above)
  .mdc-menu-surface.mat-mdc-autocomplete-panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow-y: auto;
  max-height: calc(100dvh - 220px) !important;
  max-width: 400px !important;
}

.layer-scroll-button {
  position: absolute;
  background: white !important;
  box-shadow:
    0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
  width: 30px;
  height: 30px;
  z-index: 2000 !important;
  padding-top: 4px;
  top: 1px;
  &.right {
    right: 10px;
    top: 1px;
  }
}

.search-fab-icon {
  margin-top: 3px;
}

.notification-test-button {
  position: absolute;
  left: 20px;
  z-index: 1000;
}