<div class="top">
    <div class="title">
        <h1>Active Wildfires Map</h1>
        <h2 class="wildfire-count">
            <wf-icon class="fire-icon" iconName="local_fire_department" iconSize="small"></wf-icon>
            <!-- <i class="material-icons-outlined">local_fire_department</i> -->
            {{ activeFireCount | async }} Active Wildfires
        </h2>
    </div>

    <div class="divider">
        <span>MAP LAYERS</span>
    </div>

    <div class="map-layers">
        <div class="item"
            [class.active]="selectedLayer === 'evacuation-orders-and-alerts'"
            (click)="onSelectLayer( 'evacuation-orders-and-alerts' )"
        >
            <wf-icon class="icon" iconName="error" iconSize="small"></wf-icon>
            Evacuation Orders and Alerts
        </div>

        <div class="item"
            [class.active]="selectedLayer === 'area-restrictions'"
            (click)="onSelectLayer( 'area-restrictions' )"
        >
            <wf-icon class="icon" iconName="wf/map-signs" iconSize="small"></wf-icon>
            Area Restrictions
        </div>

        <div class="item"
            [class.active]="selectedLayer === 'bans-and-prohibitions'"
            (click)="onSelectLayer( 'bans-and-prohibitions' )"
        >
            <wf-icon class="icon" iconName="block" iconSize="small"></wf-icon>
            Bans and Prohibitions
        </div>

        <div class="item"
            [class.active]="selectedLayer === 'smoke-forecast'"
            (click)="onSelectLayer( 'smoke-forecast' )"
        >
            <wf-icon class="icon" iconName="filter_drama" iconSize="small"></wf-icon>
            Smoke Forecast
        </div>

        <div class="item"
            [class.active]="selectedLayer === 'fire-danger'"
            (click)="onSelectLayer( 'fire-danger' )"
        >
            <wf-icon class="icon" iconName="format_list_bulleted" iconSize="small"></wf-icon>
            Danger Rating
        </div>

        <div class="item"
            [class.active]="selectedLayer === 'local-authorities'"
            (click)="onSelectLayer( 'local-authorities' )"
        >
            <wf-icon class="icon" iconName="place" iconSize="small"></wf-icon>
            Local Authorities
        </div>

        <div class="item"
            [class.active]="selectedLayer === 'routes-impacted'"
            (click)="onSelectLayer( 'routes-impacted' )"
        >
            <wf-icon class="icon" iconName="directions_car_filled" iconSize="small"></wf-icon>
            Road Conditions
        </div>
    </div>
</div>

<div class="bottom">
    <mat-accordion class="details">
        <mat-expansion-panel #WildfireStageOfControl class="wildfire-stage-of-control" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Wildfire Stages of Control
                </mat-panel-title>
            </mat-expansion-panel-header>

            <panel-wildfire-stage-of-control></panel-wildfire-stage-of-control>
        </mat-expansion-panel>

        <mat-expansion-panel #EvacuationOrdersAndAlerts class="evacuation-orders-and-alerts">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Evacuation Orders and Alerts
                </mat-panel-title>
            </mat-expansion-panel-header>

            <panel-evacuation-orders-and-alerts></panel-evacuation-orders-and-alerts>
        </mat-expansion-panel>

        <mat-expansion-panel #AreaRestrictions class="area-restrictions">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Area Restrictions
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel #BansAndProhibitions class="bans-and-prohibitions">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bans and Prohibitions
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel #SmokeForecast class="smoke-forecast">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Smoke Forecast
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel #FireDanger class="fire-danger">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Danger Rating
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel #LocalAuthorities class="local-authorities">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Local Authorities
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>

        <mat-expansion-panel #RoutesImpacted class="routes-impacted">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Road Conditions
                </mat-panel-title>
            </mat-expansion-panel-header>

        </mat-expansion-panel>
    </mat-accordion>

    <div class="map">
        <wf-map-container
            [mapConfig]="mapConfig"
            (mapInitialized)="initMap($event)"
        ></wf-map-container>
    </div>
</div>
