<div class="container">
  <div class="top">
      <div class="header-row">
          <div class="title">
              <h1>Wildfires Map</h1>
              <h2 class="wildfire-count">
                  <span class='material-icons-outlined fire-icon'>local_fire_department</span>
                  {{ activeFireCount | async }} Active Wildfires
              </h2>
          </div>

        <div class="search-row">
            <div class="search-bar">
                <input type="text" placeholder="Search by Location" aria-label="Search" matInput [formControl]="searchByLocationControl" [matAutocomplete]="auto" class="search-location">
                <button matSuffix mat-icon-button aria-label="Clear" class="input-clear-button" (click)="clearSearchLocationControl()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete class="location-results" #auto="matAutocomplete" (optionSelected)="onLocationSelected($event.option.value)">
                    <mat-option class="location-mat-option" *ngFor="let option of filteredOptions"
                        [value]="option">
                        <div class="location-option" #locationOptions [attr.data-loc-long]="option.loc[1]" [attr.data-loc-lat]="option.loc[0]">
                            <div *ngIf="option.address !== ''">
                                <div>
                                    <span class="address">{{option.address}}</span>
                                </div>
                                <div class="locality">{{option.localityName}} ({{option.localityType}})</div>
                            </div>
                            <div *ngIf="option.address === ''">
                                <div>
                                    <span class="address">{{option.localityName}}</span> <span> ({{option.localityType}})</span>
                                </div>
                            </div>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="my-location-button">
                <button mat-raised-button (click)="useMyCurrentLocation()">
                    <mat-icon class="location-icon">my_location</mat-icon>
                    Find My Location
                </button>
            </div>
            <div class="my-location-button-min">
              <button mat-icon-button (click)="useMyCurrentLocation()"><mat-icon class="location-icon">my_location</mat-icon></button>
            </div>
        </div>

        <div>
            <button mat-button [matMenuTriggerFor]="menu" class="disclaimer-dropdown">{{disclaimerText()}}<mat-icon>expand_more</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openLink('Disclaimer')">
                    Disclaimer
                </button>
                <button mat-menu-item (click)="openLink('Privacy')">
                    Privacy
                </button>
                <button mat-menu-item (click)="openLink('Copyright')">
                    Copyright
                </button>
            </mat-menu>
        </div>
    </div>
      <div class="divider">
          <span>MAP LAYERS</span>
      </div>

      <div class="map-layers">
          <div matTooltip="Wildfires" class="item" [class.active]="selectedLayer === 'wildfire-stage-of-control'"
              (click)="onSelectLayer( 'wildfire-stage-of-control' )">
              <span class='material-icons-outlined icon'>local_fire_department</span>
              <span class="hide shrink">Wildfires</span>
          </div>

          <div matTooltip="Evacuation Orders and Alerts" class="item" [class.active]="selectedLayer === 'evacuation-orders-and-alerts'"
              (click)="onSelectLayer( 'evacuation-orders-and-alerts' )">
              <wf-icon class="icon" iconName="error" iconSize="small"></wf-icon>
              <span class="hide shrink">Evacuation Orders and Alerts</span>
          </div>

          <div matTooltip="Area Restrictions" class="item"
              [class.active]="selectedLayer === 'area-restrictions'"
              (click)="onSelectLayer( 'area-restrictions' )"
          >
              <span class="icon signpost mat-icon"></span>
              <span class="hide shrink">Area Restrictions</span>
          </div>

          <div matTooltip="Bans and Prohibitions" class="item" [class.active]="selectedLayer === 'bans-and-prohibitions'"
              (click)="onSelectLayer( 'bans-and-prohibitions' )">
              <wf-icon class="icon" iconName="block" iconSize="small"></wf-icon>
              <span class="hide shrink">Bans and Prohibitions</span>
          </div>

          <div matTooltip="Smoke Forecast" class="item" [class.active]="selectedLayer === 'smoke-forecast'"
              (click)="onSelectLayer( 'smoke-forecast' )">
              <wf-icon class="icon" iconName="air" iconSize="small"></wf-icon>
              <span class="hide shrink">Smoke Forecast</span>
          </div>

          <div matTooltip="Danger Rating" class="item" [class.active]="selectedLayer === 'fire-danger'" (click)="onSelectLayer( 'fire-danger' )">
              <wf-icon class="icon" iconName="format_list_numbered" iconSize="small"></wf-icon>
              <span class="hide shrink">Danger Rating</span>
          </div>

          <div matTooltip="Local Authorities" class="item" [class.active]="selectedLayer === 'local-authorities'"
              (click)="onSelectLayer( 'local-authorities' )">
              <wf-icon class="icon" iconName="place" iconSize="small"></wf-icon>
              <span class="hide shrink">Local Authorities</span>
          </div>

          <div matTooltip="Road Conditions" class="item" [class.active]="selectedLayer === 'routes-impacted'"
              (click)="onSelectLayer( 'routes-impacted' )">
              <wf-icon class="icon" iconName="directions_car_filled" iconSize="small"></wf-icon>
              <span class="hide shrink">Road Conditions</span>
          </div>
      </div>
  </div>

  <div class="bottom">
      <div id="panel-details" [ngClass]="showAccordion ? 'details' : 'details close'">
          <panel-wildfire-stage-of-control-container-desktop *ngIf="selectedPanel === 'wildfire-stage-of-control'"></panel-wildfire-stage-of-control-container-desktop>
          <panel-evacuation-orders-and-alerts *ngIf="selectedPanel === 'evacuation-orders-and-alerts'"></panel-evacuation-orders-and-alerts>
          <panel-area-restrictions *ngIf="selectedPanel === 'area-restrictions'"></panel-area-restrictions>
          <panel-bans-prohibitions *ngIf="selectedPanel === 'bans-and-prohibitions'"></panel-bans-prohibitions>
          <panel-smoke-forecast *ngIf="selectedPanel === 'smoke-forecast'"></panel-smoke-forecast>
          <panel-fire-danger *ngIf="selectedPanel === 'fire-danger'"></panel-fire-danger>
          <panel-road-conditions *ngIf="selectedPanel === 'routes-impacted'"></panel-road-conditions>
          <panel-local-authority *ngIf="selectedPanel === 'local-authorities'"></panel-local-authority>
      </div>
      <div class="map">
        <div class="identify-panel"></div>
        <div class="mobile-wildfire-count">
          <span style="margin: auto; display: flex;"><span class='material-icons-outlined fire-icon'>local_fire_department</span>{{ activeFireCount | async }} Active Wildfires</span>
        </div>
        <wf-map-container class="map-container" [mapConfig]="mapConfig" (mapInitialized)="initMap($event)" (toggleAccordion)="onToggleAccordion()"></wf-map-container>
      </div>
      <div #resizeBox id="draggable-panel" class="draggable-panel" cdkDragLockAxis="y" (cdkDragMoved)="dragMove($event)" (cdkDragEnded)="dragDropped($event)" cdkDrag>
        <div class="grab-container" cdkDragHandle>
          <div id="grabber" class="drag-grabber"></div>
          <div style="text-align: center; padding: 7px;">{{selectedPanel === 'wildfire-stage-of-control' ? 'Wildfires' :
            selectedPanel === 'evacuation-orders-and-alerts' ? 'Evacuation Orders' :
            selectedPanel === 'area-restrictions' ? 'Area Restrictions' :
            selectedPanel === 'bans-and-prohibitions' ? 'Bans &amp; Prohibitions' :
            selectedPanel === 'smoke-forecast' ? 'smoke-forecast' :
            selectedPanel === 'fire-danger' ? 'Fire Danger' :
            selectedPanel === 'routes-impacted' ? 'Drive BC' :
            selectedPanel === 'local-authorities' ? 'Local Authorities' : ''}}</div>
        </div>
        <div class="panel-container" style="padding-top: 10px;">
          <panel-wildfire-stage-of-control-container-desktop *ngIf="selectedPanel === 'wildfire-stage-of-control'"></panel-wildfire-stage-of-control-container-desktop>
          <panel-evacuation-orders-and-alerts *ngIf="selectedPanel === 'evacuation-orders-and-alerts'"></panel-evacuation-orders-and-alerts>
          <panel-area-restrictions *ngIf="selectedPanel === 'area-restrictions'"></panel-area-restrictions>
          <panel-bans-prohibitions *ngIf="selectedPanel === 'bans-and-prohibitions'"></panel-bans-prohibitions>
          <panel-smoke-forecast *ngIf="selectedPanel === 'smoke-forecast'"></panel-smoke-forecast>
          <panel-fire-danger *ngIf="selectedPanel === 'fire-danger'"></panel-fire-danger>
          <panel-road-conditions *ngIf="selectedPanel === 'routes-impacted'"></panel-road-conditions>
          <panel-local-authority *ngIf="selectedPanel === 'local-authorities'"></panel-local-authority>
        </div>
      </div>
  </div>
</div>
