<div *ngIf="!loaded" class="loading-spinner">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>
<div class="incident-details" *ngIf="loaded && failedToLoad">
  <div class="header">
    <div class="smk-command-button smk-move smk-icon"><div class="smk-command"><em title="Close Panel" (click)="close()" class="material-icons button">close</em></div></div>
  </div>
  <div class="loading-spinner">
    <div>The Incident could not be found.</div>
  </div>
</div>
<div class="incident-details" *ngIf="loaded && !failedToLoad">
  <div class="header">
    <div class="smk-command-button smk-move smk-icon"><div class="smk-command"><em title="Close Panel" (click)="close()" class="material-icons button">close</em></div></div>
    <button class="zoom-to-button"(click)="ZoomIn()">Zoom to</button>
    <div *ngIf="identifiedFeatures.length > 1" class="smk-command-button smk-move smk-icon"><div class="smk-command"><em (click)="next()" class="button material-icons">navigate_next</em></div></div>
    <span *ngIf="identifiedFeatures.length > 1" class="smk-position" style="margin-top: 6px;">{{identifiedFeatures.length}}</span> <span *ngIf="identifiedFeatures.length > 1" style="margin-top: 5px;">of</span> <span *ngIf="identifiedFeatures.length > 1" class="smk-position" style="margin-top: 6px;">{{index}}</span>
    <div *ngIf="identifiedFeatures.length > 1" class="smk-command-button smk-move smk-icon"><div class="smk-command"><em (click)="previous()" class="button material-icons">navigate_before</em></div></div>
  </div>
  <div class="title-bar">
    <div class="title">{{incident.incidentName}} <span *ngIf="incident.fireOfNoteInd" #el class="fire-icon-container"><img class="icon" height="24" width="24" src="/assets/images/local_fire_department.png" alt="local_fire_department"></span> <span #el style="cursor: pointer;" (click)="onWatchlist() ? removeFromWatchlist() : addToWatchlist()"><mat-icon style="color:#1A5A96">{{onWatchlist() ? 'bookmark' : 'bookmark_border'}}</mat-icon></span></div>
    <div class="subtitle"><a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/about-bcws/fire-centres" rel="noopener" target="_blank">{{convertToFireCentreDescription(incident.fireCentreName || incident.fireCentre || incident.fireCentreCode)}}</a></div>
  </div>
  <div class="nav-button" *ngIf="incident.stageOfControlCode !== 'OUT'">
    <button style="background: #1a5a96; color: white;" mat-button color="primary" (click)="goToIncidentDetail()">Full Incident Details</button>
  </div>
  <div class="info-panel">
    <div><span class="label">Fire Number: </span><span class="paragraph-format">{{convertFireNumber(incident)}}</span></div>
    <div><span class="label">Last Updated: </span><span class="paragraph-format">{{incident.lastUpdatedTimestamp}}</span></div>
    <div><span class="label">Discovered On: </span><span class="paragraph-format">{{incident.discoveryDate}}</span></div>
    <div *ngIf="incident.stageOfControlCode === 'OUT'"><span class="label">Declared Out: </span><span>{{incident.declaredOutDate}}</span></div>
  </div>
  <div class="divider"></div>
  <div class="info-panel">
    <div class="gutter"><span class="label">Size: </span><span class="paragraph-format">{{incident.incidentSizeEstimatedHa ? incident.incidentSizeEstimatedHa.toLocaleString() : 0}} Hectares</span></div>
    <div class="paragraph-format">{{incident.incidentSizeDetail || 'Fire size is estimated and based on the most current information available.'}}</div>
    <div *ngIf="incident.incidentLocation">
      <div class="gutter"><span class="label">Location</span></div>
      <div class="paragraph-format">{{incident.incidentLocation}}</div>
    </div>
    <div *ngIf="incident.traditionalTerritoryDetail">
      <div class="gutter"><span class="label">Traditional Territory</span></div>
      <div class="paragraph-format">{{incident.traditionalTerritoryDetail}}</div>
    </div>
  </div>
  <!-- Evac Orders-->
  <div *ngIf="evacOrders.length > 0" class="divider"></div>
  <div style="padding-top: 7px;" *ngIf="evacOrders.length > 0">
    <h4>Active Evacuation Orders and Alerts</h4>
    <div class="evac-list" *ngFor="let evac of evacOrders">
      <mat-icon style="text-decoration: none;">error</mat-icon>
      <div class="label" (mouseup)="zoomToEvac(evac)">{{evac.eventName}}</div>
      <div class="issued-by">(Issued By: {{evac.issuingAgency}})</div>
    </div>
  </div>
  <div class="divider"></div>
  <!-- Response Icons-->
  <div *ngIf="incident.fireOfNoteInd && (incident.wildfireCrewResourcesInd || incident.wildfireAviationResourceInd || incident.incidentMgmtCrewRsrcInd || incident.heavyEquipmentResourcesInd || incident.structureProtectionRsrcInd)">
    <h4>Current Resources on Response</h4>
    <div class="icon-bar">
      <div *ngIf="incident.wildfireCrewResourcesInd" class="resource-icon">
        <img class="image-size" src="../../../assets/images/svg-icons/wildfire-crews.svg" alt="Wildfire Crews" />
        <div class="image-label">Wildfire Crews</div>
      </div>
      <div *ngIf="incident.wildfireAviationResourceInd" class="resource-icon">
        <img class="image-size" src="../../../assets/images/svg-icons/aviation.svg" alt="Aviation" />
        <div class="image-label">Aviation</div>
      </div>
      <div *ngIf="incident.incidentMgmtCrewRsrcInd" class="resource-icon">
        <img class="image-size" src="../../../assets/images/svg-icons/incident-management-teams.svg" alt="Incident Management Team" />
        <div class="image-label">Incident Management Team</div>
      </div>
      <div *ngIf="incident.heavyEquipmentResourcesInd" class="resource-icon">
        <img class="image-size" src="../../../assets/images/svg-icons/heavy_equipment.svg" alt="Heavy Equipment" />
        <div class="image-label">Heavy Equipment</div>
      </div>
      <div *ngIf="incident.structureProtectionRsrcInd" class="resource-icon">
        <img class="image-size" src="../../../assets/images/svg-icons/structure-protection.svg" alt="Structure Protection" />
        <div class="image-label">Structure Protection</div>
      </div>
    </div>
  </div>
</div>
