<div class="incident-panel">
    <div class="incident-panel__sidebar">
        <div class="incident-detail-identification-toolbar">
            <div class="incident-detail-labelled-button">
                <button mat-button aria-label="Refresh Incident" (click)="loadAll()" matTooltip="Refresh"
                    [matTooltipShowDelay]="TOOLTIP_DELAY">
                    <mat-icon color="secondary">autorenew</mat-icon>
                    <div>Refresh</div>
                </button>
            </div>
            <div class="incident-detail-labelled-button">
                <button mat-button aria-label="Detailed Report" (click)="showIncidentDetailReportDialog()"
                    matTooltip="Report" [matTooltipShowDelay]="TOOLTIP_DELAY">
                    <mat-icon color="secondary">assignment</mat-icon>
                    <div>Report</div>
                </button>
            </div>
        </div>
        <div class="incident-panel__sidebar__info">
            <wf1-info-incident-panel [incident]="incident" class="mat-typography"></wf1-info-incident-panel>
        </div>
        <div class="incident-panel__sidebar__tabs">
            <mat-nav-list>
                <mat-list-item matBadgePosition="above after" matBadge="{{getValidationErrorCount('general')}}"
                    matBadgeColor="warn" matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.GENERAL}"
                    (click)="selectTab(TabTypes.GENERAL)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">info</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.GENERAL}}</span>
                </mat-list-item>
                <mat-list-item matBadgePosition="above after"
                    matBadge="{{getValidationErrorCount('fireCharacteristics')}}" matBadgeColor="warn"
                    matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.FIRE_CHARACTERISTICS}"
                    (click)="selectTab(TabTypes.FIRE_CHARACTERISTICS)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">whatshot</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.FIRE_CHARACTERISTICS}}</span>
                </mat-list-item>
                <mat-list-item matBadgePosition="above after" matBadge="{{getValidationErrorCount('landAuthority')}}"
                    matBadgeColor="warn" matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.LAND_AUTHORITY}"
                    (click)="selectTab(TabTypes.LAND_AUTHORITY)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">perm_media</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.LAND_AUTHORITY}}</span>
                </mat-list-item>
                <mat-list-item matBadgePosition="above after" matBadge="{{getValidationErrorCount('cause')}}"
                    matBadgeColor="warn" matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.CAUSE}"
                    (click)="selectTab(TabTypes.CAUSE)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">filter_drama</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.CAUSE}}</span>
                </mat-list-item>
                <mat-list-item matBadgePosition="above after" matBadge="{{getValidationErrorCount('ceInvestigation')}}"
                    matBadgeColor="warn" matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.CE_INVESTIGATION}"
                    (click)="selectTab(TabTypes.CE_INVESTIGATION)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">image_search</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.CE_INVESTIGATION}}</span>
                </mat-list-item>
                <mat-list-item matBadgePosition="above after" matBadge="{{getValidationErrorCount('costs')}}"
                    matBadgeColor="warn" matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.COSTS}"
                    (click)="selectTab(TabTypes.COSTS)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">attach_money</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.COSTS}}</span>
                </mat-list-item>
                <mat-list-item matBadgePosition="above after" matBadge="{{getValidationErrorCount('rswap')}}"
                    matBadgeColor="warn" matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.RSWAP}"
                    (click)="selectTab(TabTypes.RSWAP)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">format_list_numbered</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.RSWAP}}</span>
                </mat-list-item>
                <mat-list-item matBadgePosition="above after" matBadge="{{getValidationErrorCount('history')}}"
                    matBadgeColor="warn" matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.HISTORY}"
                    (click)="selectTab(TabTypes.HISTORY)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">calendar_today</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.HISTORY}}</span>
                </mat-list-item>
                <mat-list-item matBadgePosition="above after" matBadge="{{getValidationErrorCount('photos')}}"
                    matBadgeColor="warn" matBadgeSize="medium"
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.PHOTOS}"
                    (click)="selectTab(TabTypes.PHOTOS)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">photo_camera</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.PHOTOS}}</span>
                </mat-list-item>
                <mat-list-item
                    [ngClass]="{'incident-panel__sidebar__tabs__tab': true, 'incident-panel__sidebar__tabs__tab--active': currentTab == TabTypes.REPORT_SIGN_OFF}"
                    (click)="selectTab(TabTypes.REPORT_SIGN_OFF)" [disabled]="isloading()">
                    <mat-icon class="incident-panel__sidebar__tabs__tab__icon">how_to_reg</mat-icon>
                    <span class="incident-panel__sidebar__tabs__tab__text">{{TabTypes.REPORT_SIGN_OFF}}</span>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>
    <div class="incident-panel__content">
        <div class="main-form-content">
            <wfim-general-incident-panel *ngIf="incident && currentTab === TabTypes.GENERAL" [incident]="incident"
                [validationState]="generalValidationState$ | async" (dirty)="updateFormState(TabTypes.GENERAL, $event)"
                (updateIncident)="updateIncident($event)">
            </wfim-general-incident-panel>
            <wfim-fire-characteristic-panel *ngIf="incident && currentTab === TabTypes.FIRE_CHARACTERISTICS"
                [incident]="incident" [validationState]="fireCharacteristicsValidationState$ | async"
                (dirty)="updateFormState(TabTypes.FIRE_CHARACTERISTICS, $event)"
                (updateIncident)="updateIncident($event)">
            </wfim-fire-characteristic-panel>
            <wfim-land-authority-panel *ngIf="incident && landAuthority && currentTab === TabTypes.LAND_AUTHORITY"
                [incident]="incident" [landAuthority]="landAuthority"
                [validationState]="landAuthorityValidationState$ | async"
                (dirty)="updateFormState(TabTypes.LAND_AUTHORITY, $event)" (updateIncident)="updateIncident($event)"
                (updateLandAuthority)="updateLandAuthority($event)">
            </wfim-land-authority-panel>
            <wfim-cause-panel *ngIf="incident && ocInvestigation && currentTab === TabTypes.CAUSE"
                [incident]="incident"
                [ocInvestigation]="ocInvestigation"
                [cause]="cause"
                [validationState]="causeValidationState$ | async"
                (dirty)="updateFormState(TabTypes.CAUSE, $event)"
                (updateOCInvestigation)="updateOCInvestigation($event)"
                (updateIncident)="updateIncident($event)"
                (refreshCause)="refreshCause($event)">
            </wfim-cause-panel>
            <wfim-ce-investigation-panel *ngIf="incident && ceInvestigation && currentTab === TabTypes.CE_INVESTIGATION"
                [incident]="incident" [ceInvestigation]="ceInvestigation"
                [validationState]="ceInvestigationValidationState$ | async"
                (dirty)="updateFormState(TabTypes.CE_INVESTIGATION, $event)" (updateIncident)="updateIncident($event)"
                (updateCEInvestigation)="updateCEInvestigation($event)">
            </wfim-ce-investigation-panel>
            <wfim-cost-panel *ngIf="incident && currentTab === TabTypes.COSTS" [incident]="incident"
                [validationState]="costsValidationState$ | async" (dirty)="updateFormState(TabTypes.COSTS, $event)"
                (updateIncident)="updateIncident($event)">
            </wfim-cost-panel>
            <wfim-rswap-panel *ngIf="incident && rswap && currentTab === TabTypes.RSWAP" [incident]="incident"
                [rswap]="rswap" [validationState]="rswapValidationState$ | async"
                (dirty)="updateFormState(TabTypes.RSWAP, $event)" (updateRswap)="updateRswap($event)">
            </wfim-rswap-panel>
            <wfim-history-panel *ngIf="incident && currentTab === TabTypes.HISTORY" [incident]="incident"
                [validationState]="historyValidationState$ | async" (dirty)="updateFormState(TabTypes.HISTORY, $event)"
                (updateIncident)="updateIncident($event)">
            </wfim-history-panel>
            <wfim-photos-panel *ngIf="incident && currentTab === TabTypes.PHOTOS"
                [incident]="incident"
                [photos]="photos"
                [validationState]="photosValidationState$ | async"
                (dirty)="updateFormState(TabTypes.PHOTOS, $event)"
                (updateIncident)="updateIncident($event)">
            </wfim-photos-panel>
            <wfim-sign-off-panel
                *ngIf="incident && landAuthority && ocInvestigation && cause && ceInvestigation && currentTab === TabTypes.REPORT_SIGN_OFF"
                [incident]="incident"
                [landAuthority]="landAuthority"
                [ocInvestigation]="ocInvestigation"
                [cause]="cause"
                [ceInvestigation]="ceInvestigation"
                [validationState]="signOffValidationState$ | async"
                (updateIncident)="updateIncident($event)"
                (updateIncidentETag)="updateIncidentETag($event)"
                (dirty)="updateFormState(TabTypes.REPORT_SIGN_OFF, $event)">
            </wfim-sign-off-panel>
        </div>

        <comments-container *ngIf="incident" [hidden]="currentTab !== TabTypes.GENERAL"
            (updateIncident)="updateIncident($event)" [comments]="comments$ | async" [incident]="incident">

        </comments-container>

        <update-info-container *ngIf="incident && currentTab === TabTypes.GENERAL" [incident]="incident">
        </update-info-container>

    </div>

</div>