
.wfone-public-mobile-bans-and-prohibitions-detail {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.external-page-top-nav {
  background-color: #e0e0e0;
  height: 2.5rem;

  .close-button {
    display:inline-block;
    margin-top: 0rem;
    margin-right: 0.25rem;
  }

  .url-info {
    display: block;
    margin-top: 0rem;
    padding-top: 0rem;
    vertical-align: top !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

