<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="file"
      fileName="/apps_ux/logs/WFSS/wfss-pointid-api/wfss-pointid-api.log"
      encoding="UTF-8"
      filePattern="/apps_ux/logs/WFSS/wfss-pointid-api/wfss-pointid-api.%d.log.gz"
      ignoreExceptions="false">
      <PatternLayout>
        <!-- The log message pattern -->
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile> 
  </Appenders>
  
  <Loggers>  
    <Root level="DEBUG">
      <AppenderRef ref="file"/>
          </Root>
  </Loggers>
</Configuration>