@import '../../../../../styles/variables';
@import "notosans-fontface/scss/notosans-fontface";

@media (min-width: 768px) {
  .container {
    overflow: hidden;
    font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
    display: flex;
    flex: 1 0 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    max-width: 1480px;
    width: calc(100vw - 104px);
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
  }

  .widget-title {
    color: #242424;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .vertical-chart {
    display: block;
  }

  .horizontal-chart {
    display: none;
  }

  .data-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--24, 24px);
    flex-shrink: 0;
    align-self: stretch;
    padding-top: 12px;
    &-image-box {
      width: 50%;
      flex-shrink: 0;
      border-radius: 20px;
    }
    &-image {
      max-width: 100%;
    }
    &-chart {
      display: flex;
      width: 50%;
      padding: var(--16, 16px);
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: var(--16, 16px);
      background: #F5F6F9;
      &-label {
        color: var(--grays-gray-2, #484848);
        font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      &-container {
        width: 100%;
        height: 100%;
      }
    }
  }
  .widget-header {
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    padding-bottom: 16px;
    display: flex;
  }
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
    font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
    display: flex;
    flex: 1 0 0;
    background: #FFF;
    width: calc(100vw - 104px);
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
  }

  .widget-title {
    color: #242424;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .vertical-chart {
    display: none;
  }

  .horizontal-chart {
    display: block;
  }

  .data-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--24, 24px);
    flex-shrink: 0;
    align-self: stretch;
    padding-top: 12px;
    &-image-box {
      width: 50%;
      flex-shrink: 0;
      border-radius: 20px;
    }
    &-image {
      max-width: 100%;
    }
    &-chart {
      display: flex;
      width: 50%;
      min-height: 458px;
      padding: 6px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: var(--16, 16px);
      background: #F5F6F9;
      &-label {
        color: var(--grays-gray-2, #484848);
        font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 10px;
      }
      &-container {
        width: 100%;
        height: 100%;
      }
    }
  }

  .widget-header {
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    padding-bottom: 16px;
  }
}

.spinner-position {
  position: relative;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.content {
  height: 100%;
  width: 100%
}

.button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  background-color: transparent;
  margin-left: auto;
  &-selected {
    margin-right: 7px;
    border-radius: 20px;
    border: 2px solid #38598A !important;
    background-color: #E9F0F8 !important;
    color: #242424 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }
}

.button-label {
  position: relative;
  top: -3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  &-selected {
    position: relative;
    top: -3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #242424 !important;
  }
}

.button-icon {
  position: relative;
  top: 2px;
  left: -6px;
}

.widget-button-bar {
  margin-left: auto;
  display: flex;
}

.message {
  color: var(--Grey-1, #666);
  align-self: stretch;
  font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 135.714% */
}

.data-content>*{
  flex: 1 0 42%;
}
