<base-wrapper [errorState]="errorState" [toolbarIsVisible]="true" [backRoute]="backRoute" [backRouteLabel]="backRouteLabel" [title]="title">
    <div class="page-width-container wfone-public-mobile-bans-and-prohibitions standard-content" [ngClass]="elevation">
        <div class="title-bar-wrapper" *ngIf="!getIsMobileRes()">
            <div class="title-bar">
                <div class="left">
                    <button *ngIf="backRoute" type="button" (click)="navigateToBackRoute()" class="nav-menu-button" >
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="middle">
                    <div *ngIf="title" class="title">{{title}}</div>
                    <div *ngIf="summaryString" class="summary">{{summaryString}}</div>
                </div>
            </div>
        </div>
        <div class="non-map-component-wrapper">
            <table>
                <thead>
                    <th class="fire-centre-name">Fire Centre</th>
                    <th><a href="" (click)="navigateToHelpContent(HELP_CONTENT_TYPES.OPEN_FIRES_ALL)">Open Fires</a></th>
                    <th><a href="" (click)="navigateToHelpContent(HELP_CONTENT_TYPES.CAMP_FIRES)">Campfires</a></th>
                    <th>Forest Use</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of bansProhibitions">
                        <td class="fire-centre-name">{{item.fireCentre.name}}</td>
                        <td class="fire-status">
                            <div class="fire-status-icon">
                                <img *ngIf="item.openFireBanInEffect" class="page-link"
                                     (click)="navigateToBansProhibitionsDetail(item)"
                                     src="{{openFireStatusImgPath(item.openFiresStatus)}}"/>
                                <img *ngIf="!item.openFireBanInEffect" src="{{openFireStatusImgPath(item.openFiresStatus)}}"/>
                            </div>
                            <div *ngIf="item.openFireBanInEffect"><a href="" class="external-link" (click)="navigateToBansProhibitionsDetail(item)">{{item.openFiresDesc}}</a></div>
                            <div *ngIf="!item.openFireBanInEffect">{{item.openFiresDesc}}</div>
                        </td>
                        <td class="fire-status">
                            <div class="fire-status-icon">
                                <img *ngIf="item.campFireBanInEffect" class="page-link"
                                     (click)="navigateToBansProhibitionsDetail(item)"
                                     src="{{campfireireStatusImgPath(item.campfiresStatus)}}"/>
                                <img *ngIf="!item.campFireBanInEffect" src="{{campfireireStatusImgPath(item.campfiresStatus)}}"/>
                            </div>
                            <div *ngIf="item.campFireBanInEffect"><a href="" class="external-link" (click)="navigateToBansProhibitionsDetail(item)">{{item.campfiresStatusDesc}}</a></div>
                            <div *ngIf="!item.campFireBanInEffect">{{item.campfiresStatusDesc}}</div>
                        </td>
                        <td class="fire-status">
                            <div class="fire-status-icon">
                                <img *ngIf="item.forestUseRestrictionsInEffect" class="page-link"
                                     (click)="navigateToBansProhibitionsDetail(item)"
                                     src="{{forestUseFireStatusImgPath(item.forestUseStatus)}}"/>
                                <img *ngIf="!item.forestUseRestrictionsInEffect" src="{{forestUseFireStatusImgPath(item.forestUseStatus)}}"/>
                            </div>
                            <div *ngIf="item.forestUseRestrictionsInEffect"><a href=""class="external-link" (click)="navigateToBansProhibitionsDetail(item)">{{item.forestUseDesc}}</a></div>
                            <div *ngIf="!item.forestUseRestrictionsInEffect">{{item.forestUseDesc}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


</base-wrapper>
