<wf1-basic-sidebar-panel
  titleText="Incident Detail"
  [showBackButton]="true"
>
  <div class="loading-spinner" *ngIf="loading">
    <wf1-spinner></wf1-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <div class="incident-detail-identification" *ngIf="incident">
      <div class="incident-detail-identification-toolbar">
        <div class="incident-detail-labelled-button">
          <button mat-button aria-label="Refresh Incident" (click)="refresh()" matTooltip="Refresh" [matTooltipShowDelay]="TOOLTIP_DELAY">
            <mat-icon color="secondary">autorenew</mat-icon>
            <div>Refresh</div>
          </button>
        </div>
        <div class="incident-detail-labelled-button">
          <button mat-button aria-label="Locate Incident on the Map" (click)="locateOnMap()" matTooltip="Locate on Map" [matTooltipShowDelay]="TOOLTIP_DELAY">
            <mat-icon color="secondary">place</mat-icon>
            <div>Map</div>
          </button>
        </div>
        <div *ngIf="canManageIncident()" class="incident-detail-manage-button">
          <button class="incident-detail-launch-incident-manager-button" mat-icon-button aria-label="View Selected Incident"	(click)="openIncident()" color="primary" matTooltip="View Incident" [matTooltipShowDelay]="TOOLTIP_DELAY"><mat-icon>launch</mat-icon></button>
          <div>Manage</div>
        </div>
        <div class="incident-detail-labelled-button">
          <button mat-button aria-label="Navigate to Point ID" (click)="navigateToPointID()" matTooltip="Point ID" [matTooltipShowDelay]="TOOLTIP_DELAY">
            <mat-icon color="secondary">privacy_tip</mat-icon>
            <div>Point ID</div>
          </button>
        </div>

      </div>
      <wf1-info-incident-panel [incident]="incident"></wf1-info-incident-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <wf1-application-icon iconType="{{getIconType()}}"></wf1-application-icon><span><strong>INCIDENT SUMMARY</strong></span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="incident-detail-other-details">
          <div class="incident-detail-label-row">
            <span>Geographic Location</span>
            <span>Percent Contained</span>
          </div>
          <div class="incident-detail-value-row">
            <span>{{incident.incidentLocation.geographicDescription}}</span>
            <span>{{incident.incidentSituation.containedPercentage}}</span>
          </div>
          <div class="incident-detail-label-row">
            <span *ngIf="canDisplayNonReadOnlyFields()">Access</span>
            <span>Simplex</span>
          </div>
          <div class="incident-detail-value-row">
            <span *ngIf="canDisplayNonReadOnlyFields()">{{incident.incidentSituation.siteAccessPointTypeCode}}</span>
            <span>{{incident.simplexRadioFrequency.channelColour}}</span>
          </div>
          <div *ngIf="canDisplayNonReadOnlyFields()" class="incident-detail-label-row">
            <span>Values at Risk</span>
            <span>Suspected Cause</span>
          </div>
          <div *ngIf="canDisplayNonReadOnlyFields()" class="incident-detail-value-row">
            <span>{{incident.incidentSituation.valuesAtRiskDescription}}</span>
            <span>{{incident.suspectedCauseCategoryCode}}</span>
          </div>
          <div class="incident-detail-label-row">
            <span *ngIf="canDisplayNonReadOnlyFields()">Year</span>
            <span>Interface</span>
          </div>
          <div class="incident-detail-value-row">
            <span *ngIf="canDisplayNonReadOnlyFields()">{{incident.wildfireYear}}</span>
            <span>{{incident.incidentSituation.interfaceFireInd ? "Yes" : "No"}}</span>
          </div>
          <div class="incident-detail-label-row">
            <span>Fire Centre</span>
            <span>Fire Zone</span>
          </div>
          <div class="incident-detail-value-row">
            <span [title]="incident.fireCentreOrgUnitName">{{incident.fireCentreOrgUnitName}}</span>
            <span [title]="incident.zoneOrgUnitName">{{incident.zoneOrgUnitName}}</span>
          </div>
          <!-- <div *ngIf="canLoadComments()" class="incident-detail-label-row">
            <span>Dispatch Comments</span>
          </div> -->
          <!-- <div *ngIf="canLoadComments()" class="incident-detail-value-row">
            <span>{{incident.reporterActionComment ? incident.reporterActionComment : 'No Comments Found'}}</span>
          </div> -->
        </div>
      </mat-expansion-panel>

      <!-- <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="secondary">photo_camera</mat-icon><span><strong>PHOTOS</strong></span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <wfim-photo-gallery
            [initGallery]="initGallery"
            [xxattachmentUpdater]="attachmentUpdater"
            [attachmentListUpdater]="attachmentListUpdater"
            [showFilter]="false"
            [showSelection]="false"
        ></wfim-photo-gallery>
      </mat-expansion-panel> -->

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <wf1-application-icon iconType="report-of-fire"></wf1-application-icon><span><strong>ASSIGNED REPORTS OF FIRE</strong></span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="incident-detail-other-details">
          <div *ngFor="let rof of rofs" class="link-div">
            <span class="report-of-fire-link" (click)="openROFDetails(rof)">{{ getROFLinkLabel(rof) }}</span>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="canLoadComments()" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="secondary">chat_bubble</mat-icon><span><strong>COMMENTS</strong></span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-table [dataSource]="dataSource" [hidden]="!comments || comments.length === 0" class="left-justify-cells">
          <ng-container [cdkColumnDef]="colDef.name" *ngFor="let colDef of tableDef">
            <mat-header-cell mat-sort-header *cdkHeaderCellDef>
              <span class="comment-table__header">{{colDef.title}}</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
              <span class="comment-table__cell">{{colDef.prop(row)}}</span>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableHeaders;"></mat-row>
        </mat-table>
        <ng-container *ngIf="!comments || comments.length === 0">
          <div class="no-comments-label">No Comments</div>
        </ng-container>
      </mat-expansion-panel>
    </div>
  </ng-container>
</wf1-basic-sidebar-panel>
