<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="file" class="org.apache.log4j.rolling.RollingFileAppender">
		<!-- The active file to log to -->
		<param name="file"
			value="${dollar}{logging.home.dir}${dollar}{file.separator}wfim${dollar}{file.separator}wfim-incident-manager-war.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern"
				value="${dollar}{logging.home.dir}${dollar}{file.separator}wfim${dollar}{file.separator}wfim-incident-manager-war.%d.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The log message pattern -->
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>
	<root>
		<priority value="INFO" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>