@import "src/styles/variables";

.table-wrapper {
  width: calc(100% - 2 * var(--wf1-gutter-space));
  margin: 0 var(--wf1-gutter-space);
  border-top: 1px solid $colour-light-grey;
  border-bottom: 1px solid $colour-light-grey;
  overflow: auto;

  .mat-mdc-table {
    width: 100%;
    display: table;

    ::ng-deep .mat-sort-header-content {
      text-align: left;
      font-weight: 600;
    }

    tr {
      width: 100%;
      display: table-row;

      &.search-header-row {
        align-items: center;
        background-color: $colour-table-background-odd;
      }
    }

    td,
    th {
      word-wrap: break-word;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1 1 100px;
      max-width: 100px;
    }

    th {
      font-weight: 600;
      font-family: $font-family-emphasis;
    }
    td {
      white-space: nowrap;
    }

    td.border-left,
    th.border-left {
      border-left: solid 1px $colour-light-grey;
    }

    td.checkbox-cell,
    td.icon-cell {
      text-align: center;
    }

    th.checkbox-cell,
    th.icon-cell {
      text-align: center;
      font-size: $font-size-small;
      white-space: unset;
      width: 45px;

      div {
        line-height: 12px;
      }
    }
  }

  input {
    border-radius: $wf1-border-radius;
    border: 1px solid $colour-light-grey;
  }
}
.top-summary,
.bottom-summary {
  display: flex;
  margin: var(--wf1-gutter-space);
  justify-content: space-between;
  line-height: 30px;
  align-items: center;

  > * {
    flex: 1 1 25%;
  }

  pagination-controls {
    flex: 1 1 50%;
  }

  .show-entries-info > * {
    margin-left: 5px;
  }

  .show-entries-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: $font-family-main;
    line-height: 35px;

    ::ng-deep .ms-search {
      width: calc(100% - 7px);
      border-radius: $wf1-border-radius;
      font-family: $font-family-main;
      font-size: $font-size;
      > input {
        width: inherit;
        font-family: $font-family-main;
        font-size: $font-size;
        &:focus {
          outline: none;
          box-shadow: 0 0 4px #3e7fff;
        }
      }
    }
    ::ng-deep .ms-parent {
      width: 80px !important;
      margin-left: 5px;
    }
    ::ng-deep .ms-choice {
      height: 37.5px;
      line-height: 37.5px;
      width: 80px;
      border: 1px solid $colour-light-grey;
      padding: 0 5px;
      border-radius: $wf1-border-radius;
      font-family: $font-family-main;
      font-size: $font-size;
      color: inherit;

      span.placeholder {
        color: #6a6a6a;
      }

      > div.icon-caret {
        margin-top: -5px;
        border-width: 9px 6px 0 6px;

        &.open {
          border-width: 0 6px 9px 6px;
        }
      }
    }

    select.mat-mdc-input-element {
      background-color: $colour-white;
      width: 60px;
      border: 1px solid $colour-light-grey;
      padding: 0 5px;
      border-radius: $wf1-border-radius;
      height: 35px;
      line-height: 35px;
      font-family: $font-family-main;
      font-size: $font-size;

      &:focus {
        outline: none;
        box-shadow: 0 0 4px #3e7fff;
      }
    }
  }
}

.summary-buttons {
  margin: 0 var(--wf1-gutter-space);
  flex: 0;
  display: flex;
  align-items: flex-start;
  line-height: 36px;
  min-height: 38px;

  button:not(:last-child) {
    margin-right: var(--wf1-gutter-space);
  }
}

.table-search-header {
  border-top: 1px solid $colour-light-grey;
  margin: 0 var(--wf1-gutter-space);
  background-color: $colour-table-background-odd;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.top-filter {
  margin: 0 var(--wf1-gutter-space);
  .search-and-filters {
    //.field{
    //  width: 312px !important;
    //  flex-basis: 312px !important;
    //}
  }
}

.top-filter,
.wf1-resources-header-bar,
.table-search-header {
  ::ng-deep .ms-drop {
    ul > li.hide-radio label {
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
    &.bottom {
      width: unset !important;
      max-width: 400px;
    }
  }

  .main-header-button {
    margin-right: var(--wf1-gutter-space);
    mat-icon {
      margin-right: 10px;
    }
  }

  .search-and-filters {
    flex: 1;
    display: flex;
    flex-flow: row wrap;

    .field {
      flex: 0 0 170px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-width: 0;

      .label {
        font-family: $font-family-emphasis;
        font-weight: $font-weight-emphasis;
        padding: 5px 1.5px;
      }

      &.search-input {
        width: 312px;
        flex-basis: 312px;
        margin-left: -2px;
      }

      &.filter-radio-group {
        width: auto !important;
        flex-basis: auto;
      }

      ::ng-deep .mat-mdc-radio-group {
        display: flex;
        .mat-mdc-radio-button {
          height: 35px;
          display: flex;

          &:not(:first-of-type) {
            margin-left: 5px;
          }
          .mdc-radio__outer-circle {
            background-color: $colour-white;
          }
        }
      }

      input.search-input {
        //width: 297px;
      }
    }

    & > * {
      flex: 0 0 225px;
      width: 0;
      margin: 6px;
    }

    & > select.mat-mdc-input-element {
      //fix for firefox flex basis issue https://github.com/philipwalton/flexbugs/issues/41
      max-width: 150px;
    }

    mat-icon {
      margin-right: 10px;
    }
  }

  input {
    font-size: $font-size;
    font-family: $font-family-main;
  }

  select.mat-mdc-input-element {
    background-color: $colour-white;
    height: 37.5px;
    top: 0;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-appearance: menulist;

    &.none-selected {
      color: #6a6a6a;
    }
  }
  ::ng-deep .ms-search {
    width: calc(100% - 7px);
    border-radius: $wf1-border-radius;
    font-family: $font-family-main;
    font-size: $font-size;
    > input {
      width: inherit;
      font-family: $font-family-main;
      font-size: $font-size;
      &:focus {
        outline: none;
        box-shadow: 0 0 4px #3e7fff;
      }
    }
  }
  ::ng-deep .ms-parent {
    width: 150px !important;
  }
  ::ng-deep .ms-choice {
    height: 37.5px;
    line-height: 37.5px;
    width: 150px;
    border: 1px solid $colour-light-grey;
    padding: 0 5px;
    border-radius: $wf1-border-radius;
    font-family: $font-family-main;
    font-size: $font-size;
    color: inherit;

    span.placeholder {
      color: #6a6a6a;
    }

    > div.icon-caret {
      margin-top: -5px;
      border-width: 9px 6px 0 6px;

      &.open {
        border-width: 0 6px 9px 6px;
      }
    }
  }

  textarea,
  input,
  mat-checkbox.mat-mdc-checkbox,
  select {
    border: 1px solid $colour-light-grey;
    padding: 0 5px;
    border-radius: $wf1-border-radius;
    height: 35px;
    line-height: 35px;
    font-family: $font-family-main;
    font-size: $font-size;

    &:focus {
      outline: none;
      box-shadow: 0 0 4px #3e7fff;
    }
  }

  input[readonly="true"],
  select[readonly="true"],
  input:disabled,
  select:disabled {
    background-color: $colour-white !important;
  }

  ::ng-deep mat-checkbox .mat-mdc-checkbox-frame {
    background-color: $colour-white;
    border: 1px solid $colour-light-grey;
    border-radius: $wf1-border-radius;
  }
}

.mat-mdc-table {
  .mat-mdc-header-cell {
    color: $colour-black;
    font-weight: $font-weight-emphasis;
    font-size: $font-size;
    padding: 5px 5px;
  }

  .mat-mdc-cell {
    color: $colour-black;
    font-weight: $font-weight;
    font-size: $font-size;
    padding: 5px 5px;

    div:not(.mat-badge) {
      white-space: nowrap;
      width: 100%;
      display: inline-block;
      text-overflow: ellipsis;
      overflow-x: hidden;
      overflow-y: hidden;
      line-height: 18px;

      &.icon-button-wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }

  .mat-mdc-row:nth-child(even) {
    background-color: $colour-table-background-even;
  }

  .mat-mdc-row:nth-child(odd) {
    background-color: $colour-table-background-odd;
  }

  .mat-mdc-row {
    &:hover {
      background-color: $colour-table-background-hover;
    }

    &.hover-pointer:hover {
      cursor: pointer;
    }

    .hover-pointer:hover {
      cursor: pointer;
    }
  }
}
