@import "../../../../styles/variables.scss";

.button-container {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;
  border-radius: 8px;
  width: fit-content;

  .label {
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
      sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}
