@import '../../../styles/variables';

.wfone-base-container.desktop {

  .wfone-base{
    .bottom-toolbar{
      min-height: 80px;
    }
  }

  mat-card.mat-card.review-header{

    .mat-card-content{
      padding: 10px;

      .field-row {
        display: table-row;

        .field-cell {
          display: table-cell;
          padding: 5px;

          .field-value{
            .cell-item-icon{
              display: flex;

              fa-icon{
                padding-right: 10px;
              }
            }
          }
        }

      }

    }

  }

  ::ng-deep .fixed-table-layout{
    table-layout: fixed;

  }

  ::ng-deep mat-panel-title{
    flex-grow: 0;
  }

  ::ng-deep mat-panel-description{
    vertical-align:middle;
    justify-content: space-between;
    font-size: 16px;
    padding-top:0.15rem;
    align-items: center;
  }

  ::ng-deep .mat-table {
    width: 100%;
    max-width: $max-component-width;
    margin: auto;


    .mat-header-cell{
      color: $colour-black;
    }

    .item-label {
      font-weight: bold;
      padding-right: 0.5rem;
    }

    //.mat-row:nth-child(odd) {
    //  background-color: $opacity-light-grey;
    //}

    .mat-row:hover {
      background-color: opacify($opacity-light-grey, .1);
      cursor: pointer;
    }

    .mat-header-cell{
      overflow: hidden;
      word-wrap: break-spaces;
    }
    .mat-header-cell,
    .mat-cell {
      padding: 0 .5rem;
    }

    .mat-cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .cell-item-icon {
        text-align: center;
        display: flex;

        fa-icon {
          font-size: 1rem;
          padding-right: 1rem;
        }
      }
    }

    .mat-header-cell.incident-checkbox-cell,
    .mat-cell.incident-checkbox-cell {
      flex: 0 0 1rem;
      padding: 0 .5rem 0 1rem;
    }

    .mat-header-cell.small-table-cell,
    .mat-cell.small-table-cell {
      flex: 0 0 2rem;
    }

    .mat-header-cell.medium-table-cell,
    .mat-cell.medium-table-cell {
      flex: 0 0 5.5rem;
    }

    .mat-header-cell.large-table-cell,
    .mat-cell.large-table-cell {
      flex: 1 0 10rem;
    }

    .mat-header-cell.extra-large-table-cell,
    .mat-cell.extra-large-table-cell {
      flex: 1 0 15rem;
    }
  }

  .mat-paginator {
    width: 100%;
    max-width: $max-component-width;
    margin: auto;

  }

  .top-toolbar {
    max-width: $max-component-width;
    width: 100%;
    margin: auto;
  }


  ::ng-deep .filter-table {

    &__controls {
      display: flex;
      max-width: $max-component-width;
      margin: auto;

      .jasper-reports-menu button.mat-button {
        box-sizing: border-box;
        height: $wf1-toolbar-height;
      }

      &__search {
        flex: 0 0 auto;
        height: $wf1-toolbar-height;
      }

      &__filter {
        flex: 1 1 auto;
        height: $wf1-toolbar-height;
      }
    }

    &__controls.without-filter-content {
      height: $wf1-toolbar-height;
      overflow: hidden;
      -webkit-transition: all 0.8s ease-in !important;
      -moz-transition: all 0.8s ease-in !important;
      -o-transition: all 0.8s ease-in !important;
      transition: all 0.8s ease-in !important;
    }

    &__controls.with-filter-content {
      height: $wf1-filter-toolbar-total-height;
      overflow: hidden;
      -webkit-transition: all 0.8s ease-out !important;
      -moz-transition: all 0.8s ease-out !important;
      -o-transition: all 0.8s ease-out !important;
      transition: all 0.8s ease-out !important;
    }

    &__cell {
      font-size: 0.8rem;
      word-break: break-word;
    }
  }

}
