@import '../../../styles/variables';

$list-item-width: 100%;
$list-item-icon-section: 5rem;
$list-item-data-width: calc(#{$list-item-width} - #{$list-item-icon-section});
$list-item-value-70: calc(100% * 0.7);
$list-item-value-30: calc(100% * 0.3);
$list-item-value-35: calc(100% * 0.35);
$list-item-value-20: calc(100% * 0.20);


.wfone-base-container.mobile {

  .wfone-base{
    padding-bottom: 100px;

    h1{
      padding-left: 10px;
    }

    mat-toolbar.mat-primary.wf1-public-application-header{
      padding-left: 1rem;
      padding-right: 1rem;
    }

    ::ng-deep wf1-search-bar .search__clear-filters{
      display: none;
    }

    ::ng-deep .bottom-toolbar {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      margin-top: 0;
      margin-bottom: 0;

      .action-button {
        margin-right: 10px;
      }

      .action-button:first-child{
        margin-right: 0;
      }
    }

  }

  ::ng-deep .ngx-pagination{
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  ::ng-deep .card-wrapper {
    .mat-card {
      margin: 0;
      border-radius: 0px;
      padding: 10px 10px;
      font-family: $font-family-main;

      .field-label{
        font-family: $font-family-emphasis;
      }

      .field-value{
      }
    }

    .mat-card:nth-of-type(even) {
      background-color: white;
    }
  }

  .table-search-bar {
    border: none;
    margin: 0;
    border-radius: 0 !important;

    .mat-card-content{
      border-radius: 0 !important;
    }

    div {
      padding: 10px 0;
    }

    .full-width {
      div{
        padding: 0;
      }
      width: 100%;
      padding-left: 10px;
      border-bottom: solid 1px $colour-lighter-grey;
    }

    .flex-item div {
      padding-left: 10px;
      display: flex;

      span {
        width: fit-content;
      }
    }

    .search-summary {
      font-size: $font-size-emphasis;
    }

    input {
      padding: 10px;
      border-radius: 5px;
      border: solid 1px grey;
      width: calc(100% - 30px);
    }

    mat-checkbox {
      padding: 10px;
    }

    mat-select{
      width: 40%;
      margin-left: 10px;
      padding-left: 10px;
      border: solid 1px grey;
      border-radius: 5px;
      line-height: 30px;
    }

    span,
    mat-select,
    mat-checkbox,
    input {
      font-size: 14px;
      font-family: $font-family-main;
    }
  }

  ::ng-deep .card-wrapper{
    .mat-card:nth-of-type(odd) {
      background-color: $colour-lighter-grey;
    }
  }

  mat-card.mat-card.review-header{

    .mat-card-content{
      padding: $wf1-app-mobile-outer-padding;

      .field-row {
        display: table-row;

        .field-cell {
          display: table-cell;
          padding: 5px 0;

          //.field-label{
          //  text-transform: uppercase;
          //}

          .field-value{
            //font-weight: bold;

            .cell-item-icon{
              display: flex;

              fa-icon{
                padding-right: 5px;
              }
            }
          }
        }

      }

    }

  }

  mat-card{
    mat-card-title{
      text-align: left;
      font-weight: $font-weight-emphasis;
      font-family: $font-family-emphasis;
      font-size: 20px;
      border-bottom: solid 1px $colour-light-grey;
    }
  }

  ::ng-deep .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content-reverse .mat-list-text{
    flex-direction: unset !important;
  }

  mat-list,
  mat-selection-list {
    padding-top: 0;
    display: grid;


    //mat-list-item.list-item:nth-child(odd) { //commented due to WFONE-225
    //  background-color: $opacity-light-grey;
    //}

    mat-list-option.list-item,
    mat-list-item.list-item {
      height: auto;
      padding: .25rem 0;
      border-bottom: 0.0625rem solid #C4C4C4;
      width: $list-item-width;
      max-width: 100vw;
      margin: auto;
      background-color: $colour-white;
      min-height: 4rem;
      display: inline-grid;

      ::ng-deep .mat-list-item-content{
        max-width: 100vw;

      }

      &:hover {
        background-color: opacify($opacity-light-grey, .1);
        cursor: pointer;
      }

      .list-item-icon-section {
        flex: 0 0 $list-item-icon-section;
        width: $list-item-icon-section;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0.5rem;
        text-align: center;

        .list-item-icon {
          text-align: center;

          fa-icon {
            font-size: 2rem;
          }
        }
      }

      .list-item-data-section {
        width: $list-item-data-width;
        margin: auto;

        .list-item-info-row {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          width: 100%;
          margin: auto;
        }

        .list-item-info {
          flex: 0 0 $list-item-width;
          display: flex;
          justify-content: flex-start;

          .list-item-info-value {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .list-item-info-70 {
            flex: 0 0 $list-item-value-70;
          }

          .list-item-info-30 {
            flex: 0 0 $list-item-value-30;
          }

          .list-item-info-35 {
            flex: 0 0 $list-item-value-35;
          }

          .list-item-info-20 {
            flex: 0 0 $list-item-value-20;
          }

          .text-align-right {
            text-align: right;
          }

          .text-align-left {
            text-align: left;
          }

          .title {
            font-weight: bold;
          }
        }
      }
    }
  }

  .arrow-overlay {
    position: fixed;
    text-align: center;
    top: 95%;
    transform: translateY(-70%);
    color: rgba(215, 198, 206, 0.5);
    width: 100%;
  }

}
