@import "../../../styles/variables";

.near-me-item mat-list-item {
    height: auto;

    ::ng-deep .mat-list-item-content {
        padding: 5px 0;
        align-items: unset;

        .icon-column {
            flex-basis: 65px;
            flex-shrink: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon {
            }

            .iconPNG {
                width: 1em;
                height: 1em;
            }

            .icon-info {
                font-size: 10px;
                padding: 2px 0;

                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .content-column {
            flex-grow:  1;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;

            .title {
                font-weight: bold;
                font-size: 14px;
                padding: 3px 0;
                width: 100%;

                a {
                    text-decoration: underline;
                    cursor: pointer;
                }

                .new-marker {
                    background-color: green;
                    color: white;
                    font-size: 12px;
                    padding: 3px 6px;
                    border-radius: 10px;
                    margin-left: 5px;
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: flex-start;
                min-width: 50%;

                .detail {
                    padding: 3px 0;
                    font-size: 12px;

                    .label {
                        padding-right: 3px;
                    }

                    .value {
                        font-weight: bold;
                    }
                }
            }
        }

        .action-column {
            flex-basis: 30px;
            flex-shrink: 0;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;

            .action-info {
                font-size: 10px;
                font-weight: bold;
                white-space: nowrap;
            }

            .action {
                flex-grow: 1;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}