<ng-container class="wfone-base-container">
  <div class="header-panel">
    <span style="font-size: 24px;">Images</span>
    <button mat-button color="primary" class="primary-button" (click)="upload()">Upload Image</button>
  </div>
  <div class="image-gallery">
    <!-- IsPrimary will be coming from published data? Not sure where this is going to go yet -->
    <image-card-panel *ngFor="let image of attachments" [attachment]="image" [isPrimary]="false" [incident]="incident"></image-card-panel>
  </div>
</ng-container>
