<div class="filter-table">
	<div [ngClass]="getTableControlsClasses()">
    <mat-menu #jasperReportsMenu>
      <button mat-menu-item (click)="showSummaryIncidentReportDialog()">Summary Incident Report</button>
      <button mat-menu-item (click)="showIncidentDetailReportDialog()">Detailed Incident Report</button>
      <button mat-menu-item (click)="showTableExportReportDialog()">Table Export</button>
    </mat-menu>

    <div class="jasper-reports-menu" >
      <button *ngIf="!editMode" class="wf1-menu-button" mat-button color="primary" [matMenuTriggerFor]="jasperReportsMenu">
        <mat-icon>assignment</mat-icon>
      </button>
    </div>

		<wf1-search-bar class="filter-table__controls__search" [count]="resultsNum" [componentId]="componentId"></wf1-search-bar>
    <wf1-filters class="filter-table__controls__filter" [filters]="filterOptions" (isShowingFilterOptions)="setFilterSize($event)" [componentId]="componentId"></wf1-filters>

    <mat-slide-toggle class="toggle" [(ngModel)]="editMode">
      <span>Inline Edit: </span>
      <span *ngIf="editMode" style="color: green">On</span>
      <span *ngIf="!editMode" style="color: red">Off</span>
    </mat-slide-toggle>

    <div class="columns-menu">
      <mat-form-field>
        <mat-select #columnsSelect [(ngModel)]="selectedColumns" [disabled]="editMode"
                    panelClass="display-columns-selector"
                    multiple>
          <mat-select-trigger><mat-icon matTooltip="Settings">settings</mat-icon></mat-select-trigger>
          <mat-option *ngFor="let option of allColumns" [value]="option.def">
            {{option.label}}
          </mat-option>
          <button (click)="updateColumnsToDisplay()">Apply</button>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

	<table [ngClass]="getTableContentClasses()" mat-table cdkDropListGroup
         [dataSource]="incidentsDatasource" matSort (matSortChange)="sortData($event)">
		<ng-container matColumnDef="incidentSelect">
			<th mat-header-cell *matHeaderCellDef class="incident-checkbox-cell" (click)="$event.stopPropagation()">
				<span class="filter-table__header">
					<mat-checkbox *ngIf="!editMode" matTooltip="Select all incidents"
								  [matTooltipShowDelay]="TOOLTIP_DELAY"
								  (change)="selectAllIncidents($event.checked)"> </mat-checkbox>
			  	</span>
			</th>
			<td mat-cell class="incident-checkbox-cell" *matCellDef="let incident; let rowIndex = index" (click)="$event.stopPropagation()">
				<span class="filter-table__cell">
					<mat-checkbox *ngIf="!editMode" [checked]="incident.isSelected" (change)="selectIncident(rowIndex)"> </mat-checkbox>
          <mat-icon *ngIf="editMode" style="cursor: pointer" (click)="openIncident(rowIndex)">launch</mat-icon>
				</span>
			</td>
		</ng-container>

    <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.def">
      <th mat-header-cell *matHeaderCellDef
          cdkDropList
          cdkDropListLockAxis="x"
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="editMode || dropListDropped($event, i)"
          cdkDrag
          [cdkDragData]="{name: column.def, columnIndex: i}"
          (cdkDragStarted)="editMode || dragStarted($event, i)" mat-sort-header [disabled]="!column.sortable" cdkDragHandle>
        {{ column.label }}
      </th>
      <td mat-cell *matCellDef="let row; let j = index"
          [ngClass]="column.editable && (editingColumnIndex == i && editingRowIndex == j)?'editing-cell':'non-editing-cell'"
          style="word-wrap: break-word;" [matTooltip]="incidentsDatasource.data[j][i+1]">
        <div class="non-editable-cell" *ngIf="!editMode"
             (click)="openIncident(j)"
        >
          {{ incidentsDatasource.data[j][i+1] }}
        </div>
        <div *ngIf="editMode">
          <div class="non-editable-cell" *ngIf="!column.editable">
            <div>{{ incidentsDatasource.data[j][i+1] }}</div>
          </div>
          <div class="editable-cell" [ngClass]="(editingColumnIndex < 0 && editingRowIndex < 0)?'show-hover-editable':''" *ngIf="column.editable && !(editingColumnIndex == i && editingRowIndex == j)"
               (click)="startEdit(i, j, column.def)">
            <div>{{ incidentsDatasource.data[j][i+1] }}</div>
          </div>
          <div class="editing-cell" *ngIf="column.editable && (editingColumnIndex == i && editingRowIndex == j)">
            <mat-form-field *ngIf="column.type == 'string'">
              <input matInput auto-focus
                     *ngIf="column.def != COLUMN_DEF_SIZE_HECT && column.def != COLUMN_DEF_CONT_PERC"
                     (keypress)="$event.keyCode == 13 ? saveEdit(column.def, i, j, true) : null"
                     [(ngModel)]="this.editingValue"
                     (keydown.arrowDown)="navigateDown($event,column.def, i , j)"
                     (keydown.arrowUp)="navigateUp($event,column.def, i , j)"
                     (blur)="cancelEdit()"/>
              <input *ngIf="column.def == COLUMN_DEF_SIZE_HECT" matInput auto-focus
                     type="number" min="0"
                     (keypress)="$event.keyCode == 13 ? saveEdit(column.def, i, j, true) : null"
                     [(ngModel)]="this.editingValue"
                     (keydown.arrowDown)="navigateDown($event,column.def, i , j)"
                     (keydown.arrowUp)="navigateUp($event,column.def, i , j)"
                     (blur)="cancelEdit()"/>
              <input *ngIf="column.def == COLUMN_DEF_CONT_PERC" matInput auto-focus
                     type="number" min="0" max="100"
                     (keypress)="$event.keyCode == 13 ? saveEdit(column.def, i, j, true) : null"
                     [(ngModel)]="this.editingValue"
                     (keydown.arrowDown)="navigateDown($event,column.def, i , j)"
                     (keydown.arrowUp)="navigateUp($event,column.def, i , j)"
                     (blur)="cancelEdit()"/>
            </mat-form-field>
            <mat-form-field *ngIf="column.type == 'datetime'">
              <input matInput
                     [owlDateTimeTrigger]="dateUpdate"
                     [owlDateTime]="dateUpdate"
                     (keydown.arrowDown)="navigateDown($event,column.def, i , j)"
                     (keydown.arrowUp)="navigateUp($event,column.def, i , j)"
                     (keypress)="$event.keyCode == 13 ? saveEdit(column.def, i, j, true) : null"
                     [(ngModel)]="this.editingValue"
              />
              <owl-date-time #dateUpdate [pickerType]="'calendar'"></owl-date-time>
            </mat-form-field>
            <div *ngIf="column.type == 'boolean'">
              <mat-checkbox [(ngModel)]="this.editingValue"
                            (keydown.arrowDown)="navigateDown($event,column.def, i , j)"
                            (keydown.arrowUp)="navigateUp($event,column.def, i , j)"
                            (keypress)="$event.keyCode == 13 ? saveEdit(column.def, i, j, true) : null"></mat-checkbox>
            </div>
            <mat-form-field *ngIf="column.type == 'options'">
              <mat-select [(value)]="this.editingValue">
                <mat-option *ngFor="let option of column.options" [value]="option.value"
                            (click)="saveEdit(column.def, i, j, true);">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </td>
    </ng-container>
		<tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
		<tr mat-row *matRowDef="let row;let j = index; columns: columnsToDisplay" ></tr>
	</table>

  <mat-label *ngIf="resultsNum == 0 && !loading">No records found.</mat-label>
</div>
