@import "../full-details.component.scss";

.order-panel {
  color: var(--reds-red-2, #98273b);
  display: flex;
  padding: 8px 16px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  border: 1px solid var(--reds-red-7, #f4cfcf);
  background: var(--reds-red-7, #fef1f2);
}

.warning-panel {
  color: var(--grays-gray-1, var(--Black-1, #242424));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  flex: 1 0 0;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 5px;
  border: 1.6px solid var(--reds-red-4-primary, #d8292f);
  background: var(--reds-red-7, #fef1f2);
  margin-bottom: 24px;

  p {
    margin: 8px 12px;
    display: flex;
  }
}

.info-no-icon {
  color: var(--Grey-6---666, #666);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0px 0px 24px 0px;
  display: flex !important;
  margin-left: 32px;
}
