
<div class="table-search-header flex-y-fixed">
    <div class="search-and-filters">
        <div class="field search-input">
            <mat-label class="label">Search for a Wildfire</mat-label>
            <input [readonly]="isLocationName()" matInput class="search-input" aria-label="Search" [(ngModel)]="searchText" (ngModelChange)="searchTextUpdated()">
            <button mat-button matSuffix mat-icon-button class="input-clear-button" *ngIf="searchText"
                    aria-label="Clear" (click)="searchText=undefined;searchTextUpdated(); $event.stopPropagation()"
                    matTooltip="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="field search-input">
            <mat-label class="label">Search for an address</mat-label>
            <input [readonly]="isSearchText()" matInput [matAutocomplete]="auto" class="search-input" aria-label="Search" [formControl]="searchByLocationControl">
            <mat-autocomplete class="location-results" #auto="matAutocomplete" (optionSelected)="onLocationSelected($event.option.value)">
                <mat-option class="location-mat-option" *ngFor="let option of filteredOptions"
                    [value]="option">
                    <div class="location-option" #locationOptions [attr.data-loc-long]="option.loc[1]" [attr.data-loc-lat]="option.loc[0]">
                        <div *ngIf="option.address !== ''">
                            <div>
                                <span class="address">{{option.address}}</span>
                            </div>
                            <div class="locality">{{option.localityName}} ({{option.localityType}})</div>
                        </div>
                        <div *ngIf="option.address === ''">
                            <div>
                                <span class="address">{{option.localityName}}</span> <span> ({{option.localityType}})</span>
                            </div>
                        </div>
                    </div>
                </mat-option>
            </mat-autocomplete>
            <button mat-button matSuffix mat-icon-button class="input-clear-button" *ngIf="locationName"
                    aria-label="Clear" (click)="searchByLocationControl.reset();selectedLat=undefined;selectedLong=undefined;searchTextUpdated(); $event.stopPropagation()"
                    matTooltip="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="field">
            <mat-label class="label">Search Radius (km)</mat-label>
            <select appWFSingleSelect appWFPlaceholder="Select..." [disabled]="!locationName"
                    aria-label="Type"
                    [options]="radiusOptions"
                    [selected]="selectedRadius"
                    [(ngModel)]="selectedRadius"
                    (updated)="selectFilterUpdated('selectedRadius', $event)">
                <option *ngFor = "let item of radiusOptions" value="{{item}}">
                    <span>{{item}}</span>
                </option>
            </select>
        </div>

        <div class="field">
          <div class="my-location-button">
            <button mat-raised-button (click)="useMyCurrentLocation()" style="width: 100%">
              <mat-icon>my_location</mat-icon><span style="width: 100%;">Find My Location</span>
            </button>
          </div>
        </div>

        <div class="field">
            <mat-label class="label">Fire Centre</mat-label>
            <select appWFSingleSelect appWFPlaceholder="Select..."
                    aria-label="Type"
                    [options]="fireCentreOptions"
                    [selected]="selectedFireCentreCode"
                    [(ngModel)]="selectedFireCentreCode"
                    (updated)="selectFilterUpdated('selectedFireCentreCode', $event)">
                <option value="">
                    <span class="placeholder">Select...</span>
                </option>
                <option *ngFor = "let item of fireCentreOptions" value="{{item.code}}">
                    <span>{{item.description}}</span>
                </option>
            </select>
        </div>
        <div class="stage-of-control-checkbox-group">
            <mat-label>Choose Wildfires to display</mat-label>
            <section class="checkbox-group">
                <mat-checkbox (change)="stageOfControlChanges($event)" value="note" [(ngModel)]="activeWildfiresInd">
                    Active Wildfires
                </mat-checkbox>
                <mat-checkbox (change)="stageOfControlChanges($event)" value="all" [(ngModel)]="outWildfiresInd">
                    Out Wildfires
                </mat-checkbox>
                <mat-checkbox (change)="stageOfControlChanges($event)" value="all" [(ngModel)]="newFires">
                    New Wildfires
                </mat-checkbox>
                <mat-checkbox (change)="stageOfControlChanges($event)" value="all" [(ngModel)]="wildfiresOfNoteInd">
                    Wildfires of Note
                </mat-checkbox>
            </section>
        </div>
                <div class="field">
            <button mat-raised-button color="primary" (click)="clearSearchAndFilters()" style="width: 100px;"><mat-icon svgIcon="filter-cancel"></mat-icon>Clear</button>
        </div>

    </div>

</div>
<p class ="results-count" >{{collection ? collection.totalRowCount : 0}} Results</p>



<div class="table-wrapper flex-y-grow" *ngIf="collectionData; else loading">
    <table  mat-table matSort [dataSource]="collectionData | paginate:config"
            [matSortActive]="this.searchState.sortParam"
            [matSortDirection]="this.searchState.sortDirection.toLowerCase()"
            (matSortChange)="sortData($event)"
            aria-label="Incident Table">
        <ng-container matColumnDef = "fireName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Name</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.incidentName}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "fireNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Number</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{convertFireNumber(item)}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "lastUpdated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{convertFromTimestamp(item.lastUpdatedTimestamp)}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "stageOfControl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stage of Control</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{convertToStageOfControlDescription(item.stageOfControlCode)}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "wildfireOfNote">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wildfire of Note</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.fireOfNoteInd? 'Yes' : 'No'}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "fireCentreName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Centre</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.fireCentreName}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.incidentLocation}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "addToWatchlist">
            <th mat-header-cell *matHeaderCellDef mat-non-sort-header> Add to Watch List</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="onWatchlist(item) ? removeFromWatchlist(item) : addToWatchlist(item)">
                <span #el ><mat-icon style="color:#1A5A96">{{onWatchlist(item) ? 'bookmark' : 'bookmark_border'}}</mat-icon></span>
            </td>
        </ng-container>

        <ng-container matColumnDef = "viewMap">
            <th mat-header-cell *matHeaderCellDef> View Map</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="viewMap(item)"><span #el ><mat-icon style="color:#1A5A96" svgIcon="map"></mat-icon></span></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>
        <tr mat-row *matRowDef="let item; columns: columnsToDisplay"></tr>
    </table>
</div>

<ng-template #loading><mat-spinner [diameter]="40"></mat-spinner></ng-template>


<div class="bottom-summary flex-y-fixed">
    <div class="showing-summary">{{summaryString}}</div>
    <pagination-controls style = "text-align:center" [id]="config.id"
                         [maxSize]="5"
                         [responsive]="false"
                         [directionLinks]="true"
                         [previousLabel]="paginatorLabels.previousLabel"
                         [nextLabel]="paginatorLabels.nextLabel"
                         [autoHide]="false"
                         (pageChange)="onPageChange($event)"></pagination-controls>
    <div class="show-entries-info">
                    <span>
                        Show
                    </span>
        <select appWFSingleSelect appWFPlaceholder="Select..."
                class="select-showEntriesSelection"
                aria-label="Show entries"
                [position]="'top'"
                [selected]="showEntriesSelection"
                [options]="showEntriesOptions"
                (updated)="selectShowEntriesUpdated('showEntriesSelection', $event)"
                [(ngModel)]="showEntriesSelection">
            <option *ngFor="let option of showEntriesOptions" value="{{option.value}}">
                <span>{{option.label}}</span>
            </option>
        </select>
        <span>entries</span>
    </div>
</div>
