@import '../report-of-fire.component.scss';

::ng-deep.mat-button-toggle-label-content {
  line-height: 35px !important;
  padding-bottom: 10px !important;
}


.btn-highlight {
  border-radius: 8px;
  border: 3px solid #4169A4;
  background-color: #DFE5EE !important;
}

.btn-icon {
  margin-right: 8px;
}

.multi-select-class{
  width: auto;
  flex: 0 0 calc(50% - 12px);
  max-width: calc(50% - 12px);
  height: fit-content;
  .flex-button{
    white-space: normal;
  }
}

.single-select-class{
  width: 100%;
  flex: auto;
}

.distance-class {
    width: auto;
    flex: 0 0 calc(50% - 12px);
    max-width: calc(50% - 12px);
    height: fit-content;
    .flex-button{
      white-space: nowrap;
    }
}