<div class="page-content">
  <div class="panel-wrapper">
      <div class="rof-text-primary-header">{{ title }}</div>
      <div class="rof-text-secondary-header">{{ message }}</div>

      <mat-button-toggle-group class="rof-toggle-group rof-complex-group"
          style="justify-content: space-between;"
          [multiple]="allowMultiSelect"
          [value]="selection"
          (change)="onSelectionChange($event)">
        <mat-button-toggle *ngFor="let button of buttons" class="flex-button"
            [ngClass]="{'multi-select-class': allowMultiSelect, 'single-select-class': !allowMultiSelect, 'distance-class': id === 'distance-page'}"
            style="box-sizing: border-box;" [id]="'btn-' + button.value" [value]="button.value">
          <img alt="icon" [alt]="button.label" class="btn-icon" *ngIf="button.customIcon" [src]="button.customIcon" height="20" width="20" />
          <mat-icon *ngIf="button.icon">{{ button.icon }}</mat-icon>{{ button.label }}
        </mat-button-toggle>
        <mat-button-toggle class="flex-button" style="width: 100%; box-sizing: border-box;" *ngIf="allowIDontKnowButton" [value]="unknownValue"><img class="question-mark" alt="question_mark" src="/assets/images/svg-icons/question-mark.svg">I'm not sure</mat-button-toggle>
      </mat-button-toggle-group>

      <div class="rof-button-container" *ngIf="!isEditMode">
        <button class="rof-button" mat-flat-button (click)="previousPage()">Previous</button>
        <button [class]="'rof-button' + (disableNext ? '-disabled' : '-primary')" [disabled]="disableNext" mat-flat-button color="primary" (click)="nextPage()">Next<mat-icon [svgIcon]="disableNext? 'arrow-forward-disabled' : 'arrow-forward-enabled'" class="left-padding" style="width: 24px; height: 24px;"></mat-icon></button>
      </div>

      <div class="rof-button-container" *ngIf="isEditMode">
        <button class="rof-button" mat-flat-button (click)="backToReview()">Cancel</button>
        <button [class]="'rof-button' + (!isPageDirty ? '-disabled' : '-primary')" [disabled]="!isPageDirty" mat-flat-button color="primary" (click)="backToReview()">Save</button>
      </div>
  </div>
</div>
