@import "../report-of-fire.component.scss";

.rof-toggle-group {
  ::ng-deep.mat-button-toggle-label-content {
    line-height: 35px !important;
    padding-bottom: 0 !important;
  }
}

.btn-highlight {
  border-radius: 8px !important;
  border: 3px solid #4169a4 !important;
  background-color: #dfe5ee !important;
}

.btn-icon {
  margin-right: 8px;
  position: inherit;
  top: 2px;
}

.multi-select-class {
  padding-top: 3px;
  width: auto;
  flex: 0 0 calc(50% - 12px);
  max-width: calc(50% - 12px);
  height: fit-content;
  .flex-button {
    white-space: normal;
    align-items: center;
  }
}

.single-select-class {
  width: 100%;
  flex: auto;
}

.distance-class {
  width: auto;
  flex: 0 0 calc(50% - 12px);
  max-width: calc(50% - 12px);
  height: fit-content;
  .flex-button {
    white-space: nowrap;
  }
}
