<div>
    <p class="dashboard-title">Admin: {{currentYearString}}</p>
    <p class ="active-incidents" ><strong> {{collection? collection.totalRowCount : null}} ACTIVE</strong> Fire Incidents</p>
    <p class="datetime"> {{currentDateTimeString}}</p>
</div>

<mat-tab-group mat-stretch-tabs="false">
  <mat-tab label="Incidents">
    <div class="table-search-header flex-y-fixed">
      <div class="search-and-filters">
          <div class="field search-input">
              <mat-label class="label">Search</mat-label>
              <input class="search-input" aria-label="Search" [(ngModel)]="searchText" (ngModelChange)="searchTextUpdated()">
              <button mat-mdc-button matSuffix mat-mdc-icon-button class="input-clear-button" *ngIf="searchText"
                      aria-label="Clear" (click)="searchText=undefined;searchTextUpdated(); $event.stopPropagation()"
                      matTooltip="Clear">
                  <mat-icon>close</mat-icon>
              </button>
          </div>

          <div class="field">
              <mat-label class="label">Fire Centre</mat-label>
              <select appWFSingleSelect appWFPlaceholder="Select..."
                      aria-label="Type"
                      [options]="fireCentreOptions"
                      [selected]="selectedFireCentreCode"
                      (updated)="selectFilterUpdated('selectedFireCentreCode', $event)"
                      [(ngModel)]="selectedFireCentreCode">
                  <option value="">
                      <span class="placeholder">Select...</span>
                  </option>
                  <option *ngFor = "let item of fireCentreOptions" value="{{item.code}}">
                      <span>{{item.description}}</span>
                  </option>
              </select>
          </div>
          <div class="fire-type-radio-button-group">
              <mat-label>Fire Type</mat-label>
              <mat-radio-group class="radio-group">
                  <mat-radio-button class="radio-button" (change)="fireTypeChange($event)" value="note">
                      Wildfires Of Note
                  </mat-radio-button>
                  <mat-radio-button class="radio-button" (change)="fireTypeChange($event)" value="all" checked="true">
                      All Fire Incidents
                  </mat-radio-button>
              </mat-radio-group>
          </div>

          <div class="field">
              <button mat-raised-button color="primary" (click)="clearSearchAndFilters()" style="width: 100px;"><mat-icon svgIcon="filter-cancel"></mat-icon>Clear</button>
          </div>
      </div>

  </div>


  <div class="table-wrapper flex-y-grow" *ngIf="collectionData; else loading">
      <table style = "width: -webkit-fill-available" mat-table matSort [dataSource]="collectionData | paginate:config"
              [matSortActive]="this.searchState.sortParam"
              [matSortDirection]="this.searchState.sortDirection.toLowerCase()"
              (matSortChange)="sortData($event)"
              aria-label="Incident Table">
          <ng-container matColumnDef = "fireNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Number</th>
              <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.incidentLabel}}</span></td>
          </ng-container>

          <ng-container matColumnDef = "fireName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Name</th>
              <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.incidentName}}</span></td>
          </ng-container>

          <ng-container matColumnDef = "fireCentre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Centre</th>
              <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.fireCentreOrgUnitName}}</span></td>
          </ng-container>

          <ng-container matColumnDef = "wildFireOfNote">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Wildfire of Note</th>
              <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.fireOfNotePublishedInd ? 'Yes' : 'No'}}</span></td>
          </ng-container>

          <ng-container matColumnDef = "lastUpdated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style = "text-align: center;"> Last Updated</th>
              <td mat-cell style="cursor: pointer;" *matCellDef="let item" [matTooltip]="convertToDate(item.lastUpdatedTimestamp)" (click)="selectIncident(item)"><span #el >{{convertToDate(item.lastUpdatedTimestamp)}}</span></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>
          <tr mat-row *matRowDef="let item; columns: columnsToDisplay"></tr>
      </table>
  </div>

  <ng-template #loading><mat-spinner [diameter]="40"></mat-spinner></ng-template>


  <div class="bottom-summary flex-y-fixed">
      <div class="showing-summary">{{summaryString}}</div>
      <pagination-controls style = "text-align:center" [id]="config.id"
                           [maxSize]="5"
                           [responsive]="false"
                           [directionLinks]="true"
                           [previousLabel]="paginatorLabels.previousLabel"
                           [nextLabel]="paginatorLabels.nextLabel"
                           [autoHide]="false"
                           (pageChange)="onPageChange($event)"></pagination-controls>
      <div class="show-entries-info">
                      <span>
                          Show
                      </span>
          <select appWFSingleSelect appWFPlaceholder="Select..."
                  class="select-showEntriesSelection"
                  aria-label="Show entries"
                  [position]="'top'"
                  [selected]="showEntriesSelection"
                  [options]="showEntriesOptions"
                  (updated)="selectShowEntriesUpdated('showEntriesSelection', $event)"
                  [(ngModel)]="showEntriesSelection">
              <option *ngFor="let option of showEntriesOptions" value="{{option.value}}">
                  <span>{{option.label}}</span>
              </option>
          </select>
          <span>entries</span>
      </div>
  </div>
  </mat-tab>
  <mat-tab label="Dashboard Details">
    <admin-edit-dashboard></admin-edit-dashboard>
  </mat-tab>
</mat-tab-group>
