div{
    margin-left: 2%;
    margin-right: 2%;
}

p.dashboard-title{
    font-size: 35px;
    margin-bottom: .5%;
}

p.active-incidents, p.datetime{
    display: inline-block;
}

p.datetime{
    float: right;
    vertical-align:center;
}

tr{
    font-weight: normal;
}

table{
    border: 1;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%; 
}

td {
    padding-top:.5%;
    padding-bottom:.5%;
    padding-right:.5%;
    padding-left:.5%;
    width: 25%;
  }

table tr:nth-child(even) td{
    background-color:#DCDCDC;
}

.block{
    width:15%;
    display: inline-block;
}

.input-clear-button{
    margin-bottom: 8px;
    margin-left: 278px;
    position: absolute;
    line-height: 24px;
    height: 24px;
    width: 24px;
    font-size: 15px;
    border-radius: 20%;
    background-color: #f2f2f2;
}