<div>
    <p class="dashboard-title">Dashboard: {{currentYearString}}</p>
    <p class ="active-incidents"><b>123 ACTIVE</b> Fire Incidents</p> 
    <p class="datetime"> {{currentDateTimeString}}</p>     
</div>

<div class="table-wrapper flex-y-grow" *ngIf="collectionData">
    <table mat-table matSort [dataSource]="collectionData | paginate:config">
        <ng-container matColumnDef = "fireNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Number</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item"><span #el >{{item.incidentNumberSequence}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "fireName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Name</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item"><span #el >{{item.incidentName}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "fireCentre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Centre</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item"><span #el >{{item.fireCentreOrgUnitName}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "wildFireOfNote">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wildfire of Note</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item"><span #el >{{item.fireOfNotePublishedInd}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "lastPublished">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Published</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item"><span #el >{{item.discoveryTimestamp}}</span></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>
        <tr mat-row *matRowDef="let item; columns: columnsToDisplay"></tr>
    </table>
</div>

<div class="bottom-summary flex-y-fixed">
    <div class="showing-summary">{{summaryString}}</div>
    <pagination-controls [id]="config.id"
                         [maxSize]="5"
                         [responsive]="false"
                         [directionLinks]="true"
                         [previousLabel]="paginatorLabels.previousLabel"
                         [nextLabel]="paginatorLabels.nextLabel"
                         [autoHide]="false"
                         (pageChange)="onPageChange($event)"></pagination-controls>
    <div class="show-entries-info">
                    <span>
                        Show
                    </span>
        <select appWFSingleSelect appWFPlaceholder="Select..."
                class="select-showEntriesSelection"
                aria-label="Show entries"
                [position]="'top'"
                [selected]="showEntriesSelection"
                [options]="showEntriesOptions"
                (updated)="selectShowEntriesUpdated('showEntriesSelection', $event)">
            <option *ngFor="let option of showEntriesOptions" value="{{option.value}}">
                <span>{{option.label}}</span>
            </option>
        </select>
        <span>entries</span>
    </div>
</div>