<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>
  <permission-banner *ngIf="showLocationBanner"
      [heading]="locationBannerHeading"
      [message]="locationBannerMessage"
      [actionLabel]="locationBannerAction"
      (action)="onTurnOnLocation()">
  </permission-banner>
  <div class="map-container">
    <wf-map-container id="mapView" 
      *ngIf="mapConfig"
      [mapConfig]="mapConfig"
      (mapInitialized)="initMap($event)"
      (fullScreen)="toggleFullScreen()"
    ></wf-map-container>
    <i class="photo-location material-icons">location_searching</i>
  </div>
  <div class="rof-button-container" *ngIf="!isEditMode">
    <wfnews-button variant="secondary" size="large" label="Previous"
      (buttonClicked)="previous()"></wfnews-button>
    <wfnews-button variant="primary" size="large" label="Next" iconPathEnd="/assets/images/svg-icons/arrow-forward-enabled.svg"
      (buttonClicked)="next(); confirmLocation()"></wfnews-button>
  </div>

  <div class="rof-button-container" *ngIf="isEditMode">
    <wfnews-button variant="secondary" size="large" label="Cancel"
      (buttonClicked)="backToReview()"></wfnews-button>
    <wfnews-button variant="primary" size="large" label="Save"
      (buttonClicked)="confirmLocation(); backToReview();"></wfnews-button>
  </div>
</div>
