@import "../report-of-fire.component.scss";

.map-container {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // width: 100%;
  // height: 100%;
  position: fixed;
  width: calc(100% - 65px);
  height: 50vh;
  max-width: 790px;
  @media (max-height: 700px) {
    height: 45vh !important;
  }
}

::ng-deep.smk-map-frame {
  .leaflet-pane.leaflet-marker-pane {
    .leaflet-marker-icon {
      &.rof-location {
        border: 4px solid white;
        border-radius: 14px;
        background-color: blue;
        position: relative;

        &:after {
          content: "";
          border: 10px solid #add8e68f;
          border-radius: 24px;
          width: 28px;
          height: 28px;
          position: absolute;
          top: -14px;
          left: -14px;
        }
      }
      &.rof-arrow-head {
        color: yellow;
        text-shadow:
          2px 2px 3px rgba(0, 0, 0, 36%),
          -2px 2px 3px rgba(0, 0, 0, 36%),
          2px -2px 3px rgba(0, 0, 0, 36%),
          -2px -2px 3px rgba(0, 0, 0, 36%);
      }
    }
  }
}

:host ::ng-deep .smk-tool-BespokeTool--full-extent {
  display: none !important;
}

:host ::ng-deep .sticky-widget {
  display: none !important;
}

:host ::ng-deep .smk-actionbar {
  top: unset !important;
  bottom: 0 !important;
  right: 0 !important;
}

:host ::ng-deep .smk-actionbar {
  top: unset !important;
  bottom: 0 !important;
  right: 0 !important;
}

.photo-location {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  z-index: 1;
  color: yellow;
  text-shadow:
    2px 2px 3px rgba(0, 0, 0, 36%),
    -2px 2px 3px rgba(0, 0, 0, 36%),
    2px -2px 3px rgba(0, 0, 0, 36%),
    -2px -2px 3px rgba(0, 0, 0, 36%);
  font-size: 48px;
}

.compass-rose {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  background-image: url("../../../../assets/images/north-arrow.png");
  background-repeat: no-repeat;
  background-size: 50px;
  width: 50px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 20px;
  text-shadow:
    2px 2px 3px rgba(0, 0, 0, 36%),
    -2px 2px 3px rgba(0, 0, 0, 36%),
    2px -2px 3px rgba(0, 0, 0, 36%),
    -2px -2px 3px rgba(0, 0, 0, 36%);
}

@media only screen and (min-width: 1024px) and (max-height: 850px) and (min-height: 720px) {
  .map-container {
    height: 45dvh !important;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 719px) and (min-height: 610px) {
  .map-container {
    height: 40dvh !important;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 609px) and (min-height: 555px) and (orientation: landscape) {
  .map-container {
    height: 35dvh !important;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 554px) and (min-height: 510px) and (orientation: landscape) {
  .map-container {
    height: 30dvh !important;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 509px) and (orientation: landscape) {
  .map-container {
    height: 25dvh !important;
  }
}

@media all and (min-width: $desktop-sm-min-width) and (min-height: 1024px) and (orientation: portrait) {
  .map-container {
    height: 40dvh !important;
  }
}
