<div class="close-button" (click)="onClose()">
    <mat-icon>close</mat-icon>
</div>

<wf1-location-sidebar-panel
    titleText="Point ID"
    [location]=coordindates
    (locationSelect)="locationSelected($event)"
>
    <div class="point-location-details">
        <div class="attribute-details">
            <div class="attribute-details-label-row"><span>Centre</span><span>Zone</span></div>
            <div class="attribute-details-value-row">
                <span>{{getOwnershipValue('fireCentre')}}</span>
                <span>{{getOwnershipValue('fireZone')}}</span>
            </div>
        </div>
    </div>
    <mat-accordion multi="true">

        <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title class="panel-title">
                    <mat-icon *ngIf="isWeatherLoaded">wb_sunny</mat-icon>
                    <mat-spinner [diameter]="16" *ngIf="!isWeatherLoaded"></mat-spinner>
                    <span class="title-text">Weather</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="point-location-weather">
                <mat-tab-group>
                    <mat-tab label="Hourly Weather">
                        <div class="attribute-details">
                            <div class="attribute-details-label-row"><span>Station</span></div>
                            <div class="attribute-details-value-row"><span
                                    *ngIf="getWeatherValue('stationCode')">{{getWeatherValue('stationCode')}} -
                                    {{getWeatherValue('stationName')}}</span></div>
                        </div>
                        <div class="weather-section">
                            <table mat-table class="weather-section-table" [dataSource]="hourlyWeatherResults">
                                <ng-container matColumnDef="day">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>Day</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.hour.substring(6, 8)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="hour">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>Hour</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.hour.substring(8)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="temperature">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>Temp</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.temp}} </td>
                                </ng-container>
                                <ng-container matColumnDef="relativeHumidity">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>RH</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.relativeHumidity}} </td>
                                </ng-container>
                                <ng-container matColumnDef="wind">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>Wind</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.windSpeed}}{{element.windCardinalDir}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="precipitation">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>PPT</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.precipitation}} </td>
                                </ng-container>
                                <ng-container matColumnDef="fineFuelMoistureCode">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>FFMC</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.fineFuelMoistureCode}} </td>
                                </ng-container>
                                <ng-container matColumnDef="initialSpreadIndex">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>ISI</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.initialSpreadIndex}} </td>
                                </ng-container>
                                <ng-container matColumnDef="fireWeatherIndex">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>FWI</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.fireWeatherIndex}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="hourlyWeatherColumns; sticky: true"></tr>
                                <tr mat-row class="place-name-section-results-row"
                                    *matRowDef="let row; columns: hourlyWeatherColumns;"></tr>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Daily Weather">
                        <div class="attribute-details">
                            <div class="attribute-details-label-row"><span>Station</span></div>
                            <div class="attribute-details-value-row"><span
                                    *ngIf="getWeatherValue('stationCode')">{{getWeatherValue('stationCode')}} -
                                    {{getWeatherValue('stationName')}}</span></div>
                        </div>
                        <div class="weather-section">
                            <table mat-table class="weather-section-table" [dataSource]="dailyWeatherResults">
                                <ng-container matColumnDef="day">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>Day</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.day.substring(6)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="temperature">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>Temp</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.temp}} </td>
                                </ng-container>
                                <ng-container matColumnDef="relativeHumidity">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>RH</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.relativeHumidity}} </td>
                                </ng-container>
                                <ng-container matColumnDef="wind">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>Wind</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.windSpeed}}{{element.windCardinalDir}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="precipitation">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>PPT</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.precipitation}} </td>
                                </ng-container>
                                <ng-container matColumnDef="fineFuelMoistureCode">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>FFMC</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.fineFuelMoistureCode}} </td>
                                </ng-container>
                                <ng-container matColumnDef="buildupIndex">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>BUI</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.buildupIndex}} </td>
                                </ng-container>
                                <ng-container matColumnDef="initialSpreadIndex">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>ISI</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.initialSpreadIndex}} </td>
                                </ng-container>
                                <ng-container matColumnDef="fireWeatherIndex">
                                    <th class="weather-section-cell, weather-section-number-cell" mat-header-cell
                                        *matHeaderCellDef>FWI</th>
                                    <td class="weather-section-cell, weather-section-number-cell" mat-cell
                                        *matCellDef="let element"> {{element.fireWeatherIndex}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="dailyWeatherColumns; sticky: true"></tr>
                                <tr mat-row class="place-name-section-results-row"
                                    *matRowDef="let row; columns: dailyWeatherColumns;"></tr>
                            </table>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title class="panel-title">
                    <mat-icon *ngIf="isOwnershipLoaded">home</mat-icon>
                    <mat-spinner [diameter]="16" *ngIf="!isOwnershipLoaded"></mat-spinner>
                    <span class="title-text">Ownership</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="attribute-details">
                <div class="attribute-details-label-row"><span>PID</span><span>Resource District</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getOwnershipValue('pid')}}</span><span>{{getOwnershipValue('resourceDistrict')}}</span>
                </div>
                <div class="attribute-details-label-row"><span>Ownership Class</span><span>Regional District</span>
                </div>
                <div class="attribute-details-value-row">
                    <span>{{getOwnershipValue('ownershipClass')}}</span><span>{{getOwnershipValue('regionalDistrict')}}</span>
                </div>
                <div class="attribute-details-label-row"><span>Protected Land</span><span>Watershed</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getOwnershipValue('protectedLand')}}</span><span>{{getOwnershipValue('watershed')}}</span>
                </div>
                <div class="attribute-details-label-row"><span>Municipality</span><span>Fire Department</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getOwnershipValue('municipality')}}</span><span>{{getOwnershipValue('fireDept')}}</span>
                </div>
                <div class="attribute-details-label-row"><span>First Nation Reserve</span><span>First Nation
                        Tribe</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getOwnershipValue('fnReserve')}}</span><span>{{getOwnershipValue('fnTitle')}}</span></div>
                <div class="attribute-details-label-row"><span>Tree Farm License</span><span>Tenured Managed
                        Forest</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getOwnershipValue('tenureTFL')}}</span><span>{{getOwnershipValue('tenureManagedForest')}}</span>
                </div>
                <div class="attribute-details-label-row"><span>Client Assets</span></div>
                <div class="attribute-details-value-row"
                    *ngIf="getOwnershipValue('clientAssetAreaName')">
                    <span>{{getOwnershipValue('clientAssetAreaName')}} - {{getOwnershipValue('clientAssetAreType')}} -
                        {{getOwnershipValue('clientAssetAreaContact')}}</span>
                </div>
                <div class="attribute-details-value-row"
                    *ngIf="getOwnershipValue('clientAssetLineName')">
                    <span>{{getOwnershipValue('clientAssetLineName')}} - {{getOwnershipValue('clientAssetLineType')}} -
                        {{getOwnershipValue('clientAssetLineContact')}}</span>
                </div>
                <div class="attribute-details-value-row"
                    *ngIf="getOwnershipValue('clientAssetPointName')">
                    <span>{{getOwnershipValue('clientAssetPointName')}} - {{getOwnershipValue('clientAssetPointType')}}
                        - {{getOwnershipValue('clientAssetPointContact')}}</span>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title class="panel-title">
                    <mat-icon *ngIf="isGeographyLoaded">landscape</mat-icon>
                    <mat-spinner [diameter]="16" *ngIf="!isGeographyLoaded"></mat-spinner>
                    <span class="title-text">Geography</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="attribute-details">
                <div class="attribute-details-label-row"><span>Location</span></div>
                <div class="attribute-details-value-row"><span>{{getGeographyValue('location')}}</span></div>
                <div class="attribute-details-label-row"><span>Timestamp</span><span>Fuel Type</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getGeographyValue('timestamp')}}</span><span>{{getGeographyValue('fuelType')}}</span></div>
                <div class="attribute-details-label-row"><span>Slope</span><span>Aspect</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getGeographyValue('slope')}}</span><span>{{getGeographyValue('aspect')}}</span></div>
                <div class="attribute-details-label-row"><span>Elevation</span><span>Mapsheet</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getGeographyValue('elevation')}}</span><span>{{getGeographyValue('mapsheet')}}</span></div>
                <div class="attribute-details-label-row"><span>Veg Label</span><span>Bio Geo Climatic Zone</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getGeographyValue('vegLabel')}}</span><span>{{getGeographyValue('bioGeoClimaticZone')}}</span>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title class="panel-title">
                    <mat-icon *ngIf="isOwnershipLoaded && isGeographyLoaded && isWeatherLoaded">report</mat-icon>
                    <mat-spinner [diameter]="16" *ngIf="!isOwnershipLoaded || !isGeographyLoaded || !isWeatherLoaded"></mat-spinner>
                    <span class="title-text">Errors</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="attribute-details">
                <div class="attribute-details-label-row"><span>Error Message</span><span>Error Detail</span></div>
                <div class="attribute-details-value-row">
                    <span>{{getGeographyValue('errorMsg')}}</span><span>{{getGeographyValue('errorDetail')}}</span>
                </div>
                <div class="attribute-details-value-row">
                    <span>{{getOwnershipValue('errorMsg')}}</span><span>{{getOwnershipValue('errorDetail')}}</span>
                </div>
                <div class="attribute-details-value-row">
                    <span>{{getWeatherValue('errorMsg')}}</span><span>{{getWeatherValue('errorDetail')}}</span></div>
            </div>
        </mat-expansion-panel>

    </mat-accordion>
</wf1-location-sidebar-panel>