.point-location-weather ::ng-deep.mat-tab-label,
.other-details ::ng-deep.mat-tab-label {
    min-width: 1rem !important;
    flex: 1 1 auto;
}

.panel-header {
    .panel-title {
        align-items: center;

        mat-spinner {
            margin: 0 4px;
        }

        .title-text {
            padding-left: 0.5rem;
        }
    }
}

::ng-deep.mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0;
}

::ng-deep wfim-point-id-panel .mat-expansion-panel-spacing {
    margin: 0;
}

::ng-deep .mat-expansion-panel-header,
::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: 32px;
}

.attribute-details {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;

    .attribute-details-label-row,
    .attribute-details-value-row {
        display: flex;
        justify-content: space-between;

        // Single column sizing
        span:first-child:nth-last-child(1) {
            flex: 0 0 25rem;
        }

        // Two column sizing
        span:first-child:nth-last-child(2),
        span:first-child:nth-last-child(2) ~ span {
            flex: 0 0 12.6rem;
        }
    }
    .attribute-details-value-row {
        font-weight: bold;
        padding-bottom: 0.5rem;

        span {
            min-height: 1.25rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.weather-section {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;

    .weather-section-table {
        //padding: 1rem;
        width: 100%;

        tr.mat-header-row,
        tr.mat-row {
            height: 32px;
        }

        .weather-section-cell {
            padding: 0 0.3rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 5.5rem;
            font-size: small;
        }

        .weather-section-number-cell {
            padding: 0 0.2rem;
            text-align: right;
        }

        .weather-section-row-selected,
        .weather-section-row:hover {
            background-color: #bdbdbd;
        }
    }
}
