<div class="content">
    <div class="title">{{ title }}</div>
    <div class="icon"><mat-icon svgIcon="location-off"></mat-icon></div>
    <p>{{ message }}</p>
    <div class="button-group">
        <wfnews-button *ngIf="showSettingsButton" variant="primary" [fullWidth]="true"
          label="Go to settings" (buttonClicked)="goToSetting()"></wfnews-button>
        <wfnews-button variant="secondary" [fullWidth]="true" label="Cancel"
          (buttonClicked)="closeDialog()"></wfnews-button>
    </div>
</div>
