<div class="container">
  <div class="widget-header">
    <span class="widget-title">Fire Bans</span>
    <button onclick="window.open('https://www2.gov.bc.ca/gov/content/safety/wildfire-status/prevention/fire-bans-and-restrictions', '_blank')" class="button" mat-flat-button ><span class="button-label">Learn More </span><img height="24" width="24" src="/assets/images/svg-icons/link.svg" alt="Order" class="button-icon" /></button>
  </div>
  <ng-template #loading><mat-spinner [diameter]="80" class="spinner-position"></mat-spinner></ng-template>
  <div class="content" *ngIf="startupComplete; else loading">
    <div class="legend-bar">
      <div class="legend-part">
        <img height="17" width="17" src="/assets/images/category1ban.png" alt="Category 1" class="icon"><span class="checkbox-label">Category 1 (Campfires)</span>
      </div>
      <div class="legend-part">
        <img height="17" width="17" src="/assets/images/category2ban.png" alt="Category 2" class="icon"><span class="checkbox-label">Category 2</span>
      </div>
      <div class="legend-part">
        <img height="17" width="17" src="/assets/images/category3ban.png" alt="Category 3" class="icon"><span class="checkbox-label">Category 3</span>
      </div>
    </div>
    <div (click)="toggleMapView()" (mouseenter)="showViewMapButton = true" (mouseleave)="showViewMapButton = false" id="bans-map" class="bans-map-container">
      <div class="map-overlay" *ngIf="showViewMapButton">
        <a class="link">View Full Map</a>
      </div>
    </div>
  </div>
</div>
