@import "../../../../../styles/variables";
@import "notosans-fontface/scss/notosans-fontface";

@media (min-width: $desktop-md-min-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    height: 640px;
    max-height: 640px;
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .button-label {
    position: relative;
    top: -3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }
}

@media (min-width: $desktop-sm-min-width) and (max-width: $desktop-sm-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    height: 640px;
    max-height: 640px;
    max-width: 850px;
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .button-label {
    position: relative;
    top: -3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }
}

@media (max-width: $mobile-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    height: 640px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    background: #fff;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .button-label {
    position: relative;
    top: -3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.79px;
  }
}

.spinner-position {
  position: relative;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.widget-header {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  padding-bottom: 16px;
  display: flex;
}

.content {
  height: 100%;
  width: 100%;
}

.legend-bar {
  display: flex;
  padding: 8px 0px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px var(--24, 24px);
  align-self: stretch;
  flex-wrap: wrap;
  color: var(--Black-2, #484848);
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.icon {
  padding: 4px;
  position: relative;
  top: 6px;
}

.bans-map-container {
  width: 100%;
  height: calc(100% - 50px);
  border-radius: 10px;
}

.button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  margin-left: auto;
}

.button-icon {
  position: relative;
  top: 4px;
}

.map-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  z-index: 10000;
  background-color: #00000039;
}

.link {
  color: #242424;
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #5c5c5c;
  background-color: white;
  width: 151px;
  text-align: center;
  height: 25px;
  display: block;
  position: relative;
  top: 50%;
  left: calc(50% - 75px);
  cursor: pointer;
}

.link-icon {
  padding: 10px;
  border-radius: 50px;
  background-color: #eee;
  cursor: pointer;
  margin-left: auto;
}
