@import '../../../../../styles/variables';
@import "notosans-fontface/scss/notosans-fontface";

.container {
  overflow: hidden;
  font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
  padding: 20px;
  display: flex;
  height: 640px;
  //max-width: 700px;
  max-height: 640px;
  padding: var(--24, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}

.widget-header {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Noto Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 130.769% */
  letter-spacing: 0.35px;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
  padding-bottom: 16px;
}
