.dialog {
  height: 100%;
  width: 100%;
  padding-top: env(safe-area-inset-top, 20px);
}

.dialog-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.dialog-panel {
  padding: 16px;
  overflow: auto;
  height: calc(100% - 100px);
}

.dialog-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  display: flex;
}

.dialog-title {
  font-family: "Noto Sans", BCSans, "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-button {
  width: 100%;
}

.right-align {
  margin-left: auto;
}

.search-panel {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.radius-button {
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.79px;
  width: calc(50% - 10px);
  margin-left: 5px;
  margin-top: 15px;
  &-selected {
    border-radius: 20px;
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    color: #242424 !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.79px;
    width: calc(50% - 10px);
    margin-left: 5px;
    margin-top: 15px;
  }
}

.list-button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.79px;
  width: 100%;
  margin-top: 10px;
  &-selected {
    margin-right: 7px;
    border-radius: 20px;
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    color: #242424 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    width: 100%;
    margin-top: 10px;
  }
}

.list-button-label {
  margin: 0px 0px 0px 7px;
}

.radius-panel {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  padding-top: 20px;
}
