<content-card-container class="other-burning-restrictions-card">
  <div class="header">
    <span class="title">Other Burning Restrictions</span>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="content-title"><img class="icon" src="/assets/images/svg-icons/authorities.svg" alt="authorities">
        Talk to your Local Authority</div>
      <div class="content-list">
        <span class="content-text" [innerHTML]="talkToYourLocalAuthorityText"></span>
      </div>
    </div>

    <div class="content">
      <div class="content-title"><img class="icon" src="/assets/images/svg-icons/campfire.svg" alt="authorities">
        Campgrounds</div>
      <div class="content-list">
        <span class="content-text" [innerHTML]="campgroundsText"></span>
      </div>
    </div>

    <div class="content">
      <div class="content-list">
        <wfnews-button class="max-width-300" [componentStyle]="defaultSlimButtonStyle" label="BC Parks Active Advisories"
          (buttonClicked)="directToLink()"></wfnews-button>
      </div>
    </div>
  </div>

</content-card-container>