@import "../../../../../styles/variables";
@import "notosans-fontface/scss/notosans-fontface";

@media (min-width: $desktop-md-min-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    width: auto;
    min-height: 640px;
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .widget-header {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
  }

  .progress-bar {
    display: block;
    height: 7px !important;
    border-radius: 50px;
    --mdc-linear-progress-track-height: 7px;
    --mdc-linear-progress-active-indicator-color: #146fb4;
    --mdc-linear-progress-track-color: #c4c4c4;
  }

  .progress-bar-mobile {
    display: none;
  }

  .data-box {
    &-title {
      color: var(--grays-gray-2, #484848);
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 35px; /* 159.091% */
      letter-spacing: 0.35px;
      margin-bottom: 16px;
    }
    &-content {
      &-card {
        display: flex;
        min-width: 200px;
        padding: var(--24, 24px);
        align-items: center;
        gap: 64px;
        align-self: stretch;
        border-radius: var(--16, 16px);
        background: var(--blues-blue-10, #f5f6f9);
        margin-bottom: 16px;
        &-count-box {
          display: flex;
          width: 193px;
          align-items: center;
          gap: var(--16, 16px);
        }
        &-count-holder {
          &-title {
            color: var(--grays-gray-3, #666);
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          &-data {
            color: var(--Black-1, #242424);
            font-feature-settings:
              "cv11" on,
              "cv01" on,
              "ss01" on,
              "clig" off,
              "liga" off;
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 48px; /* 100% */
            letter-spacing: 0.35px;
          }
        }
        &-pct-box {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 32px;
          flex: 1 0 0;
          &-value {
            color: var(--Black-1, #242424);
            font-feature-settings:
              "clig" off,
              "liga" off;
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 150% */
            letter-spacing: 0.35px;
          }
        }
      }
    }
  }

  .info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--Grey-1, #666);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: -0.408px;
    margin-bottom: 16px;
  }
}

@media (min-width: $desktop-sm-min-width) and (max-width: $desktop-sm-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    width: auto;
    max-width: 850px;
    min-height: 640px;
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .widget-header {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
  }

  .progress-bar {
    display: block;
    height: 7px !important;
    border-radius: 50px;
    --mdc-linear-progress-track-height: 7px;
    --mdc-linear-progress-active-indicator-color: #146fb4;
    --mdc-linear-progress-track-color: #c4c4c4;
  }

  .progress-bar-mobile {
    display: none;
  }

  .data-box {
    &-title {
      color: var(--grays-gray-2, #484848);
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 35px; /* 159.091% */
      letter-spacing: 0.35px;
      margin-bottom: 16px;
    }
    &-content {
      &-card {
        display: flex;
        min-width: 200px;
        padding: var(--24, 24px);
        align-items: center;
        gap: 64px;
        align-self: stretch;
        border-radius: var(--16, 16px);
        background: var(--blues-blue-10, #f5f6f9);
        margin-bottom: 16px;
        &-count-box {
          display: flex;
          width: 193px;
          align-items: center;
          gap: var(--16, 16px);
        }
        &-count-holder {
          &-title {
            color: var(--grays-gray-3, #666);
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          &-data {
            color: var(--Black-1, #242424);
            font-feature-settings:
              "cv11" on,
              "cv01" on,
              "ss01" on,
              "clig" off,
              "liga" off;
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 48px; /* 100% */
            letter-spacing: 0.35px;
          }
        }
        &-pct-box {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 32px;
          flex: 1 0 0;
          &-value {
            color: var(--Black-1, #242424);
            font-feature-settings:
              "clig" off,
              "liga" off;
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 150% */
            letter-spacing: 0.35px;
          }
        }
      }
    }
  }

  .info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--Grey-1, #666);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: -0.408px;
    margin-bottom: 16px;
  }
}

@media (max-width: $mobile-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    height: 640px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    background: #fff;
  }

  .widget-header {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
  }

  .progress-bar {
    display: none;
  }

  .progress-bar-mobile {
    display: block;
    height: 7px !important;
    border-radius: 50px;
    --mdc-linear-progress-track-height: 7px;
    --mdc-linear-progress-active-indicator-color: #146fb4;
    --mdc-linear-progress-track-color: #c4c4c4;
    position: relative;
    top: -35px;
  }

  .data-box {
    &-title {
      color: var(--grays-gray-2, #484848);
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 35px;
      letter-spacing: 0.35px;
      margin-bottom: 16px;
    }
    &-content {
      &-card {
        min-width: 200px;
        padding: 16px;
        height: 100px;
        align-items: center;
        gap: 64px;
        align-self: stretch;
        border-radius: var(--16, 16px);
        background: var(--blues-blue-10, #f5f6f9);
        margin-bottom: 16px;
        &-count-box {
          display: flex;
          width: 193px;
          align-items: center;
          gap: var(--16, 16px);
        }
        &-count-holder {
          &-title {
            color: var(--grays-gray-3, #242424);
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            position: relative;
            top: 12px;
          }
          &-data {
            color: var(--Black-1, #666);
            font-feature-settings:
              "cv11" on,
              "cv01" on,
              "ss01" on,
              "clig" off,
              "liga" off;
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px; /* 100% */
            letter-spacing: 0.35px;
          }
        }
        &-pct-box {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 32px;
          flex: 1 0 0;
          position: relative;
          top: -60px;
          &-value {
            color: var(--Black-1, #242424);
            font-feature-settings:
              "clig" off,
              "liga" off;
            font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
              sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 48px; /* 150% */
            letter-spacing: 0.35px;
          }
        }
      }
    }
  }

  .info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--Grey-1, #666);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: -0.408px;
    margin-bottom: 16px;
  }
}

.rounded-select {
  border-radius: 20px !important;
  border: 1px solid #c4c4c4;
  color: #242424;

  height: 36px;
  padding-left: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../../../../assets/images/svg-icons/carbon_down-arrow.svg") 96% / 10% no-repeat;
}

.right-align {
  margin-left: auto !important;
}

.spinner-position {
  position: relative;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.content {
  width: 100%;
  height: 100%;
}

.button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  margin-left: auto;
}

.button-label {
  position: relative;
  top: -3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
}

.button-icon {
  position: relative;
  top: 2px;
  left: -6px;
}

.info-button-icon {
  position: relative;
  top: 2px;
  left: -6px;
  border-radius: 64px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  padding: 8px;
  cursor: pointer;
}
