<div class="legend-panel">
  <div class="legend-panel-title">Fire Bans</div>
  <mat-accordion multi>
    <mat-expansion-panel *ngIf="checkLayerVisible('bans-and-prohibitions-cat1')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Category 1" class="legend-accordion-icon" src="/assets/images/category1ban.png" >
          Category 1 (Campfires)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A controlled burn of 0.5 metres high by 0.5 metres wide or smaller, conducted for recreational, ceremonial, or cooking purposes.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('bans-and-prohibitions-cat2')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Category 2" class="legend-accordion-icon" src="/assets/images/category2ban.png" >
          Category 2 Open Fires
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A controlled burn of 1 or 2 fires, each no larger than 2 meters high by 3 meters wide, or stubble and grass burning over an area that does not exceed 0.2 hectares.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('bans-and-prohibitions-cat3')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Category 3" class="legend-accordion-icon" src="/assets/images/category3ban.png" >
          Category 3 Open Fires
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A controlled burn that meets any of the following criteria: is larger than 2 metres high by 3 metres wide, 3 or more piles are being burned concurrently, 1 or more burning windrows, or stubble and grass burning over an area greater than 0.2 hectares.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

