<div class="legend-panel">
  <div class="legend-panel-title">Fire Bans</div>
  <mat-accordion multi>
    <mat-expansion-panel *ngIf="checkLayerVisible('bans-and-prohibitions-cat1')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Category 1" class="legend-accordion-icon" src="/assets/images/category1ban.png" >
          Category 1 (Campfires)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A prohibition on open fires no larger than 0.5 metres in height and 0.5 metres in width, for recreational, or First Nation ceremonial purposes.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('bans-and-prohibitions-cat2')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Category 2" class="legend-accordion-icon" src="/assets/images/category2ban.png" >
          Category 2 Open Fires
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A prohibition on open fires that meets any of the following criteria: material in 1 pile not exceeding 2 meters in height and 3 meters in width, 2 or more piles burning concurrently each not exceeding 2 meters in height and 3 meters in width, or stubble or grass over an area that does not exceed 0.2 hectares.</p>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="checkLayerVisible('bans-and-prohibitions-cat3')" class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Category 3" class="legend-accordion-icon" src="/assets/images/category3ban.png" >
          Category 3 Open Fires
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">A prohibition on open fires that meets any of the following criteria: 3 or more piles burning concurrently each not exceeding 2 meters in height and 3 meters in width, is one or more piles exceeding 2 metres in height or 3 metres in width, 1 or more windrows, or stubble or grass burning over an area exceeding 0.2 hectares.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

