@import "src/styles/variables";

.header-row {
  display: flex;
  margin: 0;
}

.table-search-header {
  background-color: white !important;
  border-top: none !important;
  display: block !important;
  padding-left: 10px;
  .label {
    font-size: 15px;
  }
}

.search-icon {
  position: relative !important;
  top: 5px;
}

.search-input {
  border-radius: 20px !important;
  border: 1px solid #a7a9ac !important;
  padding: 0 5px;
  height: 35px;
  line-height: 35px;
  font-family: "Noto sans", "BCSans", "Open Sans", "Verdana", "Arial",
    sans-serif;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 20px;
  margin-top: -20px;
}

.mdc-button__label {
  margin-left: 1px !important;
  margin-top: 3px !important;
}

.mat-mdc-input-element {
  background-color: transparent;
  border: none !important;
  padding: 0 5px;
  border-radius: 20px;
  height: 35px;
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.stage-of-control {
  margin-left: auto;
  height: 50%;
  margin-top: auto;
}

.my-location-button {
  border: 1px solid #a7a9ac;
  border-radius: 5px;
  width: 100%;
  .mat-mdc-raised-button {
    box-shadow: none;
    width: 100%;
    padding: 0;
  }
  .mat-icon {
    color: #a7a9ac;
    margin-right: 10px !important;
  }
  button span {
    white-space: nowrap;
  }
}

p.results-count {
  text-align: right;
  margin-right: 2%;
  font-size: 18px;
}

p.dashboard-title {
  font-size: 24px;
  margin-bottom: 0.5%;
}

p.active-incidents,
p.datetime {
  display: inline-block;
}

p.datetime {
  float: right;
  vertical-align: center;
}

tr {
  font-weight: normal;
}

.table-wrapper {
  border: none;
}

table {
  border: 1;
  width: 96%;
}

td {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  width: 25%;
}

table tr:nth-child(even) td {
  background-color: white;
}

.block {
  width: 15%;
  display: inline-block;
}

.list-icon {
  position: relative;
  top: -2px;
}

.btn-icon {
  position: relative;
  top: 6px;
}

.icon {
  position: relative;
  margin: 0 0 -3px 0px;
}

.filter-clear {
  margin-bottom: 8px;
  position: absolute;
  line-height: 24px;
  font-size: 15px;
  border-radius: 20%;
  background-color: transparent;
  border: none;
  right: -40px;
  top: 12px;
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -6px;
    left: 6px;
  }
  mat-icon {
    transform: translateX(-5px);
  }
}

.input-clear-button {
  margin-bottom: 1px;
  margin-left: 278px;
  position: absolute;
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-size: 15px;
  border-radius: 20%;
  background-color: transparent;
  border: none;
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -6px;
    left: 6px;
  }
  mat-icon {
    transform: translateX(-5px);
  }
}

.checkbox-label {
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  margin-left: 3px;
}

.stage-of-control-checkbox-group {
  margin-top: 13px !important;
  flex-basis: auto !important;
  width: auto !important;

  .mat-label {
    font-size: 15px;
  }

  .checkbox-group {
    display: flex;
    gap: 12px;

    .mat-mdc-checkbox {
      border: none;
    }
    .wildfire-of-note-checkbox{
      border-left: 1px solid $divider-color; 
      padding-left: 20px;
      border-radius: 0;
    }
  }
}

.fire-label-icon {
  margin-top: 6px;
  margin-right: 6px;
}

.fire-single-label {
  margin-top: 10px !important;
}

.fire-label-container {
  display: flex !important;
}

.fire-label-holder {
  display: flex !important;
  flex-flow: column !important;
  overflow-y: hidden !important;
}

.fire-label-holder-label {
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis !important;
  overflow-x: hidden;
  overflow-y: hidden;
  line-height: 18px;
}

.filter-button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  &-selected {
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    color: #242424 !important;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    .button-wrapper {
      padding: 0;
      min-width: 0;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      line-height: 40px;
      border-radius: 50%;
      margin-left: 4px;
      cursor: pointer;
    }
  }
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 4px;
    cursor: pointer;
  }
}

.fireNumber-subtext {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #7c7c7c;
}

.mat-column-fireName {
  width: 24%;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  letter-spacing: -0.02em !important;
  text-align: left !important;
}

.mat-column-lastUpdated {
  width: 11%;
}

.mat-column-stageOfControl {
  width: 15%;
}

.mat-column-fireCentre {
  width: 18%;
}

.mat-column-location {
  width: 24%;
}

.mat-column-addToWatchlist {
  width: 5%;
}

.mat-column-viewMap {
  width: 8%;
}

.cell-button {
  width: 100% !important;
  border: 1px solid #c4c4c4;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.cell-label {
  position: relative;
  top: -7px;
  display: inline-block;
  text-overflow: ellipsis !important;
  margin-left: 8px;
}

.right-align {
  margin-left: auto !important;
}

.spinner-position {
  position: relative;
  left: 50vw;
  top: 20px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #c4cdd2;
}

::ng-deep .mat-mdc-select-arrow {
  width: 0 !important;
  height: 0 !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-top: 10px solid !important;
}

.rounded-select {
  border-radius: 20px !important;
  border: 1px solid #a7a9ac !important;
  height: 35px;
}
