<div class="table-search-header flex-y-fixed">
  <div class="search-and-filters">
      <div class="field search-input">
        <mat-icon class="search-icon" matSuffix>search</mat-icon>
        <input matInput class="search-input" aria-label="Search" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="searchByText()">
        <button mat-mdc-button matSuffix mat-mdc-icon-button class="input-clear-button" *ngIf="searchText" aria-label="Clear" (click)="searchText=undefined; searchByText(); $event.stopPropagation()" matTooltip="Clear">
          <span class="button-wrapper"><mat-icon>close</mat-icon></span>
        </button>
      </div>
      <button mat-fab matTooltip="Filter by Location" [class]="'filter-button' + (lastLocation ? '-selected' : '')" aria-label="By Location" (click)="openLocationFilter()">
        <span class="button-wrapper"><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/location-button.svg'" alt="location button" height="24" width="24" /></span>
      </button>
      <button mat-fab matTooltip="Filter" [class]="'filter-button' + (filters ? '-selected' : '')" aria-label="Filter" (click)="filterOptions()">
        <span class="button-wrapper"><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/filter-button.svg'" alt="filter button" height="24" width="24" /></span>
      </button>
  </div>
</div>
<div *ngIf="dataSource && dataSource.data; else loading">
<div *ngFor="let item of dataSource.data">
  <div class="panel-card" (click)="selectIncident(item)">
    <div class="card-header" (click)="selectIncident(item)">
      <span>{{item.incidentName}}</span> <span *ngIf="item.incidentName !== convertFireNumber(item)" > ({{convertFireNumber(item)}})</span>
    </div>
    <div *ngIf="item.fireOfNoteInd" class="fon-badge">
      <img class="status-icon icon" height="20" width="20" src="/assets/images/local_fire_department.png" alt="Fire of Note">
      Wildfire of Note
    </div>
    <div class="card-item">
      <img *ngIf="item.stageOfControlCode === 'OUT_CNTRL'" height="10" width="10" src="/assets/images/svg-icons/out-of-control.svg" alt="Out of Control" class="card-icon image-size soc-icon-adjust">
      <img *ngIf="item.stageOfControlCode === 'HOLDING'" height="10" width="10" src="/assets/images/svg-icons/being-held.svg" alt="Being Held" class="card-icon image-size soc-icon-adjust">
      <img *ngIf="item.stageOfControlCode === 'UNDR_CNTRL'" height="10" width="10" src="/assets/images/svg-icons/under-control.svg" alt="under control" class="card-icon image-size soc-icon-adjust">
      <img *ngIf="item.stageOfControlCode === 'OUT'" height="10" width="10" src="/assets/images/svg-icons/out-fire.svg" alt="Out" class="card-icon image-size soc-icon-adjust">
      {{convertToStageOfControlDescription(item.stageOfControlCode)}}
    </div>
    <div class="card-item"><img class="card-icon image-size" [src]="'../../../assets/images/svg-icons/location-pin.svg'" alt="Fire Centre Icon" height="16" width="16" />{{item.fireCentreName}}</div>
    <div class="card-item"><img class="card-icon image-size" [src]="'../../../assets/images/svg-icons/calendar-pin.svg'" alt="Issued On Icon" height="16" width="16" />Discovered On {{item.discoveryDate}}</div>
    <div class="padding"></div>
  </div>
</div>
<div class="padding"></div>
<button *ngIf="keepPaging && dataSource.data.length > 0" class="list-button" (click)="search()" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/wildfire' + (selectedTab === 0 ? '-selected' : '') + '.svg'" alt="WIldfires" height="20" width="20" /><span class="list-button-label">Load More... ({{dataSource?.data?.length || 0}} of {{totalRowCount}})</span></button>
<div *ngIf="dataSource.data.length === 0" style="padding-left: 24px;">No records to display</div>
<div class="padding"></div>
<div class="padding"></div>
<div class="padding"></div>
<div class="padding"></div>
</div>
<ng-template #loading><mat-spinner [diameter]="40" class="spinner-position"></mat-spinner></ng-template>
