
<div class="table-search-header">
    <div class="search-and-filters">
        <div class="field search-input">
          <mat-icon class="search-icon" matSuffix>search</mat-icon>
          <input [readonly]="isLocationName()" matInput class="search-input" aria-label="Search" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="searchTextUpdated()">
          <button mat-mdc-button matSuffix mat-mdc-icon-button class="input-clear-button" *ngIf="searchText"
                  aria-label="Clear" (click)="searchText=undefined;searchTextUpdated(); $event.stopPropagation()"
                  matTooltip="Clear">
                  <span class="button-wrapper">
                      <mat-icon>close</mat-icon>
                  </span>
          </button>
        </div>
        <div class="field">
            <select appWFSingleSelect appWFPlaceholder="Fire Centre"
                    class="rounded-select"
                    aria-label="Type"
                    [options]="fireCentreOptions"
                    [selected]="selectedFireCentreCode"
                    [(ngModel)]="selectedFireCentreCode"
                    (updated)="selectFilterUpdated('selectedFireCentreCode', $event)">
                <option value="">
                    <span class="placeholder">Fire Centre...</span>
                </option>
                <option *ngFor = "let item of fireCentreOptions" value="{{item.code}}">
                    <span>{{item.description}}</span>
                </option>
            </select>
        </div>
        <button mat-flat-button matTooltip="Filter by Location" [class]="'filter-button' + (locationData ? '-selected' : '')" aria-label="By Location" (click)="openLocationFilter()">
          <img class="btn-icon image-size" [src]="'../../../assets/images/svg-icons/location-button.svg'" alt="location button" height="24" width="24" /><span class="button-wrapper">Filter by Location</span>
          <button mat-mdc-button matSuffix mat-mdc-icon-button class="filter-clear" *ngIf="locationData"
                  aria-label="Clear" (click)="clearLocationFilter(); $event.stopPropagation()"
                  matTooltip="Clear">
                  <span class="button-wrapper">
                      <mat-icon>close</mat-icon>
                  </span>
          </button>
        </button>
        <div class="field right-align">
          <select appWFSingleSelect appWFPlaceholder="Sort"
                  class="rounded-select"
                  aria-label="Sort"
                  [options]="sortOptions"
                  [selected]="selectedSortValue"
                  [(ngModel)]="selectedSortValue"
                  (updated)="doSearch()">
              <option value="">
                  <span class="placeholder">Sort By</span>
              </option>
              <option *ngFor = "let item of sortOptions" value="{{item.code}}">
                  <span>{{item.description}}</span>
              </option>
          </select>
        </div>
    </div>
    <div class="stage-of-control-checkbox-group">
      <section class="checkbox-group">
          <mat-checkbox (change)="stageOfControlChanges($event)" value="note" [(ngModel)]="outOfControlFires">
            <img height="17" width="17" src="/assets/images/svg-icons/out-of-control.svg" alt="Out of Control" class="icon"><span class="checkbox-label">Out of Control</span>
          </mat-checkbox>
          <mat-checkbox (change)="stageOfControlChanges($event)" value="note" [(ngModel)]="beingHeldFires">
            <img height="17" width="17" src="/assets/images/svg-icons/being-held.svg" alt="Holding" class="icon"><span class="checkbox-label">Being Held</span>
          </mat-checkbox>
          <mat-checkbox (change)="stageOfControlChanges($event)" value="note" [(ngModel)]="underControlFires">
            <img height="17" width="17" src="/assets/images/svg-icons/under-control.svg" alt="Under Control" class="icon"><span class="checkbox-label">Under Control</span>
          </mat-checkbox>
          <mat-checkbox (change)="stageOfControlChanges($event)" value="all" [(ngModel)]="outWildfiresInd">
            <img height="17" width="17" src="/assets/images/svg-icons/out-fire.svg" alt="Out" class="icon"><span class="checkbox-label">Out</span>
          </mat-checkbox>
          <mat-checkbox class="wildfire-of-note-checkbox" (change)="stageOfControlChanges($event)" value="note" [(ngModel)]="wildfiresOfNoteInd">
            <img height="17" width="17" src="/assets/images/local_fire_department.png" alt="Wildfire" class="icon"><span class="checkbox-label">Wildfire of Note</span>
          </mat-checkbox>
      </section>
  </div>
</div>
<p class ="results-count" >{{collection ? collection.totalRowCount : 0}} Results</p>
<div class="table-wrapper flex-y-grow" *ngIf="collectionData; else loading">
    <table  mat-table matSort [dataSource]="collectionData | paginate:config"
            [matSortActive]="this.searchState.sortParam"
            [matSortDirection]="this.searchState.sortDirection.toLowerCase()"
            (matSortChange)="sortData($event)"
            aria-label="Incident Table">
        <ng-container matColumnDef = "fireName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wildfire Name</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)">
              <div class="fire-label-container">
                <img *ngIf="item.fireOfNoteInd" height="24" width="24" src="/assets/images/local_fire_department.png" alt="Wildfire" class="icon fire-label-icon">
                <div class="fire-label-holder">
                  <span #el [class]="'fire-label-holder-label ' + (item.incidentName === convertFireNumber(item) ? 'fire-single-label' : '')"> {{item.incidentName}}</span>
                  <span #el class="fireNumber-subtext" *ngIf="item.incidentName !== convertFireNumber(item)" > ({{convertFireNumber(item)}})</span>
                </div>
              </div>
            </td>
        </ng-container>

        <ng-container matColumnDef = "stageOfControl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Stage of Control</th>
          <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)">
            <img *ngIf="item.stageOfControlCode === 'OUT_CNTRL'" height="10" width="10" src="/assets/images/svg-icons/out-of-control.svg" alt="Out of Control" class="list-icon">
            <img *ngIf="item.stageOfControlCode === 'HOLDING'" height="10" width="10" src="/assets/images/svg-icons/being-held.svg" alt="Being Held" class="list-icon">
            <img *ngIf="item.stageOfControlCode === 'UNDR_CNTRL'" height="10" width="10" src="/assets/images/svg-icons/under-control.svg" alt="under control" class="list-icon">
            <img *ngIf="item.stageOfControlCode === 'OUT'" height="10" width="10" src="/assets/images/svg-icons/out-fire.svg" alt="Out" class="list-icon">
            <span #el> {{convertToStageOfControlDescription(item.stageOfControlCode)}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef = "fireCentreName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fire Centre</th>
          <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.fireCentreName}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{item.incidentLocation}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "lastUpdated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="selectIncident(item)"><span #el >{{convertFromTimestamp(item.lastUpdatedTimestamp)}}</span></td>
        </ng-container>

        <ng-container matColumnDef = "viewMap">
            <th mat-header-cell *matHeaderCellDef>View Map</th>
            <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="viewMap(item)"><span #el ><mat-icon style="color:#1A5A96; height: 20px; width: 20px;" svgIcon="map"></mat-icon></span><span class="cell-label"></span></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>
        <tr mat-row *matRowDef="let item; columns: columnsToDisplay"></tr>
    </table>
</div>

<ng-template #loading><mat-spinner [diameter]="40" class="spinner-position"></mat-spinner></ng-template>


<div class="bottom-summary flex-y-fixed">
    <div class="showing-summary">{{summaryString}}</div>
    <pagination-controls style = "text-align:center" [id]="config.id"
                         [maxSize]="5"
                         [responsive]="false"
                         [directionLinks]="true"
                         [previousLabel]="paginatorLabels.previousLabel"
                         [nextLabel]="paginatorLabels.nextLabel"
                         [autoHide]="false"
                         (pageChange)="onPageChange($event)"></pagination-controls>
    <div class="show-entries-info">
                    <span>
                        Show
                    </span>
        <select appWFSingleSelect appWFPlaceholder="Select..."
                class="select-showEntriesSelection"
                aria-label="Show entries"
                [position]="'top'"
                [selected]="showEntriesSelection"
                [options]="showEntriesOptions"
                (updated)="selectShowEntriesUpdated('showEntriesSelection', $event)"
                [(ngModel)]="showEntriesSelection">
            <option *ngFor="let option of showEntriesOptions" value="{{option.value}}">
                <span>{{option.label}}</span>
            </option>
        </select>
        <span>entries</span>
    </div>
</div>
