@import "../../../../../styles/variables";
@import "notosans-fontface/scss/notosans-fontface";

@media (min-width: $desktop-md-min-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    max-width: 1450px;
    width: calc(100vw - 104px);
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
    height: 412px;
  }

  .content {
    height: calc(100% - 78px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
    padding-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .count-panel {
    display: flex;
    padding: var(--16, 16px) var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16, 16px);
    align-self: stretch;
    border-radius: var(--16, 16px);
    border: 1px solid var(--grays-gray-8, #e4e4e4);
    background: var(--blues-blue-11, #f5f6f9);
    width: 186px;
    &-panel-title {
      color: #585858;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &-text {
      color: var(--grays-gray-2, #484848);
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-data-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 186px;
    }
    &-data {
      color: #242424;
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.35px;
      margin-left: 10px;
    }
    &-icon {
      position: relative;
      top: 15px;
    }
  }

  .count-panel-mobile {
    display: none;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }
}

@media (min-width: $desktop-sm-min-width) and (max-width: $desktop-sm-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    max-width: min(850px, calc(100dvw - 104px));
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
  }

  .content {
    height: calc(100% - 78px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
    padding-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .count-panel {
    display: flex;
    padding: var(--16, 16px) var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16, 16px);
    align-self: stretch;
    border-radius: var(--16, 16px);
    border: 1px solid var(--grays-gray-8, #e4e4e4);
    background: var(--blues-blue-11, #f5f6f9);
    width: 186px;
    &-panel-title {
      color: #585858;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &-text {
      color: var(--grays-gray-2, #484848);
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-data-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 186px;
    }
    &-data {
      color: #242424;
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.35px;
      margin-left: 10px;
    }
    &-icon {
      position: relative;
      top: 15px;
    }
  }

  .count-panel-mobile {
    display: none;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }
}

@media (max-width: $mobile-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    flex: 1 0 0;
    background: #fff;
    width: calc(100vw - 40px);
    flex-direction: column;
    align-items: flex-start;
  }

  .content {
    height: calc(100% - 78px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
    padding-bottom: 15px;
    padding-top: 24px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .count-panel {
    display: none !important;
  }

  .count-panel-mobile {
    display: flex;
    padding: var(--16, 16px) var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16, 16px);
    align-self: stretch;
    border-radius: var(--16, 16px);
    border: 1px solid var(--grays-gray-8, #e4e4e4);
    background: var(--blues-blue-11, #f5f6f9);
    margin-top: 16px;
    &-panel-title {
      color: #585858;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &-text {
      color: var(--grays-gray-2, #484848);
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &-data-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      border-bottom: 1px solid #dedede;
      width: 100%;
      padding-bottom: 16px;
    }
    &-data {
      color: #242424;
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.35px;
      margin-left: 10px;
    }
    &-icon {
      position: relative;
      top: 8px;
    }
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }
}

.spinner-position {
  position: relative;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.widget-header {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  padding-bottom: 16px;
  display: flex;
}

.button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  margin-left: auto;
  &-label {
    position: relative;
    top: -3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }
  &-icon {
    position: relative;
    top: 2px;
    left: -6px;
  }
}

.link {
  color: #242424;
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; // For better alignment with label
  text-decoration: none;
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  margin-left: auto;
  width: 151px;
  text-align: center;
}

.fire-of-note-card {
  position: relative;
  display: flex;
  width: 275px;
  height: calc(100% - 32px);
  min-height: 185px;
  padding: var(--16, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--12, 12px);
  border-radius: var(--8, 8px);
  border: 1px solid var(--grays-gray-7, #dedede);
  background: var(--White, #fdfdfd);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.07);
  &-title {
    color: #372a2a;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 136.364% */
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
  &-order-panel {
    display: flex;
    flex-direction: row;
    padding: 6px var(--16, 16px);
    align-items: center;
    align-content: center;
    gap: 8px var(--8, 8px);
    align-self: stretch;
    border-radius: var(--4, 4px);
    border: 1px solid var(--reds-red-6, #fbe3e3);
    background: var(--reds-red-7, #fef1f2);
    color: var(--reds-red-2, #98273b);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &-alert-panel {
    display: flex;
    flex-direction: row;
    padding: 6px var(--16, 16px);
    align-items: center;
    align-content: center;
    gap: 8px var(--8, 8px);
    align-self: stretch;
    border-radius: var(--4, 4px);
    border: 1px solid #f6e8b6;
    background: var(--yellows-yellow-6, #fcf3d4);
    color: #7c5d11;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &-data-panel {
    display: flex;
    width: 275px;
  }
  &-icon {
    position: relative;
    top: 3px;
  }
  &-text {
    color: var(--grays-gray-3, #666);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: -0.408px;
    margin-left: 5px;
  }
}

.link-icon {
  padding: 10px;
  border-radius: 50px;
  background-color: #eee;
  cursor: pointer;
  margin-left: auto;
}

.link-holder {
  position: absolute;
  bottom: 10px;
  right: 14px;
}
