.dialog {
  height: 100%;
  width: 100%;
  padding-top: env(safe-area-inset-top, 20px) !important;
  padding-bottom: env(safe-area-inset-bottom, 20px) !important;
  padding-left: env(safe-area-inset-left) !important;
  padding-right: env(safe-area-inset-right) !important;
}

.dialog-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.dialog-panel {
  padding: 16px;
  overflow: auto;
  height: calc(100% - 100px);
}

.dialog-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  display: flex;
}

.dialog-title {
  font-family: "Noto Sans", BCSans, "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-button {
  width: 100%;
}

.footer-button-disabled {
  width: 100%;
  background-color: #dedede !important;
}

.right-align {
  margin-left: auto;
}

.search-icon {
  position: relative !important;
  top: 5px;
}

.search-input {
  border-radius: 20px !important;
  border: 1px solid #a7a9ac !important;
  padding: 0 5px;
  height: 35px;
  line-height: 35px;
  font-family: "Noto Sans", BCSans, "Open Sans", Verdana, Arial, sans-serif;
  font-size: 15px;
  position: relative;
}

.mat-mdc-input-element {
  background-color: transparent;
  border: none !important;
  padding: 0 5px;
  border-radius: 20px;
  height: 35px;
  outline: none !important;
  box-shadow: none !important;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.search-panel {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.radius-button {
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.79px;
  width: calc(50% - 10px);
  margin-left: 5px;
  margin-top: 15px;
  &-selected {
    border-radius: 20px;
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    color: #242424 !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.79px;
    width: calc(50% - 10px);
    margin-left: 5px;
    margin-top: 15px;
  }
}

.list-button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.79px;
  width: 100%;
  margin-top: 10px;
  &-selected {
    margin-right: 7px;
    border-radius: 20px;
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    color: #242424 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    width: 100%;
    margin-top: 10px;
  }
}

.list-button-label {
  margin: 0px 0px 0px 7px;
}

.input-clear-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 5px;
  right: 0px;
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  mat-icon {
    transform: translateX(-5px);
  }
}

.filter-clear {
  margin-bottom: 8px;
  position: absolute;
  line-height: 24px;
  font-size: 15px;
  border-radius: 20%;
  background-color: transparent;
  border: none;
  top: 6px;
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -6px;
    left: 6px;
  }
  mat-icon {
    transform: translateX(-5px);
  }
}
