<div class="legend-panel">
  <div class="legend-panel-title">Local Authorities</div>
  <div class="legend-layer-description">
    If a wildfire is directly threatening your community, the best information sources related to evacuations is your local authority.
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="First Nations" class="legend-accordion-icon" src="/assets/images/svg-icons/first-nation-legend.svg" >
      First Nations
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Indian Reserve" class="legend-accordion-icon" src="/assets/images/svg-icons/indian-reserve-legend.svg" >
      Indian Reserve
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Municipality" class="legend-accordion-icon" src="/assets/images/svg-icons/municipality-legend.svg" >
      Municipality
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Regional District" class="legend-accordion-icon" src="/assets/images/svg-icons/regional-district-legend.svg" >
      Regional District
    </div>
  </div>
</div>

