<div class="legend-panel">
  <div class="legend-panel-title">Local Authorities</div>
  <div class="legend-layer-description">
    If a wildfire threatens your community, the best source for evacuation information is your local authority.
  </div>
  <div *ngIf="checkLayerVisible('fnt-treaty-land')" class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="First Nations" class="legend-accordion-icon" src="/assets/images/svg-icons/first-nation-legend.svg" >
      First Nations
    </div>
  </div>
  <div *ngIf="checkLayerVisible('clab-indian-reserves')" class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Indian Reserve" class="legend-accordion-icon" src="/assets/images/svg-icons/indian-reserve-legend.svg" >
      Indian Reserve
    </div>
  </div>
  <div *ngIf="checkLayerVisible('abms-municipalities')" class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Municipality" class="legend-accordion-icon" src="/assets/images/svg-icons/municipality-legend.svg" >
      Municipality
    </div>
  </div>
  <div *ngIf="checkLayerVisible('abms-regional-districts')" class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Regional District" class="legend-accordion-icon" src="/assets/images/svg-icons/regional-district-legend.svg" >
      Regional District
    </div>
  </div>
</div>

