.dialog-title {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  padding: 16px;
}
.dialog-content {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  padding: 16px;
}
.subtitle {
  font-weight: 700;
  margin-top: 0;
  padding-bottom: 4px;
}