<ng-container>
    <div class="dialog-container contact-widget-dialog-container">
        <h1 mat-dialog-title>Contact Information <mat-icon [mat-dialog-close]="false">close</mat-icon></h1>
        <div class="dialog-content" mat-dialog-content>
            <div class="contact-widget-dialog-content">
                <div class="panel left-panel">
                    <div class="">
                        hey.
                    </div>
                    <div class="pt-3">
                        yo.
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>