.dialog-container{
  margin-bottom: -25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

  .panel{
    padding: 15px;

    .upper-half {
        border-bottom: 1px solid #dddddd;
        display: flex;

        .pm-log{
            width: 15% ;
        }

        .app-title {
            padding-left: 10px;
            width: 80%;
            h4{
                margin:0 !important;
            }
        }
    }

    .bottom-half{
        padding-top: 1rem;
    }

    .cancel-button{
        color: #1A5A96;
        background-color: #FFFFFF;
        border: solid 1px #1A5A96;
        padding: 8px 16px;
        border-radius: 4px;
    }

    .download-button{
        margin-left: 2rem;
        background-color: #1A5A96;
        border: solid 1px #1A5A96;
        color: #FFFFFF;
        padding: 8px 16px;
        border-radius: 4px;
        
    }
  }