@import '../../../styles/variables';

.page-width-container.wfone-public-mobile-help{
  padding: 0 !important;
  overflow-y: scroll;
}
.help-list{
  padding: 0;

  mat-list-item:not(:last-child){
    border-bottom: 1px solid $colour-light-grey;
  }

  ::ng-deep &.mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: space-between;
    width: 100%;
    //position: fixed;
  }

}


