<ng-container [formGroup]="formGroup" class="incident-form">
  <mat-card class="info-card form-card">
    <fieldset formGroupName="contact" *ngFor = "let item of areaRestrictions">
      <div class="form-flex-wrapper">
        <div class="form-flex flex-basis-full">
          <div class="field">
            <mat-form-field class="field-label-value" appearance="standard" floatLabel="always">
              <mat-label class="label required">Area Restriction Name</mat-label>
              <input matInput type="text" placeholder="Area Restriction Name" [value]="item.name" readonly>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field class="field-label-value" appearance="standard" floatLabel="always">
              <mat-label class="label required">Bulletin URL</mat-label>
              <input matInput type="text" placeholder="Bulletin URL" [value]="item.bulletinUrl">
            </mat-form-field>
          </div>
        </div>
      </div>
    </fieldset>
  </mat-card>
</ng-container>
