<h3>
    {{ slideTitle }}
    <span class="close-button"
        (click)="onClose()"
    ><mat-icon>close</mat-icon></span>
</h3>

<div class="metadata description">
    <div class="title">Description</div>
    <textarea class="value"
        placeholder="(250 Character Limit)"
        [(ngModel)]="properties.description"
        (ngModelChange)="onChanged( $event )"
        (keydown)="$event.stopPropagation()"
        [disabled]="!allowEdit"
        maxlength="250"
    ></textarea>
</div>

<div class="metadata category">
    <div class="title">Category</div>
    <select class="value"
        [(ngModel)]="properties.category"
        (ngModelChange)="onChanged( $event )"
        [disabled]="!allowEdit"
    >
        <option *ngFor="let c of photoCategories" [value]="c.code">
            {{ c.description }}
        </option>
    </select>
</div>

<ng-container *ngFor="let m of properties.metadata">
    <div class="metadata">
        <div class="title">{{ m.title }}</div>
        <div class="value" [class.missing]="!m.value">{{ m.value || 'n/a' }}</div>
    </div>
</ng-container>

<div class="actions" *ngIf="allowEdit">
    <mat-spinner [diameter]="32" *ngIf="isUpdating"></mat-spinner>

    <span class="expander"></span>
<!--
    <button mat-raised-button
        color="primary"
        (click)="onArchive()"
        cdkFocusInitial
        [disabled]="isUpdating"
    >
        Archive
    </button>
-->
    <button mat-raised-button
        color="primary"
        (click)="onUpdate()"
        cdkFocusInitial
        [disabled]="!hasChanged || isUpdating"
    >
        Update
    </button>
</div>
