<div class="map-type-picker">
  <div class="header">Map type</div>
  <div class="map-type-container">
    <div class="map-type" (click)="onSelect('navigation')">
      <img class="map-type-image" [ngClass]="{'selected': isSelected('navigation')}" src="assets/images/default-map.png" alt="default">
      <div class="map-type-name" [ngClass]="{'selected': isSelected('navigation')}">Default</div>
    </div>
    <div class="map-type" (click)="onSelect('imagery')">
      <img class="map-type-image" [ngClass]="{'selected': isSelected('imagery')}" src="assets/images/satellite-map.png" alt="satellite">
      <div class="map-type-name" [ngClass]="{'selected': isSelected('imagery')}">Satellite</div>
    </div>
    <div class="map-type" (click)="onSelect('topography')">
      <img class="map-type-image" [ngClass]="{'selected': isSelected('topography')}" src="assets/images/terrain-map.png" alt="terrain">
      <div class="map-type-name" [ngClass]="{'selected': isSelected('topography')}">Terrain</div>
    </div>
    <div class="map-type" (click)="onSelect('night')">
      <img class="map-type-image" [ngClass]="{'selected': isSelected('night')}" src="assets/images/dark-map.png" alt="dark">
      <div class="map-type-name" [ngClass]="{'selected': isSelected('night')}">Dark</div>
    </div>
  </div>
</div>
