<ng-container [formGroup]="contactForm">
    <!-- Mobile Mode -->
    <div class="mobile-container">
      <div class="header" *ngIf="isMobileView()">
        <div class="label">
          Contact Us
        </div>
        <mat-icon class="icon" [color]="closeColor"
          (mouseover)="closeColor = 'warn'" (mouseout)="closeColor = null" (click)="close()" style="cursor: pointer;">
          close
        </mat-icon>
      </div>
      <div class="title">Contact Information
      </div>
      <div class="text">
        <p>Select a wildfire to view contact information associated with a specific incident.</p>
        <p>Submit general feedback and questions using this form and we will get back to you as soon as possible.</p>
      </div>
      <div class="form">
        <mat-form-field class="item-full-width" floatLabel="always" appearance="outline">
          <mat-label class="label required">Name<span style="color: red"></span></mat-label>
          <input matInput type="text" formControlName="name" aria-label="Name" />
        </mat-form-field>
        <mat-form-field class="item-full-width" floatLabel="always" appearance="outline">
            <mat-label class="label required">Email<span style="color: red"></span></mat-label>
            <input  matInput type="text" formControlName="email" aria-label="Email" />
            <mat-error style="font-size: 15px; padding-top: 7px; ">{{ mailErrorMessages }}</mat-error>
        </mat-form-field>
        <mat-form-field class="item-full-width" floatLabel="always" appearance="outline">
          <mat-label class="label">Subject</mat-label>
          <input matInput type="text" formControlName="subject" aria-label="Subject" />
        </mat-form-field>
        <mat-form-field class="item-full-width" floatLabel="always" appearance="outline">
          <mat-label class="label">Message</mat-label>
          <textarea rows="3" style="height:auto;" matInput formControlName="message" aria-label="Message" maxlength="500"></textarea>
        </mat-form-field>
      </div>
      <button [class]="!contactForm.valid ? 'contact-submit-disabled' : 'contact-submit'" (click)="onSubmit()" [disabled]="!contactForm.valid">
        Submit Message
        <img height="20" width="20" src="/assets/images/svg-icons/send-white.svg" alt="submit" />
      </button>
      <div class="spacer"></div>
      <div class="subtitle">Phone Numbers</div>
      <div class="phone-number-box">
        <div class="phone-number-box-info">
          <div class="phone-number-box-title">Wildfire Information Line</div>
          <div class="phone-number-box-number">1 (888) 336-7378</div>
        </div>
        <div class="phone-number-box-icon">
          <img (click)="openMoreInfo('tel', 'wildFireInformationLine')" height="24" width="24" src="/assets/images/svg-icons/phone-blue.svg" alt="phone" />
        </div>
      </div>
      <div class="phone-number-box">
        <div class="phone-number-box-info">
          <div class="phone-number-box-title">Report a Wildfire</div>
          <div class="phone-number-box-number">1 (800) 663-5555 or *5555</div>
        </div>
        <div class="phone-number-box-icon">
          <img (click)="openMoreInfo('tel', 'rofPhoneNumber')" height="24" width="24" src="/assets/images/svg-icons/phone-blue.svg" alt="phone" />
        </div>
      </div>
      <div class="phone-number-box">
        <div class="phone-number-box-info">
          <div class="phone-number-box-title">Burn Registration Line</div>
          <div class="phone-number-box-number">1 (888) 797-1717</div>
        </div>
        <div class="phone-number-box-icon">
          <img (click)="openMoreInfo('tel', 'burnRegistrationLine')" height="24" width="24" src="/assets/images/svg-icons/phone-blue.svg" alt="phone" />
        </div>
      </div>
      <div class="subtitle">More Information</div>
      <div class="phone-number-box">
        <div class="phone-number-box-info">
          <div class="phone-number-box-title">Wildfire Contact Channels</div>
        </div>
        <div class="phone-number-box-icon">
          <img (click)="openMoreInfo('link', 'moreInformationLink')" height="24" width="24" src="/assets/images/svg-icons/link-blue.svg" alt="link" />
        </div>
      </div>
      <div class="spacer"></div>
    </div>
    <!-- Desktop Mode -->
    <div [class]="pageMode ? 'contact-widget-dialog-container' : 'dialog-container contact-widget-dialog-container'">
        <h1 [class]="pageMode ? 'title padding-15' : 'mat-mdc-dialog-title'">Contact Information <mat-icon *ngIf="!pageMode" [color]="closeColor"
          (mouseover)="closeColor = 'warn'"
          (mouseout)="closeColor = null" [mat-dialog-close]="false" style="cursor: pointer;">close</mat-icon></h1>
        <div class="dialog-content" mat-dialog-content>
            <div class="contact-widget-dialog-content">
                <div class="panel left-panel">
                    <div class="">
                        Select a wildfire to view contact information associated with a specific incident.
                    </div>
                    <div class="pt-3">
                        Submit general feedback and questions using this form and we will get back to you as soon as
                        possible.
                    </div>
                    <div class="form">
                        <div class="row">
                            <div class="field">
                                <mat-label class="label required">Name<span style="color: red">*</span></mat-label>
                                <input matInput type="text" formControlName="name" aria-label="Name" />
                            </div>
                            <div class="field">
                                <mat-label class="label required">Email<span style="color: red">*</span></mat-label>
                                <input  matInput type="text" formControlName="email" aria-label="Email" />
                                <mat-error style="font-size: 15px; padding-top: 7px; ">{{ mailErrorMessages }}</mat-error>
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <mat-label class="label">Subject</mat-label>
                                <input matInput type="text" formControlName="subject" aria-label="Subject" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="field">
                                <mat-label class="label">Message</mat-label>
                                <textarea rows="3" style="height:auto;" matInput formControlName="message" aria-label="Message" maxlength="500"></textarea>
                            </div>
                        </div>
                        <div class="row submit-row">
                            <button class="contact-submit" (click)="onSubmit()" [disabled]="!contactForm.valid">Submit Message</button>
                        </div>
                    </div>
                </div>
                <div class="panel right-panel">
                    <div class="contact-info">
                        <div class="title">Report a Wildfire</div>
                        <div class="detail">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM94 416c-7.033 0-13.057-4.873-14.616-11.627l-14.998-65a15 15 0 0 1 8.707-17.16l69.998-29.999a15 15 0 0 1 17.518 4.289l30.997 37.885c48.944-22.963 88.297-62.858 110.781-110.78l-37.886-30.997a15.001 15.001 0 0 1-4.289-17.518l30-69.998a15 15 0 0 1 17.16-8.707l65 14.998A14.997 14.997 0 0 1 384 126c0 160.292-129.945 290-290 290z"/></svg><a style="color: #1A5A96;text-decoration:none;" href="tel:{{contactInformationConfig['rofPhoneNumber']}}">{{contactInformationConfig['reportAWildfirePhone']}}</a>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="title">Wildfire Information Line</div>
                        <div class="detail">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM94 416c-7.033 0-13.057-4.873-14.616-11.627l-14.998-65a15 15 0 0 1 8.707-17.16l69.998-29.999a15 15 0 0 1 17.518 4.289l30.997 37.885c48.944-22.963 88.297-62.858 110.781-110.78l-37.886-30.997a15.001 15.001 0 0 1-4.289-17.518l30-69.998a15 15 0 0 1 17.16-8.707l65 14.998A14.997 14.997 0 0 1 384 126c0 160.292-129.945 290-290 290z"/></svg><a style="color: #1A5A96;text-decoration:none;" href="tel:{{contactInformationConfig['wildFireInformationLine']}}">{{contactInformationConfig['wildFireInformationLine']}}</a>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="title">Burn Registration Line</div>
                        <div class="detail">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM94 416c-7.033 0-13.057-4.873-14.616-11.627l-14.998-65a15 15 0 0 1 8.707-17.16l69.998-29.999a15 15 0 0 1 17.518 4.289l30.997 37.885c48.944-22.963 88.297-62.858 110.781-110.78l-37.886-30.997a15.001 15.001 0 0 1-4.289-17.518l30-69.998a15 15 0 0 1 17.16-8.707l65 14.998A14.997 14.997 0 0 1 384 126c0 160.292-129.945 290-290 290z"/></svg><a style="color: #1A5A96;text-decoration:none;" href="tel:{{contactInformationConfig['burnRegistrationLine']}}">{{contactInformationConfig['burnRegistrationLine']}}</a>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="title">Social Media</div>
                        <div class="detail">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/></svg><a style="color: #1A5A96;text-decoration:none;" target="_blank" rel=noopener href="{{contactInformationConfig['socialMedia']['facebook']}}"> BC Wildfire Service </a>
                        </div>
                        <div class="detail">
                            <img alt="icon" src="/assets/images/svg-icons/twitter-x.svg" class="twitter-icon">
                            <a style="color: #1A5A96;text-decoration:none;" target="_blank" rel=noopener href="{{contactInformationConfig['socialMedia']['twitter']}}"> @BCGovFireInfo </a>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="title">More Information</div>
                        <div class="detail">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 80v352c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48zm-88 16H248.029c-21.313 0-32.08 25.861-16.971 40.971l31.984 31.987L67.515 364.485c-4.686 4.686-4.686 12.284 0 16.971l31.029 31.029c4.687 4.686 12.285 4.686 16.971 0l195.526-195.526 31.988 31.991C358.058 263.977 384 253.425 384 231.979V120c0-13.255-10.745-24-24-24z"/></svg><a style="color: #1A5A96;text-decoration:none;" rel=noopener target="_blank" href="{{contactInformationConfig['moreInformationLink']}}">Wildfire Contact Channels </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="version-number"> {{versionNumber}}</div>
        </div>
    </div>
</ng-container>
