@use "@angular/material" as mat;
@import "@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$core-map-app-primary: mat.define-palette(
  mat.$blue-gray-palette,
  900,
  500,
  900
);
$core-map-app-accent: mat.define-palette(mat.$gray-palette, 400, 300, 800);

// The warn palette is optional (defaults to red).
$core-map-app-warn: mat.define-palette(mat.$red-palette, 800, 400, A700);

// Create the theme object (a Sass map containing all of the palettes).
$core-map-app-theme: mat.define-light-theme(
  $core-map-app-primary,
  $core-map-app-accent,
  $core-map-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($core-map-app-theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat.define-typography-config(
  $font-family: '"Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif',
  $headline-6: mat.define-typography-level(32px, 32px, 700),
  $headline-5: mat.define-typography-level(32px, 48px, 700),
  $body-2: mat.define-typography-level(16px, 24px, 500),
);
