@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'material';
@import 'variables';
@import 'base';
@import 'component/landing-page';
@import 'component/list';
@import 'component/message-dialog';
@import 'component/comments-table';
@import 'component/side-panel';
@import 'component/search-bar';
@import 'component/filters';
@import 'component/sort';
@import 'component/unauthorized-page';
@import 'smk';


.snackbar-error{
   background-color: $colour-errors;
   color: $colour-white;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   font-size: 14px;
   max-width: 80vw !important;
   word-break: break-word;
 }

.columns-menu{
  display: flex;
  flex: 0 0 auto;
  div.mat-form-field-wrapper {
    padding-bottom: 0;

    div.mat-form-field-underline {
      display: none;
    }

    div.mat-form-field-infix {
      width: 50px;
      border-top: 0;
      padding: 0;

      mat-select,
      input{
        width: 100%;
      }

      .mat-select-arrow-wrapper{
        visibility: hidden;
      }
    }

    span {
      font-size: small;
      top: -.35rem;
    }
  }
}

.display-columns-selector.mat-select-panel{
  max-height: unset;

  .mat-option{
    height: 22px;
    font-size: small;
    padding: 10px;
  }

  button{
    margin: 10px;
    padding: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px darkgrey;
    background-color: lightgray;
  }
}

#core-interface-container {
  font-family: $font-family-main;

  .mat-paginator-container {
    justify-content: center;
    font-size: $font-size;
  }

}

.owl-dt-popup-container{
  font-family: $font-family-main;
}

//.mat-snack-bar-container{
//  position: relative;
//  top: 60px;
//}

// .snackbar-error {
//   background-color: rgba(246, 189, 189, 1);
//   color: $colour-black;
//   position: inherit;

//   .mat-simple-snackbar{
//     font-family: $font-family-main;
//     font-size: 13px;
//   }
//   .mat-simple-snackbar-action{
//     color: $colour-errors;
//   }
// }

.snackbar-warning {
  background-color: rgba(244, 230, 195, 1);
  color: $colour-black;
  position: inherit;
  .mat-simple-snackbar{
    font-family: $font-family-main;
    font-size: 13px;
  }
  .mat-simple-snackbar-action{
    color: #f1780e;
  }
}

.snackbar-success {
  background-color: #2e703e;
  color: $colour-white;
  position: inherit;
  .mat-simple-snackbar{
    font-family: $font-family-main;
    font-size: 13px;
  }
  .mat-button-wrapper{
    color:$colour-white;
  }
}

.snackbar-success-v2 {
  background-color: $colour-success;
  color: $colour-white;
  position: inherit;
  padding: 18px 16px!important;
  .mat-simple-snackbar{
    font-family: $font-family-main;
    font-size: 13px;
  }
  .mat-button-wrapper{
    color:$colour-white;
  }
  .mat-simple-snackbar-action{
    border: 1px solid white;
    border-radius: 5px;
  }
}


.snackbar-success-v2:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 60px;
  background-color: white;
  top: 0;
  left: -55px;
  color: #2E7940;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --%3E%3Cpath d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z' fill='%232e7940'/%3E%3C/svg%3E");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.snackbar-info {
  background-color: $colour-info-grey;
  color: $colour-white;
  position: inherit;
  padding: 18px 16px!important;
  .mat-simple-snackbar{
    font-family: $font-family-main;
    font-size: 13px;
  }
  .mat-button-wrapper{
    color:$colour-white;
  }
  .mat-simple-snackbar-action{
    border: 1px solid white;
    border-radius: 5px;
  }
}


.snackbar-info:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 60px;
  background-color: white;
  top: 0;
  left: -55px;
  color: $colour-info-grey;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%2337464F'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'/%3E%3C/svg%3E");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.full-snack-bar-online{
  //width: 100%;
  //background-color: rgba(149, 206, 170, 1);
  //color: $colour-black;
  //max-width: calc(var(--vw, 1vw) * 80) !important;
  //word-break: break-word;
  //
  //.mat-simple-snackbar{
  //  font-family: $font-family-main;
  //  font-size: 13px;
  //}
  .mat-simple-snackbar-action{
    color: #acdbac;
  }
}

.full-snack-bar-offline{
  background-color: $colour-errors;
  color: $colour-white;
  font-family: $font-family-main;
  font-size: 13px;
  max-width: calc(var(--vw, 1vw) * 80) !important;
  word-break: break-word;
}

//.mat-tab-body{
//  position: relative !important;
//  overflow-x: hidden !important;
//  overflow-y: auto !important;
//  z-index: 1 !important;
//  flex-grow: 1 !important;
//}

@media print {

  mat-table,
  tr,
  mat-sidenav-content{
    width: 750px !important;
  }
  mat-table{
    display: block;
  }

  .mat-table .mat-cell,
  .mat-table .mat-header-cell{
    padding: 0 !important;
  }

  .nav-menu-button fa-icon,
  mat-tab-header,
  .review-item-header .header-icons,
  td.select-cell,
  .bottom-toolbar,
  wf1-search-bar,
  wf1-filters,
  wf1-public-application-header,
  wf1-application-header{
    display: none !important;
  }

  #core-interface-container .mat-header-cell,
  .review-item .mat-expansion-panel-content .fixed-table-layout td,
  mat-expansion-panel .review-item-header .review-item-status,
  mat-expansion-panel .review-item-header mat-panel-description.mat-expansion-panel-header-description{
    font-size: 10px !important;
  }

  .cdk-overlay-pane{
    display: none;
  }

  //mat-expansion-panel{
  //  page-break-inside: avoid;
  //}
}

.float-right{
  float: right;
}

.padding-right{
  padding-right: 16px;
}

.wfone-base-container .table-wrapper .options-bar-header{
  >div.label{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
  }
  select,
  input {
    border-radius: 5px;
    border: solid 1px grey;
  }

  >div{
    padding: 0 10px;
    display: inline-block;

    .select{
      width: auto;

      .select-value{
        min-width: 150px;
      }
    }

  }
}
.display-columns-selector.select-panel{
  max-height: unset;

  .option{
    height: 30px;
    font-family: $font-family-main;
    font-size: $font-size;
    padding: 10px;
  }

  button{
    margin: 10px;
    padding: 10px;
    font-family: $font-family-main;
    font-size: $font-size;
    border-radius: 5px;
    border: solid 1px grey;
    background-color: $colour-lighter-grey;
  }
}

.mat-accordion {
  &>wfone-base-expansion-panel .mat-expansion-panel-spacing:last-child,
  &>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: var(--wf1-gutter-space) !important;
  }

  mat-expansion-panel:not(.mat-expanded),
  mat-expansion-panel.mat-expansion-panel-spacing {
    margin: var(--wf1-gutter-space) var(--wf1-gutter-space);

    .mat-expansion-panel-header {
      padding-left: var(--wf1-gutter-space);
      padding-right: var(--wf1-gutter-space);
      height: unset !important;
      min-height: 50px !important;
      border-bottom: 1px solid $colour-light-grey;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-family: $font-family-main;

      .expansion-header{
        align-items: center;
        padding: 5px 0;
      }

      mat-panel-description{
        flex-grow: unset;
        margin-right: 5px;
        margin-left: -5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &[aria-disabled=true]{
        color: unset;
      }

      h1{
        padding: 0;
        margin: 0;
      }

    }

    .mat-expansion-panel-content{
      font-family: $font-family-main;
      .mat-expansion-panel-body{
        padding: 0;
      }
    }

    .wf1-expansion-panel-body {
      padding: 0 var(--wf1-gutter-space) var(--wf1-gutter-space);
      font-size: $font-size;
      font-family: $font-family-main;

      .expansion-header-sub{
        display: flex;
        justify-content: flex-end;

        h3{
          margin-bottom: 0;
        }
      }

      .table-wrapper{
        margin: var(--wf1-gutter-space) 0;
        width: 100%;
      }

      .summary-card{
        margin: var(--wf1-gutter-space) 0 0 0;
      }

      mat-card.mat-card.wf1-vendor-portal-header-bar {
        padding: 0;
      }

      mat-expansion-panel.mat-expansion-panel-spacing{
        margin: var(--wf1-gutter-space) 0 0 0;
      }

      .card-wrapper{
        margin: 0;
      }
    }

    .mat-tab-body{
      .table-wrapper{
        margin: var(--wf1-gutter-space);
        width: calc(100% - 2*var(--wf1-gutter-space));
      }
    }

    .mat-action-row {
      border-bottom: 1px solid $colour-lighter-grey;
      padding: var(--wf1-gutter-space);
      background-color: $colour-lighter-grey;
    }


  }

  .mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: var(--wf1-gutter-space);
  }
}

.smk-popup {
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  padding-bottom: 10px;
}

.popup-header {
  border-bottom: 1px solid #1a5a96;
  color: #1a5a96;
  font-weight: 700;
  font-size: 14px;
  padding: 5px;
}

.popup-title {
  color: black;
  font-size: 16px;
  padding: 5px;
}

.title-label {
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
}

.popup-attributes {
  display: flex;
  padding-left: 5px;

  .label {
    margin-right: auto;
    font-size: 11px;
    color: #71757C;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 40%;
  }
  .attribute {
    margin-left: auto;
    font-size: 14px;
    color: black;
    width: 60%;
  }
  .attribute-red {
    color: #B60000;
  }
}

.popup-button-container {
  margin-top: 10px;
  margin-left: 5px;
}

.popup-button {
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #1e5d98;
  border-radius: 5px;
  color: #1e5d98;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.popup-button:hover {
  border: 1px solid #1e5d98;
  background-color: #e0e0e0;
}

.smk-position {
  white-space: nowrap;
  display: inline-block;
  font-weight: 700;
  margin: 0 5px;
  font-size: 14px;
}

.mat-dialog-container {
  padding: 0px 0px 24px 0px !important;
  overflow: hidden !important;
}

.dialog-container {
  h1 {
    background-color: #003366;
    color: white;
    padding: 10px;
    font-size: 20px;
  }
  .dialog-content {
    color: black;
    background-color: white;
    padding: 0px 32px 0px 32px;
  }
  .dialog-actions {
    background-color: #eeeeee;
    flex-flow: row-reverse;
    button {
      margin-right: 7px;
    }
  }
}

.lg-fullscreen:after {
  content: "\e20c";
}

.property-list {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  min-height: inherit;
  max-height: inherit;
  background: #fff;
  color: rgba(0,0,0,.87);
}

.lg-toolbar .lg-icon {
  color: #fff!important;
  font-size: 36px !important;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color:white !important;
  border-radius: 4px !important;
  border: 2px solid #fff !important;
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.lg-outer .lg-thumb-item {
  border-radius: 0 !important;
  border: 0 !important;
}

.property-list h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-list h2 .close-button {
  cursor: pointer;
}



@media (min-width: 768px)and (max-width: 1023px) {
  wf-menu-bar{
    .nav-items .nav-item{
      border: none!important;
    }

    .nav-items .nav-item span{
      min-width: calc(25vw - 1px)!important
    }
    .nav-items .nav-item:not(:last-child){

      border-right: 1px solid var(--wf-menu-bar-divider-color)!important;
    }
  }
}