@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "material";
@import "variables";
@import "base";
@import "fab";
@import "component/landing-page";
@import "component/list";
@import "component/message-dialog";
@import "component/comments-table";
@import "component/side-panel";
@import "component/search-bar";
@import "component/filters";
@import "component/sort";
@import "component/unauthorized-page";
@import "smk";
@import "lightgallery/scss/lightgallery";

html {
  font-family: $font-family-main !important;
  --mdc-typography-font-family: $font-family-main;
  --mdc-typography-button-letter-spacing: 0.5px;
}

.snackbar-error {
  background-color: $colour-errors;
  color: $colour-white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  max-width: 80vw !important;
  word-break: break-word;
}

.columns-menu {
  display: flex;
  flex: 0 0 auto;
  div.mat-mdc-text-field-wrapper {
    padding-bottom: 0;
    div.mdc-line-ripple {
      display: none;
    }
    div.mat-mdc-form-text-infix {
      width: 50px;
      border-top: 0;
      padding: 0;
      mat-select,
      input {
        width: 100%;
      }
      .mat-select-arrow-wrapper {
        visibility: hidden;
      }
    }

    span {
      font-size: small;
      top: -0.35rem;
    }
  }
}

.display-columns-selector.mat-mdc-select-panel {
  max-height: unset;

  .mat-mdc-option {
    height: 22px;
    font-size: small;
    padding: 10px;
  }

  button {
    margin: 10px;
    padding: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px darkgrey;
    background-color: lightgray;
  }
}

#core-interface-container {
  font-family: $font-family-main;

  .mat-paginator-container {
    justify-content: center;
    font-size: $font-size;
  }
}

.owl-dt-popup-container {
  font-family: $font-family-main;
}

//.mat-snack-bar-container{
//  position: relative;
//  top: 60px;
//}

// .snackbar-error {
//   background-color: rgba(246, 189, 189, 1);
//   color: $colour-black;
//   position: inherit;

//   .mat-simple-snackbar{
//     font-family: $font-family-main;
//     font-size: 13px;
//   }
//   .mat-simple-snackbar-action{
//     color: $colour-errors;
//   }
// }

.snackbar-warning {
  background-color: rgba(244, 230, 195, 1);
  color: $colour-black;
  position: inherit;
  .mat-mdc-simple-snack-bar {
    font-family: $font-family-main;
    font-size: 13px;
  }
  .mat-mdc-snack-bar-action {
    color: #f1780e;
  }
}

.snackbar-success {
  background-color: #2e703e;
  color: $colour-white;
  position: inherit;
  .mat-mdc-simple-snack-bar {
    font-family: $font-family-main;
    font-size: 13px;
  }
  .mat-button-wrapper {
    color: $colour-white;
  }
}

.snackbar-success-v2 {
  background-color: $colour-success;
  color: $colour-white;
  position: inherit;
  padding: 8px 6px !important;
  .mat-mdc-simple-snack-bar {
    font-family: $font-family-main;
    font-size: 13px;
  }
  .mat-button-wrapper {
    color: $colour-white;
  }
  .mat-mdc-snack-bar-action {
    border: 1px solid white;
    border-radius: 5px;
  }
}

.snackbar-success-v2:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 60px;
  background-color: white;
  top: 0;
  left: -55px;
  color: #2e7940;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --%3E%3Cpath d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z' fill='%232e7940'/%3E%3C/svg%3E");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.snackbar-info {
  background-color: $colour-info-grey;
  color: $colour-white;
  position: inherit;
  padding: 8px 6px !important;
  .mat-mdc-simple-snack-bar {
    font-family: $font-family-main;
    font-size: 13px;
  }
  .mat-button-wrapper {
    color: $colour-white;
  }
  .mat-mdc-snack-bar-action {
    border: 1px solid white;
    border-radius: 5px;
  }
}

.snackbar-info:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 60px;
  background-color: white;
  top: 0;
  left: -55px;
  color: $colour-info-grey;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%2337464F'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'/%3E%3C/svg%3E");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.full-snack-bar-online {
  //width: 100%;
  //background-color: rgba(149, 206, 170, 1);
  //color: $colour-black;
  //max-width: calc(var(--vw, 1vw) * 80) !important;
  //word-break: break-word;
  //
  //.mat-simple-snackbar{
  //  font-family: $font-family-main;
  //  font-size: 13px;
  //}
  .mat-mdc-snack-bar-action {
    color: #acdbac;
  }
}

.full-snack-bar-offline {
  background-color: $colour-errors;
  color: $colour-white;
  font-family: $font-family-main;
  font-size: 13px;
  max-width: calc(var(--vw, 1vw) * 80) !important;
  word-break: break-word;
}

//.mat-tab-body{
//  position: relative !important;
//  overflow-x: hidden !important;
//  overflow-y: auto !important;
//  z-index: 1 !important;
//  flex-grow: 1 !important;
//}

@media print {
  mat-table,
  tr,
  mat-sidenav-content {
    width: 750px !important;
  }
  mat-table {
    display: block;
  }

  .mat-mdc-table .mat-mdc-cell,
  .mat-table .mat-mdc-header-cell {
    padding: 0 !important;
  }

  .nav-menu-button fa-icon,
  mat-tab-header,
  .review-item-header .header-icons,
  td.select-cell,
  .bottom-toolbar,
  wf1-search-bar,
  wf1-filters,
  wf1-public-application-header,
  wf1-application-header {
    display: none !important;
  }

  #core-interface-container .mat-mdc-header-cell,
  .review-item .mat-expansion-panel-content .fixed-table-layout td,
  mat-expansion-panel .review-item-header .review-item-status,
  mat-expansion-panel
    .review-item-header
    mat-panel-description.mat-expansion-panel-header-description {
    font-size: 10px !important;
  }

  .cdk-overlay-pane {
    display: none;
  }

  //mat-expansion-panel{
  //  page-break-inside: avoid;
  //}
}

.float-right {
  float: right;
}

.padding-right {
  padding-right: 16px;
}

.wfone-base-container .table-wrapper .options-bar-header {
  > div.label {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
  }
  select,
  input {
    border-radius: 5px;
    border: solid 1px grey;
  }

  > div {
    padding: 0 10px;
    display: inline-block;

    .select {
      width: auto;

      .select-value {
        min-width: 150px;
      }
    }
  }
}
.display-columns-selector.select-panel {
  max-height: unset;

  .option {
    height: 30px;
    font-family: $font-family-main;
    font-size: $font-size;
    padding: 10px;
  }

  button {
    margin: 10px;
    padding: 10px;
    font-family: $font-family-main;
    font-size: $font-size;
    border-radius: 5px;
    border: solid 1px grey;
    background-color: $colour-lighter-grey;
  }
}

.mat-accordion {
  & > wfone-base-expansion-panel .mat-expansion-panel-spacing:last-child,
  & > *:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: var(--wf1-gutter-space) !important;
  }

  mat-expansion-panel:not(.mat-expanded),
  mat-expansion-panel.mat-expansion-panel-spacing {
    margin: var(--wf1-gutter-space) var(--wf1-gutter-space);

    .mat-expansion-panel-header {
      padding-left: var(--wf1-gutter-space);
      padding-right: var(--wf1-gutter-space);
      height: unset !important;
      min-height: 50px !important;
      border-bottom: 1px solid $colour-light-grey;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-family: $font-family-main;

      .expansion-header {
        align-items: center;
        padding: 5px 0;
      }

      mat-panel-description {
        flex-grow: unset;
        margin-right: 5px;
        margin-left: -5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &[aria-disabled="true"] {
        color: unset;
      }

      h1 {
        padding: 0;
        margin: 0;
      }
    }

    .mat-expansion-panel-content {
      font-family: $font-family-main;
      .mat-expansion-panel-body {
        padding: 0;
      }
    }

    .wf1-expansion-panel-body {
      padding: 0 var(--wf1-gutter-space) var(--wf1-gutter-space);
      font-size: $font-size;
      font-family: $font-family-main;

      .expansion-header-sub {
        display: flex;
        justify-content: flex-end;

        h3 {
          margin-bottom: 0;
        }
      }

      .table-wrapper {
        margin: var(--wf1-gutter-space) 0;
        width: 100%;
      }

      .summary-card {
        margin: var(--wf1-gutter-space) 0 0 0;
      }
      mat-card.mat-mdc-card.wf1-vendor-portal-header-bar {
        padding: 0;
      }

      mat-expansion-panel.mat-expansion-panel-spacing {
        margin: var(--wf1-gutter-space) 0 0 0;
      }

      .card-wrapper {
        margin: 0;
      }
    }

    .mat-mdc-tab-body {
      .table-wrapper {
        margin: var(--wf1-gutter-space);
        width: calc(100% - 2 * var(--wf1-gutter-space));
      }
    }

    .mat-action-row {
      border-bottom: 1px solid $colour-lighter-grey;
      padding: var(--wf1-gutter-space);
      background-color: $colour-lighter-grey;
    }
  }

  .mat-expansion-panel-spacing:last-child,
  .mat-accordion
    > *:last-child:not(.mat-expansion-panel)
    .mat-expansion-panel-spacing {
    margin-bottom: var(--wf1-gutter-space);
  }
}

.smk-popup {
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  padding-bottom: 10px;
}

.popup-header {
  border-bottom: 1px solid #1a5a96;
  color: #1a5a96;
  font-weight: 700;
  font-size: 14px;
  padding: 5px;
}

.popup-title {
  color: black;
  font-size: 16px;
  padding: 5px;
}

.title-label {
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
}

.popup-attributes {
  display: flex;
  padding-left: 5px;

  .label {
    margin-right: auto;
    font-size: 11px;
    color: #71757c;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 40%;
  }
  .attribute {
    margin-left: auto;
    font-size: 14px;
    color: black;
    width: 60%;
  }
  .attribute-red {
    color: #b60000;
  }
}

.popup-button-container {
  margin-top: 10px;
  margin-left: 5px;
}

.popup-button {
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #1e5d98;
  border-radius: 5px;
  color: #1e5d98;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

.popup-button:hover {
  border: 1px solid #1e5d98;
  background-color: #e0e0e0;
}

.smk-position {
  white-space: nowrap;
  display: inline-block;
  font-weight: 700;
  margin: 0 5px;
  font-size: 14px;
}

.mat-mdc-dialog-container {
  // height: 70vh !important;
  padding: 0 !important;
  overflow: auto !important;

  .mdc-dialog__surface {
    overflow: hidden;
  }
}

.dialog-container {
  h1 {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif !important;
    font-weight: 100 !important;
    background-color: #003366;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin: 0;
  }
  .dialog-content {
    color: black !important;
    background-color: white;
  }
  .dialog-actions {
    background-color: #eeeeee;
    flex-flow: row-reverse;
    justify-content: flex-start;
    button {
      margin-right: 7px;
    }
  }
  .dialog-content {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif !important;
  }
}

.lg-fullscreen:after {
  content: "\e20c";
}

.property-list {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  min-height: inherit;
  max-height: inherit;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
}

.lg-toolbar .lg-icon {
  color: #fff !important;
  font-size: 36px !important;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  border-color: white !important;
  border-radius: 4px !important;
  border: 2px solid #fff !important;
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.lg-outer .lg-thumb-item {
  border-radius: 0 !important;
  border: 0 !important;
}

.property-list h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-list h2 .close-button {
  cursor: pointer;
}

wf-admin-incident-desktop {
  height: auto !important;
}

.preview-warning {
  font-size: 10px;
  color: red;
  font-weight: 400;
}

.contact-us-dialog {
  display: block;
  overflow: hidden;
  border-radius: 20px !important;
  font-family: "Noto Sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
}

.mat-mdc-slide-toggle {
  .mdc-form-field {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif !important;
    font-size: 17px;
  }
}
.mdc-radio {
  padding: 0 !important;
}

.mdc-form-field {
  label {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif !important;
    padding-left: 8px !important;
  }
}

.mdc-checkbox {
  padding: 0 !important;
  .mdc-checkbox__background {
    position: sticky;
  }
  .mdc-checkbox__checkmark-path {
    color: white;
  }
  .mdc-checkbox__background {
    border: 1px solid #a7a9ac !important;
  }
}

mat-snack-bar-container {
  height: 100%;
  @media (max-width: $mobile-max-width) {
    margin-bottom: calc(12vh + env(safe-area-inset-bottom, 20px)) !important;
  }
  .mdc-snackbar__surface {
    box-shadow: none !important;
    .mat-mdc-snack-bar-label {
      font-size: 13px !important;
      font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif !important;
      color: white !important;
    }
    .mdc-button__label {
      color: white !important;
    }
  }
}

.mdc-button {
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit !important;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: #036 !important;
  opacity: 0.6;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  opacity: 1;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

::-webkit-scrollbar {
  @media (max-width: $mobile-max-width) {
    display: none; // Safari and Chrome
  }
}
