<div class="panel-header">Fire Danger</div>
<section>
    <h1>LEGEND & DEFINITIONS</h1>
    <article>
      <h2 class="red">Extreme</h2>
      <p class="paragraph-format">
        Extremely dry forest fuels and the fire risk is very serious. New fires will start easily, spread rapidly, and challenge fire suppression efforts. General forest activities may be restricted, including open burning, industrial activities and campfires
      </p>
      <h2 class="orange">High</h2>
      <p class="paragraph-format">
        Forest Fuels are very dry and the fire risk is serious. New fires may start easily, burn vigorously, and challenge fire suppression efforts. Extreme caution must be used in any forest activities. Open burning and industrial activities may be restricted.
      </p>
      <h2 class="yellow">Moderate</h2>
      <p class="paragraph-format">
        Forest fuels are drying and there is an increased risk of surface fires starting. Carry out any forest activities with caution.
      </p>
      <h2 class="green">Low</h2>
      <p class="paragraph-format">
        Fires may start easily and spread quickly but there will be minimal involvement of deeper fuel layers or larger fuels.
      </p>
      <h2 class="blue">Very Low</h2>
      <p class="paragraph-format">
        Dry forest fuels are at a very low risk of catching fire.
      </p>
    </article>
</section>
<section>
    <h1>MORE INFORMATION</h1>
    <article>
        <p><a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-situation/fire-danger " target="_blank" rel="noopener">Learn more about Fire Danger Rating</a></p>
    </article>
</section>
