<header-text-card title="Industrial Activities">
  <p>The fire danger rating map is intended for general public information only. For regulated forest operations, the danger class value must be derived from weather data representative of the site on which operations are being conducted.</p>
  <p>Where discrepancies exist between the colour display on the weather maps and the numerical values posted for the weather stations, the posted numerical values shall take precedence for the purpose of implementing the Wildfire Regulation.</p>
</header-text-card>