<div class="content-panel-stack" *ngIf="displayImages && displayImages.length; else showDisclaimer">
  <div class="media" *ngFor="let item of displayImages">
    <image-panel [item]="item" [settings]="settings" [onBeforeSlide]="onBeforeSlide" [onInit]="onInit" [i]="i"></image-panel>
  </div>
  <div #loadMoreButton class="load-more-row" *ngIf="displayLoadMoreImages">
    <button mat-button class="load-more-button"(click)="loadMoreImages(loadMoreButton)">Load More</button>
  </div>
</div>
<ng-template class="disclaimer" #showDisclaimer>
  <div class="disclaimer" *ngIf="!isPreview">There are currently no images associated with this incident.</div>
</ng-template>
