.title-row {
  width: 100%;
  height: 24px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-weight: 500;
  color: #333333;
  text-align: left;
  line-height: 24px;
}

.date-row {
  height: 24px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  color: #6e6e6e;
  text-align: left;
  line-height: 24px;
}

.media {
  padding-bottom: 20px;
  padding-top: 20px;
}

.load-more-row {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  margin-bottom: 96px;
  .load-more-button {
    border-radius: 8px;
    border: 1px solid #6e6e6e;
    background-color: #fdfdfd;
    width: 100%;
  }
}

.disclaimer {
  margin-top: 20px;
}
