@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css");
@import url("https://www.lightgalleryjs.com/css/lightgallery-bundle.css");
@import "lightgallery/scss/lightgallery";

:host { display: block; }

.media-gallery-container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;

    .title {
      color: var(--Black-24, #242424);

      /* 22 SB */
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 33px; /* 150% */
    }
  }

  .no-media {
    color: var(--Grey-5B, #5B5B5B);

    /* Body 1 */
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 40px;
  }

}

.load-more {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 377px;
  margin: 0 auto;
}