<div class="media-gallery-container">
  <div class="header">
    <div class="title">Image/Video Gallery</div>
    <wfnews-select [options]="options" (selectedValueChange)="filterApplied($event)"></wfnews-select>
  </div>
  <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" [onInit]="onInit"
    class="gallery-container">
    <div class="gallery">
      <media-gallery-item *ngFor="let item of items" [item]="item"></media-gallery-item>
    </div>
  </lightgallery>
</div>
<div class="load-more">
  <wfnews-button label="Load More" [isVisible]="isLoadMoreVisible" (buttonClicked)="loadMore()"></wfnews-button>
</div>