<base-wrapper [errorState]="errorState" [toolbarIsVisible]="true" [backRoute]="backRoute" [backRouteLabel]="backRouteLabel" [title]="title">
    <div class="page-width-container wfone-public-mobile-notifications standard-content" [ngClass]="elevation">
        <div class="title-bar-wrapper" *ngIf="!getIsMobileRes()">
            <div class="title-bar">
                <div class="left">
                    <button *ngIf="getIsMobileRes() && backRoute" type="button" name="back button" (click)="navigateToBackRoute()" class="nav-menu-button">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="middle">
                    <div *ngIf="title" class="title">{{title}}</div>
                    <div *ngIf="summaryString" class="summary">{{summaryString}}</div>
                </div>
            </div>
        </div>
        <div class="non-map-component-wrapper">
            <div class = "notificationBlock" [ngClass]="getIsMobileRes()?'height-without-public-header':''">
                <div class = "blockRows">
                    <span class = "blockHeader">
                        <a [routerLink]="latestNewsLink">Latest News</a>
                        Notifications
                    </span>
                    <!-- <span class = "blockDesc">You will be notified when BCWS publishes general wildfire information</span> -->
                </div>
                <!-- <div title="Latest News Notifications">
                    <mat-slide-toggle
                        id="accessFocusPoint"
                        #accessFocusPoint
                        _ng-notification-toggle
                        [color]="color"
                        [checked]= "latestNewsToggle"
                        (change)="settingsToggle($event)"
                    >
                        <span hidden>Latest News Notification Toggle</span>
                    </mat-slide-toggle>
                </div> -->
            </div>
        </div>
    </div>
    <div class="page-width-container wfone-public-mobile-notifications standard-content" [ngClass]="elevation">
        <div #notificationList>
            <div class="notificationBlock">
                <div class="blockRowsPadded">
                    <span class="blockHeader">Near Me Notifications</span>
                    <span class="blockDesc">Receive a message when there is activity within the desired radius of your saved locations</span>
                </div>
                <div class="nearMeTitle" title="Near Me Notifications">
                    <mat-slide-toggle _ng-notification-toggle id="nearMeToggle"
                        [color]="color"
                        [checked] = "nearMeToggle == null ? false : nearMeToggle"
                        (change)="onChangeNearMeToggle($event)"
                        [disabled] = "saving || nearMeToggle == null"
                    >
                        <span hidden>Near Me Notification Toggle</span>
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="notificationDetails">
        <div class="page-width-container wfone-public-mobile-notifications standard-content" [ngClass]="elevation" *ngFor="let item of notificationDetails; index as ind">
            <div *ngIf="item.type == 'nearme'" class="nearMeLandmarkBlock">
                <div [ngClass]="nearMeToggle?'settingsTitleEnabled':'settingsTitleDisabled'">
                    <div class="infoBar">
                        <mat-icon _ng-notify-icon class="color-sidenav-icon">{{'notifications'}}</mat-icon>
                        <div class="infoBlock">
                            <span class="infoName">{{item.name}}</span>
                            <div class="infoCoords">Location: {{getFormattedCoords(item.locationCoords)}}</div>
                        </div>
                    </div>
                    <div class="infoBlock">
                        <span class="infoRadius">Radius: {{item.radius}}km</span>
                        <div class="infoTypes">Types: All</div>
                    </div>
                </div>

                <div class="map-container">
                    <wf-map-container [mapConfig]="getMapConfig(item) | async" (mapInitialized)="initMap(item,$event)"></wf-map-container>
                    <div class="mask"></div>
                </div>

                <div class="buttonBlock">
                    <div class="editButton"><a href="javascript:void(0);" (click)="editOrAddLandmarkDetail(ind)"> Edit</a> </div>
                    <div class="deleteButton">
                        <a href="javascript:void(0);" (click)= "deleteLandmark(ind)"> Delete </a> </div>
                </div>
            </div>
        </div>
    </ng-container>

    <div class="page-width-container wfone-public-mobile-notifications standard-content" [ngClass]="elevation" *ngIf="canAddNotification">
        <div *ngIf="notificationDetails.length == 0" class="emptyNoticationContainer">
            <div class="emptyNotificationBlock" >
                <span class="emptyBlockText">You currently have no saved locations.</span>
                <span class="emptyBlockText">Press "Add Location" to create a new Location</span>
            </div>
        </div>

        <div class="addLocationButton">
            <button (click)="editOrAddLandmarkDetail('100')" class="addButton">
                Add Location
            </button>
        </div>
    </div>

</base-wrapper>