@import "../../../../styles/variables";
@import "notosans-fontface/scss/notosans-fontface";

.report-panel {
  margin: 10px;
  padding: 10px;
  background-color: #fdfdfd;
  min-height: 300px;
}

.counts-panel {
  display: flex;
  flex-wrap: wrap;
}

.half-size {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.button-bar {
  width: 100%;
  display: flex;
  flex-flow: row-reverse;
}

.publish-btn {
  margin: 15px 15px 5px 15px;
}

::ng-deep .mdc-snackbar__surface{
  background-color: transparent !important;
}
