<mat-list-item class="list-item" *ngIf="config">
    <div class="list-item-icon-section"
        (mouseover)="handleMouseEvent(internalConfig.location)"
        (mouseout)="handleMouseEvent()"
        (click)="handleClick()"
    >
        <div class="list-item-icon">
            <wf1-application-icon
                [iconType]="internalConfig.icon.type"
                [iconSize]="internalConfig.icon.size"
                [colourCode]="internalConfig.icon.colourCode"
                [isBlinking]="internalConfig.icon.isBlinking"
                [isCancelled]="internalConfig.icon.isCancelled"
                [isAssignedToIncident]="internalConfig.icon.isAssignedToIncident"
            ></wf1-application-icon>
        </div>
        <div *ngIf="internalConfig.time" class="list-item-date">{{internalConfig.time | amDateFormat: 'YYYY-MM-DD'}}</div>
        <div *ngIf="internalConfig.time" class="list-item-time">{{internalConfig.time | amDateFormat: 'HH:mm:ss'}}</div>
    </div>

    <div class="list-item-data-section">
        <div class="list-item-title-section">
            <span class="list-item-title"
                (mouseover)="handleMouseEvent(internalConfig)"
                (mouseout)="handleMouseEvent()"
                (click)="handleClick()"
            >{{internalConfig.title}}</span>
            <span class="list-item-title-level-info"
                (mouseover)="handleMouseEvent(internalConfig)"
                (mouseout)="handleMouseEvent()"
                (click)="handleClick()"
            >
                <span class="list-item-info {{internalConfig.titleLevelInfo.fullWidth?'list-item-info-full-width':''}}">
                    <span class="list-item-info-label">{{internalConfig.titleLevelInfo.label}}:</span>
                    <span class="list-item-info-value {{internalConfig.titleLevelInfo.emphasis?'list-item-info-value-emphasis':''}}"><strong>{{internalConfig.titleLevelInfo.value}}</strong></span>
                </span>
            </span>
        </div>

        <ng-container *ngFor="let row of internalConfig.infoRows">
            <div class="list-item-info-row"
                (mouseover)="handleMouseEvent(internalConfig.location)"
                (mouseout)="handleMouseEvent()"
                (click)="handleClick()"
            >
                <ng-container *ngFor="let column of row">
                    <span class="list-item-info {{column.fullWidth?'list-item-info-full-width':''}}" *ngIf="column">
                        <span class="list-item-info-label">{{column.label}}:</span>
                        <span class="list-item-info-value {{column.emphasis?'list-item-info-value-emphasis':''}}"><strong>{{column.value}}</strong></span>
                    </span>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <div class="indicator-section">
        <button *ngIf="internalConfig.location || internalConfig.geometry" mat-button
            (click)="zoomToPlace(internalConfig)"
            matTooltip="Locate on Map"
            [matTooltipShowDelay]="TOOLTIP_DELAY"
        >
            <mat-icon>place</mat-icon>
        </button>

        <div class="indicator" *ngIf="internalConfig.hasAttachments"
            matTooltip="This item has attachments"
            [matTooltipShowDelay]="TOOLTIP_DELAY"
        >
            <mat-icon>camera</mat-icon>
        </div>
    </div>
</mat-list-item>