<div class="legend-panel">
  <div class="legend-panel-title">Protected Lands Access Restrictions</div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="20" class="legend-accordion-icon" src="/assets/images/svg-icons/pl-full-closure-legend.svg" >
      Full Closure
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="20" class="legend-accordion-icon" src="/assets/images/svg-icons/pl-partial-closure-legend.svg" >
      Partial Closure
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="20" class="legend-accordion-icon" src="/assets/images/svg-icons/pl-public-closed-legend.svg" >
      Closed to Public
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Inaccessible" class="legend-accordion-icon" src="/assets/images/svg-icons/pl-inaccesible-legend.svg" >
      Inaccessible
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Restricted" class="legend-accordion-icon" src="/assets/images/svg-icons/pl-restricted-legend.svg" >
      Restricted
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Warning" class="legend-accordion-icon" src="/assets/images/svg-icons/pl-warning-legend.svg" >
      Warning
    </div>
  </div>
</div>

