<ng-container class="wfone-base-container">
    <div class="header-panel">
      <span style="font-size: 24px;">Videos</span>
      <wfnews-button variant="primary" label="Add Video" (buttonClicked)="upload()"></wfnews-button>
    </div>
    <div class="video-gallery">
      <video-card-panel *ngFor="let video of externalUriList.collection" [video]="video" [incident]="incident" (loadPage)="loadPage()" (removePrimaryFlags)="removePrimaryFlags($event)"></video-card-panel>
    </div>
  </ng-container>
