.header-panel {
  padding: 10px;
  display: flex;
}

.primary-button {
  margin-left: auto;
  background: #003366;
  color: white;
}

.image-gallery {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
