<div class="panel">
    <div class="header-row">
      <h4>Image/Video Gallery</h4>
    </div>
    <div class="content-panel">
        <div class="media-types">
            <div>Media Type</div>
            <mat-select appWFSingleSelect appWFPlaceholder="Select..."
                        aria-label="Type" [options]="mediaTypeOptions"
                        [value]="currentMediaType"
                        style="border: 1px solid;border-radius: 4px;width: 10%;border-color: gray;">
                <mat-option value="">
                    <span class="placeholder">Select...</span>
                </mat-option>
                <mat-option *ngFor = "let mediaType of mediaTypeOptions" value="{{mediaType}}">
                    <span>{{mediaType}}</span>
                </mat-option>
            </mat-select>
        </div>
        <div class="content-panel-stack">
            <div *ngFor="let item of imagesAndVideosStub">
                <div class="image-video-container">
                    <div class="image-video-details">
                        <div style="padding-bottom: 5px;">{{item.title}}</div>
                        <div style="font-size:14px">
                            <div style="padding-bottom: 5px;">
                                Date Uploaded: <span style="font-weight: 700;">{{item.uploadedDate}}</span>
                            </div>
                            <div>
                                Filename: <span style="font-weight: 700;">{{item.fileName}}</span>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <img class="incident-image" src="{{item.href}}" />
                    </div>
                </div>
            </div>
            <iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
  frameborder="0"></iframe>
        </div>
      </div>
</div>