<div class="panel">
    <div class="header-row">
      <h4>Image/Video Gallery</h4>
    </div>
    <div class="content-panel">
        <div class="media-types">
            <div>Media Type</div>
            <mat-select appWFSingleSelect appWFPlaceholder="Select..."
                        aria-label="Type" [options]="mediaTypeOptions"
                        [value]="currentMediaType"
                        style="border: 1px solid;border-radius: 4px;width: 10%;border-color: gray;padding-left: 10px; margin: 10px 0 10px 0;">
                <mat-option value="">
                    <span class="placeholder">Select...</span>
                </mat-option>
                <mat-option *ngFor = "let mediaType of mediaTypeOptions" value="{{mediaType}}">
                    <span>{{mediaType}}</span>
                </mat-option>
            </mat-select>
        </div>
            <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="content-panel-stack">
                <a *ngFor="let item of imagesAndVideosStub"
                    [attr.data-src]="item.href"
                    [attr.data-responsive]="item.href"
                    data-lg-size="376-383"
                    class="gallery-item">
                    <div class="image-video-container">
                        <div class="image-video-details">
                            <div style="padding-bottom: 5px;">{{item.title}}</div>
                            <div style="font-size:14px">
                                <div style="padding-bottom: 5px;">
                                    Date Uploaded: <span style="font-weight: 700;">{{item.uploadedDate}}</span>
                                </div>
                                <div>
                                    Filename: <span style="font-weight: 700;">{{item.fileName}}</span>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <img *ngIf="item.type=='image'" class="incident-image img-responsive" src="{{item.href}}" />
                            <iframe *ngIf="item.type=='video'" id="player" type="text/html" width="640" height="270" [src]="item.href | safe" frameborder="0"></iframe>
                        </div>
                    </div>
                </a>     
            </lightgallery>
      </div>
</div>