<div class="panel">
    <div class="header-row">
      <h4>Image/Video Gallery
          <div *ngIf="showImageWarning" class="preview-warning">Warning: Uploaded Images or Videos cannot be previewed</div>
      </h4>
    </div>
    <div class="content-panel">
      <div *ngIf="videos && videos.length || images && images.length; else showDisclaimer">
          <div class="media-types">
              <div>Media Type</div>
              <mat-select appWFSingleSelect appWFPlaceholder="Select..."
                          aria-label="Type" [options]="mediaTypeOptions"
                          [value]="currentMediaType"
                          (valueChange)="onMediaTypeFilterChanged($event)"
                          class="media-selector">
                  <mat-option value="">
                      <span class="placeholder">Select...</span>
                  </mat-option>
                  <mat-option *ngFor = "let mediaType of mediaTypeOptions" value="{{mediaType}}">
                      <span>{{mediaType}}</span>
                  </mat-option>
              </mat-select>
          </div>
          <div>
            <lightgallery *ngIf="showImages" [settings]="settings" [onBeforeSlide]="onBeforeSlide" [onInit]="onInit" class="gallery-container">
              <a *ngFor="let item of images; let i = index"
                  [attr.data-index]="i"
                  data-lg-size="480-475-480, 800-791-800, 1406-1390"
                  class="gallery-item"
                  [href]="item.href"
                  [data-src]="item.href"
                  [data-responsive]="item.href + ' 800'"
                  style="padding: 5px;">
                  <img [id]="i + '-img-thumb'" width="150" alt="Image" class="img-responsive" [src]="item.thumbnail" (error)="handleImageFallback(item, i)"/>
              </a>
            </lightgallery>

            <div *ngIf="showVideos">
                <youtube-player *ngFor="let item of videos"
                    style="padding: 5px;"
                    videoId={{convertToYoutubeId(item.href)}}
                    suggestedQuality="highres"
                    [startSeconds]="1"
                    [endSeconds]="20"
                    [height]="250"
                    [width]="400">
                </youtube-player>
            </div>
          </div>
        </div>
      <ng-template #showDisclaimer>
        <div *ngIf="!isPreview">There are currently no images or videos associated with this incident</div>
      </ng-template>
    </div>
</div>
