@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
@import url('https://www.lightgalleryjs.com/css/lightgallery-bundle.css');
@import '~lightgallery/scss/lightgallery';
:host {
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  }



  .panel {
    background-color: white;
    padding: 22px;
    .header-row {
      display: flex;
      flex-direction: row;
      height: 35px;
      .header-button-container {
        margin-left: auto;
        color: #0e5fa9;
        font-size: 15px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        .button {
          color: #0e5fa9;
          margin-top: 5px;
          padding-right: 7px;
          font-size: 22px;
          cursor: pointer;
        }
        .icon {
          position: relative;
          top: 5px;
          height: 20px;
          padding-right: 10px;
          .facebook {
            color: #3b5998;
          }
          .twitter {
            color: #1da1f2;
          }
        }
      }
    }
    h4 {
      margin-top: 0px;
      font-size: 1.87rem;
      color: black;
      font-weight: 700;
    }
    .content-panel {
      padding-top: 30px;
      border-bottom: 1px lightgray solid;
      .media-types {
        padding-top:15px;
        .media-selector {
          border: 1px solid;
          border-radius: 4px;
          width: 10%;
          border-color: gray;
          padding-left: 10px;
          margin: 10px 0 10px 0;
        }
      }
      h1 {
        font-size: 1.6rem;
        font-weight: 400;
        color: #003366;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: 700;
      }
      ::ng-deep .mat-select-trigger {
        height: 35px !important;
      }
      .content-panel-stack {
        display: grid;
        grid-template-columns: repeat(3, 380px);
        flex-direction: row;
        flex-wrap: wrap;
        .image-video-container {
            border: 2px solid;
            border-color: #e7e7e7;
            border-radius: 6px;
            margin: 20px 20px 20px 0;
            max-width: 470px;
            height: 348px;
            .image-video-details {
                padding: 5%;
                color:#37464F;
            }
            .incident-image{
                width: 100%;
                object-fit: cover;
            }
        }
      }
      .content-panel-stack> * {
        flex: 1 1 350px;
      }
      .content-panel-body {
        font-size: 1rem;
        font-weight: 400px;
        padding-bottom: 0.67rem;
      }
      .content-panel-subtitle {
        font-size: 1rem;
        font-weight: 700;
        padding-bottom: 0.67rem;
        color: #003366;
      }
      .content-panel-link {
        font-size: 1rem;
        font-weight: 400px;
        padding-bottom: 0.67rem;
        color: #003366;
        text-decoration: underline;
      }
    }
  }

h3 {
    margin: 0;
    display: flex;
    justify-content: space-between;
}



@media (min-width: 768px)and (max-width: 1023px) {

    .panel {
      padding: 15px;
      .content-panel {
        .content-panel-stack {
          grid-template-columns: repeat(2, 50%);
        }
     }
    }
}
@media (min-width: 1024px) {
  .panel {
    .content-panel {
      .content-panel-stack {
        grid-template-columns: repeat(2, 470px);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .panel {
    .content-panel {
      .media-types {
        .media-selector {
          width: 100% !important;
        }
      }
    }
  }
}
