<mat-toolbar class="toolbar" *ngIf="showFilter">
    <mat-toolbar-row class="filter">
        <div class="status">
            <mat-spinner [diameter]="32" *ngIf="isLoadingAttachments"></mat-spinner>
        </div>

        <mat-form-field class="filter-category">
            <mat-select placeholder="Category"
                [(ngModel)]="filterCategory"
                (ngModelChange)="onFilterChanged( $event )"
                [disabled]="isLoadingAttachments"
            >
                <mat-option selected></mat-option>
                <mat-option *ngFor="let c of photoCategories" [value]="c.code">{{ c.description }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle color="primary"
            [(ngModel)]="showArchived"
            (ngModelChange)="onFilterChanged( $event )"
            [disabled]="showPrivate"
        >
            Archived
        </mat-slide-toggle>

        <mat-slide-toggle color="primary"
            [(ngModel)]="showPrivate"
            (ngModelChange)="onFilterChanged( $event )"
            [disabled]="showArchived"
        >
            Private
        </mat-slide-toggle>

        <span class="expander"></span>

        <button mat-raised-button class="reset-filter right-side" color="primary"
            [disabled]="isLoadingAttachments"
            (click)="onFilterReset()"
        >
            <wf-icon iconName="wf/filter-cancel" iconSize="small"></wf-icon>
            Clear
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="selection">
        <ng-container *ngIf="showSelection && selectedCount > 0">
            <button mat-icon-button class="clear-selection"
                (click)="onClearSelection()"
                [disabled]="isUpdatingSelection"
            >
                <mat-icon>clear</mat-icon>
            </button>

            <span class="selected-count">{{ selectedCount }} photo{{ selectedCount > 1 ? 's' : '' }} selected</span>

            <mat-spinner [diameter]="32" *ngIf="isUpdatingSelection"></mat-spinner>

            <button mat-icon-button class="labelled right-side"
                *ngIf="!showPrivate && !showArchived"
                (click)="onArchiveSelection( true )"
                [disabled]="isUpdatingSelection"
            >
                <wf-icon iconName="wf/camera-lock" iconSize="small"></wf-icon>
                Archive
            </button>

            <button mat-icon-button class="labelled right-side"
                *ngIf="showArchived"
                (click)="onArchiveSelection( false )"
                [disabled]="isUpdatingSelection"
            >
                <wf-icon iconName="wf/camera-lock" iconSize="small"></wf-icon>
                Undo Archive
            </button>

            <button mat-icon-button class="labelled right-side"
                *ngIf="!showPrivate && !showArchived"
                (click)="onPrivateSelection( true )"
                [disabled]="isUpdatingSelection"
            >
                <mat-icon>no_photography</mat-icon>
                Private
            </button>

            <button mat-icon-button class="labelled right-side"
                *ngIf="showPrivate"
                (click)="onPrivateSelection( false )"
                [disabled]="isUpdatingSelection"
            >
                <mat-icon>no_photography</mat-icon>
                Undo Private
            </button>

            <button mat-icon-button class="labelled right-side"
                (click)="onDownloadSelection()"
                [disabled]="isUpdatingSelection"
            >
                <mat-icon>file_download</mat-icon>
                Download
            </button>
        </ng-container>

        <span class="expander"></span>

        <wfim-photo-upload class="right-side"
            [attachmentCreator]="attachmentCreator"
            (uploadFiles)="onUploadFiles( $event )"
        ></wfim-photo-upload>
    </mat-toolbar-row>
</mat-toolbar>

<div class="gallery"
    [class.loading-attachments]="isLoadingAttachments"
    [class.has-attachments]="attachmentCount > 0"
>
    <div class="status">
        {{ attachmentStatus }}
    </div>

    <lightgallery [settings]="lgSettings" [onInit]="onLgInit()" *ngIf="lgSettings">
        <ng-container *ngFor="let coll of attachmentCollections; index as i">
            <ng-container *ngFor="let att of coll.attachments; index as j">

                <ng-container *ngIf="showArchived == att.archived && att.type == 'image'">
                    <a class="image"
                        [class.selected]="att.selected"
                        [class.favourite]="att.favourite"
                        [class.collectionStart]="j == 0"
                        [class.collectionEnd]="j == coll.attachments.length -1"
                        [href]="att.fullsizeLink"
                        [attr.data-sub-html]="att.description"
                        [attr.data-download]="att.fileName"
                        [attr.data-download-url]="att.downloadLink"
                    >
                        <h4 *ngIf="j == 0">{{ coll.title }}</h4>

                        <img [src]="att.thumbnailLink"/>

                        <div class="select" (click)="onSelectPhoto( i, j, $event); false" *ngIf="showSelection">
                            <mat-icon class="unselected background">circle</mat-icon>
                            <mat-icon class="unselected">radio_button_unchecked</mat-icon>
                            <mat-icon class="selected background">circle</mat-icon>
                            <mat-icon class="selected">check_circle</mat-icon>
                        </div>

                        <div class="identifier" *ngIf="showIdentifier">{{ att.title }}</div>

                        <!-- <mat-icon class="favourite" *ngIf="att.favourite">star</mat-icon> -->
                    </a>
                </ng-container>

                <ng-container *ngIf="showArchived == att.archived && att.type == 'video'">
                    <a class="video"
                        [class.selected]="att.selected"
                        [class.favourite]="att.favourite"
                        [class.collectionStart]="j == 0"
                        [class.collectionEnd]="j == coll.attachments.length -1"
                        [attr.data-video]="att.fullsizeLink"
                        [attr.data-poster]="att.thumbnailLink"
                        [attr.data-download]="att.fileName"
                        [attr.data-download-url]="att.downloadLink"
                    >
                        <h4 *ngIf="j == 0">{{ coll.title }}</h4>

                        <img [src]="att.thumbnailLink"/>

                        <div class="select" (click)="onSelectPhoto( i, j, $event); false" *ngIf="showSelection">
                            <mat-icon class="unselected background">circle</mat-icon>
                            <mat-icon class="unselected">radio_button_unchecked</mat-icon>
                            <mat-icon class="selected background">circle</mat-icon>
                            <mat-icon class="selected">check_circle</mat-icon>
                        </div>

                        <div class="identifier" *ngIf="showIdentifier">{{ att.title }}</div>

                        <!-- <mat-icon class="favourite" *ngIf="att.favourite">star</mat-icon> -->
                    </a>
                </ng-container>

            </ng-container>
        </ng-container>
    </lightgallery>
</div>

<ng-template #propertiesContainer></ng-template>
