@import '../../../styles/variables';

mat-card.error-panel {
  font-size: 0.9rem;

  mat-card-header.warnings {
    background-color: $colour-warnings;
  }
  mat-card-header {
    background-color: $colour-errors;
    color: $colour-white;
    padding: 0.1rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    display: block;

    .mat-card-title {
      margin-bottom: 0px;
      font-size: 0.8rem;
    }

    &::ng-deep .mat-card-header-text {
      margin: 0rem 0.5rem;
    }
  }

  mat-card-content {
    padding: 0.5rem 0rem;
  }

  padding: 0px;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: $max_component-width;

  .footer {
    text-align: right;
    padding: 1rem;
  }

  .validation-messages {
    display: block;
    margin: 0;

    .info-message {
      background-color: $colour-white;
      color: $colour-green;
    }

    .warning-message {
      background-color: $colour-white;
      color: $colour-yellow;
    }

    .error-message {
      background-color: $colour-white;
      color: $colour-errors;
    }
  }

}