<ng-container [formGroup]="formGroup" class="incident-form">
  <mat-card class="info-card news-form-card">
    <fieldset class="field-set" formGroupName="contact">
      <legend style="display: none">Contact Details Card</legend>
      <div class="news-form">
          <div class="field size-third">
            <mat-form-field appearance="standard" class="item-full-width">
              <mat-label>Fire Centre</mat-label>
              <mat-select appWFSingleSelect appWFPlaceholder="Select..."
              aria-label="Type"
              formControlName="fireCentre"
              [(ngModel)]="incident.contact.fireCentre"
              [options]="fireCentreOptions"
              (valueChange)="setDefaultContactInfo($event)">
                <mat-option value="">
                  <span class="placeholder">Select...</span>
                </mat-option>
                <mat-option *ngFor = "let item of fireCentreOptions" value="{{item.code}}">
                  <span>{{item.description}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field size-third">
            <mat-form-field class="item-full-width" appearance="standard" floatLabel="always">
              <mat-label class="label required">Phone Number</mat-label>
              <input matInput type="text" [(ngModel)]="incident.contact.phoneNumber" formControlName="phoneNumber" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$">
              <mat-error *ngIf="formGroup.get('contact').get('phoneNumber').hasError('required')">
                Phone number is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="!formGroup.get('contact').get('phoneNumber').hasError('required') && formGroup.get('contact').get('phoneNumber').hasError('pattern')">
                Please enter a valid Phone Number
              </mat-error>
            </mat-form-field>
          </div>
          <div class="field size-third" >
            <mat-form-field class="item-full-width" appearance="standard" floatLabel="always">
              <mat-label class="label required">Email Address</mat-label>
              <input matInput type="text" [(ngModel)]="incident.contact.emailAddress" formControlName="emailAddress" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
              <mat-error *ngIf="formGroup.get('contact').get('emailAddress').hasError('required')">
                EMail Address is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="!formGroup.get('contact').get('emailAddress').hasError('required') && formGroup.get('contact').get('emailAddress').hasError('pattern')">
                Please enter a valid Email Address
              </mat-error>
            </mat-form-field>
          </div>
        </div>
    </fieldset>
  </mat-card>
</ng-container>
