@import '../../../../styles/variables';

.incident-info-panel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0;
}

.show-print {
  display: none !important;
}

@media print {
  :host {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  }
  app-root {
    display: block;
    width: 100%;
    height: auto;
  }

  .qr-code {
    display: block;
  }

  .show-print {
    display: block !important;
  }
  .no-print {
    display: none !important;
  }
}
