@import '../../../../styles/variables';

:host {
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
}

.spacer-bottom {
  padding-bottom: 40px;
}

.spacer-top {
  padding-top: 30px;
}

.panel {
  background-color: white;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  gap: 48px;

  .header-row {
    display: flex;
    flex-direction: row;
    height: 35px;
    .header-button-container {
      margin-left: auto;
      color: #0e5fa9;
      font-size: 15px;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      .button {
        color: #0e5fa9;
        margin-top: 5px;
        padding-right: 7px;
        font-size: 22px;
        cursor: pointer;
      }
      .print-button {
        cursor: pointer;
        margin-left: 15px;
        border-color: #1a5a96;
        border-width: 1px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        color: #1a5a96;
        span {
          padding: 0 5px;
        }
      }
      .icon {
        position: relative;
        top: 5px;
        height: 20px;
        padding-right: 10px;
        .facebook {
          color: #3b5998;
        }
        .twitter {
          color: #1da1f2;
        }
      }
    }
  }
  h4 {
    margin-top: 0px;
    font-size: 1.87rem;
    color: black;
    font-weight: 700;
  }

  .left-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
  }

  .right-container{
    flex: 1;
  }
  .content-panel {
    padding-top: 10px;
    border-bottom: 1px lightgray solid;
    h1 {
      font-size: 22px;
      font-weight: 600;
      color: var(--Black-24, #242424);
      padding-bottom: 6px;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 700;
    }
    .content-panel-stack {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
    }
    .content-panel-stack > * {
      flex: 1 1 350px;
      border-radius: 16px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
      padding: var(--24, 24px)
    }
    .content-panel-body {
      font-size: 16px;
      font-style: normal;
      line-height: 24px;
      font-weight: 400px;
      padding-bottom: 16px;
      color: #5B5B5B;
    }
    .content-panel-subtitle {
      display: flex;
      color: var(--Black-48, #484848);
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      padding-bottom: 8px;
    }
    .content-panel-link {
      font-size: 1rem;
      font-weight: 400px;
      padding-bottom: 0.67rem;
      color: #003366;
      text-decoration: none;
    }
    .learn-more-button-container {
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .learn-more-button {
      padding: 8px;
      border: 1px solid #1a5a96;
      border-radius: 5px;
      color: #1a5a96;
      font-size: 14px;
      text-decoration: none;
      transition: 0.3s;
    }
    .learn-more-button:hover {
      border: 1px solid #1e5d98;
      background-color: #e0e0e0;
    }
    .resource-panel {
      display: flex;
      flex-direction: row;
      padding-bottom: 50px;
      .resource-panel-icon {
        color: #003366;
        font-size: 1rem;
        padding-left: 7px;
        padding-right: 50px;
        text-align: center;
        .image-size {
          width: 100px;
          height: 100px;
        }
      }
      .resource-panel-content {
        h3 {
          font-size: 1.2rem;
          font-weight: 700;
          margin-top: 0;
        }
      }
    }
  }
}

.show-print {
  display: none !important;
}

@media print {
  :host {
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  }
  app-root {
    display: block;
    width: 100%;
    height: auto;
  }

  .qr-code {
    display: block;
  }

  .show-print {
    display: block !important;
  }
  .no-print {
    display: none !important;
  }
}

@media (min-width: $desktop-sm-min-width) and (max-width: 1023px) {
  .panel {
    padding: 15px;
    .content-panel {
      .content-panel-stack {
        margin-left: -8px;
        margin-right: -8px;
      }
      .content-panel-stack > * {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

@media only screen and (max-width: $mobile-max-width) {
  .spacer-bottom {
    padding-bottom: 10px !important;
  }

  .spacer-top {
    padding-top: 10px !important;
  }

  .panel {
    h4 {
      font-size: 1.3rem !important;
    }
    .content-panel {
      h1 {
        font-size: 1.3rem !important;
      }
      .resource-panel {
        padding-bottom: 10px !important;
        .resource-panel-content {
          h3 {
            margin-left: 50px;
            margin-top: 7px;
          }
          .image-size {
            width: 40px;
            height: 40px;
            position: absolute;
          }
        }
      }
    }
    .header-row {
      .header-button-container {
        .print-button {
          display: none !important;
        }
      }
    }
  }
}

::ng-deep .mdc-snackbar__surface{
  background-color: transparent !important;
}

.fire-icon{
  padding-right: 12px;
  vertical-align: bottom;
}

.circle-icon {
  margin-right: 12px;
  border-radius: 50%;
  width: 18px;
  height: 18px;

  &.HOLDING {
    background-color: #ffff00;
    border: 1px solid black;
  }

  &.OUT_CNTRL {
    background-color: #ff0000;
    border: 1px solid black;
  }

  &.UNDR_CNTRL {
    background-color: #98e600;
    border: 1px solid black;
  }

  &.OUT {
    background-color: #5c6671;
    border: 1px solid black;
  }
}

.image-card{
  max-width: 100%; 
  height: auto; 
  max-height: 500px; 
  border-radius: 16px;
  width: fit-content;
}

.desktop-button {
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  background-color: #fdfdfd;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 8px 56px;
  min-width: 130px;
  height: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  &.fixed-width {
    width: 170px;
  }
}

.icon-top{
  vertical-align: top;
  padding-right: 8px !important
}

.info-card {
  position: relative;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  margin: 24px 0;
}

.info-card .title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
}

.info-card .subtitle {
  color: var(--grays-gray-2, var(--Black-2, #484848)) !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
  display: flex;
}

.info-card .icon {
  top: 2px !important;
  float: left;
}

.info-card-order {
  border: 2px solid var(--reds-red-7, #f4cfcf);
  background: var(--reds-red-9, #fef1f2);
}

.info-card-alert {
  border: 2px solid var(--yellows-yellow-6, #f3d999);
  background: var(--yellows-yellow-6, #fcf3d4);
}

.info-card-area {
  border: 2px solid var(--grays-gray-6, #c4c4c4);
  background: var(--grays-gray-10, #f5f5f5);
}

.arrow-button {
  position: absolute;
  display: flex;
  right: 10px;
  bottom: 10px;
  width: 20px;
  height: 20px;
  padding: 6px;
  border-radius: 64px;
  background: var(--background-color, #fbe3e3);
  pointer-events: auto;

  &:hover {
    cursor: pointer;
  }
}

.arrow-button-order {
  --background-color: var(--reds-red-6, #fbe3e3);
}

.arrow-button-alert {
  --background-color: #f2e8c4;
}

.arrow-button-area {
  --background-color: #eee;
}

.sub-title {
  flex: 1 0 0;
  color: var(--grays-gray-2, var(--Black-2, #484848));
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.icon-info-title{
  padding-right: 10px;
}

hr {
  border: 0;
  clear: both;
  display: flex;
  width: 99%;
  background-color: #ddd;
  height: 1px;
  margin-left: 0px !important;
}

.contact-buttons{
  padding-top: 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.image-container{
  position: relative;
}
.all-photos-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 12px;
  border-radius: 30px;
  background: #FFF;
  color: var(--Black-24, #242424);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  cursor: pointer;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (9/16 * 100) */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 1200px) {
  .desktop-button {
    padding: 8px 12px; /* Decrease padding for narrow screens */
  }
}