<incident-overview-panel [incident]="incident" class="show-print"></incident-overview-panel>
<div class="panel forPrint" id="toprint">
  <div class="left-container">
    <div class="content-panel">
      <div class="content-panel-stack">
        <div>
          <h1>Stage of Control</h1>
          <div *ngIf="incident.fireOfNoteInd" class="content-panel-subtitle">
            <img class="fire-icon" height="22" width="22"
                src="/assets/images/local_fire_department.png" alt="local_fire_department" />
            <span>Wildfire Of Note</span>
          </div>
          <div *ngIf="incident.fireOfNoteInd" class="content-panel-body">This wildfire is highly visible or poses a potential threat to public safety.</div>
          <div class="content-panel-subtitle">
            <span class="circle-icon {{incident.stageOfControlCode}}"></span>
            {{getStageOfControlLabel(incident.stageOfControlCode)}}
          </div>
          <div class="content-panel-body">{{getStageOfControlDescription(incident.stageOfControlCode)}}</div>
        </div>
        <div>
          <h1>Fire Size</h1>
          <div class="content-panel-subtitle">
            <img class="fire-icon" height="24" width="24" src="/assets/images/svg-icons/carbon_ruler.svg" alt="carbon_ruler" />
            {{incident.incidentSizeEstimatedHa ? incident.incidentSizeEstimatedHa.toLocaleString() : 0}} Hectares
          </div>
          <div class="content-panel-body">
            {{incident.incidentSizeDetail || 'Fire size is estimated and based on the most current information available.'}}
          </div>
        </div>

        <div>
          <h1>Location</h1>
          <div class="content-panel-subtitle" *ngIf="incident.traditionalTerritoryDetail">
            <img class="fire-icon" height="24" width="24" src="/assets/images/svg-icons/carbon_map.svg" alt="carbon_map" />
            Traditional Territory
          </div>
          <div class="content-panel-body">
            {{incident.traditionalTerritoryDetail}}
          </div>
          <div *ngIf="incident.incidentLocation">
            <div class="content-panel-subtitle">Description</div>
            <div class="content-panel-body">
                {{incident.incidentLocation}}
            </div>
          </div>
          <button mat-button class="desktop-button" (click)="navigateToMap()">
            <img class="icon-top" height="20" width="20"
                src="/assets/images/svg-icons/map.svg" alt="map" />
            <span>View Full Map</span>
          </button>
        </div>
        <!-- evac orders & alerts -->
        <div>
          <h1>Evacuations</h1>
          <div class="sub-content"
              *ngIf="!(desktopEvacOrders && desktopEvacOrders.length > 0) && !(desktopEvacAlerts && desktopEvacAlerts.length > 0)">
              There are no current evacuation orders or alerts associated with this incident.
          </div>
          <div id="evac-order" *ngIf="desktopEvacOrders && desktopEvacOrders.length >0">
            <div class="sub-title"><img class="fire-icon" src="/assets/images/svg-icons/union.svg" width="24px" height="24px"
                      alt="union" />Evacuation Orders
            </div>
            <div class="content-panel-body" style="padding-bottom: 0;">
                People in this area are at risk and should leave the area immediately.
            </div>
            <div class="info-card info-card-order" *ngFor="let item of desktopEvacOrders">
              <div class="title"><img class="icon-info-title" src="/assets/images/svg-icons/evacuation-order.svg" width="24px" height="24px"
                      alt="evacuation-order" />
                  Evacuation Order for {{incident.incidentName ? incident.incidentName :
                  incident.incidentNumberLabel}}
              </div>
              <hr>
              <div class="subtitle">
                  <img class="fire-icon" height="20" width="20" src="/assets/images/svg-icons/calendar.svg"
                      alt="calendar" />Issued on {{item.issuedOn}}
              </div>
              <div class="subtitle">
                  <img class="fire-icon" height="20" width="20" src="/assets/images/svg-icons/issuing_agency.svg"
                      alt="issuing_agency" />Issued by {{item.issuingAgency}}
                  <img height="20" width="20" class="arrow-button arrow-button-order"
                  alt="icon" src="/assets/images/svg-icons/forward-arrow-red.svg" (click)="navigateToEvac(item)">
              </div>
            </div>
          </div>
          <div id="evac-alert" *ngIf="desktopEvacAlerts && desktopEvacAlerts.length >= 1">
            <div class="sub-title"><img class="fire-icon" src="/assets/images/svg-icons/custom_warning.svg" width="24px" height="24px"
                    alt="custom_warning" />Evacuation Alerts
            </div>
            <div class="content-panel-body" style="padding-bottom: 0;">
                An evacuation alert is a warning about a potential threat to life and/or property. It is
                intended to give you time to be ready for a possible evacuation.
            </div>
            <div class="info-card info-card-alert" *ngFor="let item of desktopEvacAlerts">
              <div class="title">
                  <img class="icon-info-title" src="/assets/images/svg-icons/evacuation-alert.svg" width="24px" height="24px" alt="evacuation-alert" />
                  <ng-container *ngIf="!item.externalUri">
                    Evacuation Alert for {{ incident.incidentName ? incident.incidentName : incident.incidentNumberLabel }}
                  </ng-container>
                  <ng-container *ngIf="item.externalUri">
                    {{ item.eventName }}
                  </ng-container>
              </div>
              <hr>
              <div class="subtitle">
                  <img class="fire-icon" height="20" width="20" src="/assets/images/svg-icons/calendar.svg"
                      alt="calendar" />Issued on {{item.issuedOn}}
              </div>
              <div class="subtitle"><img class="fire-icon" height="20" width="20"
                      src="/assets/images/svg-icons/issuing_agency.svg" alt="issuing_agency" />Issued by
                  {{item.issuingAgency}}
                  <img height="20" width="20" class="arrow-button arrow-button-alert"
                  alt="fire-icon" src="/assets/images/svg-icons/forward-arrow-yellow.svg" (click)="navigateToEvac(item)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="content-panel" style="border-bottom: none;">
      <div class="content-panel-stack">
        <div *ngIf="primaryMedia !== null" style="padding:0 !important">
          <!-- Image/video section: fetch from aws cache -->
          <div>
            <div *ngIf="showWarning; else primaryImage" class="preview-warning">Warning: Primary Video/Image selection cannot be previewed</div>
            <ng-template #primaryImage>
              <div style="text-align: center;">
                <div class="image-container" *ngIf="primaryMedia.type === 'image'">
                  <img alt="icon" id="primary-image-container" class="image-card" [alt]="primaryMedia.title" [src]="primaryMedia.thumbnail" width="500" height="500" (error)="handleImageFallback(primaryMedia.href)" />
                  <button class="all-photos-button" (click)="openAllPhotos()">All photos</button>
                  <div #lightGalleryRef>
                    <a *ngFor="let item of mediaCollection; let i = index"
                        [attr.data-index]="i"
                        data-lg-size="480-475-480, 800-791-800, 1406-1390"
                        class="gallery-item"
                        [href]="item.href"
                        [data-src]="item.href"
                        [data-responsive]="item.href + ' 800'"
                        style="display: none;">
                        <img [id]="i + '-img-thumb'" width="150" alt="Image" class="img-responsive" [src]="item.thumbnail" />
                    </a>
                  </div> 
                </div>
                <div class="video-container no-print" *ngIf="primaryMedia.type === 'video'" >
                  <iframe
                    [src]="primaryMedia.href" 
                    sandbox="allow-scripts allow-same-origin allow-presentation" 
                    frameborder="0" 
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen>
                  </iframe>
                </div>
              </div>
            </ng-template>
          </div>
          <!-- contact section-->
          <!-- <h1>Incident Contact Information</h1>
          <div style="display: flex;"><mat-icon style="padding-right: 10px;">contact_mail</mat-icon><span>{{convertToFireCentreDescription(incident.contactOrgUnitIdentifer || incident.fireCentreName || incident.fireCentreCode || incident.fireCentre)}}</span></div>
          <div style="display: flex;"><mat-icon style="padding-right: 10px;">mail</mat-icon><span>{{incident.contactEmailAddress}}</span></div>
          <div style="display: flex;"><mat-icon style="padding-right: 10px;">phone_in_talk</mat-icon><span>{{incident.contactPhoneNumber}}</span></div> -->
        </div>
        <div>
          <h1>Area Restrictions
            <div *ngIf="showWarning" class="preview-warning" style="text-align: left !important;">Warning: Manually entered Area Restrictions cannot be previewed</div>
          </h1>
          <div class="content-panel-body" style="padding-bottom: 0" *ngIf="!areaRestrictions || areaRestrictions.length <= 0 ; else displayAreaRestrictions">
            There are no current area restrictions near this incident.
          </div>
          <ng-template #displayAreaRestrictions>
              <div class="content-panel-body" style="padding-bottom: 0">
                  Area restrictions or forest use restrictions refer to area closures and activity
                  restrictions
                  necessary to limit the risk of a fire, address a public safety concern or avoid interference
                  with fire control. 
              </div>
              <div class="info-card info-card-area" *ngFor="let area of areaRestrictions">
                  <div class="title"><img class="icon-info-title"
                          src="/assets/images/svg-icons/area-restriction.svg" alt="area-restriction" />{{area.name}}
                  </div>
                  <hr>
                  <div class="subtitle"><img class="fire-icon" height="20" width="20"
                          src="/assets/images/svg-icons/location-pin.svg" alt="location-pin" />{{area.fireCentre}}
                      Fire Centre
                  </div>
                  <div class="subtitle"><img class="fire-icon" height="20" width="20" src="/assets/images/svg-icons/calendar.svg" alt="calendar" />
                    Issued on {{convertToDateYear(area.accessStatusEffectiveDate)}}
                      <img (click)="navigateToAreaRestriction(area)" height="20" width="20" class="arrow-button arrow-button-area"
                        alt="icon" src="/assets/images/svg-icons/forward-arrow-grey.svg">
                  </div>
              </div>
          </ng-template>
        </div>
        <div>
          <h1>Suspected Cause</h1>
          <div class="sub-title">
              <div class="sub-content-title">
                  <div *ngIf='incident.generalIncidentCauseCatId === 1'>
                      <img class="fire-icon" src="/assets/images/svg-icons/human.svg" alt="human" width="24" height="24"/>
                      {{getCauseLabel(incident.generalIncidentCauseCatId)}}
                  </div>
                  <div *ngIf='incident.generalIncidentCauseCatId === 2'>
                      <img class="fire-icon" src="/assets/images/svg-icons/lightning.svg" alt="lightning" width="24" height="24" />
                      {{getCauseLabel(incident.generalIncidentCauseCatId)}}
                  </div>
                  <div *ngIf='incident.generalIncidentCauseCatId === 3'>
                      <img class="fire-icon" src="/assets/images/svg-icons/help.svg" alt="question" width="24" height="24"/>
                      {{getCauseLabel(incident.generalIncidentCauseCatId)}}
                  </div>
              </div>
          </div>
          <div class="content-panel-body" style="padding-bottom: 0">
              {{getCauseDescription(incident.generalIncidentCauseCatId)}}
          </div>
        </div>

        <div>
          <h1>Contact Us</h1>
          <div>
              <div class="content-panel-body"><img class="fire-icon" src="/assets/images/centre.png"
                      alt="centre" />{{incident.fireCentreName}}</div>
              <div class="content-panel-body"> <img class="fire-icon"
                      src="/assets/images/svg-icons/carbon_email.svg"
                      alt="carbon_email" />{{incident.contactEmailAddress}}</div>
              <div class="content-panel-body"><img class="fire-icon"
                      src="/assets/images/svg-icons/carbon_phone.svg"
                      alt="carbon_phone" />{{incident.contactPhoneNumber}}</div>
          </div>
          <div class="contact-buttons">
              <button mat-button class="desktop-button ">
                  <img class="fire-icon" src="/assets/images/svg-icons/carbon_phone.svg"
                      alt="carbon_phone" />
                  <a [href]="'tel:' + incident.contactPhoneNumber" style="text-decoration: none; color: inherit;">Call Us</a>
              </button>
              <button mat-button class="desktop-button " (click)="emailFireCentre(incident.contactEmailAddress)">
                  <img class="fire-icon" src="/assets/images/svg-icons/carbon_email.svg"
                      alt="carbon_email" />
                  Email Us
              </button>
          </div>
        </div>
      </div>
      <div class="spacer-bottom"></div>
    </div>
  </div>
  <div id="qr-code-panel" class="qr-code" style="text-align: center;">
    <h5 style="padding: 0px; margin: 0px;">View in your browser</h5>
    <canvas id="qr-code"></canvas>
    <p>Scan this QR Code to view this information in your web browser</p>
  </div>
</div>
