<incident-overview-panel [incident]="incident" class="show-print"></incident-overview-panel>

<div class="incident-info-panel">
  <two-column-content-cards-container>
    <ng-container column-1>
      <stage-of-control-card [isFireOfNote]="incident.fireOfNoteInd" [stageOfControlCode]="incident.stageOfControlCode"></stage-of-control-card>
      <fire-size-card [fireSize]="incident.incidentSizeEstimatedHa" [description]="incident.incidentSizeDetail" ></fire-size-card>
      <location-card [traditionalTerritory]="incident.traditionalTerritoryDetail" [description]="incident.incidentLocation" (buttonClicked)="navigateToMap()" ></location-card>
      <evacuations-card [evacuations]="evacOrders" [incident]="incident" (viewDetailsClicked)="navigateToEvac($event)" ></evacuations-card>
    </ng-container>
    <ng-container column-2>
      <primary-media-card *ngIf="primaryMedia" [showPreviewWarning]="showWarning" [item]="primaryMedia" (imageError)="handleImageFallback(primaryMedia.href)" (openAllPhotosClicked)="sendToGalleryTab()" ></primary-media-card>
      <area-restrictions-card [showPreviewWarning]="showWarning" [areaRestrictions]="areaRestrictions" (viewDetailsClicked)="navigateToAreaRestriction($event)" ></area-restrictions-card>
      <suspected-cause-card [incident]="incident"></suspected-cause-card>
      <contact-us-card [incident]="incident"></contact-us-card>
    </ng-container>
  </two-column-content-cards-container>
</div>

<div id="qr-code-panel" class="qr-code" style="text-align: center;">
  <h5 style="padding: 0px; margin: 0px;">View in your browser</h5>
  <canvas id="qr-code"></canvas>
  <p>Scan this QR Code to view this information in your web browser</p>
</div>