
<div class="panel">
  <div class="content-panel">
        <div class="content-panel-stack">
            <h1>Wildfire Maps</h1>
            <div *ngIf="showMapsWarning" class="preview-warning">Warning: Uploaded Maps cannot be previewed</div>
            <div class="contents">
                <div *ngIf="maps && maps.length; else showDisclaimer">
                    <div class="sub-title">Click to download the PDF</div>
                    <div *ngFor="let map of maps | slice:0:limit">
                        <div style="display: flex; padding-top: 27px;">
                            <div class="file-pdf-icon" (click)="downloadMap(map.link, map.name)"></div>
                            <div class="file-info">
                                <div class="document-title">{{map.name}}</div>
                                <div class="document-date">{{convertDate(map.date)}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="load-more-row" style="display: flex; justify-content: center; padding-top: 32px;">
                        <button *ngIf="maps.length > limit" mat-button class="load-more-button" (click)="loadMore()" [disabled]="maps.length <= limit">
                            <span style="font-size: 16px;">
                                Load More
                            </span>
                        </button>
                    </div>
                </div>
                <ng-template #showDisclaimer>
                    <div *ngIf="!isPreview">There are currently no maps associated with this incident.</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

