.wf1-list-container {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    min-height: 52px;

    &__actions {
      position: absolute;
      right: 0;

      &--left {
        left: 0;
      }
    }

    &__title {
      font-size: 1.15rem;
    }
  }
}
