@import '../variables';

.search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem;

  & > div {
    margin: 0 0.625rem;
  }

  &__sort {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;

    &__icon {
      max-height: 1.5rem;
      max-width: 1.5rem;
    }
  }

  &__count {
    font-size: 1rem;
    background-color: $colour-white;
    color: $colour-light-grey;
    border-radius: .375rem;
    padding: .125rem .25rem;
    text-align: center;
    user-select: none;
  }

  &__input {
    flex-grow: 1;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    div.mat-form-field-wrapper {
      padding-bottom: 0;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      div.mat-form-field-underline {
        bottom: .25rem;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      div.mat-form-field-infix {
        border-top-width: .5rem;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      span.mat-form-field-label-wrapper {
        font-size: small;
        top: -.35rem;
      }
    }

    &__control {
      font-size: 1rem;
      width: 100%;
      border: none;
      outline: none;
    }
  }
  &__refresh,
  &__cancel,
  &__clear-filters {
    cursor: pointer;
  }

  &__clear-filters .wf1-application-icon .wf1-main-icon .mat-icon {
    width: 1.2rem;
    height: 1.8rem;
  }

}
