@import "../variables";

.search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem;

  & > div {
    margin: 0 0.625rem;
  }

  &__sort {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;

    &__icon {
      max-height: 1.5rem;
      max-width: 1.5rem;
    }
  }

  &__count {
    font-size: 1rem;
    background-color: $colour-white;
    color: $colour-light-grey;
    border-radius: 0.375rem;
    padding: 0.125rem 0.25rem;
    text-align: center;
    user-select: none;
  }

  &__input {
    flex-grow: 1;
    div.mat-mdc-text-field-wrapper {
      padding-bottom: 0;
      div.mdc-line-ripple {
        bottom: 0.25rem;
      }
      div.mat-mdc-form-text-infix {
        border-top-width: 0.5rem;
      }
      span.mat-mdc-floating-label-wrapper {
        font-size: small;
        top: -0.35rem;
      }
    }

    &__control {
      font-size: 1rem;
      width: 100%;
      border: none;
      outline: none;
    }
  }
  &__refresh,
  &__cancel,
  &__clear-filters {
    cursor: pointer;
  }

  &__clear-filters .wf1-application-icon .wf1-main-icon .mat-icon {
    width: 1.2rem;
    height: 1.8rem;
  }
}
