@import "../variables";

.side-panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .side-panel-title-section {
    color: $colour-sidebar-title;
    background-color: $colour-sidebar-title-background;
    box-sizing: border-box;
    height: $wf1-sidebar-title-height;
    position: relative;

    .side-panel-link-button {
      position: absolute;
      top: 0.25rem;
      padding-bottom: 0.5rem;

      .mat-mdc-button {
        min-width: 2rem;
        padding: 0;
      }
    }

    .side-panel-link-button-right {
      right: 0.25rem;
    }

    .side-panel-link-button-left {
      left: 0.25rem;
    }

    .side-panel-title {
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin: 0 auto;
      text-align: center;
    }
  }

  .side-panel-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;
    color: $colour-sidebar-toolbar;
    background-color: $colour-sidebar-toolbar-background;
    box-sizing: border-box;
    height: $wf1-toolbar-height;
  }

  .side-panel-filter {
    color: $colour-sidebar-filter;
    background-color: $colour-sidebar-filter-background;
    box-sizing: border-box;
    height: $wf1-toolbar-height;

    .mat-mdc-tab-group .mat-mdc-tab-header {
      width: 100%;
    }
  }

  .side-panel-content,
  .side-panel-with-toolbar-content,
  .side-panel-with-toolbar-and-filter-content,
  .side-panel-with-toolbar-and-filter-and-filter-content {
    box-sizing: border-box;
    overflow-y: hidden;
    position: relative;

    .interior-panel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .side-panel-content {
    height: $wf1-app-side-panel-height;
  }

  .side-panel-with-toolbar-content {
    height: $wf1-app-side-panel-with-toolbar-height;
  }

  .side-panel-with-toolbar-and-filter-content {
    height: calc(
      100dvh - #{$wf1-app-header-height} - #{$wf1-header-plus-toolbar-and-filter-total-height} -
        0.1rem
    );
  }

  .side-panel-with-toolbar-and-filter-and-filter-content {
    height: $wf1-app-side-panel-with-toolbar-and-filter-content-height;
  }

  .location-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;
    background-color: $colour-toolbar-grey;
    height: $wf1-toolbar-height;
    box-sizing: border-box;

    .location-section-header-button {
      min-width: 1.5rem;
    }
  }
}
