.map-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;

  .smk-map-frame {
    width: 100%;
    height: 100%;
    order: 2;

    &.smk-hidden {
      width: 0;
      left: 50%;
    }
  }
 
}

::ng-deep .smk-map-frame .smk-overlay .smk-status {
  bottom: 50px !important;
}

::ng-deep .smk-map-frame {
  .smk-sidepanel {
    top: 106px !important;
    z-index: 1000;
    .smk-sidepanel {
      border-radius: 10px;
    }
  }

  .smk-actionbar {
    top: unset !important;
    bottom: 65px !important;
  }

  @media (min-width: 1150px) {
    .smk-toolbar {
      left: unset !important;
      right: 0px !important;
      .smk-tool {
        border-radius: 20px;
        border: 1px solid #c4c4c4 !important;
        background-color: #ffffff !important;
        margin-left: auto;
        box-shadow:
          0 1px 2px rgba(60, 64, 67, 0.3),
          0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
        display: flex;
        align-items: center;
        height: 30px !important;
        min-width: 118px !important;
        padding: unset !important;
      }
    }
  }

  @media (max-width: 1150px) {
    .smk-toolbar {
      left: -2px;
      right: unset !important;
      margin-top: 8px;
      .smk-tool {
        border-radius: 20px;
        border: 1px solid #c4c4c4 !important;
        background-color: #ffffff !important;
        margin-left: auto;
        box-shadow:
          0 1px 2px rgba(60, 64, 67, 0.3),
          0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
        display: flex;
        align-items: center;
        height: 30px !important;
        min-width: 118px !important;
        padding: unset !important;
        margin-top: 180px !important;
      }
    }
  }

  /* .smk-tool {
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    margin-right: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    min-width: 125px;
    text-align: center;
    padding-left: 23px;
  } */

  &.smk-theme-wf .smk-actionbar {
    padding: 5px 0;
  }

  &.smk-theme-wf .smk-toolbar {
    background-color: unset;
    box-shadow: none;

    .smk-tool {
      background-color: white;
      box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
      margin-right: 10px;
      padding: 5px;
      display: flex;
      align-items: center;
      line-height: 19px;
      font-size: 16px;
      font-weight: 400;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      color: #242424 !important;
      gap: 5px;
      padding-left: 12px !important;

      &.smk-tool-LayersTool::after {
        content: "All Layers";
      }

      &.smk-tool-BaseMapsTool::after {
        content: "Base Map";
      }

      &.smk-tool-BespokeTool--show-list::after {
        content: "";
      }
    }
  }

  .smk-base-map-sample {
    height: 80px !important;
    width: 280px !important;
  }

  .smk-active {
    background-color: unset !important;
    border: 2px solid #548adb !important;
    border-radius: 6px !important;
  }

  .smk-layers-panel .smk-panel {
    .smk-display .smk-item {
      flex-wrap: wrap;
      .smk-layer-title {
        width: calc(100% - 32px);
      }

      margin-bottom: 0;
      padding: 0;
    }
    .smk-display.smk-inline-legend .smk-item {
      .smk-layer-title {
        width: calc(100% - 60px);
      }
    }
  }

  .smk-feature-panel .smk-feature {
    .smk-layer {
      padding: 0;
      margin-bottom: 10px;
      h2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: calc(100% - 10px);
        font-size: 13px;
        font-weight: 700;
        position: sticky;
        top: 0;
        background-color: #fff;
        padding: 5px;
        // border-bottom: 1px solid #a9a9a9;
        margin: 0;
      }
    }
  }

  .smk-feature-panel {
    .smk-commands {
      order: 2;
      justify-content: center !important;
    }
  }

  .smk-bespoke-panel .smk-body .smk-bespoke-content {
    height: 100%;
  }

  .wf-feature {
    .button-bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 5px 0;

      button {
        margin-left: 10px;
      }
    }

    .wf-feature-attribute {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      word-break: break-word;
    }

    .wf-feature-attribute.wf-title-feature-attribute {
      font-weight: bold;
      padding-top: 0px;
    }

    .wf-feature-attribute-title {
      flex-basis: 40%;
      font-size: 11px;
      text-align: right;
    }

    .wf-feature-attribute-value {
      flex-basis: 55%;
      font-size: 13px;
      text-align: left;
    }
  }

  &.smk-viewer-leaflet {
    .smk-overlay {
      .smk-status {
        left: 0;
        flex-direction: row-reverse;

        .smk-scale {
          margin-left: 20px;
          margin-bottom: -33px;
        }
        .smk-coordinate {
          margin-bottom: -33px;
        }
      }
    }
  }

  .smk-time-dimension {
    cursor: pointer;
    pointer-events: all;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    order: -1;
    align-self: flex-start;
    bottom: 0;
    left: 0;
    .play-pause {
      margin-right: 5px;
      display: flex;
      align-items: center;
    }
  }

  .smk-layers-panel .smk-body .smk-display {
    [title="id: hourly-currentforecast-firesmoke"],
    [title="id: precipitation"] {
      .smk-layer-title {
        display: flex;
        align-items: center;

        &::after {
          content: "";
          font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
          font-weight: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          font-size: 20px;
          margin-left: 5px;
        }
      }
    }
  }
}
