.map-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    border-top: 1px solid #dddddd;

    .smk-map-frame {
        width: 100%;
        height: 100%;
        order: 2
        // background-color: red;
    }
}

::ng-deep .smk-map-frame {
    &.smk-theme-wf .smk-actionbar {
        padding: 5px 0;
    }

    &.smk-theme-wf .smk-toolbar {
        padding: 0 5px;
    }

    .smk-layers-panel .smk-panel {
        .smk-display .smk-item {
            flex-wrap: wrap;
            .smk-layer-title {
                width: calc( 100% - 32px );
            }

            margin-bottom: 0;
            padding: 0;
        }
        .smk-display.smk-inline-legend .smk-item {
            .smk-layer-title {
                width: calc( 100% - 60px );
            }
        }
    }

    .smk-feature-panel .smk-feature {
        .smk-layer {
            padding: 0;
            margin-bottom: 10px;
            h2 {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: calc(100% - 10px);
                font-size: 13px;
                font-weight: 700;
                position: sticky;
                top: 0;
                background-color: #fff;
                padding: 5px;
                // border-bottom: 1px solid #a9a9a9;
                margin: 0;
            }
        }
    }

    .smk-feature-panel {
        .smk-commands {
            order: 2;
            justify-content: center !important;
        }
    }

    .smk-bespoke-panel .smk-body .smk-bespoke-content {
        height: 100%;
    }

    .wf-feature {
        .button-bar {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 5px 0;

            button {
                margin-left: 10px;
            }
        }

        .wf-feature-attribute {
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            word-break: break-word;
        }

        .wf-feature-attribute.wf-title-feature-attribute {
            font-weight: bold;
            padding-top: 0px;
        }

        .wf-feature-attribute-title {
            flex-basis: 40%;
            font-size: 11px;
            text-align: right;
        }

        .wf-feature-attribute-value {
            flex-basis: 55%;
            font-size: 13px;
            text-align: left;
        }
    }

    .wf-weather-station-feature {
        .footer {
            flex-grow: 1;

            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            .smk-command-button {
                justify-content: flex-end;

                &.icon {
                    margin-left: 10px;

                    .smk-command {
                        border: none;
                        padding: 0;

                        .material-icons {
                            font-size: 24px;
                        }
                    }
                }

                .smk-command {
                    display: flex;
                    align-items: center;

                    i.material-icons {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &.smk-viewer-leaflet {
        .smk-overlay {
            .smk-status {
                left: 0;
                flex-direction: row-reverse;

                .smk-scale {
                    margin-left: 20px;
                }
            }
        }

        // .leaflet-container {
        //     .leaflet-control-container {
        //         .leaflet-control-minimap.leaflet-container {
        //             margin-bottom: 60px;

        //             .leaflet-control-minimap-toggle-display {
        //                 background-image: url( '../../../../node_modules/@qqnluaq/smk/dist/assets/src/smk/viewer-leaflet/tool/minimap/lib/images/toggle.svg' );
        //             }
        //         }
        //     }
        // }
    }

    .smk-time-dimension {
        cursor: pointer;
        pointer-events: all;

        position: absolute;

        font-size: 14px;
        font-weight: bold;
        background-color: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        order: -1;
        align-self: flex-start;

        .play-pause {
            margin-right: 5px;
            display: flex;
            align-items: center;
        }
    }

    .smk-layers-panel .smk-body .smk-display {
        [title='id: hourly-currentforecast-firesmoke'], [title='id: precipitation'] {
            .smk-layer-title {
                display: flex;
                align-items: center;

                &::after {
                    content: 'update';
                    font-family: 'Material Icons';
                    font-weight: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    display: inline-block;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                    font-size: 20px;
                    margin-left: 5px;
                }
            }
        }
    }

    path.wfim-rofx-active, path.wfim-rofx-expired {
        stroke-width: 1px;
        stroke: red;
        fill-opacity: 0.3;
    }

    path.wfim-rofx-active {
        fill: url(#rofx-stripes-light);
    }

    path.wfim-rofx-expired {
        fill: url(#rofx-stripes-dark);
    }

}
