<wf1-basic-sidebar-panel
  titleText="Report Of Fire Detail"
  [showBackButton]="true"
>
  <div class="loading-spinner" *ngIf="loading">
    <wf1-spinner></wf1-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <div class="rof-detail-identification" *ngIf="rof">
      <div class="rof-detail-identification-toolbar">
        <div class="rof-detail-labelled-button">
          <button mat-button aria-label="Refresh Report Of Fire" (click)="refresh()" matTooltip="Refresh" [matTooltipShowDelay]="TOOLTIP_DELAY">
            <mat-icon color="secondary">autorenew</mat-icon>
            <div class="label">Refresh</div>
          </button>
        </div>
        <div class="rof-detail-labelled-button">
          <button mat-button aria-label="Locate Report Of Fire on the Map" (click)="locateOnMap()" matTooltip="Locate on Map" [matTooltipShowDelay]="TOOLTIP_DELAY">
            <mat-icon color="secondary">place</mat-icon>
            <div class="label">Map</div>
          </button>
        </div>
        <div *ngIf="canShare()" class="rof-detail-labelled-button">
          <button mat-button aria-label="Share" (click)="share()" matTooltip="Share" [matTooltipShowDelay]="TOOLTIP_DELAY">
            <mat-icon color="secondary">share</mat-icon>
            <div class="label">Share</div>
          </button>
        </div>
        <div class="rof-detail-labelled-button">
          <button mat-button aria-label="Navigate to Point ID" (click)="navigateToPointID()" matTooltip="Point ID" [matTooltipShowDelay]="TOOLTIP_DELAY">
            <mat-icon color="secondary">privacy_tip</mat-icon>
            <div class="label">Point ID</div>
          </button>
        </div>
        <div class="rof-detail-icon">
          <wf1-application-icon
            [iconType]="icon.iconType"
            [iconSize]="icon.iconSize"
            [colourCode]="icon.colourCode"
            [isBlinking]="icon.isBlinking"
            [isCancelled]="icon.isCancelled"
            [isAssignedToIncident]="icon.isAssignedToIncident"
            [hasHalo]="icon.hasHalo">
          </wf1-application-icon>
        </div>
        <div *ngIf="canManageROF()" class="rof-detail-manage-button">
          <button class="rof-detail-launch-rof-manager-button" mat-icon-button aria-label="View Selected Report Of Fire"	(click)="openROF()" color="primary" matTooltip="View Report Of Fire" [matTooltipShowDelay]="TOOLTIP_DELAY"><mat-icon>launch</mat-icon></button>
          <!-- <div>Manage</div> -->
        </div>
      </div>
      <div class="rof-detail-identification-details {{getROFClass()}}">
        <div class="rof-detail-id-header">
          <span><h3 class="rof-detail-id cp-rof-id">{{getFireNumberLabel()}}</h3></span>
          <span class="rof-detail-status">Status:<strong> {{getLabel('MESSAGE_STATUS_CODE', rof.messageStatusCode)}}</strong></span>
        </div>
        <div *ngIf="canDisplayNonReadOnlyFields()" class="rof-detail-id-row">
          <span class="row-detail-id-col-label">Caller:</span><span class="row-detail-id-col-value"> {{rof.callerName}}</span>
          <span class="row-detail-id-col-label">Phone:</span><span class="row-detail-id-col-value"> {{rof.callerTelephone | mask: '(000) 000-0000'}}</span>
        </div>
        <div *ngIf="canDisplayNonReadOnlyFields()" class="rof-detail-id-row">
          <span class="row-detail-id-col-label">Available for 20 min callback?:</span><span class="row-detail-id-col-value"> {{rof.availableForCallbackInd ? 'Yes' : 'No'}}</span>
        </div>
        <div class="rof-detail-id-row"><span class="row-detail-id-col-label">Entered By:</span><span class="row-detail-id-col-value"> {{formatUserId(rof.receivedByUserId)}} - {{rof.receivedTimestamp | date: 'yyyy-MM-dd HH:mm:s' }}</span></div>
      </div>

      <mat-expansion-panel [expanded]="defaultOpenPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="secondary">public</mat-icon><span><strong>LOCATION</strong></span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="rof-detail-other-details">
          <div class="rof-detail-label-row"><span>Centre</span><span>Zone</span></div>
          <div class="rof-detail-value-row"><span>{{rof.fireCentreOrgUnitName}}</span><span>{{rof.zoneOrgUnitName}}</span></div>
          <div class="rof-detail-label-row"><span>Latitude/Longitude</span></div>
          <div class="rof-detail-value-row"><span>{{getLatLong(rof)}}</span></div>
          <div class="rof-detail-label-row"><span>Geographic Area</span></div>
          <div class="rof-detail-value-row"><span> {{rof.geographicAreaDescription}}</span></div>
          <div class="rof-detail-label-row"><span>Relative Location</span></div>
          <div class="rof-detail-value-row"><span>{{rof.relativeLocationDescription}}</span></div>
          <div *ngIf="canLoadComments()" class="rof-detail-label-row"><span>Directions to Fire and Other Comments</span></div>
          <div *ngIf="canLoadComments()" class="rof-detail-value-row"><span><pre style="word-wrap: break-word !important; white-space: pre-wrap !important"><code>{{rof.callerReportDetails}}</code></pre></span></div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="defaultOpenPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="secondary">whatshot</mat-icon><span><strong>FIRE CHARACTERISTICS</strong></span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="rof-detail-other-details">
          <div class="rof-detail-label-row"><span>Report of Fire Type</span><span>Incident Number</span></div>
          <div class="rof-detail-value-row"><span>{{getLabel('PUBLIC_REPORT_TYPE_CODE', rof.publicReportTypeCode)}}</span><span class="incident-link" (click)="openIncidentDetails()">{{ getIncidentNumberLabel() }}</span></div>
          <div class="rof-detail-label-row"><span>What is the Fire Burning?</span><span>Smoke Color</span></div>
          <div class="rof-detail-value-row">
            <span>{{ getConcatenatedLabels('FOREST_FUEL_CATEGORY_CODE', rof.reportedForestFuel)}}</span>
            <span>{{ getConcatenatedLabels('SMOKE_COLOUR_CODE', rof.smokeColourCodes)}}</span>
          </div>
          <div class="rof-detail-label-row"><span>Fire Size</span><span>Rate of Spread</span></div>
          <div class="rof-detail-value-row"><span>{{getLabel('FIRE_SIZE_COMPARISON_CODE', rof.fireSizeComparisionCode)}}</span><span>{{rof.rateOfSpreadCode}}</span></div>
          <div class="rof-detail-label-row"><span>Weather</span></div>
          <div class="rof-detail-value-row"><span>{{rof.weatherDescription}}</span></div>
          <div class="rof-detail-label-row"><span>Is Anyone Fighting the Fire?</span></div>
          <div class="rof-detail-value-row"><span>{{rof.fireFightingProgressNote}}</span></div>
          <div class="rof-detail-label-row"><span>Values Threatened?</span></div>
          <div class="rof-detail-value-row"><span>{{rof.valuesBeingThreatenedNote}}</span></div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="canLoadComments()" [expanded]="defaultOpenPanel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="secondary">chat_bubble</mat-icon><span><strong>COMMENTS</strong></span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-table [dataSource]="dataSource" [hidden]="!comments || comments.length === 0" class="left-justify-cells">
          <ng-container [cdkColumnDef]="colDef.name" *ngFor="let colDef of tableDef">
            <mat-header-cell mat-sort-header *cdkHeaderCellDef>
              <span class="comment-table__header">{{colDef.title}}</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
              <span class="comment-table__cell">{{colDef.prop(row)}}</span>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableHeaders;"></mat-row>
        </mat-table>
        <ng-container *ngIf="!comments || comments.length === 0">
          <div class="rof-no-comments-label">No Comments</div>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="secondary">photo_camera</mat-icon><span><strong>PHOTOS</strong></span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <wfim-photo-gallery
            [attachmentListUpdater]="attachmentListUpdater"
            [showFilter]="false"
            [showSelection]="false"
            [showIdentifier]="true"
        ></wfim-photo-gallery>
      </mat-expansion-panel>

    </div>
  </ng-container>
</wf1-basic-sidebar-panel>
