.container {
  overflow: hidden;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  padding: 20px;
  background-color: white;
  max-width: 1300px;
  margin: auto;
}

div{
    margin-left: 2%;
    margin-right: 2%;
}

.header-row{
    display: flex;
    margin: 0;
}

p.dashboard-title{
    font-size: 24px;
    margin-bottom: .5%;
}

.stage-of-control{
    margin-left: auto;
    height: 50%;
    margin-top: auto;
}

:host ::ng-deep .mat-tab-label {
    color: #003366 !important;
    font-weight: 400;
    font-size: 1rem;
}

:host ::ng-deep .mat-ink-bar {
    background-color: #003366 !important;
}

:host ::ng-deep .mat-tab-label-active {
    font-weight: 700 !important
}
