div{
    margin-left: 2%;
    margin-right: 2%;
}

.header-row{
    display: flex;
    margin: 0;
}

p.dashboard-title{
    font-size: 24px;
    margin-bottom: .5%;
}

.stage-of-control{
    margin-left: auto;
    height: 50%;
    margin-top: auto;
}
