<div *ngIf="!isMobileView()" class="container">
    <div class="header-row">
        <p class="dashboard-title">List View
        </p>
    </div>
    <div>
      <button [class]="'list-button' + (selectedTab === 0 ? '-selected' : '')" (click)="selectTab(0)" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/wildfire' + (selectedTab === 0 ? '-selected' : '') + '.svg'" alt="WIldfires" height="20" width="20" /><span class="list-button-label">Wildfires</span></button>
      <button [class]="'list-button' + (selectedTab === 1 ? '-selected' : '')" (click)="selectTab(1)" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/carbon_bullhorn' + (selectedTab === 1 ? '-selected' : '') + '.svg'" alt="Evacuation Orders and Alerts" height="20" width="20" /><span class="list-button-label">Evacuations</span></button>
      <button [class]="'list-button' + (selectedTab === 2 ? '-selected' : '')" (click)="selectTab(2)" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/carbon_warning-hex' + (selectedTab === 2 ? '-selected' : '') + '.svg'" alt="Area Restrictions" height="20" width="20" /><span class="list-button-label">Area Restrictions</span></button>
      <button [class]="'list-button' + (selectedTab === 3 ? '-selected' : '')" (click)="selectTab(3)" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/bans-restrictions' + (selectedTab === 3 ? '-selected' : '') + '.svg'" alt="Bans and Prohibitions" height="20" width="20" /><span class="list-button-label">Bans</span></button>
    </div>
    <div class="list-container">
      <div *ngIf="selectedTab === 0">
        <wf-list-container-desktop></wf-list-container-desktop>
      </div>
      <div *ngIf="selectedTab === 1">
        <wf-evac-list-desktop></wf-evac-list-desktop>
      </div>
      <div *ngIf="selectedTab === 2">
        <wf-area-restriction-list-desktop></wf-area-restriction-list-desktop>
      </div>
      <div *ngIf="selectedTab === 3">
        <wf-bans-list-desktop></wf-bans-list-desktop>
      </div>
    </div>
</div>
<div *ngIf="isMobileView()" class="mobile-container">
  <div class="mobile-buttons-container">
    <button style="min-width: 122px;" [class]="'list-button' + (selectedTab === 0 ? '-selected' : '')" (click)="selectTab(0)" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/wildfire' + (selectedTab === 0 ? '-selected' : '') + '.svg'" alt="WIldfires" height="20" width="20" /><span class="list-button-label">Wildfires</span></button>
    <button style="min-width: 140px;" [class]="'list-button' + (selectedTab === 1 ? '-selected' : '')" (click)="selectTab(1)" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/carbon_bullhorn' + (selectedTab === 1 ? '-selected' : '') + '.svg'" alt="Evacuation Orders and Alerts" height="20" width="20" /><span class="list-button-label">Evacuations</span></button>
    <button style="min-width: 184px;" [class]="'list-button' + (selectedTab === 2 ? '-selected' : '')" (click)="selectTab(2)" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/carbon_warning-hex' + (selectedTab === 2 ? '-selected' : '') + '.svg'" alt="Area Restrictions" height="20" width="20" /><span class="list-button-label">Area Restrictions</span></button>
    <button style="min-width: 100px;" [class]="'list-button' + (selectedTab === 3 ? '-selected' : '')" (click)="selectTab(3)" mat-flat-button ><img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/bans-restrictions' + (selectedTab === 3 ? '-selected' : '') + '.svg'" alt="Bans and Prohibitions" height="20" width="20" /><span class="list-button-label">Bans</span></button>
  </div>
  <div class="list-container">
    <div *ngIf="selectedTab === 0">
      <wf-list-container-mobile></wf-list-container-mobile>
    </div>
    <div *ngIf="selectedTab === 1">
      <wf-evac-list-mobile></wf-evac-list-mobile>
    </div>
    <div *ngIf="selectedTab === 2">
      <wf-area-restriction-list-mobile></wf-area-restriction-list-mobile>
    </div>
    <div *ngIf="selectedTab === 3">
      <wf-bans-list-mobile></wf-bans-list-mobile>
    </div>
  </div>
</div>
