.container {
  overflow: hidden;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  padding: 20px;
  background-color: white;
  max-width: 1500px;
  margin: auto;
}

div {
  margin-left: 2%;
  margin-right: 2%;
}

.header-row {
  display: flex;
  margin: -30px 0px 10px 20px;
}

p.dashboard-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 38.15px;
  margin-bottom: 0.5%;
}

.stage-of-control {
  margin-left: auto;
  margin-top: auto;
}

:host ::ng-deep .mat-mdc-tab {
  color: #003366 !important;
  font-weight: 400;
  font-size: 1rem;
}

:host ::ng-deep .mat-ink-bar {
  background-color: #003366 !important;
}

:host ::ng-deep .mdc-tab--active {
  font-weight: 700 !important;
}

.list-button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  right: 12px;
  &-selected {
    margin-right: 7px;
    border-radius: 20px;
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    color: #242424 !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    right: 12px;
  }
}

.list-button-label {
  margin: 0px 0px 0px 7px;
}

.list-icon {
  position: relative;
  margin: 0 0 -3px 0px;
}

.list-container {
  border-top: 2px solid #dedede;
  margin: 16px -20px 0px -20px;
  padding-top: 10px;
}

.mobile-container {
  margin: 0px;
}

.mobile-buttons-container {
  padding: 10px 6px 6px 15px;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0px;
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: white;
}

.spinner-position {
  position: relative;
  left: 50vw;
  top: 20px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #c4cdd2;
}
