:host { display: block; }

.content-card-container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  border-radius: 16px;

  /* Information Cards */
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}