@import "src/styles/variables";
::ng-deep #core-interface-container {
  .mobile .incident-detail {
    .info-card {
      width: calc(100% - var(--wf1-gutter-space) * 2) !important;
    }
  }
}

.add-icon {
  width: 20px;
  height: 20px; 
  top: 4px;
  position: relative;
}
