<ng-container [formGroup]="formGroup" class="incident-form">
  <mat-card class="info-card form-card">
    <fieldset formGroupName="contact" *ngFor = "let item of evacOrders">
      <div class="form-flex-wrapper">
        <div class="form-flex flex-basis-full">
          <div class="field">
            <select appWFSingleSelect appWFPlaceholder="Select..."
                    aria-label="Type"
                    [value]="item.orderAlertStatus"
                    readonly>
              <option value="">
                  <span class="placeholder">Select...</span>
              </option>
              <option value="Order">
                <span>Order</span>
              </option>
              <option value="Alert">
                <span>Alert</span>
              </option>
            </select>
          </div>
          <div class="field">
            <mat-form-field class="field-label-value" appearance="standard" floatLabel="always">
              <mat-label class="label required">Evacuation Name</mat-label>
              <input matInput type="text" placeholder="Evacuation Name" [value]="item.eventName" readonly>
            </mat-form-field>
          </div>
          <div class="field">
            <mat-form-field class="field-label-value" appearance="standard" floatLabel="always">
              <mat-label class="label required">Evacuation Information URL</mat-label>
              <input matInput type="text" placeholder="Evacuation Information URL" formControlName="evacInformationUrl">
            </mat-form-field>
          </div>
        </div>
      </div>
    </fieldset>
  </mat-card>
</ng-container>
