@import "../../../../styles/_variables.scss";

:host { display: block; }

.two-column-content-cards-container {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 0 8px;

  &.print {
    flex-direction: column;
    padding: 0;

    .column-1, .column-2 {
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile-max-width) {
    display: block;
    padding-bottom: 24px;
  }

  .column-1, .column-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 32px;

    @media screen and (max-width: $mobile-max-width) {
      width: auto;
      padding-bottom: 24px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}