<div [class]="isMobileView() ? 'container' : 'desktop-container'">
  <div class="header"><img (click)="back()" src="/assets/images/svg-icons/back-arrow.svg" alt="back-arrow"
      class="back-icon" />Back</div>
  <div class="content">
      <div class="section">
          <div class="section-title">Weather Detail</div>
          <div class="section-detail">Weather Station: {{station ? station.stationName : null}}</div>
          <div class="divider"></div>
      </div>
      <div class="section" *ngIf="hourly">
          <div class="section-title">Hourly Indices</div>
          <div class="section-detail">Temperature: {{hourly.temp}}° C</div>
          <div class="section-detail">Relative Humidity: {{hourly.relativeHumidity}}%</div>
          <div class="section-detail">Wind Speed: {{hourly.windSpeed}} km/h</div>
          <div class="section-detail">Wind Direction: {{hourly.windDirection}}° {{hourly.windCardinalDir}}</div>
          <div class="section-detail">Precipitation: {{hourly.precipitation}}mm</div>
          <div class="section-detail">Fine Fuel Moisture Code: {{hourly.fineFuelMoistureCode}}</div>
          <div class="section-detail">Initial Spread Index: {{hourly.initialSpreadIndex}}</div>
          <div class="section-detail">Fire Weather Index: {{hourly.fireWeatherIndex}}</div>
          <div class="section-detail">Recorded: {{readableHour(hourly.hour)}}</div>
          <div class="divider"></div>
      </div>
      <div class="section" *ngIf="daily">
          <div class="section-title">Daily Indices</div>
          <div class="section-detail">Date: {{readableDate(daily.day)}}</div>
          <div class="section-detail">Temperature: {{daily.temp}}° C</div>
          <div class="section-detail">Relative Humidity: {{daily.relativeHumidity}}%</div>
          <div class="section-detail">Wind Speed: {{daily.windSpeed}} km/h</div>
          <div class="section-detail">Wind Direction: {{daily.windDirection}}° {{hourly.windCardinalDir}}</div>
          <div class="section-detail">Precipitation: {{daily.precipitation}}mm</div>
          <div class="section-detail">Fine Fuel Moisture Code: {{daily.fineFuelMoistureCode}}</div>
          <div class="section-detail">Initial Spread Index: {{daily.initialSpreadIndex}}</div>
          <div class="section-detail">Fire Weather Index: {{daily.fireWeatherIndex}}</div>
          <div class="section-detail">Drought Code: {{daily.droughtCode}}</div>
          <div class="section-detail">Build Up Index: {{daily.buildupIndex}}</div>
          <div class="section-detail">Duff Moisture Code: {{daily.duffMoistureCode}}</div>
          <div class="section-detail">Recorded: {{readableHour(daily.day + 12)}}</div>
          <div class="divider"></div>
      </div>
      <div class="section" *ngIf="latitude && longitude">
          <wfnews-weather-history [latitude]="latitude" [longitude]="longitude"></wfnews-weather-history>
          <div class="popup-button-container">
            <a class="popup-button" target="_blank" rel="noopener" href="https://wfapps.nrs.gov.bc.ca/pub/wfwx-danger-summary-war/dangerSummary">
                Fire Danger Class
                <img alt="icon" class="external-link-icon" src="/assets/images/svg-icons/external-link-grey.svg">
            </a>
          </div>
      </div>
      <div class="bottom"></div>
  </div>
</div>
