<div class="legend-panel">
  <div class="legend-panel-title">Current Precipitation Radar</div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="0.1 - 1.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/1mm-legend.svg" >
      0.1 - 1.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="1.0 - 2.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/2mm-legend.svg" >
      1.0 - 2.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="2.0 - 4.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/4mm-legend.svg" >
      2.0 - 4.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="4.0 - 8.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/8mm-legend.svg" >
      4.0 - 8.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="8.0 - 12.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/12mm-legend.svg" >
      8.0 - 12.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="12.0 - 16.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/16mm-legend.svg" >
      12.0 - 16.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="16.0 - 24.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/24mm-legend.svg" >
      16.0 - 24.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="24.0 - 32.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/32mm-legend.svg" >
      24.0 - 32.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="32.0 - 50.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/50mm-legend.svg" >
      32.0 - 50.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="50.0 - 64.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/64mm-legend.svg" >
      50.0 - 64.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="64.0 - 100.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/100mm-legend.svg" >
      64.0 - 100.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="100.0  - 125.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/125mm-legend.svg" >
      100.0  - 125.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="125.0 - 200.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/200mm-legend.svg" >
      125.0 - 200.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="200.0+ mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/200+mm-legend.svg" >
      200.0+ mm/h
    </div>
  </div>
</div>
