<div class="dialog-header">
    <div class="title">{{title}}</div>
    <div class="divider"></div>
</div>

<mat-dialog-content [ngClass]="mobile ? 'mobile dialog-body' : 'desktop dialog-body'">
    <ng-content></ng-content>
</mat-dialog-content>
<div class="divider-2"></div>
<div class="dialog-footer" *ngIf="showCancel || showOK">
    <div mat-dialog-actions>
        <button class="wildfire-button" (click)="cancel()">Cancel</button>

        <button class="wildfire-button-primary" (click)="ok()">OK</button>
    </div>
</div>