@import "../../../styles/variables";

::ng-deep .mat-dialog-container {
  font-size: 0.9rem;
  padding: 0px;
  position: relative;
  overflow: visible;

  .dialog-header {
    height: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    .title {
      color: #242424;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      align-self: stretch;
    }

    .mat-dialog-actions {
      position: absolute;
      top: -5px;
      bottom: unset;
      width: unset !important;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

      padding: 0;
      min-height: 40px;

      button {
        margin: 0 !important;
      }
    }
  }

  .mat-dialog-content.no-scroll {
    overflow-y: hidden;
  }

  .mat-dialog-content {
    padding: 0 0.5rem;
    margin: 0;
    border-top: 1px solid grey;
  }

  .dialog-footer {
    height: 40px;

    .mat-dialog-actions {
      padding-top: 0;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0;
      margin: 0;
      min-height: unset;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }
    }
  }
}

.dialog-header {
  margin: 16px 24px 12px;

  .title {
    color: #242424;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
  }

  .divider {
    background: #dedede;
    height: 1px;
    margin: 12px 0;
    width: 100%;
  }
}

.divider-2 {
  background: #dedede;
  height: 1px;
  width: 100%;
}

::ng-deep .mobile {
  .desktop {
    display: none;
  }
}

::ng-deep .desktop {
  .mobile {
    display: none;
  }
}

.wildfire-button {
  margin: 12px 8px 12px 12px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  background: #f5f5f5;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;

  &-primary {
    margin: 12px 12px 12px 8px;
    border-radius: 5px;
    background: var(--blues-blue-2, #036);
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border: 1px solid #c7c7c7;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
  }
}
