<div class="legend-panel">
  <div class="legend-panel-title">Road Events</div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Minor Severity - Road Conditions" class="legend-accordion-icon" src="/assets/images/svg-icons/minor-road-legend.svg" >
      Minor Severity - Road Conditions
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Moderate Severity - Road Conditions" class="legend-accordion-icon" src="/assets/images/svg-icons/moderate-road-legend.svg" >
      Moderate Severity - Road Conditions
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Major Severity - Road Conditions" class="legend-accordion-icon" src="/assets/images/svg-icons/major-road-legend.svg" >
      Major Severity - Road Conditions
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="Major Severity - Events or Incidents" class="legend-accordion-icon" src="/assets/images/svg-icons/major-incident-road-legend.svg" >
      Major Severity - Events or Incidents
    </div>
  </div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Weather Conditions" class="legend-accordion-icon" src="/assets/images/svg-icons/drivebc-weather-legend.svg" >
          Weather Conditions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Environment Canada Weather warnings and forecast information for a specific location.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Current Planned Events" class="legend-accordion-icon" src="/assets/images/svg-icons/drivebc-current-planned-legend.svg" >
          Current Planned Events
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Planned events that are presently in progress such as maintenance, construction or utility work.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Future Planned Events" class="legend-accordion-icon" src="/assets/images/svg-icons/drivebc-future-planned-legend.svg" >
          Future Planned Events
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Events scheduled to occur at a specific future time and location such as maintenance, construction work, special events, etc.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Road Conditions" class="legend-accordion-icon" src="/assets/images/svg-icons/drivebc-road-conditions-legend.svg" >
          Road Conditions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Extremely dry forest fuels and the fire risk is very serious. New fires will start easily, spread rapidly, and challenge fire suppression efforts.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Incidents" class="legend-accordion-icon" src="/assets/images/svg-icons/drivebc-incidents-legend.svg" >
          Incidents
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Incidents affecting traffic such as a stalled vehicle, hydro lines down or a collision.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

