:host { display: block; }

.associated-wildfire-card {

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding-bottom: 6px;
    border-bottom: 1px solid #DDD;

    .subtitle {
      color: #5B5B5B;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .title-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      align-self: stretch;

      .title {
        color: var(--Black-24, #242424);
        /* 22 SB */
        font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 33px; /* 150% */
        flex: 1 0 0;
      }
      
      .bookmark-icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        align-self: center;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    gap: 4px;

    .wildfire-info {
      display: flex;
      flex-direction: column;
    }
  }
}