<div class="content">
    <div class="header-container">
        <span>{{data.title}}</span>
    </div>
    <div id="map" class="location-map" [ngClass] ="{'location-map-radius': isNotificationRadius}"></div>
    <div class="button-container" [ngClass] = "{'button-contin': isNotificationRadius}">
        <div class="slider-container" *ngIf="isNotificationRadius">
            <div class="slider-label">
                <label>{{ itemHeight.value }}km</label>
            </div>
            <div class="slider">
                <mat-slider min="25" max="100" step="25" tickInterval="1000" value="25" (input)="updateRadius($event)">
                    <input matSliderThumb #itemHeight>
                </mat-slider>
            </div>
        </div>
        <div class="button-row">
            <button mat-flat-button class="notification-map-button" (click)="close()">Cancel</button>
            <button mat-flat-button class="notification-map-button-primary" (click)="saveLocation()">Confirm</button>
        </div>
    </div>
</div>
