.content {
  padding-top: env(safe-area-inset-top, 20px);
  padding-bottom: env(safe-area-inset-bottom, 20px);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.header-container {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 12px;
  span {
    color: var(--light-labels-1-primary, #000);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  }
}

.button-container {
  display: flex;
  gap: 12px;
  padding: 24px 20px;
  align-items: center;
  flex-direction: column;

  min-height: 20dvh !important;
  max-height: 30dvh !important;

  .notification-map-button {
    padding: 8px 32px;
    border-radius: 5px;
    border: 1px solid var(--grays-gray-6, #c4c4c4);
    background: var(--grays-gray-10, #f5f5f5);
    color: var(--grays-black, #000);
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .notification-map-button-primary {
    @extend .notification-map-button;
    background: var(--blues-blue-2, #036);
    color: #fff;
  }
}
.leaflet-marker-icon {
  padding: 10px;
  border-radius: 83.158px;
  border: 3px solid var(--grays-white, #fdfdfd);
  background: var(--blues-blue-4, #1a5a96);
}

.slider-container {
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px -10px 15px -5px rgba(0, 0, 0, 0.23);
  padding: 0 20px; /* Adjust padding as needed */
  min-width: 60vw;
  width: 100%;
  max-width: 100dvw;
  margin-top: -24px;
  z-index: 2;
  .slider-label {
    display: flex;
    align-items: center;

    color: var(--light-labels-1-primary, #000);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-slider {
    width: 90%;
  }
  label {
    padding: 12px 0;
    border-bottom: 1px solid var(--grays-gray-7, #dedede);
    text-align: center;
    width: -webkit-fill-available;
  }

  @media screen and (max-height: 684px) and (min-height: 665px) {
    margin-top: -48px;
  }

  @media screen and (max-height: 664px) and (min-height: 645px) {
    margin-top: -60px;
  }

  @media screen and (max-height: 644px) and (min-height: 620px) {
    margin-top: -80px;
  }

  @media screen and (max-height: 619px) and (min-height: 570px) {
    margin-top: -100px;
  }

  @media screen and (max-height: 569px) and (min-height: 500px) {
    margin-top: -110px;
  }

  @media screen and (max-height: 500px) {
    margin-top: -115px;
  }
}

.location-map {
  min-height: 250px !important;
  height: calc(80vh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)) !important;
  max-height: calc(80dvh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)) !important;
  z-index: 1;
}

.location-map-radius {
  min-height: 250px !important;
  height: calc(70vh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)) !important;
  max-height: calc(70dvh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)) !important;
  z-index: 1;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-button-container {
  padding-top: 0;
}

::ng-deep .cdk-overlay-container .cdk-overlay-pane {
  min-width: 60vw !important;
  max-width: 100dvw !important;
}
