<ng-container *ngIf="loading">
    <div class="near-me-loader">
        <mat-spinner [diameter]="25"></mat-spinner>
        <div class="loading-message">Preparing chart</div>
    </div>
</ng-container>

<ng-container *ngIf="!loading">
    <div class="weather-history-content">
        <div class="station">Weather Station: <span class="name">{{ weatherStation.stationName }}</span></div>

        <div class="weather-history-chart" #chart></div>

        <div class="footer">
            <div class="left">
                <mat-icon class="help-icon" matTooltip="Options" (click)="showOptions()">settings</mat-icon>
            </div>
   
            <div class="right">
                <mat-icon class="help-icon" matTooltip="Help" (click)="showHelp()">help</mat-icon>
            </div>    
        </div>
    </div>
</ng-container>
