<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>

  <div class="divider"></div>
  <div class="rof-text-subheader-black">Do you agree to share information with the BC Wildfire Service?</div>
  <div class="rof-text-body">
    <mat-checkbox [checked]="dataShareAccepted" (change)="dataShareAcceptedToggle($event.checked)">
      <span>I agree to share information provided in this report with BC Wildfire Service</span>
    </mat-checkbox>
  </div>
  <div class="rof-button-container">
    <button mat-flat-button class="rof-button" (click)="close()">Cancel</button>
	  <button mat-flat-button [class]="'rof-button' + (!dataShareAccepted ? '-disabled' : '-primary')" (click)="nextPage()" [disabled]="!dataShareAccepted">Continue</button>
  </div>
</div>
