<div>
  {{ title }}
  {{ message }}

  <div class="divider"></div>
  <h3>Do you agree to share information with the BC Wildfire Service?</h3>
  <mat-checkbox [checked]="dataShareAccepted" (change)="dataShareAcceptedToggle($event.checked)">I agree to share information provided in this report with BC Wildfire Service</mat-checkbox>
  <div>
    <button mat-flat-button (click)="close()">Cancel</button>
	  <button mat-flat-button color="primary" (click)="next()" [disabled]="!dataShareAccepted">Continue</button>
  </div>
</div>
