@import "../../../../../styles/variables";

$sidebar-fixed-width: 300px;
$panel-width: calc(100% - 300px);
// $sidebar-top: 9rem;
$sidebar-top: calc( #{ $wf1-app-header-height } + #{ $wf1-toolbar-height } );

.incident-panel {
    display: flex;
    height: 100%;

    &__sidebar {
        //display: flex;
        //flex-direction: column;
        flex: 0 0 25%;
        width: $sidebar-fixed-width;
        max-width: $sidebar-fixed-width;
        min-width: $sidebar-fixed-width;
        // position: fixed;
        overflow-y: scroll;
        min-height: 0;
        top: $sidebar-top;
        bottom: 0;

        .incident-detail-identification-toolbar {
            background-image: url("../../../../../assets/images/incident.jpg");
            background-size: cover;
            height: 6rem;
            position: relative;

            .incident-detail-labelled-button {
                display: inline-block;
                color: $colour-white;
                background-color: $opacity-dark-grey;

                button {
                    min-width: 4.1rem;
                    padding: 0 0.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    div {
                        text-align: center;
                    }
                }
            }

            .incident-detail-manage-button {
                position: absolute;
                bottom: -2.5rem;
                right: 2rem;
                color: white;
                text-align: center;

                .incident-detail-launch-incident-manager-button {
                    color: white;
                    background-color: #2b78e4;
                }
            }
        }

        ::ng-deep .mat-badge-overlap.mat-badge-after .mat-badge-content {
            right: 7px;
            top: 13px;
        }

        &__tabs {
            &__tab {
                &--active {
                    background-color: #ffffff;
                }

                &__icon {
                    width: 3rem;

                    ::ng-deep {
                        color: #bb3a3a;
                    }
                }

                &__text {
                    text-transform: uppercase;
                }
            }
        }
    }

    &__content {
        box-sizing: border-box;
        background-color: #ffffff;
        // position: absolute;
        // left: $sidebar-fixed-width;
        width: $panel-width;
        overflow-y: scroll;
        min-height: 0;

        .main-form-content {
            padding: 0 1rem;
        }
    }
}
