<div class="container" style="height: auto !important;">
  <div class="header-row">
    <div class="title">
        <h1>Wildfire Resources</h1>
    </div>
    <div *ngIf="!isMobileView()" class="title-button-container">
      <div class="icon-container"><svg class="icon facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#3b5998" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/></svg><a style="text-decoration: none; color: #0e5fa9;" href="https://www.facebook.com/BCForestFireInfo/" target="_blank" rel="noopener">BC Wildfire Service</a></div>
      <div class="icon-container" style="padding-right: 40px;">
        <img alt="icon" src="/assets/images/svg-icons/twitter-x.svg" class="icon twitter">
        <a style="text-decoration: none; color: #0e5fa9;" href="https://mobile.twitter.com/bcgovfireinfo" target="_blank" rel="noopener">@BCGovFireInfo</a>
      </div>    
    </div>
  </div>
  <div class="resource-container">
    <resource-panel *ngFor="let panel of resourcePanels" [panelInfo]="panel"></resource-panel>
  </div>
</div>
