@import "../../../styles/variables";

.header-row {
  display: flex;
  height: 75px;
  .title {
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    min-width: 363px;
    h1 {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .title-button-container {
    margin: auto;
    color: #0e5fa9;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 100%;
    .icon-container {
      margin-left: auto;
      padding-right: 22px;
      .icon {
        position: relative;
        top: 5px;
        height: 20px;
        padding-right: 10px;
        .facebook {
          color: #3b5998;
        }
        .twitter {
          color: #1da1f2;
        }
      }
    }
  }
}

@media (min-width: $desktop-md-min-width) {
  .resource-container {
    display: flex;
    flex-flow: column;
    padding: 22px;
  }

  .container {
    height: calc(100dvh - 125px) !important;
    overflow: hidden;
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    padding: 20px;
    background-color: white;
    max-width: 1500px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .resource-container {
    display: flex;
    flex-flow: column;
  }

  .container {
    height: calc(100dvh - 125px) !important;
    overflow: hidden;
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    padding: 20px;
    background-color: white;
    max-width: 1080px;
    margin: auto;
    padding-bottom: 100px;
  }
}
