<div class="panel-header">Evacuation Orders and Alerts</div>
<section>
    <h1>LEGEND & DEFINITIONS</h1>
    <article>
        <h2 class="orange">Evacuation Alert</h2>
        <p class="paragraph-format">
            An Evacuation Alert is a warning about a potential threat to life and/or property.
            It is intended to give you time to be ready for a possible evacuation.
            Residents will be given as much advance notice as possible prior to evacuation, however, you may receive limited notice due to changing conditions.
        </p>
    </article>
    <article>
        <h2 class="red">Evacuation Order</h2>
        <p class="paragraph-format">
            You are at risk.
            Leave the area immediately.
            You are encouraged to register all family members at the nearest reception centre so emergency responders know you are safe.
        </p>
    </article>
</section>
<section>
  <h1>CURRENT ORDERS / ALERTS</h1>
  <article>
    <div class="evac-list" *ngFor="let evac of evacOrders">
      <div [ngClass]="evac.orderAlertStatus === 'Alert' ? 'status orange' : ' status red'">{{evac.orderAlertStatus}}</div>
      <div class="label" (mouseup)="zoomToEvac(evac)">{{evac.eventName}}</div>
      <div class="issued-by">(Issued By: {{evac.issuingAgency}})</div>
    </div>
  </article>
</section>
<section>
    <h1>MORE INFORMATION</h1>
    <article>
        <p><a href="https://www.emergencyinfobc.gov.bc.ca/" target="_blank" rel="noopener">Current Evacuation Advisory Information</a></p>
        <p><a href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/evacuee-guidance" target="_blank" rel="noopener">Evacuee Guidance</a></p>
        <p><a href="https://www2.gov.bc.ca/gov/content/governments/local-governments/facts-framework/systems" target="_blank" rel="noopener">Local Government System in B.C</a></p>
        <p><a href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/emergency-alerts" target="_blank" rel="noopener">B.C. Emergency Alerts</a></p>
    </article>
</section>
