<section>
    <h1>LEGEND & DEFINITIONS</h1>
    <article>
        <h2 class="orange">Evacuation Alert</h2>
        <p class="paragraph-format">
            An Evacuation Alert is a warning about a potential threat to life and/or property.
            It is intended to give you time to be ready for a possible evacuation.
            Residents will be given as much advance notice as possible prior to evacuation, however, you may receive limited notice due to changing conditions.
        </p>
    </article>
    <article>
        <h2 class="red">Evacuation Order</h2>
        <p class="paragraph-format">
            You are at risk.
            Leave the area immediately.
            You are encouraged to register all family members at the nearest reception centre so emergency responders know you are safe.
        </p>
    </article>
</section>
<section>
    <h1>MORE INFORMATION</h1>
    <article>
        <p>
            <a href="https://www.emergencyinfobc.gov.bc.ca/">Current Evacuation Advisories</a>
        </p>
        <p>
            <a href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/evacuation-recovery/evacuee-guidance">Evacuee Guidance</a>
        </p>
        <p>
            <a href="">List of Local Authorities</a>
        </p>
        <p>
            <a href="">Forest Resource Road Closures</a>
        </p>
        <p>
            <a href="">Broadcast Instrusive Alerts</a>
        </p>
    </article>
</section>
