<div class="title-panel">
  <div class="full-details-title">{{rating}} Danger Rating</div>
  <p class="info">{{dangerDescription()}}</p>
  <div class="button-row">
    <button (click)="navToMap()" mat-button class="map-button"><img height="20" width="20" class="tertiary-icon map-icon"
      src="/assets/images/svg-icons/map.svg" alt="Map" />View on Map</button>
    <button (click)="shareMobile()" mat-button class="map-button"><img height="20" width="20" class="tertiary-icon" src="/assets/images/svg-icons/share.svg"
        alt="Share" />Share</button>
  </div>
</div>
<hr>
<div class="info-container">
  <div class="info"><img height="20" width="20" class="icon" src="/assets/images/svg-icons/carbon_layers.svg" alt="Layers" />BC Wildfire Danger Rating Layer</div>
</div>
<hr>
<div class="info-container">
  <div class="full-details-secondary-title">What is a danger rating?</div>
  <p class="info">Fire danger ratings are used to indicate how easily fires can start and spread in an area, and indicate which areas are at risk of severe wildfire activity.</p>
</div>
<hr>
<div class="info-container">
  <div class="full-details-secondary-title">Update Frequency</div>
  <p class="info">The fire danger rating (i.e. the risk of a wildfire starting) for the province is updated daily at approximately 2 pm. Danger Ratings are not calculated from November to April.</p>
</div>
<hr>
<div class="info-container">
  <div class="full-details-secondary-title">Industrial Activities</div>
  <p class="info">The fire danger rating map is intended for general public information only. For regulated forest operations, the danger class value must be derived from weather data representative of the site on which operations are being conducted.</p>
  <p class="info">Where discrepancies exist between the colour display on the weather maps and the numerical values posted for the weather stations, the posted numerical values shall take precedence for the purpose of implementing the Wildfire Regulation.</p>
</div>
<hr>
<div class="info-container">
  <div class="full-details-secondary-title">Related Topics</div>
  <p class="info">Links will open in your internet browser.</p>
</div>
<div class="links">
  <div class="links-relative">
    <p>Fire Danger Rating<img (click)="navToDangerSummary()" class="link-icon" src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
  </div>
  <div class="links-relative">
    <p>Current Bans and Restrictions<img (click)="navToCurrentRestrictions()" class="link-icon" src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
  </div>
  <div class="links-relative">
    <p>Fire Danger Class<img (click)="navToDangerClass()" class="link-icon" src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
  </div>
  <div class="links-relative">
    <p>High Risk Activities<img (click)="navToHighRiskActivities()" class="link-icon" src="/assets/images/svg-icons/launch.svg" alt="Launch" /></p>
  </div>
</div>
<div class="spacer"></div>
