<div class="top">
  <a class="link" routerLink="../admin" ><mat-icon svgIcon="back-icon" style="height:13px; width: 15px;"></mat-icon> Back to Admin Front Page</a>
  <div class="title">
    <div>
      <h1>Fire Number: <span *ngIf="currentAdminIncident">{{currentAdminIncident.incidentLabel}}</span><span [ngClass]="{'pub-chip': incident.publishedStatus.toLowerCase() === 'published', 'unpub-chip': incident.publishedStatus.toLowerCase() !== 'published'}">{{incident.publishedStatus}}</span></h1>
      <h2 class="wildfire-count">
        <div *ngIf="incident.lastPublished">
        Last Published: {{getPublishedDate().toDateString()}} - {{getPublishedDate().toLocaleTimeString()}}
        </div>
      </h2>
    </div>
    <div class="button-holder">
      <button class="preview-btn" mat-raised-button (click)="onShowPreview()">Show Preview</button>
      <button id="publish-btn" [disabled]="validFormCheck() || publishDisabled" class="publish-btn" mat-raised-button color="primary" (click)="publishChanges()">Publish Changes</button>
    </div>
  </div>
</div>
<!-- Main Body Content -->
<mat-tab-group mat-stretch-tabs="false">
  <mat-tab label="Incident Details">
    <mat-accordion class="details" multi>
      <mat-expansion-panel #IncidentSummaryPanel class="incident-details-panel" expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="panel-title">Incident Summary</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <summary-panel #summaryPanelComponent [incident]="incident"></summary-panel>
    </mat-expansion-panel>
      <mat-expansion-panel #IncidentDetailsPanel class="incident-details-panel" expanded>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <span class="panel-title">Incident Details</span>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <incident-details-panel #detailsPanelComponent [incident]="incident" [formGroup]="incidentForm"></incident-details-panel>
      </mat-expansion-panel>
      <mat-expansion-panel #ContactDetailsPanel class="contact-details-panel" expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Contact</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <contacts-details-panel [incident]="incident" [formGroup]="incidentForm"></contacts-details-panel>
      </mat-expansion-panel>
      <mat-expansion-panel #ResponseDetailsPanel class="response-details-panel" expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Response</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <response-details-panel [incident]="incident" [formGroup]="incidentForm"></response-details-panel>
      </mat-expansion-panel>
      <mat-expansion-panel #EvacuationDetailsPanel class="evacuation-details-panel" expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Evacuation Orders and Alerts</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <evac-orders-details-panel #EvacOrderPanel [incident]="incident" [formGroup]="incidentForm"></evac-orders-details-panel>
      </mat-expansion-panel>
      <mat-expansion-panel #AreaRestrictionsDetailsPanel class="area-restrictions-details-panel" expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="panel-title">Area Restrictions</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <area-restrictions-details-panel #AreaRestrictionsPanel [incident]="incident" [formGroup]="incidentForm"></area-restrictions-details-panel>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Incident Response">
    <ckeditor [editor]="Editor" [(ngModel)]="incident.incidentOverview" (ready)="onReady($event)"></ckeditor>
  </mat-tab>
  <mat-tab label="Image Gallery">
    <image-gallery-panel [incident]="currentAdminIncident"></image-gallery-panel>
  </mat-tab>
  <mat-tab label="Video Gallery">
    <video-gallery-panel [incident]="currentAdminIncident"></video-gallery-panel>
  </mat-tab>
  <mat-tab label="Maps">
    <maps-panel [incident]="currentAdminIncident"></maps-panel>
  </mat-tab>
</mat-tab-group>
