@import "../../../styles/variables";
@import "notosans-fontface/scss/notosans-fontface";

@media (min-width: $desktop-sm-min-width) and (max-width: $desktop-sm-max-width) {
  .widget {
    max-width: 850px;
  }

  .list-button {
    margin-right: 7px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    &-selected {
      margin-right: 7px;
      border-radius: 20px;
      border: 2px solid #38598a !important;
      background-color: #e9f0f8 !important;
      color: #242424 !important;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.79px;
    }
  }
}

@media (min-width: $desktop-md-min-width) {
  .list-button {
    margin-right: 7px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    &-selected {
      margin-right: 7px;
      border-radius: 20px;
      border: 2px solid #38598a !important;
      background-color: #e9f0f8 !important;
      color: #242424 !important;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.79px;
    }
  }
}

.container {
  overflow: hidden;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  padding: 20px;
  background-color: #fdfdfd;
  max-width: 1500px;
  margin: auto;
}

.header-row {
  display: flex;
  height: 75px;
  margin-top: -7px;
  .icon {
    margin-top: 15px;
  }
  .title {
    padding: 10px;
    box-sizing: border-box;
    min-width: 363px;
    h1 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .title-button-container {
    margin: auto;
    color: #0e5fa9;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 100%;
    .icon-container {
      margin-left: auto;
      padding-right: 22px;
      .icon {
        position: relative;
        top: 5px;
        height: 20px;
        padding-right: 10px;
        .facebook {
          color: #3b5998;
        }
        .twitter {
          color: #1da1f2;
        }
      }
    }
  }
}

.content {
}

.tabs {
}

.panel-container {
  display: flex;
  padding-top: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--24, 24px);
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.panel-container > * {
  flex: 1 1 48.996%;
}

.list-button-label {
  margin: 0px 0px 0px 7px;
}

@media screen and (max-width: $mobile-max-width) {
  .tab-button {
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.79px;
    z-index: 100;
    width: 50%;
    font-family: "Noto Sans", "BCSans", Verdana, Arial, sans-serif !important;
    &-selected {
      border-radius: 20px;
      border: 2px solid #1a5a96 !important;
      background-color: #1a5a96 !important;
      color: #fdfdfd !important;
      font-size: 14px;
      font-weight: 400;
      line-height: 21.79px;
      z-index: 200;
      width: 50%;
      font-family: "Noto Sans", "BCSans", Verdana, Arial, sans-serif !important;
    }
  }

  .right-tab {
    margin-left: -25px;
  }

  .list-button {
    margin-right: 7px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.79px;
    &-selected {
      margin-right: 7px;
      border-radius: 20px;
      border: 2px solid #38598a !important;
      background-color: #e9f0f8 !important;
      color: #242424 !important;
      font-size: 14px;
      font-weight: 400;
      line-height: 21.79px;
    }
  }
}
