<div class="container" style="height: auto !important;">
  <div class="header-row">
    <img height="44" width="47" src="/assets/images/svg-icons/bc-logo.svg" alt="Order" class="icon">
    <div class="title">
        <h1>B.C. Wildfire Dashboard</h1>
    </div>
  </div>
  <div class="content">
    <div class="tabs">
      <button [class]="'list-button' + (selectedTab === 0 ? '-selected' : '')" (click)="selectTab(0)" mat-flat-button ><span class="tab-button-label">Current Situation</span></button>
      <button [class]="'list-button' + (selectedTab === 1 ? '-selected' : '')" (click)="selectTab(1)" mat-flat-button ><span class="tab-button-label">Totals this Year</span></button>
    </div>
    <div id="current-stats-page" *ngIf="selectedTab === 0" class="panel-container">
      <!-- Re-Add *ngIf="!offseason()" before deploy to PROD! -->
      <situation-widget class="widget"></situation-widget>
      <summary-widget class="widget"></summary-widget>
      <highlights-widget class="widget"></highlights-widget>
      <overview-widget class="widget"></overview-widget>
      <active-fires-widget class="widget"></active-fires-widget>
      <resources-widget class="widget"></resources-widget>
      <evacuations-widget class="widget"></evacuations-widget>
      <bans-widget class="widget"></bans-widget>
      <fires-of-note-widget class="widget"></fires-of-note-widget>
      <fire-cause-widget class="widget" [yearly]="false"></fire-cause-widget>
      <blog-widget class="widget"></blog-widget>
      <videos-widget class="widget"></videos-widget>
    </div>
    <div id="totals-page" *ngIf="selectedTab === 1" class="panel-container">
      <fire-totals-widget class="widget"></fire-totals-widget>
      <fire-cause-widget class="widget" [yearly]="true"></fire-cause-widget>
      <historical-comparison-widget class="widget"></historical-comparison-widget>
      <fire-centre-stats-widget class="widget"></fire-centre-stats-widget>
    </div>
  </div>
</div>
