.contact-us-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  .header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: #242424;
      font-size: 22px;
      line-height: 33px;
      font-weight: 600;
    }

    .material-icons-outlined {
      cursor: pointer;
    }
  } 
}
