.contact-us-container {
  .header {
    height: 48px;
    padding: 2px;
    background-color: #f2f2f2;
    box-sizing: border-box;

    h1 {
      color: #333333;
      background-color: rgba(255, 255, 255, 0);
      font-size: 22px;
      line-height: 33px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      padding: 8px;
      padding-left: 16px;
      margin: 0px;
    }
  }

  .content {
    padding: 16px;
    overflow: hidden;

    .fire-centre {
      font-size: 18px;
      color: #242424;
      padding-bottom: 24px;
      line-height: 27px;
    }

    .contact-method {
      color: #333333;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      padding-bottom: 24px;

      .icon-label {
        display: flex;
        padding-bottom: 8px;
        .icon {
          padding-right: 10px;
        }
      }

      .value {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .mobile-button {
      border-radius: 5px;
      border: 1px solid #6e6e6e;
      background-color: #fdfdfd;
      color: #333333;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      min-width: 130px;
      width: 47%;
      height: 48px;
    }

    .buttons-row {
      display: flex;
      justify-content: space-between;
    }
  }
}
