<ng-container>
    <div class="dialog-container">
        <div class="header">
            <div class="pm-logo">
                <img src="/assets/images/logo/bcwfservice-logo.png" width="160" height="60" alt="image">
            </div>
        </div>
        <div class="dialog-content" mat-dialog-content>
            <div class="panel">
                <div class="disclaimer-content">
                    <span>BC Wildfire Service Disclaimer.</span>
                    <div class="text">
                        <div>The wildfire incident data described below is updated when practicable and the occurrence of individual fire updates will vary.  The information is intended for general purposes only and should not be relied on as accurate, because fires are dynamic and circumstances may change quickly. This map was designed to keep people in B.C. informed about the current wildfire situation. It is not intended to be used as a risk assessment tool for insurance purposes.</div>

                        <div>Wildfire perimeters for the current fire season, including both active fires and fires that have been declared out, are obtained from various sources. When data becomes available, it is refreshed from operational systems every five minutes to the public map.  The levels of current fire activity within the mapped fire perimeters can vary widely, so therefore the data may not reflect the current fire situation. This information should only be used for reference purposes. In the event that the fire perimeters overlay areas where private property or infrastructure is present, the perimeters do not indicate what level of damage (if any) may have occurred.</div> 

                        <div>The Province receives Evacuation Orders and Alerts information from local governments and First Nations when it becomes available. The BC Wildfire Service and GeoBC make no warranties or guarantees, either expressed or implied, as to the completeness, accuracy or correctness of the data, nor accept any liability arising from any incorrect, incomplete or misleading information contained therein. Emergency data may not reflect the current emergency situation, and therefore should only be used for reference purposes. 
                            <b>For the latest Evacuation Orders and Alerts information, please consult the appropriate local government. For further information regarding the Evacuation Orders and Alerts data, please contact the individual(s) identified in the </b>
                            <a href="https://catalogue.data.gov.bc.ca/dataset/7efd46d0-b5d3-4dff-af80-d376c42aec33" target="_blank" rel="noopener">
                                data catalogue.
                            </a>
                        </div>

                        <div>Fire prohibitions and restrictions apply to all public and private land, unless specified otherwise (in a local government bylaw, for example). Please check with local government authorities for any other restrictions before lighting any fire. The "Fire Danger Rating" layer on this map is intended for general information only and should not be relied on as accurate for a specific location due to variability in local site and weather conditions. Information is updated on a daily basis as soon as is practicable. Where discrepancies exist between this layer and the source information located on the 
                            <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-situation/fire-danger" target="_blank" rel="noopener">
                                Fire Danger Rating
                            </a>
                            webpage, the source information shall take precedence.  For regulated forest operations, the danger class value must be derived from weather data representative of the site on which operations are being conducted. Where discrepancies exist between the colour display on the weather maps and the numerical values posted for the weather stations, the posted numerical values shall take precedence .</div> 

                        <div>More information regarding the
                            <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/fire-bans-and-restrictions/ofts" target="_blank" rel="noopener">
                                Open Fire Tracking System 
                            </a>
                            (OFTS),
                            <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/prevention/for-industry-commercial-operators/hazard-assessment-abatement" target="_blank" rel="noopener">
                                Fuel Hazard Assessment and Abatement,
                            </a>
                            <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/prevention/vegetation-and-fuel-management/prescribed-burning" target="_blank" rel="noopener">
                                Prescribed Burning,
                            </a>
                            and
                            <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-situation/fire-danger/fire-weather" target="_blank" rel="noopener">

                                Weather Stations
                            </a>
                            can be found on the corresponding webpages.</div> 

                        <div>Coordinates provided within the datasets are approximate (based on information provided by outside sources and agencies) and are updated when practicable. The actual extent of wildfires and treatment areas may be different than what is indicated by the provided coordinates.</div> 

                        <div>
                            - Data Catalogue:
                        </div>
                        <div style="padding-left: 1rem">
                            <a href="https://catalogue.data.gov.bc.ca/dataset/2790e3f7-6395-4230-8545-04efb5a18800" target="_blank" rel="noopener">
                            - Fire Points
                            </a>
                        </div>
                        <div style="padding-left: 1rem">
                            <a href="https://catalogue.data.gov.bc.ca/dataset/cdfc2d7b-c046-4bf0-90ac-4897232619e1" target="_blank" rel="noopener">
                            - Fire Perimeters
                            </a>
                        </div>
                        <div>
                            <a href="https://www.drivebc.ca/" target="_blank" rel="noopener">
                            -         DriveBC
                            </a>
                        </div>
                        <div>
                            <a href="https://www.emergencyinfobc.gov.bc.ca/" target="_blank" rel="noopener">
                            -         EmergencyInfoBC
                            </a>
                        </div>
                        <div>
                            <a href="https://www2.gov.bc.ca/gov/content/data/geographic-data-services/web-based-mapping/agol/terms-of-use" target="_blank" rel="noopener">
                            -         B.C. Map Hub Terms of Use
                            </a>
                        </div>
                        <div>
                            <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status" target="_blank" rel="noopener">
                            - Wildfire Status
                            </a>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/BCForestFireInfo/" target="_blank" rel="noopener">
                            - Facebook
                            </a>
                        </div>
                        <div>
                            <a href="https://twitter.com/BCGovFireInfo" target="_blank" rel="noopener">
                            - Twitter
                            </a>
                        </div>
                        <div>
                            <a href="https://firesmartbc.ca/" target="_blank" rel="noopener">
                            - FireSmart BC
                            </a>
                        </div>

                        To report a wildfire, call 1 800 663-5555 toll-free OR *5555 on most cellular networks. 
                    </div>

                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <mat-checkbox [(ngModel)]="dontShowAgain" style="flex: 1; text-align: left;">Don't show again</mat-checkbox>
            <button mat-raised-button color="primary" class="cancel-button" (click)="cancel()" >OK</button>
        </div>
    </div>
</ng-container>