<ng-container>
    <div class="dialog-container">
        <div class="header">
            <div class="pm-logo">
                <img src="/assets/images/logo/bcwfservice-logo.png" width="160" height="60" alt="image">
            </div>
        </div>
        <div class="dialog-content" mat-dialog-content>
            <div class="panel">
                <div class="disclaimer-content">
                    <span>BC Wildfire Service Disclaimer</span>
                    <div class="text" [innerHTML]="disclaimerText"></div>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <bc-checkbox [(ngModel)]="dontShowAgain">Don't show again</bc-checkbox>
            <wfnews-button variant="secondary" label="OK" (buttonClicked)="cancel()"></wfnews-button>
        </div>
    </div>
</ng-container>