<div class="sliding-drawer-boundary" [ngClass]="isVisible ? 'show' : 'hide'">
  <div class="sliding-drawer" #drawerElement cdkDrag cdkDragLockAxis="y" (cdkDragEnded)="calculatePosition($event)" [cdkDragFreeDragPosition]="dragPosition">
    <div class="header" #drawerHeaderElement style="padding-top: 10px;" cdkDragHandle>
      <div class="handle"></div>
      <div class="title">
        <img class="icon" [ngClass]="{'arrow-down': isFullScreen()}" (click)="setPosition()" src="../../../assets/images/svg-icons/carbon_up-arrow.svg" alt="Expand" height="24" width="24" />
        {{title}}
        <img class="icon" (click)="closeDrawer()" src="../../../assets/images/svg-icons/carbon_cancel.svg" alt="Cancel" height="24" width="24" />
      </div>
    </div>
    <div class="content" #drawerContentElement>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <p>Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 1</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <p>Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 2</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <p>Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 3</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <p>Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 4</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <p>Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 5</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <p>Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 6</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
            <p>Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 7</p>
    </div>
  </div>
</div>