<div class = "warning-dialog">
  <div class="title">Warning</div>
  <div class="warning-text">Are you sure you would like to leave this page?</div>
  <div class="warning-text" style="color:#6e6e6e; padding-top: 8px;">If you leave this page, the information shared in this report will be lost.</div>
  <div class="buttons-group">
    <div class="confirm-text" (click)="discardChanges()"> Discard Changes</div>
    <div class="confirm-text" style="padding-top: 15px;"(click)="keepEditing()"> Keep Editing</div>
  </div>

</div>