.warning-dialog {
    border-radius: 28px !important;
    background-color: white;
    .title {
        padding:24px;
        padding-bottom: 16px;
        font-size: 22px;
        color:#333333;
        font-family: "BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
        font-weight: 700;
        text-align: left;
        line-height: 27px;
    }

    .warning-text{
        height: 48px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "BCSans-Regular", "BC Sans", sans-serif;
        color: #333333;
        text-align: left;
        line-height: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .buttons-group {
        padding-top: 50px;
    }
    .confirm-text {
        height: 60px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "BCSans-Bold", "BC Sans Bold", "BC Sans", sans-serif;
        font-weight: 700;
        color: #005aff;
        text-align: center;
        line-height: 24px;
        border-top: solid;
        border-top: solid;
        border-color: #dddddd;
        border-width: 1px;
        padding-top: 20px;
    }
}
