.panel{
    background-color: white !important;
    .warning-card{
        margin-top: 16px;
    }
    .content-panel {
        padding: 24px;
        .content-panel-stack{
            .circle-icon{
                width:16px;
                height: 16px;
            }
            h1 {
                font-size: 22px;
                height: 33px;
                background-color: rgba(255, 255, 255, 0);
                box-sizing: border-box;
                font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
                font-weight: 500;
                color: #252628;
                text-align: left;
                line-height: 33px;
            }

            h4 {
                font-size: 16px;
                height: 24px;
                background-color: rgba(255, 255, 255, 0);
                box-sizing: border-box;
                font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
                font-weight: 500;
                color: #333333;
                text-align: left;
                line-height: 24px;
                margin-top: 0px;
                margin-bottom: 8px;
            }

            .sub-title{
                font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
                font-size: 16px;
                display: flex;
                color: #333333;
                text-align: left;
                line-height: 24px;
                margin-bottom: 8px;
                div {
                    margin-right: 38px;
                  }
                div:last-child{
                    margin-right: 0;
                }

                h4::first-letter {
                    text-transform: capitalize;
                }
            }

            .image-size {
                padding-right: 16px;
                width: 40px;
                height: 40px;
            }

            .sub-content {
                font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
                color: #6e6e6e;
                text-align: left;
                line-height: 24px;

                .icon-label {
                    display: flex;
                    vertical-align: middle;
                    margin-bottom: 8px;
                }

                .icon-title {
                    color: #333333;
                    display: flex;
                    vertical-align: middle;
                    margin-bottom: 8px;
                }
            }

            .mobile-button{
                border-radius: 5px;
                border: 1px solid #6e6e6e;
                background-color: #fdfdfd;
                box-sizing: border-box;
                align-items: center;
                justify-content: center;
                min-width: 130px;
                height: 48px;

                &.fixed-width {
                    width: 170px;
                }
            }

            .current-resources{
                color: #6e6e6e;
                text-align: left;
                line-height: 24px;
                margin-top: 16px;
                margin-bottom: 16px;
                div{
                    display: flex;
                    align-items: center;
                }
                span {
                    text-decoration: underline;
                    color:#242424;
                }
            }

            .content-panel-subtitle{
                font-size: 16px;
                text-align: left;
                color: #6e6e6e;
                line-height: 24px;
            }

            .resource-section{
                a {
                    text-decoration: none;
                }
                span {
                    display: flex;
                    align-items: center;
                    vertical-align: middle;
                    margin-bottom: 8px;
                }
                .resource-section-content{
                    padding: 8px 16px 8px 16px;
                }
                border-radius: 10px;
                background-color: #fdfdfd;
                box-sizing: border-box;
                box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
                margin-bottom: 24px;
            }

            .icon{
                padding-right: 16px;
            }

            .header-row {
                .header-button-container {
                    .print-button {
                    display: none !important;
                    }
                }
            }

            .divider {
                border-bottom: 1px lightgray solid;
                margin-top: 32px;
                margin-bottom: 32px;
            }
        }
    }
}

::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
    background-color:#6e6e6e !important;
    color: #fdfdfd !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) !important;
  }

  .circle-icon{
    &.HOLDING{
        background-color: #ffff00;
        border: 1px solid black;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin-right: 16px;
    }
    &.OUT_CNTRL{
        background-color: #FF0000;
        border: 1px solid black;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin-right: 16px;
    }
    &.UNDR_CNTRL{
        background-color: #98E600;
        border: 1px solid black;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin-right: 16px;
    }
    &.OUT{
        background-color: #5C6671;
        border: 1px solid black;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin-right: 16px;
    }
}
// .tooltip {
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     transform: translateX(-50%);
//     background-color: #f0f0f0;
//     padding: 8px;
//     border-radius: 4px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//   }
