<div class="panel">
    <div class="content-panel">
        <div>
            <div class="count" *ngIf="mobileEvacOrders && mobileEvacOrders.length > 0">
                <div class="order-count" *ngIf="mobileEvacOrders && mobileEvacOrders.length === 1">
                    <img class="icon" src="/assets/images/svg-icons/evacuation-order.svg" alt="evacuation-order" />
                    <span>{{mobileEvacOrders.length}} Evacuation Order</span>
                </div>
                <div class="order-count" *ngIf="mobileEvacOrders && mobileEvacOrders.length > 1">
                    <img class="icon" src="/assets/images/svg-icons/evacuation-order.svg" alt="evacuation-order" />
                    <span>{{mobileEvacOrders.length}} Evacuation Orders</span>
                </div>
                <div class="alert-count" *ngIf="mobileEvacAlerts && mobileEvacOrders.length === 1"> <img class="icon"
                        src="/assets/images/svg-icons/evacuation-alert.svg" alt="evacuation-alert" />
                    <span>{{mobileEvacAlerts.length}} Evacuation Alert</span>
                </div>
                <div class="alert-count" *ngIf="mobileEvacAlerts && mobileEvacOrders.length > 1">
                    <img class="icon" src="/assets/images/svg-icons/evacuation-alert.svg"
                        alt="evacuation-alert" /><span>{{mobileEvacAlerts.length}} Evacuation Alerts</span>
                </div>
                <hr>
            </div>
            <div class="content-panel-stack">
                <h1>Overview</h1>
                <div class="sub-content">
                    <div class="icon-label fire-of-note" *ngIf="incident.fireOfNoteInd">
                        <img class="fire-icon" height="24" width="24" src="/assets/images/local_fire_department.png"
                            alt="local_fire_department" />
                        <span>Wildfire Of Note</span>
                    </div>
                    <div class="icon-label">
                        <span class="circle-icon {{incident.stageOfControlCode}}"></span>
                        <span>{{getStageOfControlLabel(incident.stageOfControlCode)}}</span>
                    </div>
                    <div class="icon-label">
                        <img class="icon" height="24" width="24" src="/assets/images/svg-icons/notepad.svg"
                            alt="notepad" />
                        <span>Fire Number {{incident.incidentNumberLabel}}</span>
                    </div>
                    <div class="icon-label">
                        <img class="icon" height="24" width="24" src="/assets/images/svg-icons/carbon_ruler.svg"
                            alt="carbon_ruler" />
                        <span>{{incident.incidentSizeEstimatedHa}} Hectares</span>
                    </div>
                    <div class="icon-label">
                        <img class="icon" height="24" width="24" src="/assets/images/svg-icons/calendar.svg"
                            alt="calendar" />
                        <span>Discovered on {{incident.discoveryDate}}</span>
                    </div>
                    <div class="icon-label">
                        <img class="icon" height="24" width="24" src="/assets/images/svg-icons/edit.svg" alt="edit" />
                        <span>Updated {{incident.updateDate}}</span>
                    </div>
                    <div class="icon-label">
                        <img class="icon" height="24" width="24" src="/assets/images/svg-icons/location-pin.svg"
                            alt="location-pin" />
                        <span>{{incident.fireCentreName}}</span>
                    </div>
                    <div class="icon-label">
                        <img class="icon" height="24" width="24" src="/assets/images/svg-icons/carbon_layers.svg"
                            alt="carbon_layers" />
                        <span>BC Wildfires Active Fires Layer</span>
                    </div>
                </div>
                <div class="current-resources"
                    *ngIf="incident.wildfireCrewResourcesInd || incident.wildfireAviationResourceInd || incident.incidentMgmtCrewRsrcInd || incident.heavyEquipmentResourcesInd || incident.structureProtectionRsrcInd">
                    <h4>Current Resources</h4>
                    <div *ngIf="incident.wildfireCrewResourcesInd">
                        <img class="image-size" src="../../../assets/images/svg-icons/wildfire-crews-mobile.svg"
                            alt="Wildfire Crews" height="36" width="36" />
                        Wildfire Crews
                    </div>
                    <div *ngIf="incident.wildfireAviationResourceInd">
                        <img class="image-size" src="../../../assets/images/svg-icons/aviation-mobile.svg"
                            alt="Aviation" height="36" width="36" />
                        Aviation
                    </div>
                    <div *ngIf="incident.incidentMgmtCrewRsrcInd">
                        <img class="image-size"
                            src="../../../assets/images/svg-icons/incident-management-teams-mobile.svg"
                            alt="Incident Management Team" height="36" width="36" />
                        Incident Management Teams
                    </div>
                    <div *ngIf="incident.heavyEquipmentResourcesInd">
                        <img class="image-size" src="../../../assets/images/svg-icons/heavy_equipment-mobile.svg"
                            alt="Heavy Equipment" height="36" width="36" />
                        Heavy Equipment
                    </div>
                    <div *ngIf="incident.structureProtectionRsrcInd">
                        <img class="image-size" src="../../../assets/images/svg-icons/structure-protection-mobile.svg"
                            alt="Structure Protection Units" height="36" width="36" />
                        Structure Protection Units
                    </div>
                    <div style="padding-top:16px" (click)="scrollToSection(event, 'currentResourcesSection')">
                        <span> Jump to current resources section</span>
                        <mat-icon>chevron_right</mat-icon>
                    </div>
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <div class="sub-title">
                    <h1>Stage of Control</h1>
                </div>
                <div *ngIf="incident.fireOfNoteInd">
                    <div class="sub-content">
                        <div class="icon-title">
                            <img class="fire-icon" style="padding-right: 18px !important" height="22" width="22" src="/assets/images/local_fire_department.png"
                                alt="local_fire_department" />
                            <span>Wildfire Of Note</span>
                        </div>
                    </div>
                    <div class="sub-content">
                        This wildfire is highly visible or poses a potential threat to public safety.
                    </div>
                </div>
                <br />
                <div>
                    <div class="sub-title">
                        <span class="circle-icon {{incident.stageOfControlCode}}"></span>
                        <h4>{{getStageOfControlLabel(incident.stageOfControlCode)}}</h4>
                    </div>
                    <div class="sub-content" style="display: flex; align-items: baseline;">
                        {{getStageOfControlDescription(incident.stageOfControlCode)}}
                    </div>
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <div class="sub-title">
                    <h1 style="margin-bottom: 4px;">Fire Size</h1>
                </div>
                <div class="sub-content" style="color:#3e4347; display: flex; align-items: baseline;">
                    <img class="icon" height="24" width="24" src="/assets/images/svg-icons/carbon_ruler.svg"
                        alt="carbon_ruler" />
                    {{incident.incidentSizeEstimatedHa ? incident.incidentSizeEstimatedHa.toLocaleString() : 0}}
                    Hectares
                </div>
                <div class="sub-content">
                    {{incident.incidentSizeDetail || 'Fire size is estimated and based on the most current information
                    available.'}}
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Location</h1>
                <div *ngIf="incident.traditionalTerritoryDetail">
                    <div class="sub-title"><img class="icon" height="24" width="24"
                            src="/assets/images/svg-icons/carbon_map.svg" alt="carbon_map" /> Traditional Territory
                    </div>
                    <div class="sub-content">
                        {{incident.traditionalTerritoryDetail}}
                    </div>
                </div>
                <div *ngIf="incident.incidentLocation">
                    <div class="sub-title">Description</div>
                    <div class="sub-content">
                        {{incident.incidentLocation}}
                    </div>
                </div>
                <br />
                <button mat-button class="mobile-button" (click)="navigateToMap()">
                    <span class="material-icons-outlined">map</span>
                    <span class="map-button"> View Full Map</span>
                </button>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Evacuations</h1>
                <div class="sub-content"
                    *ngIf="!mobileEvacOrders || mobileEvacOrders.length <= 0 || !mobileEvacAlerts || mobileEvacAlerts.length <= 0">
                    There are no current evacuation orders or alerts associated with this incident.</div>
                <div *ngIf="mobileEvacOrders && mobileEvacOrders.length >= 1">
                    <div class="evac-title"><img class="icon" src="/assets/images/svg-icons/union.svg"
                            alt="union" />Evacuation Orders</div>
                    <div class="sub-content">
                        People in this area are at risk and should leave the area immediately.
                    </div>
                    <div class="info-card"
                        style="border: 2px solid var(--reds-red-7, #F4CFCF); background: var(--reds-red-9, #FEF1F2);  "
                        *ngFor="let item of mobileEvacOrders">
                        <div class="title"><img class="icon" src="/assets/images/svg-icons/evacuation-order.svg"
                                alt="evacuation-order" />
                            Evacuation Order for {{incident.incidentName ? incident.incidentName :
                            incident.incidentNumberLabel}}</div>
                        <hr>
                        <div class="subtitle">
                            <img class="icon" height="16" width="16" src="/assets/images/svg-icons/calendar.svg"
                                alt="calendar" />Issued on {{item.issuedOn}}
                        </div>
                        <div class="subtitle">
                            <img class="icon" height="16" width="16" src="/assets/images/svg-icons/issuing_agency.svg"
                                alt="issuing_agency" />Issued by {{item.issuingAgency}}
                            <img height="20" (click)="navigateToEvac(item)" width="20" class="arrow-button" style="background: var(--reds-red-6, #FBE3E3);"
                                src="/assets/images/svg-icons/forward-arrow-red.svg">
                        </div>
                    </div>
                </div>
                <div *ngIf="mobileEvacAlerts && mobileEvacAlerts.length >= 1">
                    <div class="evac-title"><img class="icon" src="/assets/images/svg-icons/custom_warning.svg"
                            alt="ustom_warning" />Evacuation Alerts</div>
                    <div class="sub-content">
                        An evacuation alert is a warning about a potential threat to life and/or property. It is
                        intended to give you time to be ready for a possible evacuation.
                    </div>
                    <div class="info-card"
                        style="border: 2px solid var(--yellows-yellow-6, #F3D999); background: var(--yellows-yellow-6, #FCF3D4);"
                        *ngFor="let item of mobileEvacAlerts">
                        <div class="title"><img class="icon" src="/assets/images/svg-icons/evacuation-alert.svg"
                                alt="evacuation-alert" />Evacuation Alert for {{incident.incidentName ?
                            incident.incidentName :
                            incident.incidentNumberLabel}}</div>
                        <hr>
                        <div class="subtitle">
                            <img class="icon" height="16" width="16" src="/assets/images/svg-icons/calendar.svg"
                                alt="calendar" />Issued on {{item.issuedOn}}
                        </div>
                        <div class="subtitle"><img class="icon" height="16" width="16"
                                src="/assets/images/svg-icons/issuing_agency.svg" alt="issuing_agency" />Issued by
                            {{item.issuingAgency}}
                            <img height="20" (click)="navigateToEvac(item)" width="20" class="arrow-button" style="background: #F2E8C4;" 
                                src="/assets/images/svg-icons/forward-arrow-yellow.svg">
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Area Restrictions</h1>
                <div class="sub-content"
                    *ngIf="!areaRestrictions || areaRestrictions.length <= 0 ; else displayAreaRestrictions">There are
                    no current area restrictions near this incident.</div>
                <ng-template #displayAreaRestrictions>
                    <div class="sub-content">
                        Area restrictions or forest use restrictions refer to area closures and activity
                        restrictions
                        necessary to limit the risk of a fire, address a public safety concern or avoid interference
                        with fire control. </div>
                    <div class="info-card"
                        style="border: 2px solid var(--grays-gray-6, #C4C4C4); background: var(--grays-gray-10, #F5F5F5);"
                        *ngFor="let area of areaRestrictions">
                        <div class="title"><img class="icon" height="24" width="24"
                                src="/assets/images/svg-icons/area-restriction.svg"
                                alt="area-restriction" />{{area.name}}</div>
                        <hr>
                        <div class="subtitle"><img class="icon" height="16" width="16"
                                src="/assets/images/svg-icons/location-pin.svg" alt="location-pin" />{{area.fireCentre}}
                            Fire Centre</div>
                        <div class="subtitle"><img class="icon" height="16" width="16"
                                src="/assets/images/svg-icons/calendar.svg" alt="calendar" />Issued on
                            {{convertToDateYear(area.accessStatusEffectiveDate)}}
                            <img (click)="navigateToAreaRestriction(area)" height="20" width="20" class="arrow-button"
                            src="/assets/images/svg-icons/forward-arrow-grey.svg"></div>
                    </div>
                </ng-template>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Suspected Cause</h1>

                <div class="sub-title">
                    <div class="sub-content">
                        <div *ngIf='incident.generalIncidentCauseCatId === 1'>
                            <img class="icon" height="24" width="24" src="/assets/images/svg-icons/human.svg"
                                alt="human" />
                            {{getCauseLabel(incident.generalIncidentCauseCatId)}}
                        </div>
                        <div *ngIf='incident.generalIncidentCauseCatId === 2'>
                            <img class="icon" height="24" width="24" src="/assets/images/svg-icons/lightning.svg"
                                alt="lightning" />
                            {{getCauseLabel(incident.generalIncidentCauseCatId)}}
                        </div>
                        <div *ngIf='incident.generalIncidentCauseCatId === 3'>
                            <img class="icon" height="24" width="24" src="/assets/images/svg-icons/help.svg"
                                alt="question" />
                            {{getCauseLabel(incident.generalIncidentCauseCatId)}}
                        </div>
                    </div>
                </div>
                <div class="sub-content">
                    {{getCauseDescription(incident.generalIncidentCauseCatId)}}
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Contact Us</h1>
                <div>
                    <div style="display: flex; margin-bottom: 5px;"><span class="material-icons-outlined"
                            style="padding-right: 10px;">badge</span><span>{{convertToFireCentreDescription(incident.contactOrgUnitIdentifer
                            || incident.fireCentreName || incident.fireCentreCode || incident.fireCentre)}}</span></div>
                    <div style="display: flex; margin-bottom: 5px;"><span class="material-icons-outlined"
                            style="padding-right: 10px;">email</span><span>{{incident.contactEmailAddress}}</span></div>
                    <div style="display: flex; margin-bottom: 5px;"><span class="material-icons"
                            style="padding-right: 10px;">call</span><span>{{incident.contactPhoneNumber}}</span></div>
                </div>
                <div style="display: flex; justify-content: space-between; padding-top: 24px;">
                    <button mat-button class="mobile-button fixed-width"
                        (click)="callFireCentre(incident.contactPhoneNumber)">
                        <span class="material-icons">call</span>
                        Call Us
                    </button>
                    <button mat-button class="mobile-button fixed-width"
                        (click)="emailFireCentre(incident.contactEmailAddress)">
                        <span class="material-icons-outlined">email</span>
                        Email Us
                    </button>
                </div>
                <div class="divider"></div>
            </div>

        </div>
    </div>