
<div class="panel">

  <div class="content-panel">
      <div>
        <div class="content-panel-stack">
            <h1>Summary</h1>
            <h4>Stage of Control</h4>
            <div class="stage-of-control">
                <div *ngIf="incident.fireOfNoteInd"><img class="icon" height="22" width="22" src="/assets/images/local_fire_department.png" alt="local_fire_department">Wildfire Of Note</div>
                <div>{{getStageOfControlLabel(incident.stageOfControlCode)}}</div>
            </div>
            <h4>Current Resources</h4>
            <div class="current-resources" *ngIf="incident.wildfireCrewResourcesInd || incident.wildfireAviationResourceInd || incident.incidentMgmtCrewRsrcInd || incident.heavyEquipmentResourcesInd || incident.structureProtectionRsrcInd">
                <div *ngIf="incident.wildfireCrewResourcesInd"> 
                    <img class="image-size" src="../../../assets/images/svg-icons/wildfire-crews-mobile.svg" alt="Wildfire Crews" />
                    Wildfire Crews
                </div>
                <div *ngIf="incident.wildfireAviationResourceInd"> 
                    <img class="image-size" src="../../../assets/images/svg-icons/aviation-mobile.svg" alt="Aviation" />
                    Aviation Crews
                </div>
                <div *ngIf="incident.incidentMgmtCrewRsrcInd"> 
                    <img class="image-size" src="../../../assets/images/svg-icons/incident-management-teams-mobile.svg" alt="Incident Management Team" />
                    Incident Management Teams
                </div>
                <div *ngIf="incident.heavyEquipmentResourcesInd"> 
                    <img class="image-size" src="../../../assets/images/svg-icons/heavy_equipment-mobile.svg" alt="Heavy Equipment" />
                    Heavy Equipment
                </div>
                <div *ngIf="incident.structureProtectionRsrcInd">
                    <img class="image-size" src="../../../assets/images/svg-icons/structure-protection-mobile.svg" alt="Structure Protection Units" />
                    Structure Protection Units
                </div>
                <div style="padding-top:16px">
                    <span> Jump to current resources section</span>
                    <mat-icon>chevron_right</mat-icon>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
  </div>
