<div class="panel">
    <div class="warning-card" *ngFor="let evac of evacOrders" (click)="navigateToEvac(evac)">
        <alert-order-banner [evac]="evac" />
    </div>

    <div class="content-panel">
        <div>
            <div class="content-panel-stack">
                <h1>Summary</h1>
                <div class="sub-title">
                    <h4>Stage of Control</h4>
                </div>
                <div class="sub-content">
                    <div style="display: inline-flex; gap: 38px">
                        <div class="icon-label" *ngIf="incident.fireOfNoteInd">
                            <img class="icon" height="24" width="24" src="/assets/images/local_fire_department.png"
                                alt="local_fire_department" />
                            <span>Wildfire Of Note</span>
                        </div>
                        <div class="icon-label">
                            <span *ngIf="!incident.fireOfNoteInd"
                                class="circle-icon {{incident.stageOfControlCode}}"></span>
                            <span>{{getStageOfControlLabel(incident.stageOfControlCode)}}</span>
                        </div>
                    </div>
                </div>
                <div class="current-resources"
                    *ngIf="incident.wildfireCrewResourcesInd || incident.wildfireAviationResourceInd || incident.incidentMgmtCrewRsrcInd || incident.heavyEquipmentResourcesInd || incident.structureProtectionRsrcInd">
                    <h4>Current Resources</h4>
                    <div *ngIf="incident.wildfireCrewResourcesInd">
                        <img class="image-size" src="../../../assets/images/svg-icons/wildfire-crews-mobile.svg"
                            alt="Wildfire Crews" height="36" width="36" />
                        Wildfire Crews
                    </div>
                    <div *ngIf="incident.wildfireAviationResourceInd">
                        <img class="image-size" src="../../../assets/images/svg-icons/aviation-mobile.svg"
                            alt="Aviation" height="36" width="36" />
                        Aviation Crews
                    </div>
                    <div *ngIf="incident.incidentMgmtCrewRsrcInd">
                        <img class="image-size"
                            src="../../../assets/images/svg-icons/incident-management-teams-mobile.svg"
                            alt="Incident Management Team" height="36" width="36" />
                        Incident Management Teams
                    </div>
                    <div *ngIf="incident.heavyEquipmentResourcesInd">
                        <img class="image-size" src="../../../assets/images/svg-icons/heavy_equipment-mobile.svg"
                            alt="Heavy Equipment" height="36" width="36" />
                        Heavy Equipment
                    </div>
                    <div *ngIf="incident.structureProtectionRsrcInd">
                        <img class="image-size" src="../../../assets/images/svg-icons/structure-protection-mobile.svg"
                            alt="Structure Protection Units" height="36" width="36" />
                        Structure Protection Units
                    </div>
                    <div style="padding-top:16px" (click)="scrollToSection(event, 'currentResourcesSection')">
                        <span> Jump to current resources section</span>
                        <mat-icon>chevron_right</mat-icon>
                    </div>
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <div class="sub-title">
                    <h1>Stage of Control</h1>
                </div>
                <div *ngIf="incident.fireOfNoteInd">
                    <div class="sub-content">
                        <div class="icon-title">
                            <img class="icon" style="padding-right: 8px !important;" height="22" width="22"
                                src="/assets/images/local_fire_department.png" alt="local_fire_department" />
                            <span>Wildfire Of Note</span>
                        </div>
                    </div>
                    <div class="sub-content">
                        This wildfire is highly visible or poses a potential threat to public safety.
                    </div>
                </div>
                <br />
                <div>
                    <div class="sub-title">
                        <span *ngIf="!incident.fireOfNoteInd"
                            class="circle-icon {{incident.stageOfControlCode}}"></span>
                        <h4>{{getStageOfControlLabel(incident.stageOfControlCode)}}</h4>
                    </div>
                    <div class="sub-content" style="display: flex; align-items: baseline;">
                        {{getStageOfControlDescription(incident.stageOfControlCode)}}
                    </div>
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <div class="sub-title">
                    <h1 style="margin-bottom: 4px;">Fire Size</h1>
                </div>
                <div class="sub-content" style="color:#3e4347; display: flex; align-items: baseline;">
                    {{incident.incidentSizeEstimatedHa ? incident.incidentSizeEstimatedHa.toLocaleString() : 0}}
                    Hectares
                    <button mat-icon-button [matTooltip]="getTooltipText()" #tooltip="matTooltip"
                        (click)="tooltip.toggle()"><mat-icon>help_outline</mat-icon></button>
                </div>
                <div class="sub-content">
                    {{incident.incidentSizeDetail || 'Fire size is estimated and based on the most current information
                    available.'}}
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Location</h1>
                <div *ngIf="incident.incidentLocation">
                    <div class="sub-title"> Description</div>
                    <div class="sub-content">
                        {{incident.incidentLocation}}
                    </div>
                </div>
                <br />
                <div *ngIf="incident.traditionalTerritoryDetail">
                    <div class="sub-title"> Traditional Territory</div>
                    <div class="sub-content">
                        {{incident.traditionalTerritoryDetail}}
                    </div>
                </div>
                <br />
                <button mat-button class="mobile-button" (click)="navigateToMap()">
                    <span class="material-icons-outlined">map</span>
                    View on Wildfire Map
                </button>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Suspected Cause</h1>

                <div class="sub-title">
                    <h4>{{getCauseLabel(incident.generalIncidentCauseCatId)}}</h4>
                </div>
                <div class="sub-content">
                    {{getCauseDescription(incident.generalIncidentCauseCatId)}}
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Evacuation Notices</h1>
                <div class="sub-content" *ngIf="!evacOrders || evacOrders.length <= 0 ; else displayEvacOrders">
                    There are no current evacuation orders or alerts associated with this incident.</div>
                <ng-template #displayEvacOrders>
                    <div *ngFor="let evac of evacOrders">
                        <alert-order-banner [card]="true" [evac]="evac" />
                    </div>
                    <div class="sub-title">
                        <h4>What is an Evacuation Order?</h4>
                    </div>
                    <div class="sub-content">
                        You are at risk. Leave the area immediately. You are encouraged to register all family members
                        at the nearest reception centre so emergency responders know you are safe.
                    </div>
                </ng-template>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Area Restrictions</h1>
                <div class="sub-content"
                    *ngIf="!areaRestrictions || areaRestrictions.length <= 0 ; else displayAreaRestrictions">There are
                    no current area restrictions near this incident.</div>
                <ng-template #displayAreaRestrictions>
                    <div class="evac-order-card" *ngFor="let area of areaRestrictions"
                        (click)="navigateToAreaRestriction(area)">
                        <span class="container">
                            <span class="material-icons">error</span>
                            <span> Area Restriction: {{area.eventName}}</span>
                        </span>
                    </div>
                    <div class="sub-title">
                        <h4>What is an Area Restrictions?</h4>
                    </div>
                    <div class="sub-content">
                        Area restrictions or forest use restrictions refer to area closures and activity restrictions
                        necessary to limit the risk of a fire, address a public safety concern or avoid interference
                        with fire control. </div>
                </ng-template>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack" *ngIf="incident.responseTypeCode">
                <h1>Response Type</h1>
                <div>
                    <div class="sub-title">
                        <h4>{{incident.responseTypeCode.toLowerCase()}}</h4>
                    </div>
                    <div class="sub-content">{{getResponseTypeDescription(incident.responseTypeCode)}}</div>
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack" id="currentResourcesSection"
                *ngIf="(incident.wildfireCrewResourcesInd || incident.wildfireAviationResourceInd || incident.incidentMgmtCrewRsrcInd || incident.heavyEquipmentResourcesInd || incident.structureProtectionRsrcInd)">
                <h1>Current Resources</h1>
                <div class="sub-content">The BC Wildfire Service relies on thousands of people each year to respond to
                    wildfires. This includes firefighters, air crew, equipment operators, and support staff. For more
                    information on resources assigned to this incident, please contact the information officer listed in
                    the “Contact Us” section.</div>
                <br />
                <div class="resource-section" *ngIf="incident.wildfireCrewResourcesInd">
                    <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/wildfire-personnel-and-response-tools/wildfire-crews"
                        target="_blank" rel="noopener">
                        <div class="resource-section-content">
                            <span>
                                <img class="image-size" src="../../../assets/images/svg-icons/wildfire-crews-mobile.svg"
                                    alt="Wildfire Crews" />
                                <h4>Wildfire Crews</h4>
                            </span>
                            <div class="sub-content">
                                <div>{{incident.wildfireCrewResourcesDetail}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="resource-section" *ngIf="incident.wildfireAviationResourceInd">
                    <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/wildfire-personnel-and-response-tools/wildfire-aviation"
                        target="_blank" rel="noopener">
                        <div class="resource-section-content">
                            <span>
                                <img class="image-size" src="../../../assets/images/svg-icons/aviation-mobile.svg"
                                    alt="Wildfire Crews" />
                                <h4>Wildfire Aviation</h4>
                            </span>
                            <div class="sub-content">
                                <div>{{incident.wildfireAviationResourceDetail}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="resource-section" *ngIf="incident.incidentMgmtCrewRsrcInd">
                    <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/wildfire-personnel-and-response-tools/incident-management"
                        target="_blank" rel="noopener">
                        <div class="resource-section-content">
                            <span>
                                <img class="image-size"
                                    src="../../../assets/images/svg-icons/incident-management-teams-mobile.svg"
                                    alt="Wildfire Crews" />
                                <h4>Incident Management Team</h4>
                            </span>
                            <div class="sub-content">
                                <div>{{incident.incidentMgmtCrewRsrcDetail}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="resource-section" *ngIf="incident.heavyEquipmentResourcesInd">
                    <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/wildfire-personnel-and-response-tools/heavy-equipment"
                        target="_blank" rel="noopener">

                        <div class="resource-section-content">
                            <span>
                                <img class="image-size"
                                    src="../../../assets/images/svg-icons/heavy_equipment-mobile.svg"
                                    alt="Wildfire Crews" />
                                <h4>Heavy Equipment</h4>
                            </span>
                            <div class="sub-content">
                                <div>{{incident.heavyEquipmentResourcesDetail}}</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="resource-section" *ngIf="incident.structureProtectionRsrcInd">
                    <a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/wildfire-personnel-and-response-tools/structure-protection"
                        target="_blank" rel="noopener">
                        <div class="resource-section-content">
                            <span>
                                <img class="image-size"
                                    src="../../../assets/images/svg-icons/structure-protection-mobile.svg"
                                    alt="Wildfire Crews" />
                                <h4>Structure Protection</h4>
                            </span>
                            <div class="sub-content">
                                <div>{{incident.structureProtectionRsrcDetail}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="divider"></div>
            </div>

            <div class="content-panel-stack">
                <h1>Contact Us</h1>
                <div>
                    <div style="display: flex; margin-bottom: 5px;"><span class="material-icons-outlined"
                            style="padding-right: 10px;">badge</span><span>{{convertToFireCentreDescription(incident.contactOrgUnitIdentifer
                            || incident.fireCentreName || incident.fireCentreCode || incident.fireCentre)}}</span></div>
                    <div style="display: flex; margin-bottom: 5px;"><span class="material-icons-outlined"
                            style="padding-right: 10px;">email</span><span>{{incident.contactEmailAddress}}</span></div>
                    <div style="display: flex; margin-bottom: 5px;"><span class="material-icons"
                            style="padding-right: 10px;">call</span><span>{{incident.contactPhoneNumber}}</span></div>
                </div>
                <div style="display: flex; justify-content: space-between; padding-top: 24px;">
                    <button mat-button class="mobile-button fixed-width" (click)="callFireCentre(incident.contactPhoneNumber)">
                        <span class="material-icons">call</span>
                        Call Us
                    </button>
                    <button mat-button class="mobile-button fixed-width" (click)="emailFireCentre(incident.contactEmailAddress)">
                        <span class="material-icons-outlined">email</span>
                        Email Us
                    </button>
                </div>
                <div class="divider"></div>
            </div>

        </div>
    </div>