<div class="content">
    <div class="header">
        <h2 mat-dialog-title class="title">{{ data.title }}</h2>
    </div>
    <p mat-dialog-content class="text">{{ data.text }}</p>
    <div mat-dialog-actions class="button-group">
        <wfnews-button [nativeButton]="true" [label]="cancelLabel" [componentStyle]="cancelStyle"
            (buttonClicked)="closeDialog()"></wfnews-button>
        <wfnews-button [nativeButton]="true" [label]="confirmLabel" [componentStyle]="confirmStyle"
            (buttonClicked)="confirm()"></wfnews-button>
    </div>
</div>
