<div class="legend-panel">
  <div class="legend-panel-title">Fire Danger Rating</div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Extreme Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/extreme-danger-legend.svg" >
          Extreme Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Extremely high risk of fire starting. Forest fuels are extremely dry and the fire risk is very serious. Fires can start easily, spread rapidly, and challenge fire suppression efforts. Forest activities may be restricted.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="High Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/high-danger-legend.svg" >
          High Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Serious risk of fire starting. Forest fuels are very dry and extreme caution must be used.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Moderate Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/moderate-danger-legend.svg" >
          Moderate Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Moderate risk of fire starting. Forest fuels are dry and caution should be exercised in forested areas.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Low Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/low-danger-legend.svg" >
          Low Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Low risk of fire starting. Fires are unlikely to involve deeper fuel layers or larger fuels. Fire is still possible, so be prepared for conditions to change.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Very Low Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/very-low-danger-legend.svg" >
          Very Low Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Very low risk of fire starting.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

