<div class="legend-panel">
  <div class="legend-panel-title">Fire Danger Rating</div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Extreme Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/extreme-danger-legend.svg" >
          Extreme Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Extremely dry forest fuels and the fire risk is very serious. New fires will start easily, spread rapidly, and challenge fire suppression efforts. General forest activities may be restricted, including open burning, industrial activities and campfires.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="High Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/high-danger-legend.svg" >
          High Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Forest fuels are very dry and the fire risk is serious. New fires may start easily, burn vigorously, and challenge fire suppression efforts. Extreme caution must be used in any forest activities. Open burning and industrial activities may be restricted.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Moderate Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/moderate-danger-legend.svg" >
          Moderate Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Forest fuels are drying and there is an increased risk of surface fires starting. Carry out any forest activities with caution.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Low Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/low-danger-legend.svg" >
          Low Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Fires may start easily and spread quickly but there will be minimal involvement of deeper fuel layers or larger fuels.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Very Low Fire Danger" class="legend-accordion-icon" src="/assets/images/svg-icons/very-low-danger-legend.svg" >
          Very Low Fire Danger
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">The amount of dry forest fuels are limited and are at a low risk of catching fire.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

