.dialog-title {
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  padding: 16px;
}
.dialog-content {
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  padding: 16px;
}
