.dialog-title {
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
    padding: 16px;
}
.dialog-content {
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
    padding: 16px;
}