.left-panel-board{
    order:1;
    width: 720px;

    .stage-control {
        border-bottom: 1px solid #dddddd;
        padding:10px;
        
        .stage-control-panel {
            background-color: #f2f2f2;;
        }

        .panel-text {
            color: #0056a5;
            font-size: 16px;
            font-weight: bold
        }
    };

    .active-wildfire-counts{
        padding:30px 10px;
        margin-left: 10px;
        font-size: 16px;
        border-bottom: 1px solid #dddddd;
        
        .wildfires-note-toggle{
            padding:0 5px
        }


        .list-view-button {
            margin:0 20px
        }
    }
}