<div class="time-dimension-container">

    <div *ngIf="isHistorical()" [formGroup]="historicalFormGroup">

        <mat-form-field #timeToolRangeStartField class="date-range-input">
            <mat-label>Start</mat-label>
            <div class="date-picker-input">
                <input matInput #timeToolRangeStartInput required="true" formControlName="range" [min]="windowRange().fix().start" [max]="windowRange().fix().end"
                    [owlDateTime]="timeToolRangeStartDT"
                    [selectMode]="'rangeFrom'">
                <button mat-button [owlDateTimeTrigger]="timeToolRangeStartDT">
                    <mat-icon>event</mat-icon>
                </button>
            </div>
            <owl-date-time #timeToolRangeStartDT [showSecondsTimer]="false"></owl-date-time>
            <mat-error *ngFor="let error of getHistoricalStartErrors()">{{error}}</mat-error>
        </mat-form-field>
        <mat-form-field #timeToolRangeEndField class="date-range-input">
            <mat-label>End</mat-label>
            <div class="date-picker-input">
                <input matInput #timeToolRangeEndInput required="true" formControlName="range" [min]="windowRange().fix().start" [max]="windowRange().fix().end"
                    [owlDateTime]="timeToolRangeEndDT"
                    [selectMode]="'rangeTo'">
                <button mat-button [owlDateTimeTrigger]="timeToolRangeEndDT">
                    <mat-icon>event</mat-icon>
                </button>
            </div>
            <owl-date-time #timeToolRangeEndDT [showSecondsTimer]="false"></owl-date-time>
            <mat-error *ngFor="let error of getHistoricalEndErrors()">{{error}}</mat-error>
        </mat-form-field>
    </div>

    <div *ngIf="isPresent()">
        <mat-form-field>
            <mat-label>Time</mat-label>
            <input min="1" [max]="maxInterval().seconds()/present.start.unit.seconds" (change)="intervalValueChange($event)" matInput type="number" [value]="present.start.value">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Unit</mat-label>
            <mat-select (selectionChange)="intervalUnitChange($event)" [value]="present.start.unit.name">
                <mat-option *ngFor="let unit of getTimeUnits()" [value]="unit.name">
                    {{unit.title}}
                   </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div>
        <mat-radio-group aria-label="Select a mode"
            [value]="getCurrentRangeType()" (change)="modeRadioChange($event)">
        <mat-radio-button value="present">Present</mat-radio-button> <mat-radio-button
            value="historical">Historical</mat-radio-button> </mat-radio-group>
    </div>
</div>