@import "src/styles/variables";
::ng-deep #core-interface-container {
  .mobile .incident-detail {
    .info-card {
      width: calc(100% - var(--wf1-gutter-space) * 2) !important;
    }
  }
}

.fire-icon {
  background: #aa1d3e;
  color: white;
  border-radius: 50%;
  margin-left: 8px;
  transform: scale(0.75);
  position: absolute;
  top: -3px;
  left: 4.2em;
}
