<ng-container [formGroup]="formGroup" class="incident-form">
  <mat-card class="info-card news-form-card">
    <fieldset class="field-set">
      <div class="news-form">
        <div class="field size-third">
          <mat-form-field class="item-full-width" appearance="standard" floatLabel="always">
            <mat-label class="label">Fire Name</mat-label>
            <input matInput class="disabled-input" type="text" formControlName="incidentNumberSequence" disabled>
          </mat-form-field>
        </div>
        <div class="field size-third">
          <mat-form-field class="item-full-width" appearance="standard" floatLabel="always">
            <mat-label class="label">Traditional Territory</mat-label>
            <input matInput type="text" formControlName="traditionalTerritory">
          </mat-form-field>
        </div>
        <div class="field size-third radio-checkbox-group">
            <mat-label id="fireOfNote">Wildfire Of Note</mat-label>
            <mat-icon class="fire-icon">local_fire_department</mat-icon>
            <mat-radio-group matInput aria-label="Wildfire of Note" formControlName="fireOfNotePublishedInd">
              <mat-radio-button value="fireOfNotePublishedInd">No</mat-radio-button>
              <mat-radio-button value="fireOfNotePublishedInd">Yes</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">Location</mat-label>
            <input matInput type="text" formControlName="geographicDescription">
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
  <mat-card class="info-card news-form-card">
    <fieldset class="field-set">
      <div class="news-form">
        <div class="field size-unset">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label">Size Type</mat-label>
            <input matInput class="disabled-input" type="text" formControlName="sizeType" disabled>
          </mat-form-field>
        </div>
        <div class="field size-unset">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label">Size</mat-label>
            <input matInput class="disabled-input" type="text" formControlName="sizeHectares" disabled>
          </mat-form-field>
        </div>
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">General Disclaimer and Comments</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                formControlName="sizeComments"></textarea>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
  <mat-card class="info-card news-form-card">
    <fieldset class="field-set">
      <div class="news-form">
        <div class="field size-third">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label required">Cause</mat-label>
            <input matInput class="disabled-input" type="text" formControlName="cause" disabled>
          </mat-form-field>
        </div>
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">General Disclaimer and Comments</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                formControlName="causeComments"></textarea>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
</ng-container>
