<div class="container">
  <div class="widget-header">
    <span>Latest News</span>
  </div>
  <ng-template #loading>
    <mat-spinner [diameter]="80" class="spinner-position"></mat-spinner>
  </ng-template>
  <div class="content" *ngIf="startupComplete; else loading">
    <div *ngFor="let card of blogCards" class="blog-card" (click)="openLink(card.link)">
      <div class="blog-card-header">
        <img *ngIf="!card.useMask" 
            [height]="card.height || 28"
            [width]="card.width || 28"
            [src]="card.icon"
            [alt]="card.title + ' logo'"
            [ngClass]="card.iconClass">
        <div *ngIf="card.useMask" class="mask-icon">
          <div [ngClass]="card.iconClass"></div>
        </div>
        <div class="blog-card-header-title">{{ card.title }}</div>
        <img [height]="24"
             [width]="24"
             [src]="linkIcon"
             [alt]="card.title + ' link'"
             class="blog-card-header-link"
             (click)="$event.stopPropagation(); openLink(card.link)">
      </div>
      <div class="divider" *ngIf="card.description"></div>
      <div class="blog-card-footer" *ngIf="card.description">{{ card.description }}</div>
    </div>
  </div>
</div>
