<div class="smk-popup" *ngIf="stationData">
  <div class="popup-header">
    <span class="back-button">
      <mat-icon svgIcon="back-icon-panel" (click)="goBack()"></mat-icon>
    </span>
    <span class="title">
      <img class="desktop-preview-icon" src="/assets/images/svg-icons/carbon_partly-cloudy.svg" width='20' height='20' alt="active weather station">
      Active Weather Station
    </span>
    <span class="close-button">
      <mat-icon svgIcon="cancel" (click)="closePanel()"></mat-icon>
    </span>
  </div>
  <div *ngIf="!isDetailView; else detailView">
    <div class="popup-content">
      <div class="popup-title">Weather Station: {{stationData.stationName}}</div>
      <div *ngIf="hourly && hourly.hour">
        <div class="label">{{formatHourlyData()}}</div>
      </div>
      <div *ngIf="hourly && hourly.temp">
        <div class="label">
          <img class= "desktop-preview-icon" height="20" width="20" src="/assets/images/svg-icons/carbon_temperature-celsius.svg">
          {{hourly.temp}}° C
        </div>
      </div>
      <div *ngIf="hourly && hourly.precipitation != null && hourly.relativeHumidity != null">
        <div class="label">
          <img class="desktop-preview-icon" height="20" width="20" src="/assets/images/svg-icons/carbon_humidity.svg" >
          Precipitation: {{hourly.precipitation}}mm | Humidity: {{hourly.relativeHumidity}}%
        </div>
      </div>
      <div *ngIf="hourly && hourly.windSpeed && hourly.windCardinalDir">
        <div class="label">
          <img class="desktop-preview-icon" height="20" width="20" src="/assets/images/svg-icons/carbon_windy-strong.svg" >
          Wind: {{hourly.windSpeed}}km/h {{hourly.windCardinalDir}}
        </div>
      </div>
    </div>
    <div class="buttons">
      <button mat-flat-button class="desktop-button-primary" (click)="enterFullDetail()">
          Full Details
      </button>
    </div>
  </div>
  <ng-template #detailView>
    <!-- Detail View -->
    <wfnews-weather-panel-detail [hourly]="hourly" [daily]="daily" [latitude]="latitude" [longitude]="longitude" [stationData]="stationData"></wfnews-weather-panel-detail>
  </ng-template>
</div>
