::ng-deep .wildfires-tabs {
  .mat-mdc-tab-labels {
    padding-bottom: 5px;
  }
  .mat-mdc-tab-header {
    border-bottom: none;
  }
  .mat-mdc-tab.mdc-tab--active {
    border-radius: 40px;
    background-color: #1a5a96;
    color: white !important;
    opacity: 1;
    font-weight: 700;
  }
  .mat-mdc-tab {
    opacity: 1;
    color: #1a5a96;
    height: 36px;
    min-width: 100px;
    font-size: 15px;
    border-style: solid;
    border-radius: 40px;
    border-width: 1px;
    margin-right: 10px;
  }
  .mat-ink-bar {
    background-color: white !important;
  }
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .chart {
    width: 500px;
    height: 500px;
  }
}

.popup-header{
  padding: 10px 16px;
  color: var(--Grays-Gray-2, #484848);
  text-align: center;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid var(--Grays-Gray-7, #DEDEDE);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: white; 
  z-index: 10;
  .back-button {
    flex: 0 0 auto;
    cursor: pointer;
  }
  .popup-title {
    flex: 1 1 auto;
    text-align: center;
  }
  .close-button {
    flex: 0 0 auto;
    cursor: pointer;
  }
  mat-icon{
    height: 20px;
    width: 20px;
    vertical-align: bottom;
  }
}

.desktop-preview-icon{
  padding-right: 8px;
  vertical-align: bottom;
}

.popup-title{
  color: var(--Black-24, #242424);
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 0 8px 0;
}

.label{
  color: #666;
  font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 4px;
}

.popup-content{
  padding: 16px;
}

.buttons{
  display: flex;
  gap: 16px;
  padding: 0 16px;
  .desktop-button-primary {
    width: 100%;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
      sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fdfdfd;
    background-color: #036;
    padding: 8px;
  }
}