::ng-deep .wildfires-tabs {
  .mat-mdc-tab-labels {
    padding-bottom: 5px;
  }
  .mat-mdc-tab-header {
    border-bottom: none;
  }
  .mat-mdc-tab.mdc-tab--active {
    border-radius: 40px;
    background-color: #1a5a96;
    color: white !important;
    opacity: 1;
    font-weight: 700;
  }
  .mat-mdc-tab {
    opacity: 1;
    color: #1a5a96;
    height: 36px;
    min-width: 100px;
    font-size: 15px;
    border-style: solid;
    border-radius: 40px;
    border-width: 1px;
    margin-right: 10px;
  }
  .mat-ink-bar {
    background-color: white !important;
  }
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .chart {
    width: 500px;
    height: 500px;
  }
}
