<div *ngIf="loading" class="container">
  <mat-spinner style="margin: auto;" *ngIf="!loaded" [diameter]="50"></mat-spinner>
</div>
<div *ngIf="!loading" class="container">
  <div class="header-row">
    <div class="title">
        <h1>Wildfire Statistics</h1>
    </div>
  </div>
  <div class="stats-container">
    <div class="summary-container">
      <div class="resource-panel">
        <div class="title">Wildfire Summary</div>
        <div class="summary-data">
          <div class="summary-data-row"><div class="summary-data-cell">{{thisYearCount}}</div><div class="summary-data-label">Fires this Year</div></div>
          <div class="summary-data-row"><div class="summary-data-cell">{{fires.length}}</div><div class="summary-data-label">Active Fires</div></div>
          <div class="summary-data-row"><div class="summary-data-cell">{{firesLast24}}</div><div class="summary-data-label">Fires in the Last 24 Hours</div></div>
        </div>
      </div>
      <div class="resource-panel">
        <div class="title">Wildfire Cause Summary</div>
        <div class="summary-data">
          <div *ngFor="let data of activeFiresByCause" class="summary-data-row"><div class="summary-data-cell">{{data.value}}</div><div class="summary-data-label">{{data.name === 'Unknown' ? ('Fires with Unknown Causes') : ('Fires Caused by ' + data.name)}}</div></div>
        </div>
      </div>
      <div class="resource-panel">
        <div class="title">Stages of Control Summary</div>
        <div class="summary-data">
          <div *ngFor="let data of activeFiresByStatus" class="summary-data-row"><div class="summary-data-cell">{{data.value}}</div><div class="summary-data-label">{{data.name}}</div></div>
        </div>
      </div>
    </div>
    <mat-tab-group [(selectedIndex)]="tabIndex">
      <mat-tab label="Active Fires">
      </mat-tab>
      <mat-tab label="Fires This Year">
      </mat-tab>
    </mat-tab-group>
    <div *ngIf="tabIndex === 0" class="fire-date-box">
      <h2>Active Fires</h2>
      <p style="color: black;">"Active Fires" refers to fires that are actively burning at this time. It does not include fires that have been called out or extinguished.</p>
    </div>
    <div *ngIf="tabIndex === 1" class="fire-date-box">
      <h2>Fires this Year</h2>
      <p style="color: black;">"Fires This Year" refers to fires that have burned sometime between <span style="font-weight: 700">April 1st {{getFireYear()}} and March 31st {{getFireYear(1)}}</span></p>
    </div>
    <div>
      <h2>Fire Centres</h2>
      <div class="info-panel">
        <div class="info-text">
          <div class="fire-centre-table">
            <div class="row">
              <div class="cell"><strong>Fire Centre</strong></div>
              <div class="value-cell"><strong>Total Fires</strong></div>
            </div>
            <div class="row" *ngFor="let row of tabIndex === 0 ? activeFiresByCentre : allFiresByCentre">
              <div class="cell">{{row.name}}</div>
              <div class="value-cell">{{row.value}}</div>
            </div>
            <div class="row">
              <div class="cell">All of BC</div>
              <div class="value-cell">{{getFiresByCentreTotals(tabIndex === 1)}}</div>
            </div>
          </div>
          <a class="learn-more-button" rel="noopener" target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/about-bcws/fire-centres?keyword=fire&keyword=centre">What is a Fire Centre?</a>
        </div>
        <div class="info-chart">
          <ngx-charts-bar-vertical
            scheme="cool"
            [customColors]="FIRE_CENTRE_COLOURS"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            xAxisLabel="Fire Centres"
            yAxisLabel="Number of Fires"
            [roundEdges]="true"
            [animations]="true"
            [showGridLines]="true"
            [showDataLabel]="true"
            [results]="tabIndex === 0 ? activeFiresByCentre : allFiresByCentre">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div>
      <h2>Wildfire Causes</h2>
      <div class="info-panel">
        <div class="info-text">
          <p class="paragraph-format">What causes wildfires in British Columbia? There are two broad categories of causes:</p>
          <ul class="paragraph-format">
            <li>Lightning (and a rare chance of other natural causes) causes approximately 60% of wildfires</li>
            <li>Human activity causes approximately 40% of wildfires</li>
          </ul>
          <h4>Natural (lightning) caused wildfires</h4>
          <p class="paragraph-format">Most wildfires in B.C. are started by lightning strikes. When lightning strikes an object it can release enough heat to ignite a tree or other fuels.</p>
          <p class="paragraph-format">Although lightning caused fires cannot be prevented, there are ways of predicting where they might start. The risk from natural fires can also be reduced with fuel management and prescribed burning</p>
          <h4>Human-caused wildfires</h4>
          <p class="paragraph-format">The most important thing about human-caused wildfires is that they are preventable. The easiest way to fight a wildfire is to prevent it from starting. Humans start wildfires in several ways, either by accident or intentionally. For example:</p>
          <ul class="paragraph-format">
            <li>Vehicle and engine use</li>
            <li>Industrial activity</li>
            <li>Fireworks, sky-lanterns, outdoor flame lighting</li>
            <li>Discarding burning items (cigarettes)</li>
          </ul>
          <a class="learn-more-button" rel="noopener" target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/what-causes-wildfire">Learn More about Wildfire Causes</a>
        </div>
        <div class="info-chart">
          <ngx-charts-bar-vertical
            scheme="cool"
            [customColors]="CAUSE_COLOURS"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            xAxisLabel="Fire Cause"
            yAxisLabel="Number of Fires"
            [roundEdges]="true"
            [animations]="true"
            [showGridLines]="true"
            [showDataLabel]="true"
            [results]="tabIndex === 0 ? activeFiresByCause : allFiresByCause">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
    <div>
      <h2>Stages of Control</h2>
      <div class="info-panel stages-of-control">
        <div class="info-chart">
          <ngx-charts-bar-vertical
            scheme="cool"
            [customColors]="STAGE_OF_CONTROL_COLOURS"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            xAxisLabel="Fire Status"
            yAxisLabel="Number of Fires"
            [roundEdges]="true"
            [animations]="true"
            [showGridLines]="true"
            [showDataLabel]="true"
            [results]="tabIndex === 0 ? activeFiresByStatus : allFiresByStatus">
          </ngx-charts-bar-vertical>
        </div>
        <div class="info-text">
          <p class="paragraph-format">The BC Wildfire Service uses stages of control to report on wildfire progress.</p>
          <h4>Wildfire of Note</h4>
          <p class="paragraph-format">A wildfire that is highly visible or poses a potential threat to public safety.</p>
          <h4>Out of Control</h4>
          <p class="paragraph-format">A wildfire that is continuing to spread and is not responding to suppression efforts.</p>
          <h4>Being Held</h4>
          <p class="paragraph-format">A wildfire that is not likely to spread beyond predetermined boundaries under current conditions.</p>
          <h4>Under Control</h4>
          <p class="paragraph-format">A wildfire that will not spread any further due to suppression efforts.</p>
          <h4>Out</h4>
          <p class="paragraph-format">A wildfire that is extinguished. Suppression efforts are complete.</p>
          <a class="learn-more-button" target="_blank" rel="noopener" href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/wildfire-response/management-strategies">Discover more Wildfire Management Strategies</a>
        </div>
      </div>
    </div>
    <div *ngIf="tabIndex === 1">
      <h2>Current Statistics</h2>
      <h5 style="text-align: center; margin: 0px;">New fires are those that have been ignited within the last 24 hours</h5>
      <div class="info-text">
        <!-- Traditional table view -->
        <div class="fire-centre-table">
          <div class="row">
            <div class="cell"><strong>Fire Centre</strong></div>
            <div class="value-cell"><strong>New Lightning Caused Fires</strong></div>
            <div class="value-cell"><strong>New Human Caused Fires</strong></div>
            <div class="value-cell"><strong>Total Fires</strong></div>
            <div class="value-cell"><strong>Total Area Burned (Hectares)</strong></div>
          </div>
          <div class="row" *ngFor="let row of fireStats">
            <div class="cell">{{row.name}}</div>
            <div class="value-cell">{{row.lightningStarts}}</div>
            <div class="value-cell">{{row.humanStarts}}</div>
            <div class="value-cell">{{row.totalFires}}</div>
            <div class="value-cell">{{row.areaBurned ? row.areaBurned.toLocaleString() : 0}}</div>
          </div>
        </div>
        <a class="learn-more-button" rel="noopener" target="_blank" href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/about-bcws/wildfire-statistics">Learn More about Statistics &amp; Geospatial Data</a>
      </div>
    </div>
  </div>
</div>
<sticky-widget></sticky-widget>
