<div class="content">
    <div class="title"> {{data.title}} </div>
    <div class="out-icon" *ngIf="data.title === 'This wildfire is Out'">
        <img alt="icon" src="/assets/images/svg-icons/carbon_crop-growth-gray.svg" >
    </div>
    <p style="overflow: auto;">{{data.text}}</p>
    <p>{{data.text2}}</p>
    <div class="button-group">
        <wfnews-button *ngIf="data.title === 'This wildfire is Out'" variant="primary"
          [fullWidth]="true" label="See full details" (buttonClicked)="goToDetail()"></wfnews-button>
        <wfnews-button variant="secondary" [fullWidth]="true" label="Close"
          (buttonClicked)="closeDialog()"></wfnews-button>
    </div>
</div>
