.content {
  padding: 24px;
  .title {
    color: #242424;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
  p {
    color: #6e6e6e;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .out-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    img {
      width: 68px;
      height: 68px;
    }
  }
}
