<div class="page-content">
    <div class="rof-text-title" id="rof-text-title">{{ title }}</div>
    <img alt="Offline Icon" [src]="imageUrl" class="disclaimer-image"/>
    <div class="rof-text-secondary-header">
        <p>
          {{ message }}    
        </p>
    </div>
    <div class="rof-button-container" *ngIf="!hideButtons">
        <wfnews-button variant="secondary" size="large" label="Cancel"
          (buttonClicked)="previous()"></wfnews-button>
        <wfnews-button variant="primary" size="large" label="Continue"
          (buttonClicked)="next()"></wfnews-button>
    </div>
  </div>
  