<div class="container">
  <div class="widget-header">
    <span class="widget-title">Latest Videos</span>
    <button class="button" (click)="snowplowCaller('Go to Youtube')"mat-flat-button onclick="window.open('https://www.youtube.com/@BCWildfireService', '_blank')"><span class="button-label">Go to Youtube</span><img height="24" width="24" src="/assets/images/svg-icons/link.svg" alt="Order" class="button-icon" /></button>
  </div>
  <ng-template #loading><mat-spinner [diameter]="80" class="spinner-position"></mat-spinner></ng-template>
  <div class="content" *ngIf="startupComplete; else loading">
    <div class="video-card" *ngFor="let video of videos">
        <iframe 
          width="100%" 
          height="150" 
          [src]="video.externalUri" 
          sandbox="allow-scripts allow-same-origin allow-presentation" 
          frameborder="0" 
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>
      <div class="video-info">
        <div class="video-info-title">
          {{video.externalUriDisplayLabel}}
        </div>
      </div>
    </div>
  </div>
</div>
