<div class="container">
  <div class="widget-header">
    <span class="widget-title">Latest Videos</span>
    <button class="button" mat-flat-button onclick="window.open('https://www.youtube.com/@BCWildfireService', '_blank')"><span class="button-label">Go to Youtube</span><img height="24" width="24" src="/assets/images/svg-icons/link.svg" alt="Order" class="button-icon" /></button>
  </div>
  <ng-template #loading><mat-spinner [diameter]="80" class="spinner-position"></mat-spinner></ng-template>
  <div class="content" *ngIf="startupComplete; else loading">
    <div class="video-card" *ngFor="let video of videos">
      <youtube-player
        videoId={{convertToYoutubeId(video.externalUri)}}
        suggestedQuality="highres"
        [startSeconds]="1"
        [height]="150"
        width="100%"
        [disableCookies]="true">
      </youtube-player>
      <div class="video-info">
        <div class="video-info-title">
          {{video.externalUriDisplayLabel}}
        </div>
      </div>
    </div>
  </div>
</div>
