@import "../../../../../styles/variables";

.table-with-filters {
  table-layout: auto;
  width: 100%;

  th,td{
    max-width: 150px;
    font-size: 0.8rem;
    div{
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  //width: 2550px;
}

.table-with-filters-and-filter-content {
  //width: 2550px;
}

.toggle {
  font-size: 12px;
  padding-left: 10px;
  line-height: 45px;
  height: unset;

}

.filter-table {
  .mat-row, .mat-header-row{
    height: unset;
  }
  .mat-row:nth-child(odd) {
    background-color: $opacity-grey;
  }

  .mat-row:hover {
    background-color: opacify($opacity-grey, .2);
  }

  .mat-header-cell,
  .mat-cell {
    //padding: 0 .5rem;
  }

  .mat-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-header-cell.incident-checkbox-cell,
  .mat-cell.incident-checkbox-cell {
    flex: 0 0 1rem;
    border-right: solid darkgray 1px;
    width: 50px;
    min-width: 50px;
    text-align: center;
    padding: 0;
  }

  .mat-header-cell.small-table-cell,
  .mat-cell.small-table-cell {
    flex: 0 0 2rem;
  }

  .mat-header-cell.medium-table-cell,
  .mat-cell.medium-table-cell {
    flex: 0 0 5.5rem;
  }

  .mat-header-cell.large-table-cell,
  .mat-cell.large-table-cell {
    flex: 1 0 10rem;
  }

  .mat-header-cell.extra-large-table-cell,
  .mat-cell.extra-large-table-cell {
    flex: 1 0 15rem;
  }

  &__controls {
    display: flex;

    .jasper-reports-menu {
      border-right: solid 1px darkgray;
      min-width: 50px;
      text-align: center;
      height: inherit;
      line-height: 45px;
      vertical-align: middle;

      button.mat-button {
        box-sizing: border-box;
        border-radius: 0;
        padding: 0px;
        min-width: unset;
      }
    }


    &__search {
      flex: 0 0 auto;
      height: $wf1-toolbar-height;
    }

    &__filter {
      flex: 1 1 auto;
      height: $wf1-toolbar-height;
    }
  }

  &__controls.without-filter-content {
    height: $wf1-toolbar-height;
  }

  &__controls.with-filter-content {
    height: $wf1-filter-toolbar-total-height;
  }

  &__cell {
    font-size: 0.8rem;
    word-break: break-word;
  }

  .non-editable-cell,
  .editable-cell{
    min-width: 50px;
    min-height: 20px;
  }

  th,
  .non-editable-cell,
  .editable-cell {
    padding: 0.7rem 0.5rem;
  }

  tr:hover .editable-cell.show-hover-editable{
    padding: 0;
    div{
      background-color: $colour-lighter-yellow;
      border-radius: 5px;
      border: solid 1px grey;
      line-height: 36px;
      min-height: 36px;
      padding-left: 5px;
    }

  }

  td.mat-cell.editing-cell{
    padding:0;

    mat-checkbox{
      padding: 0 10px;
    }

    ::ng-deep .mat-form-field {
      width: 100%;
    }

    ::ng-deep .mat-form-field-infix{
      width: min-content;
      padding: 0;
      border-radius: 5px;
      border: solid 1px grey;
      overflow: hidden;
      background-color: $colour-lighter-yellow;
    }
    ::ng-deep .mat-form-field-wrapper {
      padding: 0;
    }

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

  }



  mat-select,
  input{
    //font-size: $font-size;
    //font-family: $font-family-main;
    padding: 10px;
    width: calc(100% - 20px);

  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }

}
