:host { display: block; }

.resources-assigned-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      color: var(--Black-24, #242424);
      /* 22 SB */
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 33px; /* 150% */
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .content-list {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .resource {
        display: flex;
        flex-direction: column;
        gap: 16px;

        hr {
          border: 0;
          margin: 0;
          width: 100%;
          height: 1px;
          background: #DDD;
        }
      }
    }
  }
  
}

.max-width-340 {
  max-width: 340px;
}