<near-me-item [ngClass]="{ 'expanded': expanded, 'notified': nearMeItem.notified }" (click)="viewOnMap(nearMeItem)">
    <div class="icon">
            <img src="{{stageOfControl(nearMeItem)}}" class=iconPNG alt="BC Wildfire"> 
    </div>

    <div class="icon-info">
        {{ nearMeItem.dateActive }}
    </div>

    <div class="title">
        <a *ngIf="nearMeItem.url" (click)="openUrl(nearMeItem.url)" class="external-link">{{nearMeItem.fireId}}</a>
        <span *ngIf="!nearMeItem.url" class="bolder">{{nearMeItem.fireId}}</span>
        <span class="new-marker" *ngIf="nearMeItem.notified">New</span>
    </div>

    <div class="details">
        <div class="detail">
            <span class="label">Stage of Control: </span>
            <span class="value">{{ nearMeItem.stageOfControl }}</span>
        </div>
        <div class="detail">
            <span class="label">Susp. Cause: </span>
            <span class="value">{{ nearMeItem.suspectedCause }}</span>
        </div>
        <div class="detail">
            <span class="label">Size: </span>
            <span class="value">{{ nearMeItem.estimatedSizeHectacres.toLocaleString() }} Hectares</span>
        </div>
    </div>

    <div class="action-info">
        <span *ngIf="nearMeItem.distanceKm">{{ nearMeItem.distanceKm }} km</span>
    </div>

    <div class="action">
        <mat-icon *ngIf="showMapInline && expanded">expand_less</mat-icon>
        <mat-icon *ngIf="showMapInline && !expanded">expand_more</mat-icon>
        <mat-icon *ngIf="!showMapInline" (click)="viewOnMap(nearMeItem)">place</mat-icon>
    </div>
</near-me-item>
