<ng-container *ngIf="loading">
    <div class="near-me-loader">
        <mat-spinner [diameter]="25"></mat-spinner>
        <div class="loading-message">Preparing chart</div>
    </div>
</ng-container>

<ng-container *ngIf="!loading">
    <div class="weather-history-content">
        <div class="title">History  <img alt="icon" class="right" (click)="showOptions()" src="/assets/images/svg-icons/fluent_settings-28-regular.svg" ></div>

        <div class="weather-history-chart" #chart></div>
    </div>
</ng-container>
