.header-row {
  display: flex;
  margin: 0;
}

.table-search-header {
  background-color: white !important;
  border-top: none !important;
  display: block !important;
  padding-left: 10px;
  .label {
    font-size: 15px;
  }
}

.rounded-select {
  border-radius: 20px !important;
}

.search-input {
  border-radius: 20px !important;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #c4cdd2;
}

.cell-button {
  width: 107px !important;
  border: 1px solid #c4c4c4;
  font-family: "Noto sans", BCSans, "Open Sans", Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.stage-of-control {
  margin-left: auto;
  height: 50%;
  margin-top: auto;
}

.my-location-button {
  border: 1px solid #a7a9ac;
  border-radius: 5px;
  width: 100%;
  .mat-mdc-raised-button {
    box-shadow: none;
    width: 100%;
    padding: 0;
  }
  .mat-icon {
    color: #a7a9ac;
    margin-right: 10px !important;
  }
  button span {
    white-space: nowrap;
  }
}

p.results-count {
  text-align: right;
  margin-right: 2%;
  font-size: 18px;
}

p.dashboard-title {
  font-size: 24px;
  margin-bottom: 0.5%;
}

p.active-incidents,
p.datetime {
  display: inline-block;
}

p.datetime {
  float: right;
  vertical-align: center;
}

tr {
  font-weight: normal;
}

.table-wrapper {
  border: none;
}

table {
  border: 1;
  width: 96%;
}

td {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 0.5%;
  padding-left: 0.5%;
  width: 25%;
}

table tr:nth-child(even) td {
  background-color: white;
}

.block {
  width: 15%;
  display: inline-block;
}

.filter-clear {
  margin-bottom: 8px;
  position: absolute;
  line-height: 24px;
  font-size: 15px;
  border-radius: 20%;
  background-color: transparent;
  border: none;
  right: -40px;
  top: 12px;
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -6px;
    left: 6px;
  }
  mat-icon {
    transform: translateX(-5px);
  }
}

.input-clear-button {
  margin-bottom: 8px;
  margin-left: 278px;
  position: absolute;
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-size: 15px;
  border-radius: 20%;
  background-color: transparent;
  border: none;
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  mat-icon {
    transform: translateX(-5px);
  }
}

.stage-of-control-checkbox-group {
  margin-top: 13px !important;
  flex-basis: auto !important;
  width: auto !important;
  .mat-label {
    font-size: 15px;
  }

  .checkbox-group {
    display: flex;
    gap: 12px;

    .mat-mdc-checkbox {
      border: none;
    }
  }
}

.filter-button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  &-selected {
    border: 2px solid #38598a !important;
    background-color: #e9f0f8 !important;
    color: #242424 !important;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    .button-wrapper {
      padding: 0;
      min-width: 0;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      line-height: 40px;
      border-radius: 50%;
      margin-left: 4px;
      cursor: pointer;
    }
  }
  .button-wrapper {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
    margin-left: 4px;
    cursor: pointer;
  }
}

.list-icon {
  position: relative;
  margin: 0 0 -3px 0px;
  top: 3px;
}

.search-icon {
  position: relative !important;
  top: 5px;
}

.search-input {
  border-radius: 20px !important;
  border: 1px solid #a7a9ac !important;
  padding: 0 5px;
  height: 35px;
  line-height: 35px;
  font-family: "Noto sans", BCSans, "Open Sans", Verdana, Arial, sans-serif;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 20px;
  margin-top: -20px;
}

.mdc-button__label {
  margin-left: 1px !important;
  margin-top: 3px !important;
}

.mat-mdc-input-element {
  background-color: transparent;
  border: none !important;
  padding: 0 5px;
  border-radius: 20px;
  height: 35px;
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.search-and-filters {
  flex: 0 !important;
  display: flex;
  flex-flow: row wrap;
}

.search-icon {
  position: relative !important;
  top: 5px;
}

.mat-column-name {
  width: 44%;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  letter-spacing: -0.02em !important;
  text-align: left !important;
}

.mat-column-issuedOn {
  width: 18%;
}

.mat-column-fireCentre {
  width: 18%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.mat-column-distance {
  width: 15%;
}

.mat-column-viewMap {
  width: 8%;
}

.cell-label {
  position: relative;
  top: -7px;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis !important;
  margin-left: 8px;
}

.right-align {
  margin-left: auto !important;
}

.spinner-position {
  position: relative;
  left: 50vw;
  top: 20px;
}

.mat-mdc-header-cell {
  font-weight: 600 !important;
}
