
<div class="table-search-header flex-y-fixed">
    <div class="search-and-filters">
        <div class="field search-input">
          <mat-icon class="search-icon" matSuffix>search</mat-icon>
          <input matInput class="search-input" aria-label="Search" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="searchByText()">
          <button mat-mdc-button matSuffix mat-mdc-icon-button class="input-clear-button" *ngIf="searchText"
                  aria-label="Clear" (click)="searchText=undefined; searchByText(); $event.stopPropagation()"
                  matTooltip="Clear">
                  <span class="button-wrapper">
                      <mat-icon>close</mat-icon>
                  </span>
          </button>
        </div>
        <button mat-flat-button matTooltip="Filter by Location" [class]="'filter-button' + (locationData ? '-selected' : '')" aria-label="By Location" (click)="openLocationFilter()">
          <img class="list-icon image-size" [src]="'../../../assets/images/svg-icons/location-button.svg'" alt="location button" height="24" width="24" /><span class="button-wrapper">Filter by Location</span>
          <button mat-mdc-button matSuffix mat-mdc-icon-button class="filter-clear" *ngIf="locationData"
                  aria-label="Clear" (click)="locationData=undefined; searchByText(); $event.stopPropagation()"
                  matTooltip="Clear">
                  <span class="button-wrapper">
                      <mat-icon>close</mat-icon>
                  </span>
          </button>
        </button>
        <div class="field right-align">
          <select appWFSingleSelect appWFPlaceholder="Sort"
                  class="rounded-select"
                  aria-label="Sort"
                  [options]="sortOptions"
                  [selected]="selectedSortValue"
                  [(ngModel)]="selectedSortValue"
                  (updated)="search()">
              <option value="">
                  <span class="placeholder">Sort By</span>
              </option>
              <option *ngFor = "let item of sortOptions" value="{{item.code}}">
                  <span>{{item.description}}</span>
              </option>
          </select>
        </div>
    </div>
</div>
<p class ="results-count" >{{dataSource ? dataSource.data.length : 0}} Results</p>
<div *ngIf="dataSource && dataSource.data.length > 0; else loading" class="table-wrapper">
    <table mat-table [dataSource]="dataSource" aria-label="Area Restrictions Table">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="alert('todo!')"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="issuedOn">
        <th mat-header-cell *matHeaderCellDef> Issued On </th>
        <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="alert('todo!')"> {{element.issuedOn}} </td>
      </ng-container>
      <ng-container matColumnDef="fireCentre">
        <th mat-header-cell *matHeaderCellDef> Fire Centre </th>
        <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="alert('todo!')"> {{element.fireCentre}} </td>
      </ng-container>
      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef> Distance </th>
        <td style="cursor: pointer;" mat-cell *matCellDef="let element" (click)="alert('todo!')"> {{element.distance || '---'}} km</td>
      </ng-container>
      <ng-container matColumnDef = "details">
        <th mat-header-cell *matHeaderCellDef mat-non-sort-header> </th>
        <td mat-cell style="cursor: pointer;" *matCellDef="let item">
            <button class="cell-button" mat-flat-button (click)="alert('todo!')">Full Details</button>
        </td>
      </ng-container>
      <ng-container matColumnDef = "viewMap">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell style="cursor: pointer;" *matCellDef="let item" (click)="viewMap(item)"><span #el ><mat-icon style="color:#1A5A96; height: 20px; width: 20px;" svgIcon="map"></mat-icon></span><span class="cell-label"> View Map</span></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>
<ng-template #loading><mat-spinner [diameter]="40" class="spinner-position"></mat-spinner></ng-template>
