
<div class="app-container" [ngClass]="isMobileRes?'mobile':'desktop'">
    <wf1-public-application-header #appHeader *ngIf="!isMobileRes" [titleText]="title"
                                   [headerItems]="isMobileRes?headerItemsMobile:headerItemsDesktop" class="sticky-header"></wf1-public-application-header>
    <div class="environment" *ngIf="!isMobileRes && appEnvironment != 'Prod' ">{{ appEnvironment }}</div>

    <mat-sidenav-container [class]="isMobileRes?'wf1-sidenav mobile-sidenav':'wf1-sidenav desktop-sidenav'" autosize="false" (backdropClick)="closeSideNav(true,null)">
        <mat-sidenav #sidenav
            [mode]="!isMobileRes?'side':'over'"
            fixedInViewport="false"
            [opened]="showMenu()"
            [disableClose]="!isMobileRes"
            [@menu-collapsed-expanded]="menuState"
        >
            <div class="toolbar-panel" *ngIf="isMobileRes && appEnvironment != 'Prod'">
                <div class="app-logo-and-title-drawer-div2">
                    <img src="assets/images/logo/bcgov-logo.png"
                         class="img-fluid center-block logo" style="width:65%" alt="">
                    <div class="environment" style="width:35%">{{ appEnvironment }}</div>
                </div>
            </div>

            <div class="toolbar-panel" *ngIf = 'menuState != "collapsed"'>
                <div class="app-logo-and-title-drawer-div">
                    <img src="assets/images/logo/nav-bar-logo-1.jpg"
                         class="img-fluid center-block logo" alt="">
                </div>
            </div>
            <div #navList class="toolbar-nav-list">
                <mat-nav-list>
                    <a mat-list-item #accessNavItems
                        *ngFor="let navItem of mainNavItems"
                        [routerLink]="navItem.routerLink"
                        [queryParams]="navItem.queryParams"
                        [routerLinkActive]="navItem.routerLink ? 'nav-item-active' : ''"
                        [routerLinkActiveOptions]="{exact: true}"
                        (click)="closeSideNav(true,navItem)"
                    >
                        <mat-icon *ngIf="navItem.icon" aria-hidden="true" class="color-sidenav-icon">{{navItem.icon}}</mat-icon>
                        <mat-icon *ngIf="navItem.svgIcon" aria-hidden="true" class="color-sidenav-icon" svgIcon="{{navItem.svgIcon}}" style="margin-left:-5px; margin-right:5px"></mat-icon>
                        <span aria-hidden="false" class="navLabel">{{navItem.label}}</span>
                        <div *ngIf="navItem.badge > 0"
                            class="navBadge"
                            matBadgeColor="warn"
                            matBadge="{{navItem.badge}}"
                        ></div>
                        <div *ngIf="navItem.isNew"
                            class="new-marker"
                        >New</div>
                    </a>
                </mat-nav-list>
            </div>
            <div class="toolbar-footer">
                <mat-slide-toggle
                    *ngIf="isMobileRes"
                    class="example-margin"
                    [color]="primary"
                    [checked]="showMenuOnStartup()"
                    (change)="changeMenuOnStartup( $event )"
                >Show on startup</mat-slide-toggle>

                <div *ngIf="!isMobileRes" class="app-version">{{versionNumber}}</div>
                <div *ngIf="isMobileRes" class="app-version" style = "padding-top: 20px; padding-bottom: 20px;">{{versionNumber}}</div>
                <div class="collapse-button">
                    <mat-icon 
                    *ngIf="isTabletRes"
                    (click)="onToggleClick()"
                    [title]="toggleTitle"
                    iconSize="small"
                    [ngClass]="arrowIcon">
                    double_arrow
                    </mat-icon>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="hide-scroll-bar {{menuState}}" [ngClass]="isMobileRes?'height-without-public-header mobile':'desktop'">
            <header class="application-toolbar-header sticky-header" *ngIf="showToolbar() && isMobileRes">
                <div class="toolbar-panel-nav">
                    <div class="left">
                        <button *ngIf="!backRoute && !useNavigateBack" type="button" (click)="sidenav.open();" class="nav-menu-button">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <button *ngIf="backRoute || useNavigateBack" type="button" (click)="navigateToBackRoute()" class="nav-menu-button">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </div>
                    <div class="middle">
                        <div *ngIf="title" class="title">{{title}}</div>
                        <div *ngIf="summaryString" class="summary">{{summaryString}}</div>
                    </div>
                    <div class="right">
                        <div *ngIf="actionItems && actionItems.length > 0" class="action-items">
                            <button type="button" [matMenuTriggerFor]="actionMenu" class="nav-menu-button">
                                <mat-icon>more-vert</mat-icon>
                            </button>
                            <mat-menu class="action-items-menu" #actionMenu="matMenu">
                                <button *ngFor="let actionItem of actionItems" (click)="actionItem.callBackFunction()" mat-menu-item>{{actionItem.label}}</button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </header>
            <wfone-base-error-panel [errorState]="errorState"></wfone-base-error-panel>
            <!-- <div [ngClass]="isMobileRes ? 'mobile' : 'desktop'"> -->
                <ng-content class="hide-scroll-bar"></ng-content>
            <!-- </div> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
