.panel {
  background-color: white;
  padding: 22px;
  line-height: 2rem;
  --ck-spacing-standard:0;
  // min-height: calc(100vh - 700.6px);
  .header-row {
    display: flex;
    flex-direction: row;
    height: 35px;
    .header-button-container {
      margin-left: auto;
      color: #0e5fa9;
      font-size: 15px;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      .button {
        color: #0e5fa9;
        margin-top: 5px;
        padding-right: 7px;
        font-size: 22px;
        cursor: pointer;
      }
      .print-button {
        cursor: pointer;
        margin-left: 15px;
        border-color: #1a5a96;
        border-width: 1px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        color: #1a5a96;
        span {
          padding: 0 5px;
        }
      }
      .icon {
        position: relative;
        top: 5px;
        height: 20px;
        padding-right: 10px;
        .facebook {
          color: #3b5998;
        }
        .twitter {
          color: #1da1f2;
        }
      }
    }
  }
  h4 {
    margin-top: 0px;
    font-size: 1.87rem;
    color: black;
    font-weight: 700;
  }
  .content-panel {
    padding-top: 10px;
  }
}


@media (min-width: 768px)and (max-width: 1023px) {
  
  .panel {
    padding: 15px;
  }
  
}