<div *ngIf="isMobileView()" class="header">
    <div class="content">
        Saved
    </div>
</div>
<div [class]="isMobileView() ? '' : 'desktop-container'">
  <div class="section">
      <div class="section-header-row">
          <span class="section-header">Saved Locations & Notifications</span>
        <span class="section-button" (click)="addNewLocation()" *ngIf="savedLocations?.length < 3">
            <img alt="icon" src="/assets/images/svg-icons/Type.svg" class="button-icon">
            Add new
        </span>
      </div>
      <div class="section-card" *ngIf="!savedLocations.length" (click)="addNewLocation()">
          <div class="add-location-content">
              <img alt="icon" class="location-icon" src="/assets/images/svg-icons/carbon_location.svg">
              <span>Add a saved location to receive notifications</span>
          </div>
      </div>
      <div *ngIf="savedLocations.length">
          <div *ngFor="let location of savedLocations">
              <div class="section-card">
                  <div class="saved-location-content" (click)="navToFullDetails(location)">
                      <div class="saved-location-content-1">
                          <div class="saved-location-details-2">
                              <img alt="icon" class="location-icon" src="/assets/images/svg-icons/carbon_location.svg">
                              <div class="saved-location-detail">
                                  <span>{{location.notificationName}}</span>
                                  <span class="location-coordinates">{{getFormattedCoords(location.point.coordinates)}}</span>
                              </div>
                          </div>
                          <div class="saved-location-detail">
                              <span>{{location.radius}}km</span>
                              <span class="location-coordinates">Radius</span>
                          </div>
                      </div>
                      <div *ngIf="location.evacs && location.evacs.length > 0">
                          <div class="nearBy-badge">
                              <div>
                                  <img alt="icon" src="/assets/images/svg-icons/evac-red.svg">
                              </div>
                              <span>
                                  Evacuation Nearby
                              </span>
                          </div>
                      </div>

                      <div *ngIf="location.wildfires && location.wildfires.length > 0">
                          <div class="nearBy-badge">
                              <div>
                                  <img alt="icon" src="/assets/images/svg-icons/wildfire-red.svg">
                              </div>
                              <span>
                                  Wildfire Nearby
                              </span>
                          </div>
                      </div>

                      <div *ngIf="location.dangerRatings && location.dangerRatings.length > 0">
                          <div class="danger-rating-badge">
                              <div class="left-content">
                                  <img *ngIf = "location.dangerRatings === 'Extreme'" class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-extreme.svg" alt="Fire Danger">
                                  <img *ngIf = "location.dangerRatings === 'High'" class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-high.svg" alt="Fire Danger">
                                  <img *ngIf = "location.dangerRatings === 'Moderate'" class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-moderate.svg" alt="Fire Danger">
                                  <img *ngIf = "location.dangerRatings === 'Low'" class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-low.svg" alt="Fire Danger">
                                  <img *ngIf = "location.dangerRatings  === 'Very Low'" class="incident-icon-title" src="/assets/images/svg-icons/fire-danger-very-low.svg" alt="Fire Danger">
                                  <span>{{location.dangerRatings}} Fire Danger Rating</span>
                              </div>
                          </div>
                      </div>

                      <div class="divider"></div>
                      <div class="saved-location-content-2">
                          <div class="saved-location-details-2" *ngIf="location.fireCentre">
                              <img alt="icon" class="bans-icon" src="/assets/images/svg-icons/location-grey.svg">
                              <div>
                                  <div>
                                      <div class="fire-bans">
                                          {{location.fireCentre}}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="saved-location-details-2">
                              <img alt="icon" class="bans-icon" src="/assets/images/svg-icons/ban-grey.svg">
                              <div>
                                  <div *ngIf="location.bans && location.bans.length > 0 ; else noBans">
                                      <div *ngFor="let ban of location.bans" class="fire-bans">
                                          Fire Ban on {{ban.attributes.ACCESS_PROHIBITION_DESCRIPTION}}
                                      </div>
                                  </div>
                                  <ng-template #noBans class="fire-bans">
                                      No fire bans in effect
                                  </ng-template>
                              </div>
                          </div>
                          <div class="arrow-button" (click)="enterDetail(location)">
                              <img alt="icon" class="arrow-icon" src="/assets/images/svg-icons/arrow-blue.svg">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="large-divider"></div>

  <div class="section">
      <div class="section-header-row">
          <span class="section-header">Saved Wildfires</span>
      </div>
      <div class="section-card-wildfires" *ngIf="!wildFireWatchlist.length">
          <div class="saved-wildfires-content">
                <img alt="icon" class="location-icon" src="/assets/images/svg-icons/saved-blue-border.svg">
              <span>Save a wildfire on the map to easily find here later</span>
          </div>
      </div>
      <div *ngIf="wildFireWatchlist.length" class="saved-wildfires">
          <div class="info-container" *ngFor="let wildFire of wildFireWatchlist">
              <div class="fire-info-container" (click)="navigatToWildfireFullDetail(wildFire)">
                  <div class="wildfire-title">{{wildFire.incidentName}}<img class="wildfire-title-icon"
                      src="/assets/images/svg-icons/bookmark-blue.svg" alt="Calendar"(click)="deleteFromWatchList($event, wildFire)" /></div>
                  <hr class="break">
                  <div *ngIf="wildFire.fireOfNoteInd" class="wilfire-of-note-panel"><img class="wilfire-of-note-panel-icon"
                      src="/assets/images/local_fire_department.png" alt="Fire Of Note" />Wildfire
                      of Note</div>
                  <div class="info"><span class="circle-icon {{wildFire.stageOfControlCode}}"></span>{{convertToStageOfControlDescription(wildFire.stageOfControlCode)}}
                  </div>
                  <div class="info"><img class="icon" src="/assets/images/svg-icons/location-pin.svg"
                      alt="Location Pin" />{{wildFire.fireCentreName}}</div>
                  <div class="info"><img class="icon" src="/assets/images/svg-icons/carbon_calendar.svg" alt="Calendar" />Discovered
                      on {{convertToDateYear(wildFire.discoveryDate)}}
                      <div class="wildfire-arrow-button">
                          <img alt="icon" class="arrow-icon-grey" src="/assets/images/svg-icons/forward-arrow-grey.svg">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
