.header {
  border-top: 1px solid var(--grays-gray-7, #dedede);
  border-bottom: 1px solid var(--grays-gray-7, #dedede);
  background: var(--blues-blue-11, #f5f6f9);

  .content {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    color: #000;
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.section {
  display: flex;
  padding: 24px 8px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding-bottom: 100px;

  .section-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0 10px;
  }

  .section-header {
    color: var(--Gray-1, #242424);
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .section-button {
    color: var(--grays-gray-2, #484848);
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .section-card {
    width: calc(100vw - 48px);
    max-width: 1470px;
    margin-top: 16px;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 1px solid var(--grays-gray-7, #dedede);
    background: var(--blues-blue-11, #f5f6f9);
    display: flex;
    align-items: center;
    justify-content: center;

    .add-location-content {
      padding: 72px 0;

      span {
        padding-left: 9px;
        color: var(--Gray-1, #242424);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .saved-location-content {
      @extend .add-location-content;
      width: 100%;
      padding: 16px;
    }

    .saved-wildfires-content {
      padding: 72px 0;

      span {
        padding-left: 9px;
        color: var(--Gray-1, #242424);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .saved-location-content-1 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
    }

    .saved-location-details-2 {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      padding-bottom: 4px;

      .bans-icon {
        height: 16px;
        width: 16px;
        padding-top: 3px;
      }
    }

    .fire-bans {
      color: var(--grays-gray-3, #666);
      font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
    }

    .saved-location-detail {
      display: flex;
      flex-direction: column;

      span {
        color: var(--Gray-1, #242424);
        font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .location-coordinates {
        color: var(--grays-gray-3, #666);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
      }
    }

    .saved-location-content-2 {
      position: relative;
    }
  }

  .section-card-wildfires {
    @extend .section-card;
    background-color: var(--grays-white, #fdfdfd);
  }
}

.button-icon {
  height: 20px;
  width: 20px;
  vertical-align: sub;
}

.location-icon {
  padding: 6.653px;
  border-radius: 83.158px;
  background: var(--blues-blue-8, #dfe5ee);
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.arrow-icon {
  display: flex;
  padding: 6px;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 64px;
  background: var(--blues-blue-8, #dfe5ee);
}

.large-divider {
  background: var(--Grey-2-EEE, #eee);
  height: 12px;
  width: -webkit-fill-available;
}

.divider {
  background: #dedede;
  height: 1px;
  margin: 14px 0;
}

.arrow-button {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 64px;
  background: var(--Grey-2-EEE, #eee);
  cursor: pointer;
}

.nearBy-badge {
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--Light-Red, #e03b57);
  background: #fdf0f3;
  padding: 6px 12px;
  margin-top: 14px;

  span {
    color: #3a0813;
    font-family: "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.danger-rating-badge {
  display: flex;
  padding: 6px 12px;
  margin-top: 14px;

  .incident-icon-title {
    width: 18px;
    height: 18px;
    vertical-align: top;
  }

  span {
    padding-left: 9px;
  }
}

.saved-wildfires {
  width: 100%;
}

.info-container {
  display: flex;
  padding: 24px 0px 10px 0px;
  flex-direction: column;
  align-self: stretch;
}

.full-details-secondary-title {
  position: relative;
  color: var(--Black-1, #242424);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  margin: 0px 0px 16px 0px;
}

.fire-info-container {
  position: relative;
  max-width: 1470px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--grays-gray-7, #dedede);
  background: var(--White, #fdfdfd);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.07);

  .break {
    border: 0;
    clear: both;
    display: flex;
    width: 99%;
    background-color: #ddd;
    height: 1px;
    margin-left: 0px !important;
    margin-bottom: 16px;
  }

  .info {
    color: var(--Grey-6---666, #666);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 4px;

    .icon {
      width: 20px;
      height: 20px;
      padding-right: 10px;
      vertical-align: top;
    }
  }
}

.wildfire-title {
  width: 90%;
  color: var(--Black-1, #242424);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;

  &-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
  }
}

.wilfire-of-note-panel {
  width: 50%;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid var(--reds-red-8, #fbe3e3);
  background: var(--reds-red-7, #fef1f2);
  color: #98273b;
  margin-bottom: 12px;

  &-icon {
    position: relative;
    margin-right: 8px;
    height: 20px;
    width: 20px;
  }
}

.circle-icon {
  &.HOLDING {
    display: inline-block;
    background-color: #ffff00;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 4px;
  }

  &.OUT_CNTRL {
    display: inline-block;
    background-color: #ff0000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 4px;
  }

  &.UNDR_CNTRL {
    display: inline-block;
    background-color: #98e600;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 4px;
  }

  &.OUT {
    display: inline-block;
    background-color: #5c6671;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin: 0px 10px 0px 4px;
  }
}

.wildfire-arrow-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 64px;
  background: var(--Grey-2-EEE, #eee);
  cursor: pointer;
}

.arrow-icon-grey {
  @extend .arrow-icon;
  background: var(--Grey-2-EEE, #eee);
}

.wildfire-title-icon {
  width: 24px;
  height: 24px;
}

.desktop-container {
  background-color: white !important;
  max-width: 1500px;
  margin: auto;
}

// :host ::ng-deep .mat-mdc-tab.mdc-tab--active{
//     font-family: 'BCSans', 'Open Sans', Verdana, Arial, sans-serif !important;
//     font-size: 16px !important;
//     font-style: normal !important;
//     font-weight: 500 !important;
//     line-height: normal !important;
//     color: #000 !important;
// }

// :host ::ng-deep .mat-mdc-tab{
//     font-family: 'BCSans', 'Open Sans', Verdana, Arial, sans-serif !important;
//     font-size: 16px !important;
//     font-style: normal !important;
//     font-weight: 400 !important;
//     line-height: normal !important;
//     color: #5F5F5F !important;
// }
