.image-size {
  max-width: 100px;
  margin-left: auto;
}

.list-rows {
  display: flex;

  ul {
    margin-top: -10px;
  }
}


section {
    border: 2px solid #e9eff5;

    h1 {
        background-color: #e9eff5;
        font-size: 13px;
        font-weight: normal;
        padding: 10px 20px;
        margin: 0;
        letter-spacing: 2px;
    }

    h3 {
      font-size: 15px;
      font-weight: 700;
      color: #003366
    }

    article {
        font-size: 15px;
        padding: 10px 20px;

        a:link {
          color: #1A5A96
        }

        a:visited{
            color: #1A5A96
        }

        a:hover{
            text-decoration: none;
        }

        h2 {
            font-size: 15px;
            padding: 0;
            margin: 0;
            display: flex;

            &.black {
              color: black;
              &::before {
                background: repeating-linear-gradient(
                  135deg,
                  rgba(0, 0, 0),
                  rgba(0, 0, 0) 2px,
                  rgba(255, 255, 255) 2px,
                  rgba(255, 255, 255) 6px
                )
              }
            }

            &.blue {
              color: #5370C2;
              &::before {
                background-color: #5370C2;
              }
            }

            &.green {
              color: #389341;
              &::before {
                background-color: #389341;
              }
            }

            &.yellow {
              color: #7D7700;
              &::before {
                background-color: #7D7700;
              }
            }

            &.orange {
                color: #926831;

                &::before {
                    background-color: #926831
                }
            }

            &.red {
                color: #cf2a27;

                &::before {
                    background-color: #cf2a27;
                }
            }

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                margin-right: 10px
            }
        }
    }
}

.restriction-list {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  .status {
    padding: 4px;
    border-radius: 4px;
    min-width: 40px;
    text-align: center;
    &.red {
      background-color: #cf2a2769;
      border: 1px solid #cf2a27;
      color: #cf2a27
    }
    &.orange {
      background-color: #ef9c0069;
      border: 1px solid #ef9c00;
      color: #9A6400;
    }
  }
  .label {
    padding: 4px;
    cursor: pointer;
    color: #1A5A96;
    text-decoration: underline;
  }
  .issued-by {
    padding: 4px;
    font-size: 12px;
    font-style: italic;
    color: gray;
    text-decoration: none;
  }
}
