<div class="panel-header">Area Restrictions</div>
<section>
    <h1>LEGEND & DEFINITIONS</h1>
    <article>
      <h2 class="black">Area Restrictions</h2>
      <h3>Forest Use Restrictions</h3>
      <p class="paragraph-format">
        Forest Use Restrictions refer to area closures or restrictions and activity restrictions necessary or desirable to limit the risk of a fire, to address a public safety concern, or to avoid interference with fire control.
      </p>
      <h3>Regulations</h3>
      <p class="paragraph-format">
        A person must not remain in or enter the restricted area without the prior written authorization of an official designated for the purposes of the Wildfire Act, unless the person enters the area only in the course of:
      </p>
      <div class="list-rows paragraph-format">
        <ul>
          <li>Travelling to or from his or her residence;</li>
          <li>Using a highway as defined in the transportation act;</li>
          <li>Travelling through or entering the area as a person acting in an official capacity that is connected or involved in incident operations; or</li>
          <li>Travelling through or entering the area for a purpose approved by an official of supporting wildfire suppression activities</li>
        </ul>
      </div>
    </article>
</section>
<section>
  <h1>CURRENT AREA RESTRICTION</h1>
  <article>
    <div class="restriction-list" *ngFor="let area of areaRestrictions">
      <div class="label" (mouseup)="zoomToArea(area)">{{area.name}}</div>
      <div *ngIf="area.bulletinUrl" style="margin-left: auto;"><a [href]="area.bulletinUrl"><mat-icon>link</mat-icon></a></div>
    </div>
  </article>
</section>
<section>
    <h1>MORE INFORMATION</h1>
    <article>
        <p><a href="https://www2.gov.bc.ca/gov/content/safety/wildfire-status/fire-bans-and-restrictions" target="_blank" rel="noopener">Current Restriction Information</a></p>
        <p><a href="http://www.sitesandtrailsbc.ca/closures.aspx" target="_blank" rel="noopener">Recreation Sites and Trails Closures</a></p>
        <p><a href="https://bcparks.ca/wildfire/" target="_blank" rel="noopener">BC Parks Closures</a></p>
    </article>
</section>
