<div class="comments-table">

    <mat-table matSort [dataSource]="dataSource" [hidden]="!comments || comments.length === 0">
        <ng-container [cdkColumnDef]="colDef.name" *ngFor="let colDef of tableDef">
            <mat-header-cell mat-sort-header *cdkHeaderCellDef>
                <span class="rof-table__header">{{colDef.title}}</span>
            </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <span class="rof-table__cell">{{colDef.prop(row)}}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row class="comment-table-row" *cdkHeaderRowDef="tableHeaders"></mat-header-row>
        <mat-row class="comment-table-row" *cdkRowDef="let rowData; columns: tableHeaders"></mat-row>
    </mat-table>

    <ng-container *ngIf="!comments || comments.length === 0">
        <div class="comments-table__null">No Comments</div>
    </ng-container>

</div>