<div class="comments-container">
  <div class="incident-panel__form">
    <form class="form-container form-container--inline" [formGroup]="formGroup">
      <div class="form-compound form-container__form ">
        <div class="form-compound__molecule" style="justify-content: center;">
          <mat-form-field class="form-compound__molecule__atom">
            <input matInput formControlName="commentText" placeholder="Comment" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="wf-submit-row">
        <div class="flex-1"></div>
        <button mat-raised-button color="primary"  type="submit" [disabled]="disableAddComment()"
                (click)="onSubmit()">Add Comment
        </button>
      </div>
    </form>
  </div>
  <comments-table [comments]="commentsObject.comments"></comments-table>

</div>
