<header-text-card title="Warning">
  When a Restricted Area Order, or area restriction, is established under section 11(2) of the Wildfire Act, a person
  must not remain in or enter the restricted area
  without the prior written authorization of an official designated for the purposes of the Wildfire Act, unless the
  person enters the area only in the course of:
  <ul>
    <li>Travelling to or from his or her residence</li>
    <li>Using a highway as defined in the Transportation Act</li>
    <li>Travelling through or entering the area as a person
      acting in an official capacity that is connected or
      involved in incident operations</li>
    <li>Travelling through or entering the area for a
      purpose approved by an official of supporting
      wildfire suppression activities.</li>
  </ul>
  <div class="buttons">
    <link-button link="https://www.bclaws.gov.bc.ca/civix/document/id/complete/statreg/04031_01#section11"
      text="Wildfire Act" iconColor="#909090"></link-button>
  </div>
</header-text-card>