<content-card-container class="warning-card">
  <span class="title">Warning</span>
  <span class="text">The Wildfires Act and the Wildfire Regulation grant authority to government officials engaged in
    fire control (including firefighters) to order all people to leave active fire areas.
    <br><br>
    A person must not remain in or enter the restricted area without the prior written authorization of an official
    designated for the purposes of the Wildfire Act. </span>
</content-card-container>