@import "../../../../../styles/variables";
@import "notosans-fontface/scss/notosans-fontface";

@media (min-width: $desktop-md-min-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    height: 640px;
    max-height: 640px;
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .stat-text {
    display: flex;
    flex-direction: row;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .stat-box-data {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.35px;
    position: relative;
    top: 12px;
  }

  .stat-box-label {
    color: var(--Black-2, #484848);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
  }

  .evac-card-title {
    overflow: hidden;
    color: var(--grays-gray-1, #242424);
    text-overflow: ellipsis;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 8px;
  }

  .evac-card-text {
    color: var(--grays-gray-3, #666);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: -0.408px;
    margin-left: 8px;
  }

  .stat-box-icon {
    display: flex;
    padding: 12px 12px 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    position: relative;
  }
}

@media (min-width: $desktop-sm-min-width) and (max-width: $desktop-sm-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    height: 640px;
    max-width: 850px;
    max-height: 640px;
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

  .stat-text {
    display: flex;
    flex-direction: row;
  }

  .stat-box-data {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.35px;
    position: relative;
    top: 12px;
  }

  .stat-box-label {
    color: var(--Black-2, #484848);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
  }

  .evac-card-title {
    overflow: hidden;
    color: var(--grays-gray-1, #242424);
    text-overflow: ellipsis;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 8px;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .evac-card-text {
    color: var(--grays-gray-3, #666);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: -0.408px;
    margin-left: 8px;
  }

  .stat-box-icon {
    display: flex;
    padding: 12px 12px 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    position: relative;
  }
}

@media (max-width: $mobile-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    height: 558px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
    background: #fff;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .stat-text {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
  }

  .stat-box-data {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.35px;
    position: relative;
    top: 21px;
  }

  .stat-box-label {
    color: var(--Black-2, #484848);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
  }

  .evac-card-title {
    overflow: hidden;
    color: var(--grays-gray-1, #242424);
    text-overflow: ellipsis;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 8px;
  }

  .evac-card-text {
    color: var(--grays-gray-3, #666);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
    letter-spacing: -0.408px;
    margin-left: 8px;
  }

  .stat-box-icon {
    display: flex;
    padding: 12px 12px 12px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 60px;
    position: relative;
    top: 6px;
    height: 32px;
    width: 32px;
  }
}

.spinner-position {
  position: relative;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.content {
  width: 100%;
  height: 100%;
}

.counts-box {
  display: flex;
  width: 100%;
  gap: 24px;
  margin-top: 10px;
}

.stat-box {
  padding: 0px 0px 0px 20px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: var(--16, 16px);
  background: linear-gradient(0deg, #f5f6f9, #f5f6f9),
    linear-gradient(0deg, #dedede, #dedede);
  border: 1.5px solid #dedede;
  width: calc(50% - 24px);
}

.evac-list-box {
  padding-top: 12px;
}

.evac-card-content {
  display: flex;
}

.evac-card {
  border-bottom: 1px solid #dedede;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.evac-list-title {
  color: var(--Black-2, #484848);
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px; /* 131.818% */
}

.footer {
  width: 100%;
  text-align: end;
}

.link {
  color: #242424;
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; // For better alignment with label
  text-decoration: none;
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  margin-left: auto;
  width: 151px;
  text-align: center;
}

.evac-card-holder {
  overflow-y: auto;
  height: 100%;
  margin-bottom: 10px;
  max-height: 410px;
}

.blue-background {
  background-color: var(--blues-blue-10, #f5f6f9);
}

.widget-header {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  padding-bottom: 16px;
  display: flex;
}
