.form-container {
    margin: 0 0.5rem;

	&--inline {
		display: flex;
		flex-direction: row;

		.wf-submit-row {
			margin-left: 1rem;
			padding-bottom: 1rem;
		}
    }

	&--inline &__form {
		flex: 1;
    }
    
	.wf-submit-row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
    
}

.form-compound {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 0 -0.5rem;
    
    &--column &__molecule {
        flex: unset;
        width: 100%;
    }

    &__molecule {
        
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex: 1;
        margin: 0 0.5rem;
        min-height: 5rem;
        
        &--row {
            flex-direction: row;
        }

        &--action {
            flex: unset;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        &__atom {
            width: calc( 100% - 4px );
            min-width: 250px;

            &__quark {
                width: 100%;
            }

          .date-picker-input {
            display: flex;

            button {
              min-width: 0;
            }
          }
        }

    }

}

.list-container {
    width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;

    .form-compound {
        margin: 0 0 2rem 0;

        &__molecule {
            min-height: 0;
        }
    }
}

.add-button {
    align-self: flex-end;
}

.delete-button {
    align-self: center;
}

.wf-form-section {
    margin-top: 1rem;
    padding-top: 1rem;

    .mat-radio-button,
    .mat-checkbox {
        margin-right: 0.5rem;
    }

    &__lable-container {
		margin-top: 0.85rem;
		position: relative;
		padding-top: 0.25rem;
	}


    &__bottom {
        display: block;
    }

}

.wf-submit-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 0;

    button {
        margin-left: 1rem;
    }
}

.flex-1 {
	flex: 1;
}
