<h2>{{arrayLabel}}</h2>
<ng-container [formGroup]="form">
  <ng-container formArrayName="{{arrayId}}">
    <mat-card class="list-container" *ngFor="let element of formArray.controls; let cardIndex=index" [formGroupName]="cardIndex">
			<div class="form-compound">
				<div class="form-compound__molecule">
					<mat-form-field class="form-compound__molecule__atom">
						<mat-select formControlName="valueAtRiskTypeCode" placeholder="Value at Risk Type">
							<mat-option *ngFor="let option of topLevelSelection"
										[value]="option.code">
								{{option.description}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-compound__molecule">
					<mat-form-field class="form-compound__molecule__atom">
						<mat-select formControlName="valueAtRiskSubtypeCode" placeholder="Value at Risk Subtype">
							<mat-option *ngFor="let option of getValuesAtRiskSubTypeCodes(cardIndex)"
										[value]="option.code">
								{{option.description}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="form-compound__molecule">
					<mat-form-field class="form-compound__molecule__atom">
						<mat-select formControlName="assessmentReportPeriodCode" placeholder="Report Period" >
							<mat-option *ngFor="let option of getCodeOptions('ASSESSMENT_REPORT_PERIOD_CODE')"
										[value]="option.code">
								{{option.description}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
        <button mat-raised-button class="delete-button" [disabled]="formDisabled()" type="button" color="primary" (click)="delete(cardIndex)" >Delete</button>
      </div>
    </mat-card>
		<button class="add-button" mat-raised-button type="button" [disabled]="formDisabled()" color="primary" (click)="add()">Add</button>
	</ng-container>
</ng-container>

