.wfone-public-mobile-help-content {

  p{
    span.fire-category {
      font-weight: bold;
    }
  }
  .fire-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .regulations-header {
    font-size: large;
    margin-bottom: 1rem;
  }

  .regulations-container {
    display: flex;
    flex-wrap: wrap;
  }

  .regulation-row {
    display:flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
  }

  .regulation-item-img{
  }
  .regulation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .regulation-item-img-container {
    width: 90px;
    flex-shrink: 0;

    .regulation-item-img {
      max-width: 55px;
      height: 55px;
    }

    .regulation-item-img-bucket-shovel {
      max-width: 65px;
      height: 65px;
    }
  }

  .regulation-item-desc {
  }

  .help-icon{
    float: left;
    margin-right: 5px;
    font-size: 18px;
    height: 18px;
    width: 18px;
  }

  .near-me-mobile-icon{
    border-radius: 18px;
    background-color: #1A5A96;
    color: white;
  }

}

.fire-def-type-img {
  max-width: 250px;
  width: auto;
  height: auto;
  display: block;
}
