<div class="legend-panel">
  <div class="legend-panel-title">Precipitation Forecast</div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="0.01 - 0.05 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/0.005mm-forecast-legend.svg" >
      0.01 - 0.05 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="0.05 - 0.1 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/0.01mm-forecast-legend.svg" >
      0.05 - 0.1 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="0.1 - 0.5 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/0.5mm-forecast-legend.svg" >
      0.1 - 0.5 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="0.5 - 1.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/1mm-forecast-legend.svg" >
      0.5 - 1.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="1.0 - 5.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/5mm-forecast-legend.svg" >
      1.0 - 5.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="5.0 - 10.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/10mm-forecast-legend.svg" >
      5.0 - 10.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="10.0 - 20.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/20mm-forecast-legend.svg" >
      10.0 - 20.0 mm/h
    </div>
  </div>
  <div class="legend-accordion">
    <div class="legend-accordion-title">
      <img alt="20.0 - 50.0 mm/h" class="legend-accordion-icon" src="/assets/images/svg-icons/50mm-forecast-legend.svg" >
      20.0 - 50.0 mm/h
    </div>
  </div>
</div>

