.resource-panel {
  border: 1px solid #e9eff5;
  border-radius: 3px;
  background: white;
  font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  margin-bottom: 40px;
  .title {
    color: black;
    background: #e9eff5;
    font-size: 20px;
    padding: 10px;
  }
  .panel-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .panel-container> * {
    flex: 1 1 275px;
  }
  .resource-info {
    border: 1px solid #e9eff5;
    padding: 20px;
    max-width: 50%;
    .info-title {
      font-size: 18px;
      font-weight: 700;
      color: #0e5fa9;
      padding-bottom: 10px;
      a {
        color: #0e5fa9;
        text-decoration: none;
      }
    }
    .info-subtitle {
      font-size: 15px;
      color: #0e5fa9;
      text-decoration: none;
    }
    .info-description {
      font-size: 15px;
      color: black;
      padding-top: 10px;
    }
  }
}


