<div class="legend-panel">
  <div class="legend-panel-title">Area Restrictions</div>
  <mat-accordion multi>
    <mat-expansion-panel class="legend-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title class="legend-accordion-title">
          <img alt="Area Restrictions" class="legend-accordion-icon" src="/assets/images/svg-icons/area-restrictions-legend.svg" >
          Area Restrictions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="legend-accordion-content">Access to an area is restricted to limit the risk of a fire, to address a public safety concern, or to avoid interference with fire control.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

