:host {
    font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;

    ::ng-deep .mat-dialog-title {
        margin-block-end: 0;
    }

    ::ng-deep .mat-dialog-content {
        .file-progress {
            display: flex;

            .file-status {
                flex-grow: 1;
                min-width: 0;
                // min-width: 250px;
            }
            .file-action {
                display: inline-flex;
                align-items: center;
                color: red;

                .completed {
                    padding: 0 8px;
                    color: green;
                }

                .failed {
                    padding: 0 8px;
                }
            }
        }

        h4.file-title {
            margin-block-end: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }
        .mat-progress-bar-buffer {
            background-color: lightblue;
        }
        h4.file-status {
            margin-block-start: 5px;
            font-weight: normal;
        }
    }

    .upload-metadata {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}