@import "../../../../../styles/variables";
@import "notosans-fontface/scss/notosans-fontface";

@media (min-width: $desktop-md-min-width) {
  .container {
    height: 640px;
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    max-width: min(1480px, calc(100dvw - 104px));
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .resource-card {
    display: flex;
    min-width: 200px;
    padding: var(--16, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--16, 16px);
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--16, 16px);
    border: 1.5px solid var(--grays-gray-8, #e4e4e4);
    background: var(--blues-blue-11, #f5f6f9);
    &-title {
      color: var(--grays-gray-3, #666);
      align-self: stretch;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &-content {
      display: flex;
      align-items: center;
      gap: var(--8, 8px);
      align-self: stretch;
      &-data {
        color: #242424;
        font-feature-settings:
          "clig" off,
          "liga" off;
        font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
          sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 130% */
        letter-spacing: 0.35px;
      }
      &-icon-holder {
        border-radius: 60px;
        background: var(--Blue-4, #dfe5ee);
        display: flex;
        padding: var(--12, 12px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--8, 8px);
      }
      &-icon {
        width: 40px;
        height: 40px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .content > * {
    flex: 1 0 200px;
  }

  .button-label {
    position: relative;
    top: -3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }

  .button-icon {
    position: relative;
    top: 4px;
  }
}

@media (min-width: $desktop-sm-min-width) and (max-width: $desktop-sm-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    flex: 1 0 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    width: calc(100% - 47px);
    max-width: 850px;
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .resource-card {
    display: flex;
    min-width: 200px;
    padding: var(--16, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--16, 16px);
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--16, 16px);
    border: 1.5px solid var(--grays-gray-8, #e4e4e4);
    background: var(--blues-blue-11, #f5f6f9);
    &-title {
      color: var(--grays-gray-3, #666);
      align-self: stretch;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &-content {
      display: flex;
      align-items: center;
      gap: var(--8, 8px);
      align-self: stretch;
      &-data {
        color: #242424;
        font-feature-settings:
          "clig" off,
          "liga" off;
        font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
          sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 52px; /* 130% */
        letter-spacing: 0.35px;
      }
      &-icon-holder {
        border-radius: 60px;
        background: var(--Blue-4, #dfe5ee);
        display: flex;
        padding: var(--12, 12px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--8, 8px);
      }
      &-icon {
        width: 40px;
        height: 40px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .content > * {
    flex: 1 0 200px;
  }

  .button-label {
    position: relative;
    top: -3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }

  .button-icon {
    position: relative;
    top: 4px;
  }
}

@media (max-width: $mobile-max-width) {
  .container {
    overflow: hidden;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    display: flex;
    flex: 1 0 0;
    background: #fff;
    width: calc(100vw - 47px);
    padding: var(--24, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--24, 24px);
    align-self: stretch;
  }

  .widget-title {
    color: #242424;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
    letter-spacing: 0.35px;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
  }
  .content > * {
    flex: 1 0 200px;
  }

  .resource-card {
    display: flex;
    min-width: 200px;
    padding: var(--16, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--16, 16px);
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--16, 16px);
    border: 1.5px solid var(--grays-gray-8, #e4e4e4);
    background: var(--blues-blue-11, #f5f6f9);
    &-title {
      color: var(--grays-gray-3, #666);
      align-self: stretch;
      font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
        sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    &-content {
      display: flex;
      align-items: center;
      gap: var(--8, 8px);
      align-self: stretch;
      &-data {
        color: #242424;
        font-feature-settings:
          "clig" off,
          "liga" off;
        font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
          sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.35px;
      }
      &-icon-holder {
        border-radius: 60px;
        background: var(--Blue-4, #dfe5ee);
        display: flex;
        padding: var(--12, 12px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--8, 8px);
      }
      &-icon {
        width: 28px;
        height: 28px;
      }
    }
  }

  .button-label {
    position: relative;
    top: -3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.79px;
  }

  .button-icon {
    position: relative;
    top: 2px;
  }
}

.widget-header {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  padding-bottom: 16px;
  display: flex;
}

.spinner-position {
  position: relative;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.button {
  margin-right: 7px;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  margin-left: auto;
}
