@import '../report-of-fire.component.scss';

.button-group{
    display: flex;
    width: 326px;
    align-items: center;
    gap: 24px;
    button{
        display: flex;
        padding: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        align-self: stretch;  
        border-radius: 8px;
        background: #F1F1F1;
        border-width: inherit;
    }
    span{
        color: #000;
        font-family: 'Noto Sans';
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.38px;
    }
}