<div class="page-content">
  <div class="rof-text-primary-header">{{ title }}</div>
  <div class="rof-text-secondary-header">{{ message }}</div>
  <div class="button-group">
    <button (click)="takePhoto()"><mat-icon svgIcon="camera"></mat-icon><span>Take Photo</span></button>
    <button><mat-icon svgIcon="image"></mat-icon><span>Add from Photo Library</span></button>
  </div>
  <div class="rof-button-container">
    <button class="rof-button" mat-flat-button (click)="previous()">Previous</button>
	  <!-- <button class="rof-button-primary" mat-flat-button (click)="next()">Continue</button> -->
    <button mat-flat-button [class]="'rof-button' + (disableNext ? '-disabled' : '-primary')" [disabled]="disableNext" (click)="next()"><mat-icon svgIcon="arrow-forward-enabled" class="left-padding" style="width: 24px; height: 24px;"></mat-icon>Next</button>

  </div>
</div>
