<base-error-panel [componentValidationState]="validationState"></base-error-panel>
<div class="incident-panel">
    <h1 class="incident-panel__title">{{panelName}}</h1>
    <div class="incident-panel__form">
        <form class="form-container" [formGroup]="formGroup">
            <h3>{{sectionLabelEnforcement}}</h3>
            <div class="form-compound form-container__form ">
              <div class="form-compound__molecule">
                <div class="form-compound__molecule__atom mat-form-field mat-form-field-appearance-legacy">
                  <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'resourcesRequestedInd')" [checked]="formGroup.get('resourcesRequestedInd').value" [disabled]="formGroup.get('resourcesRequestedInd').disabled">Enforcement Agency Request Submitted </mat-checkbox>
                </div>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Submitted Date/Time</mat-label>
                  <div class="date-picker-input">
                    <input matInput formControlName="investigationRequestedTimestamp"
                           [owlDateTime]="investigationRequestedTimestampDT">
                    <button mat-button [owlDateTimeTrigger]="investigationRequestedTimestampDT">
                      <mat-icon>event</mat-icon>
                    </button>
                  </div>
                  <owl-date-time #investigationRequestedTimestampDT [showSecondsTimer]="true"></owl-date-time>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                  <mat-form-field class="form-compound__molecule__atom">
                    <mat-label>Enforcement Investigation requested by</mat-label>
                    <mat-select formControlName="investigationRequesterCode">
                          <mat-option [value]="null"></mat-option>
                          <mat-option *ngFor="let option of getCodeOptions('INVESTIGATION_REQUESTER_CODE')"
                                      [value]="option.code">
                              {{option.description}}
                          </mat-option>
                      </mat-select>
<!--                      <mat-error *ngFor="let error of getValidationErrorsForPath('complianceAndEnforcementInvestigationRequesterCode')">{{error.displayMessage}}</mat-error>-->
                  </mat-form-field>
              </div>
            </div>
            <div class="form-compound form-container__form ">
              <div class="form-compound__molecule">
                <div class="form-compound__molecule__atom mat-form-field mat-form-field-appearance-legacy">
                  <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'agencyRespondedInd')" [checked]="formGroup.get('agencyRespondedInd').value" [disabled]="formGroup.get('agencyRespondedInd').disabled">Enforcement Agency Responded </mat-checkbox>
                </div>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Responded Date/Time</mat-label>
                  <div class="date-picker-input">
                    <input matInput formControlName="investigationAgencyRespondedTimestamp"
                           [owlDateTime]="investigationAgencyRespondedTimestampDT">
                    <button mat-button [owlDateTimeTrigger]="investigationAgencyRespondedTimestampDT">
                      <mat-icon>event</mat-icon>
                    </button>
                  </div>
                  <owl-date-time #investigationAgencyRespondedTimestampDT [showSecondsTimer]="true"></owl-date-time>
                </mat-form-field>

              </div>
              <div class="form-compound__molecule">
                  <mat-form-field class="form-compound__molecule__atom">
                    <mat-label>Enforcement Agency</mat-label>
                    <mat-select formControlName="partyName">
                      <mat-option [value]="null"></mat-option>
                      <mat-option *ngFor="let option of getCodeOptions('CANDE_INVESTIGATION_PARTIES')"
                                  [value]="option.code">
                        {{option.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>

            <div class="form-compound form-container__form ">

              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Enforcement Officer</mat-label>
                  <input matInput formControlName="investigatorName" type="text" >
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>External Agency Reference Number</mat-label>
                  <input matInput formControlName="investigationReferenceNumber" type="text" >
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Investigation Status</mat-label>
                  <mat-select formControlName="investigationDeterminationStatusCode">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('INVESTN_DETERMINATION_STS_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>

            <div class="form-compound form-container__form ">

              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Damage ($)</mat-label>
                  <input matInput formControlName="damageToNaturalResourcesEstimate" type="text" currencyMask>
                  <mat-error *ngIf="formGroup.get('damageToNaturalResourcesEstimate').hasError('min')">Value must be a positive number.</mat-error>
                  <mat-error *ngIf="formGroup.get('damageToNaturalResourcesEstimate').hasError('pattern')">Value must be a positive number with maximum 2 decimal precision.</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
              </div>
              <div class="form-compound__molecule">
              </div>

            </div>

          <div class="wf-submit-row">
                <div class="flex-1"></div>
                <button mat-raised-button color="primary" [disabled]="!formGroup?.valid || formGroup.pristine" type="submit"
                        (click)="onSubmit()">Save
                </button>
            </div>
        </form>
    </div>
</div>

