<base-error-panel [componentValidationState]="validationState"></base-error-panel>
<div class="incident-panel">
    <h1 class="incident-panel__title">{{panelName}}</h1>
    <div class="incident-panel__form">
        <form class="form-container" [formGroup]="formGroup">
            <h3>{{sectionLabelOverview}}</h3>
            <div class="form-compound form-container__form ">

              <div class="molecule-wrapper-small molecule-wrapper-margin-left">
                  <mat-form-field class="form-compound__molecule__atom-small atom_width_40_percent" >
                    <mat-label>Incident Year</mat-label>
                    <input matInput formControlName="incidentYear" type="text">
                    <mat-error *ngFor="let error of getValidationErrorsForPath('wildfireYear')">{{error.displayMessage}}</mat-error>
                  </mat-form-field>
                  <mat-form-field class="form-compound__molecule__atom-small atom_width_40_percent">
                    <mat-label>Incident ID</mat-label>
                    <input matInput formControlName="incidentLabel" type="text">
                    <mat-error *ngFor="let error of getValidationErrorsForPath('incidentLabel')">{{error.displayMessage}}</mat-error>
                  </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                  <mat-form-field class="form-compound__molecule__atom">
                    <mat-label>Incident Name</mat-label>
                    <input matInput formControlName="incidentName" type="text">
                  </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Incident Type</mat-label>
                  <mat-select formControlName="incidentTypeCode" required="true" (valueChange)="onIncidentTypeChanged($event)">
                    <mat-option *ngFor="let option of getCodeOptions('INCIDENT_TYPE_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="form-compound form-container__form ">
              <div class="molecule-wrapper-small">
                <div class="form-compound__molecule">
                    <mat-form-field class="form-compound__molecule__atom">
                      <mat-select formControlName="leadByPartyName" placeholder="Lead Agency">
                        <mat-option [value]="null"></mat-option>
                        <mat-option *ngFor="let option of getCodeOptions('LEAD_AGENCY_PARTIES')"
                                    [value]="option.code">
                          {{option.description}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Fire Classification</mat-label>
                  <mat-select formControlName="fireClassificationCode" >
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('FIRE_CLASSIFICATION_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('fireClassificationCode')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Response Type</mat-label>
                  <mat-select formControlName="responseTypeCode">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('RESPONSE_TYPE_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('responseTypeCode')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
            </div>

          <div class="form-compound form-container__form ">
            <div class="molecule-wrapper-small">
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom" >
                  <mat-label>Percent Contained (%)</mat-label>
                  <input matInput formControlName="containedPercentage" type="number" >
                  <mat-error *ngIf="formGroup.get('containedPercentage').hasError('min')">Value must be a positive whole number between 0 and 100.</mat-error>
                  <mat-error *ngIf="formGroup.get('containedPercentage').hasError('max')">Value must be a positive whole number between 0 and 100.</mat-error>
                  <mat-error *ngIf="formGroup.get('containedPercentage').hasError('pattern')">Value must be a positive whole number between 0 and 100.</mat-error>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.containedPercentage')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Stage of Control</mat-label>
                <mat-select formControlName="stageOfControlCodeDisplay">
                  <mat-option *ngFor="let option of getStageOfControlCodeOptions()"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Incident Commander</mat-label>
                <input matInput formControlName="incidentCommanderName" type="text" maxLength="20">
                <mat-error *ngFor="let error of getValidationErrorsForPath('incidentCommanderName')">{{error.displayMessage}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-compound form-container__form ">
            <div class="molecule-wrapper-small molecule-wrapper-margin-left">
              <div class="form-compound__molecule__atom">
                <div class="form-compound__molecule__atom mat-form-field mat-form-field-appearance-legacy">
                  <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'interfaceFireInd')" [checked]="formGroup.get('interfaceFireInd').value" [disabled]="formGroup.get('interfaceFireInd').disabled"> Interface </mat-checkbox>
                </div>
              </div>
            </div>
            <div class="form-compound__molecule">
              <div class="form-compound__molecule__atom mat-form-field mat-form-field-appearance-legacy">
                <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'fireOfNotePublishedInd')" [checked]="formGroup.get('fireOfNotePublishedInd').value" [disabled]="formGroup.get('fireOfNotePublishedInd').disabled"> Fire of Note </mat-checkbox>
              </div>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Incident Status</mat-label>
                <mat-select formControlName="incidentStatusCodeDisplay">
                  <mat-option *ngFor="let option of getIncidentStatusCodeOptions()"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <h3>{{sectionLabelSiteDetails}}</h3>
            <div class="form-compound form-container__form ">

              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Fire Centre</mat-label>
                  <mat-select formControlName="fireCentreOrgUnitIdentifier">
                    <mat-option *ngFor="let option of getOrgCodeOptions('FIRE_CENTRE_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('fireCentreOrgUnitIdentifier')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Zone</mat-label>
                  <mat-select formControlName="zoneOrgUnitIdentifier" >
                    <mat-option *ngFor="let option of getOrgCodeOptions('ZONE_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('zoneOrgUnitIdentifier')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Geographic Description</mat-label>
                  <textarea matInput cdkAutosizeMaxRows="10" cdkTextareaAutosize="true" formControlName="geographicDescription" maxlength="100"></textarea>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('incidentLocation.geographicDescription')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Latitude/Longitude</mat-label>
                  <input matInput type="text" formControlName="latLong" required="true">
                  <mat-error *ngFor="let error of getValidationErrorsForPath('latitude')">{{error.displayMessage}}</mat-error>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('longitude')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
            </div>
          <div class="form-compound form-container__form ">
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Simplex Channel Colour</mat-label>
                <mat-select formControlName="simplexChannelColour">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('SIMPLEX_RADIO_CHANNEL_COLOUR_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Duplex Channel Colour</mat-label>
                <mat-select formControlName="duplexChannelColour">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('DUPLEX_RADIO_CHANNEL_COLOUR_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Duplex Tone Number</mat-label>
                <mat-select formControlName="toneNumber">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('RADIO_TONE_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
            </div>
          </div>

          <h3>{{sectionLabelInitialFireReportDetails}}</h3>
          <div class="form-compound form-container__form ">

            <div class="molecule-wrapper-small">
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Values at Risk</mat-label>
                  <input matInput formControlName="valuesAtRiskDescription" type="text">
                  <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.valuesAtRiskDescription')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Values at Risk Distance (m)</mat-label>
                <input matInput formControlName="valuesAtRiskDistanceMeters" type="number">
                <mat-error *ngIf="formGroup.get('valuesAtRiskDistanceMeters').hasError('min')">Value must be a positive number.</mat-error>
                <mat-error *ngIf="formGroup.get('valuesAtRiskDistanceMeters').hasError('pattern')">Value must be a positive number with maximum 2 decimal precision.</mat-error>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Values at Risk Direction from Incident</mat-label>
                <mat-select formControlName="valueDirectionCode">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('DIRECTION_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-compound form-container__form ">
            <div class="molecule-wrapper-small">
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Access</mat-label>
                  <mat-select formControlName="siteAccessPointTypeCode">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('SITE_ACCESS_POINT_TYPE_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('incidentSituation.siteAccessPointTypeCode')">{{error.displayMessage}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Access Distance (m)</mat-label>
                <input matInput formControlName="accessDistanceMeters" type="number">
                <mat-error *ngIf="formGroup.get('accessDistanceMeters').hasError('min')">Value must be a positive number.</mat-error>
                <mat-error *ngIf="formGroup.get('accessDistanceMeters').hasError('pattern')">Value must be a positive number with maximum 2 decimal precision.</mat-error>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Access Direction</mat-label>
                <mat-select formControlName="accessDirectionCode">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('DIRECTION_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-compound form-container__form ">
            <div class="molecule-wrapper-small">
              <div class="form-compound__molecule">
                <mat-form-field class="form-compound__molecule__atom">
                  <mat-label>Available Water</mat-label>
                  <mat-select formControlName="availableWaterCode">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let option of getCodeOptions('AVAILABLE_WATER_CODE')"
                                [value]="option.code">
                      {{option.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Available Water Distance (m)</mat-label>
                <input matInput formControlName="availableWaterDistanceMeters" type="number">
                <mat-error *ngIf="formGroup.get('availableWaterDistanceMeters').hasError('min')">Value must be a positive number.</mat-error>
                <mat-error *ngIf="formGroup.get('availableWaterDistanceMeters').hasError('pattern')">Value must be a positive number with maximum 2 decimal precision.</mat-error>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Available Water Direction</mat-label>
                <mat-select formControlName="waterDirectionCode">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('DIRECTION_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-compound form-container__form ">
            <div class="molecule-wrapper-small molecule-wrapper-margin-left">
                <div class="form-compound__molecule__atom-small mat-form-field mat-form-field-appearance-legacy atom_width_50_percent">
                  <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'paperTrailedInd')" [checked]="formGroup.get('paperTrailedInd').value" [disabled]="formGroup.get('paperTrailedInd').disabled"> Paper Trailed </mat-checkbox>
                </div>
                <div class="form-compound__molecule__atom-small mat-form-field mat-form-field-appearance-legacy atom_width_30_percent">
                  <mat-checkbox class="mat-form-field-wrapper mat-form-field-infix" (change)="updateCheckbox($event, 'fieldPhotoInd')" [checked]="formGroup.get('fieldPhotoInd').value" [disabled]="formGroup.get('fieldPhotoInd').disabled"> Photos? </mat-checkbox>
                  <mat-error *ngFor="let error of getValidationErrorsForPath('fieldPhotoInd')">{{error.displayMessage}}</mat-error>
                </div>
            </div>
            <div class="form-compound__molecule">
              <mat-form-field class="form-compound__molecule__atom">
                <mat-label>Probability of IA Success</mat-label>
                <mat-select formControlName="probabilityOfInitialAttackSuccessCode">
                  <mat-option [value]="null"></mat-option>
                  <mat-option *ngFor="let option of getCodeOptions('PROBABILITY_OF_IA_SUCCESS_CODE')"
                              [value]="option.code">
                    {{option.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-compound__molecule"></div>
          </div>


          <div class="wf-submit-row">
              <div class="flex-1"></div>
              <button mat-raised-button color="primary" [disabled]="!formGroup?.valid || formGroup.pristine" type="submit"
                      (click)="onSubmit()">Save
              </button>
          </div>

        </form>
    </div>
</div>

