.incident-panel {
    padding-bottom: 80px;

    h1 {
        display: flex;
        align-items: flex-start;

        .header-button {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
}
