<div *ngIf="ban" class="evac">
  <div class="title">Fire Ban on {{ replaceCategoryDescription(ban.attributes.ACCESS_PROHIBITION_DESCRIPTION) }} Open Fires</div>
    <div class="info-panel event">
      <div class="info-panel-row" *ngIf="ban.attributes.ACCESS_STATUS_EFFECTIVE_DATE">
        <img class="icon" height="24" width="24" src="/assets/images/svg-icons/calendar.svg">
        <span class="label">Issued on&nbsp;{{convertToDateYear(ban.attributes.ACCESS_STATUS_EFFECTIVE_DATE)}}</span>
      </div>
      <div class="info-panel-row" *ngIf="ban.attributes.FIRE_CENTRE_NAME">
        <img class="icon" height="24" width="24" src="/assets/images/svg-icons/local_authority.svg" alt="local_authority" />
        <span class="label">{{ban.attributes.FIRE_CENTRE_NAME}}&nbsp;Fire Centre</span>
      </div>
      <div class="info-panel-row">
        <img class="icon" src="/assets/images/svg-icons/carbon_layers.svg" alt="Layers" />
        <span class="label">BC Wildfire Fire Bans and Prohibitions Layer</span>
      </div>
      <hr>
      <div class="info-panel-row">
        <span class="label" [innerHTML]="bansHeaderText"></span>
      </div>
      <div class="info-panel-button-row">
          <wfnews-button variant="secondary" label="View on Map"
            iconPath="/assets/images/svg-icons/map.svg" (buttonClicked)="navToMap()"></wfnews-button>
          <wfnews-button variant="secondary" label="Share"
            iconPath="/assets/images/svg-icons/share.svg" (buttonClicked)="openShareWindow()"></wfnews-button>
      </div>
    </div>
  </div>