@import "../../../../styles/variables.scss";

:host { display: block; }

:hover {
  mask-image: linear-gradient(rgb(0, 0, 0, .7), rgb(0, 0, 0, .7));
}

.button-container {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #dedede;

  &.hide {
    display: none;
  }

  &.slim {
    padding: 8px 16px;
  }

  .label {
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial,
      sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;

    &.slim {
      font-weight: 400;
    }
  }
}
