<button [type]="type" class="bcds-button" [ngClass]="[variant, size]"
  [class.danger]="danger" [class.icon]="iconOnly" [disabled]="disabled"
  [attr.aria-label]="ariaLabel || null" (click)="clickHandler()">
  <ng-content></ng-content>
  <span *ngIf="iconPath" class="mask-icon" [style.mask-image]="'url(' + iconPath + ')'"
    [style.-webkit-mask-image]="'url(' + iconPath + ')'"></span>
  <span *ngIf="label" class="label">{{ label }}</span>
  <span *ngIf="iconPathEnd" class="mask-icon" [style.mask-image]="'url(' + iconPathEnd + ')'"
    [style.-webkit-mask-image]="'url(' + iconPathEnd + ')'"></span>
  <ng-content select="[iconEnd]"></ng-content>
</button>
