<div class="collection-notice-dialog" >
    <div class="form-row title-row" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
      <h1 class="title-style">{{titleLabel}}</h1>
    </div>
    <mat-dialog-content class="collection-notice-text">
        <img src="assets/images/logo/bcwfservice-logo-lightbg.png">
        <div>
            <div class="text">
                The BC Wildfire Service will collect images related to incidents in the Wildfire Incident Management application. These images will be used for various fire management processes and may be used for internal and external facing communication products.  As an employee of BC Wildfire Service your personnel information may be captured within an incident photo taken by BC Wildfire staff.  The authority to collect this information derives from section 26 c of the Freedom of Information and Protection Act.  If you have questions about the collection or use of this information, please contact:
            </div>
        </div>
        <div class="address margin-top-gutter" style="margin-top:16px">
            <div>
                BCWS Communications section - <a href="mailto:fireinfo@gov.bc.ca">fireinfo@gov.bc.ca</a>.
            </div>
            <div>
                3080 Airport Road
            </div>
            <div>
                Kamloops, BC, Canada
            </div>
            <div>
                V2B 7X2
            </div>
            <div>
                +1 (250) 312-3051
            </div>
        </div>
    </mat-dialog-content>
  
    <div mat-dialog-actions align="end" class="action-button-wrapper">
        <mat-checkbox class="collection-checkbox" [(ngModel)]="dontShowAgain">Don't show again</mat-checkbox>
        <button mat-raised-button color="primary" style="background-color: #003366;" (click)="ok()">OK</button>
    </div>
  </div>
  