::ng-deep .weather-history-options-dialog {
    .dialog-body {
        padding: 20px;

        h4 {
            margin-bottom: 5px;
        }
    }
}

mat-form-field {
    margin-bottom: 2rem;
    display: block;
}

::ng-deep .mat-form-field-infix {
    border-top: 0rem !important;
    padding: 10px 0 !important;
}

::ng-deep mat-form-field {
    height: 1rem !important;
    @media screen and (orientation: landscape) and (max-width: 768px) {
        width: 100% !important;
        padding-bottom: 5px;
    }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: grey !important;
    top: 0 !important;
}

::ng-deep .mat-select-arrow {
    position: relative;
    top: 4px;
}
