@import '../../../../styles/variables.scss';

::ng-deep .weather-history-options-dialog {
  .dialog-body {
    padding: 12px 24px;

    .subtitle {
      color: #242424;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.14px;
      margin-bottom: 4px;
    }
  }
}

.dialog-header {
  .title {
    color: #242424;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
  }
}

::ng-deep .mat-mdc-form-field-flex {
  display: flex !important;
  height: 40px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center !important;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  background: #f9f9f9;
  box-sizing: unset !important;
  position: relative;
  left: -18px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  width: 113.5% !important;
}

::ng-deep .mdc-notched-outline {
  display: none !important;
}

::ng-deep .mat-mdc-form-field {
  display: unset !important;
}

::ng-deep .mat-form-field-infix {
  border-top: 0rem !important;
  padding: 10px 0 !important;
}

::ng-deep mat-form-field {
  height: 1rem !important;

  @media screen and (orientation: landscape) and (max-width: $mobile-max-width) {
    width: 100% !important;
    padding-bottom: 5px;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  opacity: 0;
  color: white !important;
  top: 0 !important;
}

::ng-deep .mat-mdc-text-field-appearance-outline .mat-mdc-text-field-outline {
  opacity: 0;
  color: white !important;
  top: 0 !important;
}

::ng-deep .mat-select-arrow {
  position: relative;
  top: 4px;
}
