<div class="legend-holder">
  <!-- Legend panels. Show the active feature layer on top-->
  <wfnews-map-legend></wfnews-map-legend>
  <wfnews-fire-legend></wfnews-fire-legend>
  <wfnews-evac-legend></wfnews-evac-legend>
  <wfnews-bans-legend></wfnews-bans-legend>
  <wfnews-area-restriction-legend></wfnews-area-restriction-legend>
  <wfnews-danger-rating-legend></wfnews-danger-rating-legend>
  <wfnews-smoke-legend></wfnews-smoke-legend>
  <wfnews-road-event-legend></wfnews-road-event-legend>
</div>
