::ng-deep .mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

::ng-deep .mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.legend-holder {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background-color: #f5f6f9;
  gap: 24px;
}

.legend-panel {
  background-color: #f5f6f9;
  &-title {
    align-self: stretch;
    color: var(--grays-gray-1, #242424);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 12px;
  }
}

.spacer {
  padding: 12px;
}

.legend-layer-description {
  color: var(--grays-gray-2, #484848);
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.408px;
  padding-bottom: 12px;
}

.legend-accordion {
  background-color: #ffffff;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: var(--grays-gray-1, #242424);
  font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-shadow: none !important;
  &-title {
    color: var(--grays-gray-1, #242424);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px;
  }
  &-icon {
    width: 24px !important;
    height: 24px !important;
    padding-right: 12px !important;
  }
  &-content {
    color: var(--grays-gray-2, #484848);
    font-family: "Noto sans", "BCSans", "Open Sans", Verdana, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px;
    border-bottom: 1px solid #dedede;
  }
  &-content-ul {
    padding-left: 24px;
  }
}

::ng-deep .mat-expansion-panel-header {
  border-bottom: 1px solid #dedede !important;
}
