<content-card-container class="where-should-i-go-card">
  <div class="header">
    <span class="title">Where Should I Go?</span>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="content-title">Reception Centres</div>
      <div class="content-list">
        <span class="content-text">Travel to a reception centre designated by your Indigenous governing body or local government. Supports will not be available if you travel to a non-designated location.</span>
      </div>
    </div>

    <div class="content">
      <div class="content-title">Routes and Safety</div>
      <div class="content-list">
        <span class="content-text">Follow the routes specified by local authorities. Avoid shortcuts - they could lead to a blocked or dangerous area. Do not attempt to drive through a wildfire.</span>
        <span class="content-text">Do not attempt to drive through areas that may be affected by downed power lines or stay at least 10 metres away to avoid injury.</span>
      </div>
    </div>

    <div class="content">
      <div class="content-title">If you have pets</div>
      <div class="content-list">
        <span class="content-text">Talk to your local authorities to find out what organizations and resources are available in your area for animals during an emergency.</span>
      </div>
    </div>

    <div class="content">
      <div class="content-title">Check General Road Conditions</div>
      <div class="content-list">
        <wfnews-button class="max-width-300" [componentStyle]="defaultSlimButtonStyle" label="Drive BC Website" (buttonClicked)="directToLink()"></wfnews-button>
      </div>
    </div>
  </div>

</content-card-container>

