@import "../../draggable-panel/draggable-panel.component.scss";

.identify-card{
    min-height: auto !important;
    margin: 16px 20px 24px 20px;
}

.button-row{
    overflow: hidden !important;
    padding: 4px 20px 12px 20px !important; 
}