name: Deploy Mobile

on:
  push:
    branches:
      - 'mobile-build-automation'
  workflow_dispatch:
    inputs:
      build_environment:
        type: choice
        options:
          - DEV
          - TEST
          - PROD
        required: false
        default: DEV
      upload_to_store:
        type: boolean
        required: false
        default: false

jobs:
  build-android:
    uses: ./.github/workflows/android.yml
    with:
      build_environment: ${{ inputs.build_environment }}
      upload_to_play_store: ${{ inputs.upload_to_store }}

  build-ios:
    uses: ./.github/workflows/ios.yml
    with:
      build_environment: ${{ inputs.build_environment }}
      upload_to_app_store: ${{ inputs.upload_to_store }}