# This is a basic workflow to help you get started with Actions

name: Build Client

env:
  IMAGE_NAME: ${{ github.repository }}-client
  NPMRC: ${{ secrets.NPMRC }}

# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      IS_HOTFIX:
        required: false
        type: string
        default: 'false'
      BRANCH:
        required: false
        type: string
      TAG:
        required: false
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.ENVIRONMENT }}
    steps:
      - uses: actions/checkout@v3
        if: ${{ inputs.IS_HOTFIX != 'true' }}
      
      - uses: actions/checkout@v3
        if: ${{ inputs.IS_HOTFIX == 'true' }}
        with:
          ref: ${{ inputs.BRANCH }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      
      - name: Add .npmrc file
        run: echo -e $NPMRC > ~/.npmrc
          
      - name: Build with Maven
        run: |
          export MAVEN_OPTS="-Xmx3072m -XX:MaxMetaspaceSize=512m"
          export NODE_OPTIONS="--max-old-space-size=4096"
          mvn --settings client/mvn_settings/settings.xml --batch-mode --update-snapshots -f client/pom.xml -Drepo.login=${{ secrets.IDIR_AS_EMAIL }} -Drepo.password=${{ secrets.IDIR_PASSWORD }} -DskipTests package
        
      - name: Copy files to neccessary folders
        run: mkdir staging && cp client/wfnews-war/target/*.war staging
      
      - uses: actions/upload-artifact@v3
        with:
          name: Package-client
          path: staging

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: staging
          key: ${{ runner.os }}-maven-${{ hashFiles('**war.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

  docker:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        if: ${{ inputs.IS_HOTFIX != 'true' }}
      
      - uses: actions/checkout@v3
        if: ${{ inputs.IS_HOTFIX == 'true' }}
        with:
          ref: ${{ inputs.BRANCH }}
      
      - name: download artifact
        uses: actions/download-artifact@v3
        with:
          name: Package-client
          path: .
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels) for Docker
        if: ${{ github.event.pull_request.number > 0 || inputs.IS_HOTFIX == 'true' }}
        id: meta_pr
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ vars.REGISTRY}}/${{ env.IMAGE_NAME }}${{ inputs.IS_HOTFIX == 'true' && '-hotfix' || '' }}
          tags: |
            type=schedule
            type=raw,value=${{ github.base_ref }}
            type=ref,event=tag
            type=raw,value=${{ inputs.IS_HOTFIX == 'true' && format('hotfix-{0}', inputs.BRANCH) || format( 'pr-{0}', github.event.pull_request.number) }}
          
      - name: Build and push Docker image (with PR)
        if: ${{ github.event.pull_request.number > 0 || inputs.IS_HOTFIX == 'true' }}
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: Dockerfile_client
          push: true
          tags: ${{ steps.meta_pr.outputs.tags }}
          labels: ${{ steps.meta_pr.outputs.labels }}

