name: Deploy using terragrunt

on:
  workflow_call:
    inputs:
      CLIENT_IMAGE:
        required: true
        type: string
      SERVER_IMAGE:
        required: true
        type: string
      LIQUIBASE_IMAGE:
        required: true
        type: string
      APISIX_IMAGE:
        required: true
        type: string
      CLIENT_CPU_UNITS:
        required: false
        type: number
        default: 1024
      CLIENT_MEMORY:
        required: false
        type: number
        default: 2048
      SERVER_CPU_UNITS:
        required: false
        type: number
        default: 1024
      SERVER_MEMORY:
        required: false
        type: number
        default: 2048
      DB_INSTANCE_TYPE:
        required: true
        type: string
      INSTANCE_COUNT:
        required: false
        type: number
        default: 1
      LOGGING_LEVEL:
        required: false
        type: string
        default: INFO
      TARGET_ENV:
        required: true
        type: string
      ALB_NAME:
        required: true
        type: string
      VPC_NAME:
        required: true
        type: string
      SUBNET_FILTER:
        required: true
        type: string
      REGISTRY:
        required: true
        type: string
      WEBADE-OAUTH2_TOKEN_CLIENT_URL:
        required: true
        type: string
      WEBADE-OAUTH2_TOKEN_URL:
        required: true
        type: string
      WFDM_REST_URL:
        required: true
        type: string
      WFIM_CLIENT_URL:
        required: true
        type: string
      WFIM_CODE_TABLES_URL:
        required: true
        type: string
      WEBADE-OAUTH2_CHECK_TOKEN_URL:
        required: true
        type: string
      WFNEWS_EMAIL_NOTIFICATIONS_ENABLED:
        required: true
        type: string
      SMTP_HOST_NAME:
        required: true
        type: string
      SMTP_FROM_EMAIL:
        required: true
        type: string
      SMTP_ADMIN_EMAIL:
        required: true
        type: string
      SMTP_EMAIL_SYNC_ERROR_FREQ:
        required: true
        type: string
      SMTP_EMAIL_FREQ:
        required: true
        type: string
      SMTP_EMAIL_ERROR_SUBJECT:
        required: true
        type: string
      SMTP_EMAIL_SUBJECT:
        required: true
        type: string
      DEFAULT_APPLICATION_ENVIRONMENT:
        required: true
        type: string
      WFNEWS_AGOL_QUERY_URL:
        required: true
        type: string
      WFNEWS_USERNAME:
        required: true
        type: string
      WFNEWS_MAX_CONNECTIONS:
        required: true
        type: number
      WEBADE_OAUTH2_REST_CLIENT_ID:
        required: true
        type: string
      WEBADE_OAUTH2_UI_CLIENT_ID:
        required: true
        type: string
      WEBADE_OAUTH2_AUTHORIZE_URL:
        required: true
        type: string
      IMAGE_TAG:
        required: true
        type: string
      AGOL_URL:
        required: true
        type: string
      DRIVEBC_BASE_URL:
        required: true
        type: string
      OPENMAPS_BASE_URL:
        required: true
        type: string
      SITEMINDER_URL_PREFIX:
        required: true
        type: string
      AGOL_AREA_RESTRICTIONS:
        required: true
        type: string
      AGOL_BANS_AND_PROHIBITIONS:
        required: true
        type: string
      GITHUB_RELEASE_NAME:
        required: false
        type: string
        default: ""
      DB_SIZE:
        required: false
        type: number
        default: 10
      MAX_UPLOAD_SIZE:
        required: false
        type: string
        default: "10M"
        

    secrets:
      # AWS_ACCESS_KEY_ID:
      #   required: true
      # AWS_SECRET_ACCESS_KEY:
      #   required: true
      LICENSE_PLATE:
        required: true
      DB_PASS:
        required: true
      TFC_TEAM_TOKEN:
        required: true
      SMTP_PASSWORD:
        required: true
      WEBADE_OAUTH2_WFNEWS_REST_CLIENT_SECRET:
        required: true
      WEBADE_OAUTH2_WFNEWS_UI_CLIENT_SECRET:
        required: true
      API_KEY:
        required: true
      SNS_EMAIL_TARGETS:
        required: true
      CLOUDFRONT_HEADER:
        required: true

env:
  TF_VERSION: 1.2.2
  TG_VERSION: 0.37.1
  TG_SRC_PATH: terraform
  TFC_WORKSPACE: wfnews-${{ inputs.TARGET_ENV }}
  REPOSITORY: ghcr.io

jobs:
  plan:
    name: Deploy
    runs-on: ubuntu-22.04
    outputs:
      pull_request_number: ${{ steps.pr.outputs.pull_request_number }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ secrets.TFC_TEAM_TOKEN }}

      - uses: peter-murray/terragrunt-github-action@v1.0.0
        with:
          terragrunt_version: ${{ env.TG_VERSION }}
      
      - name: Terragrunt Apply
        working-directory: ${{env.TG_SRC_PATH}}/${{ inputs.TARGET_ENV }}
        env:
          # AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID }}
          # AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          TARGET_ENV: ${{ inputs.TARGET_ENV }}
          GITHUB_RELEASE_NAME: ${{inputs.GITHUB_RELEASE_NAME}}
          CLIENT_IMAGE: ${{inputs.registry}}/${{ github.repository_owner }}/${{ inputs.CLIENT_IMAGE }}:${{ inputs.IMAGE_TAG }}
          SERVER_IMAGE: ${{inputs.registry}}/${{ github.repository_owner }}/${{ inputs.SERVER_IMAGE }}:${{ inputs.IMAGE_TAG }}
          LIQUIBASE_IMAGE: ${{inputs.registry}}/${{ github.repository_owner }}/${{ inputs.LIQUIBASE_IMAGE }}:${{ inputs.IMAGE_TAG }}
          APISIX_IMAGE: ${{inputs.registry}}/${{ github.repository_owner }}/${{ inputs.APISIX_IMAGE }}:${{ inputs.IMAGE_TAG }}
          
          CLIENT_CPU_UNITS: ${{inputs.CLIENT_CPU_UNITS}}
          CLIENT_MEMORY: ${{inputs.CLIENT_MEMORY}}
          SERVER_CPU_UNITS: ${{inputs.SERVER_CPU_UNITS}}
          SERVER_MEMORY: ${{inputs.SERVER_MEMORY}}
          DB_INSTANCE_TYPE: ${{inputs.DB_INSTANCE_TYPE}}
          LOGGING_LEVEL: ${{inputs.LOGGING_LEVEL}}
          INSTANCE_COUNT: ${{inputs.INSTANCE_COUNT}}
          CLOUDFRONT_HEADER: ${{ secrets.CLOUDFRONT_HEADER }}

          API_KEY: ${{ secrets.API_KEY }}
          TFC_PROJECT: ${{ secrets.LICENSE_PLATE }}
          DB_PASS: ${{ secrets.DB_PASS }}
          DB_SIZE: ${{ inputs.DB_SIZE }}
          MAX_UPLOAD_SIZE: ${{ inputs.MAX_UPLOAD_SIZE }}
          ALB_NAME: ${{ inputs.ALB_NAME }}
          VPC_NAME: ${{ inputs.VPC_NAME }}
          SUBNET_FILTER: ${{ inputs.SUBNET_FILTER }}
          WEBADE_OAUTH2_REST_CLIENT_ID: ${{inputs.WEBADE_OAUTH2_REST_CLIENT_ID}}
          WEBADE_OAUTH2_UI_CLIENT_ID: ${{inputs.WEBADE_OAUTH2_UI_CLIENT_ID}}
          WEBADE-OAUTH2_TOKEN_CLIENT_URL: ${{inputs.WEBADE-OAUTH2_TOKEN_CLIENT_URL}}
          WEBADE-OAUTH2_TOKEN_URL: ${{inputs.WEBADE-OAUTH2_TOKEN_URL}}
          WEBADE_OAUTH2_AUTHORIZE_URL: ${{inputs.WEBADE_OAUTH2_AUTHORIZE_URL}}
          WFDM_REST_URL: ${{inputs.WFDM_REST_URL}}
          WFIM_CLIENT_URL: ${{inputs.WFIM_CLIENT_URL}}
          WFIM_CODE_TABLES_URL: ${{inputs.WFIM_CODE_TABLES_URL}}
          WEBADE-OAUTH2_CHECK_TOKEN_URL: ${{inputs.WEBADE-OAUTH2_CHECK_TOKEN_URL}}
          WFNEWS_EMAIL_NOTIFICATIONS_ENABLED: ${{inputs.WFNEWS_EMAIL_NOTIFICATIONS_ENABLED}}
          SMTP_HOST_NAME: ${{inputs.SMTP_HOST_NAME}}
          SMTP_FROM_EMAIL: ${{inputs.SMTP_FROM_EMAIL}}
          SMTP_ADMIN_EMAIL: ${{inputs.SMTP_ADMIN_EMAIL}}
          SMTP_EMAIL_SYNC_ERROR_FREQ: ${{inputs.SMTP_EMAIL_SYNC_ERROR_FREQ}}
          SMTP_EMAIL_FREQ: ${{inputs.SMTP_EMAIL_FREQ}}
          SMTP_EMAIL_ERROR_SUBJECT: ${{inputs.SMTP_EMAIL_ERROR_SUBJECT}}
          SMTP_EMAIL_SUBJECT: ${{inputs.SMTP_EMAIL_SUBJECT}}
          DEFAULT_APPLICATION_ENVIRONMENT: ${{inputs.DEFAULT_APPLICATION_ENVIRONMENT}}
          WFNEWS_AGOL_QUERY_URL: ${{inputs.WFNEWS_AGOL_QUERY_URL}}
          SMTP_PASSWORD: ${{secrets.SMTP_PASSWORD}}
          WEBADE_OAUTH2_WFNEWS_REST_CLIENT_SECRET: ${{secrets.WEBADE_OAUTH2_WFNEWS_REST_CLIENT_SECRET}}
          WEBADE_OAUTH2_WFNEWS_UI_CLIENT_SECRET: ${{secrets.WEBADE_OAUTH2_WFNEWS_UI_CLIENT_SECRET}}
          WFNEWS_USERNAME: ${{inputs.WFNEWS_USERNAME}}
          WFNEWS_MAX_CONNECTIONS: ${{inputs.WFNEWS_MAX_CONNECTIONS}}
          SNS_EMAIL_TARGETS: ${{ secrets.SNS_EMAIL_TARGETS }}
          agolUrl: ${{inputs.AGOL_URL}}
          drivebcBaseUrl: ${{inputs.DRIVEBC_BASE_URL}}
          openmapsBaseUrl: ${{inputs.OPENMAPS_BASE_URL}}
          siteMinderURLPrefix: ${{inputs.SITEMINDER_URL_PREFIX}}
          agolAreaRestrictions: ${{inputs.AGOL_AREA_RESTRICTIONS}}
          agolBansAndProhibitions: ${{inputs.AGOL_BANS_AND_PROHIBITIONS}}

        run: terragrunt apply --terragrunt-non-interactive -auto-approve

