<content-card-container class="what-to-expect-alert-to-order-card">
  <div class="header">
    <span class="title">What to expect if an evacuation alert becomes an order</span>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="content-title">Leave Home</div>
      <div class="content-list">
        <span class="content-text">Travel to a designated reception centre for supports, following the routes specified by local authorities.</span>
        <span class="content-text">Talk to your local authorities to find out what organizations and resources are available in your area for animals during an emergency.</span>
      </div>
    </div>

    <div class="content">
      <div class="content-title">At the Reception Centre</div>
      <div class="content-list">
        <span class="content-text">When you arrive at a reception centre, there will be Emergency Support Service responders who will assess your needs. A number of resources will be available:</span>
        <icon-list-item iconPath="/assets/images/svg-icons/information.svg" text="Information about the emergency"></icon-list-item>
        <icon-list-item iconPath="/assets/images/svg-icons/supplies.svg" text="Referrals for food, clothing and shelter suppliers"></icon-list-item>
        <icon-list-item iconPath="/assets/images/svg-icons/family.svg" text="Help with finding and re-uniting with family"></icon-list-item>
        <icon-list-item iconPath="/assets/images/svg-icons/advice.svg" text="Advice on recovery"></icon-list-item>
        <span class="content-text">Intake can take time and you may need to wait in line, dress for the weather if possible.</span>
        <span class="content-text">If you have access to a mobile phone, you can register as an evacuee in advance to help speed up the process.</span>
      </div>
    </div>

    <div class="content">
      <div class="content-title">Returning Home</div>
      <div class="content-list">
        <span class="content-text">Local authorities will advise when it is safe to return home.</span>
      </div>
    </div>

  </div>
</content-card-container>

