<div class="area-restriction-details">
  <advisory-section title="Information Bulletin" message="View the bulletin on our website for more information."
    [componentStyle]="advisorySectionComponentStyle" [buttonArgs]="advisorySectionButtonArgs"
    (advisoryClicked)="handleAdvisoryClick()">
  </advisory-section>

  <two-column-content-cards-container>
    <ng-container column-1>
      <warning-card></warning-card>
    </ng-container>
    <ng-container column-2>
      <nearby-wildfires-card *ngIf="incidents && incidents.length > 0" [incidents]="incidents" [bookmarkedIncidentNumbers]="bookmarkedIncidentNumbers"
        (bookmarkClicked)="handleBookmarkClicked($event.incident, $event.isBookmarked)"
        (viewDetailsClicked)="handleViewDetailsClicked($event)">
      </nearby-wildfires-card>
      <related-topics-card [links]="relatedTopicLinks"></related-topics-card>
    </ng-container>
  </two-column-content-cards-container>
</div>