@import '../../../../../styles/variables';
@import "notosans-fontface/scss/notosans-fontface";

.container {
  overflow: hidden;
  font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
  padding: 20px;
  display: flex;
  height: 640px;
  //max-width: 700px;
  max-height: 640px;
  padding: var(--24, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
  background: var(--Summary-Blue, #DFE5F1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}

.spinner-position {
  position: relative;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

.widget-header {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 130.769% */
  letter-spacing: 0.35px;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
  padding-bottom: 16px;
}

.content {
  display: flex;
  padding: var(--24, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--16, 16px);
  flex: 1 0 0;
  align-self: stretch;
}

.active-fire-holder {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.active-fire-data {
  color: #242424;
  text-align: center;
  font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on, 'clig' off, 'liga' off;
  font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.35px;
}

.active-fire-label {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 130.769% */
  letter-spacing: 0.35px;
}

.stat-box {
  display: flex;
  min-width: 248px;
  padding: var(--24, 24px) 32px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: var(--16, 16px);
  background: var(--White, #FDFDFD);
}

.stat-box-icon {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  background: var(--Summary-Blue, #DFE5F1);
}

.stat-box-data {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.35px;
  margin-left: auto;
}

.stat-box-label {
  color: var(--Black-2, #484848);
  font-family: 'Noto sans', 'BCSans', 'Open Sans', Verdana, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
