<ng-container [formGroup]="formGroup" class="incident-form">
  <mat-card class="info-card news-form-card">
    <fieldset class="field-set">
      <legend style="display: none">General Disclaimer Card</legend>
      <div class="news-form">
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">General Disclaimer and Comments</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="incident.responseComments"
                formControlName="responseComments"
                ></textarea>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
  <mat-card class="info-card news-form-card">
    <mat-card-title>
      Wildfire Crews
    </mat-card-title>
    <fieldset class="field-set">
      <legend style="display: none">Response card</legend>
      <div class="news-form">
        <div class="field size-unset">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label">Initial Attack Crews</mat-label>
            <input matInput type="number" #initialAttackCrews (change)="crewsValueChange()">
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label">Unit Crews</mat-label>
            <input matInput type="number" #unitCrews (change)="crewsValueChange()">
          </mat-form-field>
        </div>
        <div class="field size-third">
          <mat-checkbox [(ngModel)]="incident.wildifreCrewsInd" formControlName="wildifreCrewsInd" class="example-margin" (change)="onWildfireCrewsChecked($event)">Crews</mat-checkbox>
        </div>
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">General Disclaimer and Comments</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="incident.crewsComments"
                formControlName="crewsComments"></textarea>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
  <mat-card class="info-card news-form-card">
    <mat-card-title>
      Aviation
    </mat-card-title>
    <fieldset class="field-set">
      <legend style="display: none">Arial Response Card</legend>
      <div class="news-form">
        <div class="field size-unset">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label">Helicopters</mat-label>
            <input matInput type="number" #helicopters (change)="aviationValueChange()">
          </mat-form-field>
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label">Airtankers</mat-label>
            <input matInput type="number" #airtankers (change)="aviationValueChange()">
          </mat-form-field>
        </div>
        <div class="field size-third">
          <mat-checkbox [(ngModel)]="incident.aviationInd" formControlName="aviationInd" class="example-margin" (change)="onAviationChecked($event)">Wildfire Aviation</mat-checkbox>
        </div>
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">General Disclaimer and Comments</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="incident.aviationComments"
                formControlName="aviationComments"></textarea>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
  <mat-card class="info-card news-form-card">
    <mat-card-title>
      Incident Management Team
    </mat-card-title>
    <fieldset class="field-set">
      <legend style="display: none">Incident Management Response Card</legend>
      <div class="news-form">
        <div class="field size-third">
          <mat-checkbox [(ngModel)]="incident.incidentManagementInd" formControlName="incidentManagementInd" class="example-margin" (change)="onIncidentManagementTeamsChecked($event)">Incident Management Team</mat-checkbox>
        </div>
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">General Disclaimer and Comments</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="incident.incidentManagementComments"
                formControlName="incidentManagementComments"></textarea>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
  <mat-card class="info-card news-form-card">
    <mat-card-title>
      Heavy Equipment
    </mat-card-title>
    <fieldset class="field-set">
      <legend style="display: none">Equipment Response Card</legend>
      <div class="news-form">
        <div class="field size-unset">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label">Heavy Equipment Pieces</mat-label>
            <input matInput type="number" #pieces (change)="heavyEquipmentValueChange()">
          </mat-form-field>
        </div>
        <div class="field size-third">
          <mat-checkbox [(ngModel)]="incident.heavyEquipmentInd"  formControlName="heavyEquipmentInd" class="example-margin" (change)="onHeavyEquipmentChecked($event)">Heavy Equipment</mat-checkbox>
        </div>
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">General Disclaimer and Comments</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="incident.heavyEquipmentComments"
                formControlName="heavyEquipmentComments"></textarea>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
  <mat-card class="info-card news-form-card">
    <mat-card-title>
      Structure Protection
    </mat-card-title>
    <fieldset class="field-set">
      <legend style="display: none">Structure Protection Response Card</legend>
      <div class="news-form">
        <!-- div class="field size-unset">
          <mat-form-field appearance="standard" floatLabel="always">
            <mat-label class="label">Structure protection</mat-label>
            <input matInput type="number" #structure (change)="structuretValueChange()">
          </mat-form-field>
        </div -->
        <div class="field size-third">
          <mat-checkbox [(ngModel)]="incident.structureProtectionInd" formControlName="structureProtectionInd" class="example-margin"  (change)="onStructureProtectionChecked($event)">Structure Protection</mat-checkbox>
        </div>
        <div class="field size-full">
          <mat-form-field class="item-full-width" appearance="outline" floatLabel="always">
            <mat-label class="label required">General Disclaimer and Comments</mat-label>
            <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="incident.structureProtectionComments"
                formControlName="structureProtectionComments"></textarea>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
</ng-container>
