@import "src/styles/variables";
::ng-deep #core-interface-container {
  .mobile .incident-detail {
    .info-card {
      width: calc(100% - var(--wf1-gutter-space) * 2) !important;
    }
  }
}

.resources-header{
  border: none;
  border-bottom: 1px solid #a1a3a6;
  margin-bottom: 1rem;
  h2{
    margin-top: 0;
  }
}