<content-card-container class="fires-card">
  <span class="title">Category 1 Fires (Campfires)</span>
  <img src="assets/images/CampFireSize.svg" alt="Campfire"/>
  <span class="text">A campfire is defined as:
    <ul>
      <li>Any fire no larger than 0.5 metres high by 0.5 metres wide (a fire larger than this is considered a Category 2 fire).</li>
      <li>Used by any person for recreational purposes or by a First Nation for a ceremonial purpose.</li>
    </ul>
  </span>
</content-card-container>